server.collector.ip=127.0.0.1
server.collector.udp.port=9995

profile.enable=true

profile.jdbc=true
profile.jdbc.mysql=true
profile.jdbc.mssql=true
profile.jdbc.oracle=true
profile.jdbc.cubrid=true
profile.jdbc.dbcp=true

profile.jvm.collect.interval=1000

#timebase 샘플링을 할지 말지 여부 결정.
sampling.elapsedtimebase.enable=true

#timebase 샘플링 시의 1개 thread에 축정할 트레이스 데이터의 갯수.
sampling.elapsedtimebase.buffersize=20

#timebase 샘플링시 discard.timelimit 의 시간보다 작을 경우 트레이스 데이터를 버릴지 말지 여부
sampling.elapsedtimebase.discard=false

#timebase 샘플링시 discard.timelimit 해당 시간보다 빨리 끝났을 경우 트레이스 데이터를 버려 버린다.
sampling.elapsedtimebase.discard.timelimit=1000