SERVER_IP=								127.0.0.1
AGENT_TCP_LISTEN_PORT=					9990
SERVER_TCP_LISTEN_PORT=					9991
REQUEST_TRANSACTION_DATA_LISTEN_PORT=	9995
REQUEST_DATA_LISTEN_PORT=				9996
JVM_DATA_LISTEN_PORT=					9997
JVM_STAT_GAP=5000
SERVER_CONNECT_RETRY_GAP=1000
QUERY_COUNT_OVER_10000=false
JDBC_PROFILE=true
LOG_LEVEL=ALL