:host {
    display: block;
    position: absolute;
    width: 100%;
    min-width: 500px;
    max-width: 1000px;
    background-color: var(--background-default);
    border: 1px solid var(--border-primary);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
    text-align: left;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
}
.l-title-group {
    padding: 17px 18px;
    height: auto;
    background-color: var(--background-default);
    border-bottom: 1px solid var(--border-primary);
    position: relative;
    font-size: 13px;
    font-weight: 600;
    color: var(--text-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.l-title-group dt {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary);
}
.l-title-group button {
    position:absolute;
    right:27px;
    top:50%;
    transform:translateY(-50%);
    color:var(--primary);
    font-size: 30px;
    width:20px;
    height:20px;
    background:url(../../../../assets/img/icon-close.png) no-repeat 0 0;
}
.l-contents-group {
    background: var(--background-primary);
    padding: 17px 18px;
    overflow: auto;
}
.l-list {
    height: 400px;
    margin: 30px 0 0 0;
}
.l-list:first-child {
    margin: 0;
}
.l-list dt {
    color: var(--text-primary);
    margin: 0 0 12px;
    font-size: 13px;
    font-weight: 600;
}
.l-list dd {
    height: 100%;
    border: 1px solid var(--border-primary);
    display: block;
    padding: 28px 28px;
    font-size: 13px;
    background: var(--background-default);
    word-break: break-all;
    overflow-y: auto;
    line-height: 2em;
    white-space: pre;
}
.l-list a {
    color: var(--form-link);
}
