.l-time-select {
    color:#8a939e;
    /* background-color:rgba(255, 255, 255, 0.6); */
    padding:7px;
    margin-right: 4px;
}
.l-time-select span {
    font-size:13px;
    font-weight:600;
    margin-right: 10px;
}
.l-time-select .fab {
    font-size:15px;
}
.l-time-select button:first-child {
    margin-right: 4px;
}