<article class="l-chart-item">
    <div class="l-tool-box">
        <p class="l-title">Response Summary</p>
        <button></button>
    </div>
    <div class="l-content-section">
        <pp-response-summary-chart
            [hidden]="hiddenChart"
            [chartData]="chartData"
            [chartColors]="chartColors"
            (outNotifyMax)="onNotifyMax($event)"
            (outClickColumn)="onClickColumn($event)">
        </pp-response-summary-chart>
        <div class="l-no-data" [hidden]="!hiddenChart">
            <span>{{i18nText.NO_DATA}}</span>
        </div>    
    </div>
</article>
<pp-film-for-disable *ngIf="useDisable" [zIndex]="9" [marginWidth]="0"></pp-film-for-disable>    
<pp-loading [showLoading]="showLoading" [zIndex]="10"></pp-loading>