:host {
    display: flex;
}

button {
    outline: none;
}

.fa-cog, .fa-github {
    font-size: 18px;
}
.l-tool-group {
    width:100px;
    display: flex;
    justify-content: center;
    color:#fff;
    font-size: 18px;
}
.l-tool-group button {
    margin:0 8px;
}
