<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2024 NAVER Corp.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
       xsi:schemaLocation="http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <batch:job id="cleanupInactiveApplicationsJob">
        <batch:step id="cleanupInactiveApplicationsStep">
            <batch:tasklet task-executor="cleanExecutor">
                <batch:chunk
                        reader="applicationReader"
                        processor="applicationCleaningProcessor"
                        writer="cleanTargetListWriter"
                        commit-interval="100"
                        retry-limit="10"
                >
                    <batch:retryable-exception-classes>
                        <batch:include class="java.lang.Exception"/>
                    </batch:retryable-exception-classes>
                </batch:chunk>
            </batch:tasklet>
        </batch:step>
        <batch:listeners>
            <batch:listener ref="jobFailListener"/>
        </batch:listeners>
    </batch:job>

    <bean id="cleanExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="queueCapacity" value="${job.cleanup.inactive.applications.worker.queueSize:1024}" />
        <property name="waitForTasksToCompleteOnShutdown" value="false" />
        <property name="maxPoolSize" value="${job.cleanup.inactive.applications.worker.maxSize:2}" />
        <property name="corePoolSize" value="${job.cleanup.inactive.applications.worker.coreSize:2}" />
    </bean>

    <bean id="applicationReader" class="com.navercorp.pinpoint.batch.job.ApplicationReader">
        <constructor-arg name="applicationService" ref="batchApplicationService" />
    </bean>
    <bean id="applicationCleaningProcessor" class="com.navercorp.pinpoint.batch.job.ApplicationCleaningProcessor">
        <constructor-arg name="agentService" ref="batchAgentService" />
        <constructor-arg name="batchApplicationService" ref="batchApplicationService" />
        <constructor-arg name="emptyDurationThreshold" value="${job.cleanup.inactive.applications.emptydurationthreshold:P35D}" />
    </bean>

    <bean id="cleanTargetListWriter" class="com.navercorp.pinpoint.batch.job.ItemListWriter">
        <constructor-arg name="delegate" ref="${job.cleanup.inactive.applications.writer:emptyItemWriter}" />
    </bean>

    <bean id="emptyItemWriter" class="com.navercorp.pinpoint.batch.job.EmptyItemWriter" />

    <bean id="cleanTargetWriter" class="com.navercorp.pinpoint.batch.job.CleanTargetWriter">
        <constructor-arg name="applicationRemover" ref="applicationRemover" />
        <constructor-arg name="agentRemover" ref="agentRemover" />
    </bean>

    <bean id="applicationRemover" class="com.navercorp.pinpoint.batch.job.ApplicationRemover">
        <constructor-arg name="applicationService" ref="batchApplicationService" />
    </bean>
    <bean id="agentRemover" class="com.navercorp.pinpoint.batch.job.AgentRemover">
        <constructor-arg name="agentService" ref="batchAgentService" />
    </bean>

    <bean id="batchApplicationService" class="com.navercorp.pinpoint.batch.service.BatchApplicationServiceImpl" />
    <bean id="batchAgentService" class="com.navercorp.pinpoint.batch.service.BatchAgentServiceImpl" />

</beans>
