<div class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document" style="width:1000px">
		<div class="modal-content" id="pinpoint-configuration">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#FFF;opacity:1;"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Pinpoint Configuration</h4>
			</div>
			<div class="modal-menu">
				<ul>
					<li ng-repeat="m in menuInfo" ng-class="{'active': isSelected(m.value)}" ng-click="selectMenu(m.value)">{{m.view}}</li>
				</ul>
			</div>
			<div class="modal-body">
				<general-directive name="general" init-state="show"></general-directive>
				<user-group-container-directive name="userGroup" init-state="hide"></user-group-container-directive>
				<application-config-directive name="application" init-state="hide"></application-config-directive>
				<help-directive name="help" init-state="hide"></help-directive>
			</div>
		</div>
	</div>
</div>