:host {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--text-primary);
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.l-title-section {
    display: flex;
    width: 100%;
    height: 52px;
    align-items: center;
}

.l-app-name {
    font-size: 20px;
    margin-right: 10px;
}

.l-contents-section {
    width: 100%;
    height: calc(100% - 52px);
}

.l-guide-section {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.l-password-wrapper {
    position: relative;
    margin-top: 10px;
    display: inline-block;
}

.l-password {
    border: 1px solid var(--border-primary-darker);
    border-radius: 4px;
    box-shadow: 0 0 1px 0 var(--border-primary-darker);
    padding: 10px 14px;
    font-size: 13px;
    color: var(--text-primary);
    background-color: var(--background-default);
    outline: 0;
}

.l-password:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0px 1px 1px var(--primary-color);
}

.l-password-guide-text {
    position: absolute;
    right: 0;
    font-style: italic;
    font-size: 13px;
    font-weight: normal;
    left: 100%;
    top: 50%;
    display: inline-block;
    width: max-content;
    transform: translateY(-50%);
    margin-left: 10px;
}

.l-submit-btn {
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    width: 130px;
    height: 45px;
    text-align: center;
}

.l-remove-confirm-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* font-size: 40px; */
    background: linear-gradient(135deg, rgba(226,226,226,0.7) 0%, rgba(219,219,219,0.7) 43%, rgba(209,209,209,0.7) 51%, rgba(254,254,254,0.7) 100%);
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
}

.l-remove-confirm-content-section {
    position: relative;
    width: 90%;
    padding: 30px 0px 15px;
    text-align: center;
    background-color: var(--background-default);
    border-radius: 5px;
}

.l-warning-icon {
    font-size: 50px;
    color: var(--status-danger);
    margin-bottom: 15px;
}

.l-remove-app-message {
    font-size: 22px;
    color: var(--text-primary);
    font-weight: 600;
}

.l-remove-target-info {
    display: block;
    font-size: 16px;
    font-weight: normal;
    padding: 5px 0;
}

.l-key {
    color: var(--status-warn);
    font-weight: 600;
}

.l-btn-section {
    margin-top: 20px;
}

.l-cancel-btn {
    color: var(--text-knockout);
    background-color: var(--background-disable);
}

.l-remove-app-btn,
.l-remove-btn {
    position: absolute;
    right: 0px;
    color: var(--text-knockout);
    background-color: var(--status-danger);
}

.l-close {
    top: 0px;
    right: 0px;
    position: absolute;
}
