:host {
    width: 100%;
    position: relative;
}

#removableAgentList .ag-root {
    border: 1px solid var(--border-primary);
    font-size: 12px;    
    font-family: 'Open Sans', sans-serif;
}
#removableAgentList .ag-cell {
    padding: 4px;
    font-family: 'Open Sans', sans-serif;
    border-right: 1px solid var(--border-primary);
    border-bottom: 1px solid var(--border-primary);
}

#removableAgentList .ag-column-moving .ag-cell {
    transition: left 0.2s;
}
#removableAgentList .ag-header-cell-moving .ag-header-cell-label {
    opacity: 0;
    filter: alpha(opacity=0);
}
#removableAgentList .ag-header-cell-moving {
    background-color: var(--table-header-moving-background);
}
#removableAgentList .ag-header-cell-moving-clone {
    border-right: 1px solid var(--border-primary-darkest);
    border-left: 1px solid var(--border-primary-darkest);
    background-color: rgba(220,220,220,0.8);
}
#removableAgentList .ag-header {
    background: var(--background-default);
    border-bottom: 1px solid var(--border-primary);
    line-height: 2;
}
#removableAgentList .ag-header-cell {
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid var(--border-primary);
    border-right: 1px solid var(--border-primary);
    padding-left: 2px;
    padding-right: 2px;
}
#removableAgentList .ag-header-group-cell {
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-right: 1px solid var(--border-primary);
    padding-left: 6px;
}
#removableAgentList .ag-header-group-cell-label {
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

#removableAgentList .ag-header-cell-resize:after {
    border-right: none;
}
#removableAgentList .ag-header-cell-label {
    padding: 4px;
    justify-content: center;
}
#removableAgentList .ag-group-expanded span {
    margin-right: 4px;
}
#removableAgentList .ag-row {
    line-height: 2;
}
#removableAgentList .ag-row-exception {
    background-color: var(--background-row-danger);
}
#removableAgentList .ag-row-focused {
    background-color: var(--background-hover-secondary);
}
#removableAgentList .ag-body {
    background-color: var(--background-default);
}
#removableAgentList .ag-body-viewport {
    background-color: var(--background-default);
}
#removableAgentList .ag-menu {
    background-color: var(--background-default);
    border: 1px solid grey;
}
#removableAgentList .fa {
    font-size: 14px;
}
#removableAgentList .div-percent-bar {
    display: inline-block;
    height: 30%;
    position: absolute;
}
#removableAgentList .div-percent-value {
    position: absolute;
    padding-left: 4px;
    font-weight: bold;
    font-size: 13px;
}
#removableAgentList .div-outer-div {
    display: inline-block;
    margin-right: 20px;
    height: 30%;
    width: 92%;
}
