spring:
  main:
    allow-bean-definition-overriding: false
#    web-application-type: none
  profiles:
    active: local
  shell:
    history:
      enabled: false

management:
  otlp:
    metrics:
      export:
        enabled: false
  health:
    defaults:
      enabled: false
    diskspace:
      enabled: true
  endpoint:
    health:
      show-details: always
      enabled: true
    beans:
      enabled: true
    conditions:
      enabled: true
    configprops:
      enabled: true
      show-values: always
    env:
      enabled: true
      show-values: always
    logfile:
      enabled: true
    loggers:
      enabled: true
    mappings:
      enabled: true
    info:
      enabled: true
    threaddump:
      enabled: true
    heapdump:
      enabled: true
    metrics:
      enabled: true
    httptrace:
      enabled: false
    prometheus:
      enabled: false
    shutdown:
      enabled: false
  endpoints:
    web:
      exposure:
        include: health,beans,conditions,configprops,env,logfile,loggers,mappings,info,threaddump,heapdump,metrics,pause
      base-path: /monitor
      path-mapping:
        health: l7check

pinpoint:
  modules:
    collector:
      exceptiontrace:
        enabled: true
      inspector:
        enabled: true
        hbase:
          enabled: true
      otlpmetric:
        enabled: true
      otlptrace:
        enabled: true
      heatmap:
        enabled: true
      uristat:
        enabled: true
      systemmetric:
        enabled: true
    realtime:
      enabled: true
    uid:
      # v2: legacy table, v3: new table, dual : DualWrite for Data Migration
      version: v3