###########################################################
# user defined classes                                    #
###########################################################
# ReactorFlow.execute wraps assembly + subscribe so that a root trace exists beforehand.
# Echo.get is the leaf: it becomes an INTERNAL_METHOD event when the trace propagated, and a
# STAND_ALONE root when it did not. ReactorPropagation_IT asserts on that difference.
profiler.entrypoint=test.pinpoint.plugin.reactor.ReactorFlow.execute,test.pinpoint.plugin.reactor.Echo.get
