###########################################################
# user defined classes                                    #
###########################################################
profiler.entrypoint=test.pinpoint.plugin.reactor.ReactorFlow.execute,test.pinpoint.plugin.reactor.Echo.get

###########################################################
# publishOn-only seam PoC                                 #
###########################################################
# Remove the two generic fallbacks so the assembled-under-trace/subscribed-without-trace tests
# can pass only through the publishOn result wrapper.
profiler.reactor.wrap.publisher.publishOn=true
profiler.reactor.subscriber.instrument=false
profiler.reactor.trace.subscribe=false
