###########################################################
# user defined classes                                    #
###########################################################
profiler.entrypoint=test.pinpoint.plugin.reactor.ReactorFlow.execute,test.pinpoint.plugin.reactor.Echo.get

###########################################################
# periodic scheduler task transactions                    #
###########################################################
profiler.reactor.trace.scheduler.task=false
profiler.reactor.trace.scheduler.task.periodic=true
