:host {
    display: flex;
}
.l-current-time {
    height: 28px;
    display: flex;
}
.l-current-time label {
    color: #FFF;
    cursor: pointer;
    height: 100%;
    display: inline-block;
    padding: 7px 10px;
    font-size: 13px;
    font-weight: 600;
    background-color: #4A8FD2;
}
.l-current-time input {
    width: 180px;
    height: 100%;
    border: 1px solid #4A8FD2;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    background-color: #FFF;
}
.l-command-group {
    display: inline-block;
}
.l-command-group:first-child {
    margin-right: 30px;
}
.l-command-group:nth-child(2) {
    margin-right: 10px;
}
.l-command-group .current-time {
    font-size: 14px;
    text-decoration: underline;
}
.l-command-group button {
    border-radius: 0px;
}