.l-time-set {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}
.l-time-set li {
    border-left: 1px solid #364660;
}
.l-time-set button {
    height: 100%;
    font-size:12px;
    font-weight:600;
    color:#fff;
    padding:0 8px;
    background: #3e506b;
    border-left:1px solid #4c5c75;
    border-radius: 0px;
}
.l-time-set button.active {
    background:#33b692;
}
.l-time-set button:focus {
    background-color:var(--primary-color);
    color:#fff;
}
.l-time-set button:hover, .l-time-set button:focus {
    background:#33b692
}
