#
# Pinpoint agent configuration
# (Phase : local)
#

###########################################################
# Collector server                                        # 
###########################################################
# local
profiler.collector.ip=127.0.0.1
# dev
#profiler.collector.ip=dev.collector.pinpoint.navercorp.com
# real
#profiler.collector.ip=collector.pinpoint.navercorp.com

# placeHolder support "${key}"
profiler.collector.span.ip=${profiler.collector.ip}
profiler.collector.span.port=9996

# placeHolder support "${key}"
profiler.collector.stat.ip=${profiler.collector.ip}
profiler.collector.stat.port=9995

# placeHolder support "${key}"
profiler.collector.tcp.ip=${profiler.collector.ip}
profiler.collector.tcp.port=9994


###########################################################
# Profiler Global Configuration                           # 
###########################################################
profiler.enable=true

# Application namespace
# Differentiate from external pinpoint agents. (e.g., com.pinpoint)
profiler.application.namespace=

# Manually override jvm vendor name (Oracle, IBM, OpenJDK, etc)
# You probably won't ever need to set this value.
profiler.jvm.vendor.name=

# Interval (in milliseconds) at which agent stat data is collected. (default : 5000, min : 1000, max : 5000)
profiler.jvm.stat.collect.interval=5000
# Number of agent stat data sent to the collector in a single batch. (default : 6)
profiler.jvm.stat.batch.send.count=6

# Allow to add detailed collector's metrics
profiler.jvm.stat.collect.detailed.metrics=false

profiler.sampling.enable=true
profiler.sampling.rate=1

profiler.io.buffering.enable=true

profiler.io.buffering.buffersize=20



profiler.spandatasender.write.queue.size=5120
#profiler.spandatasender.socket.sendbuffersize=1048576
#profiler.spandatasender.socket.timeout=3000
profiler.spandatasender.chunk.size=16384

profiler.statdatasender.write.queue.size=5120
#profiler.statdatasender.socket.sendbuffersize=1048576
#profiler.statdatasender.socket.timeout=3000
profiler.statdatasender.chunk.size=16384

profiler.agentInfo.send.retry.interval=300000

profiler.tcpdatasender.command.accept.enable=true

###########################################################
# application type                                        # 
###########################################################
#profiler.applicationservertype=TOMCAT
#profiler.applicationservertype=BLOC

#
# INFORMIX
#
# Profile INFORMIX.
profiler.jdbc.informix=true
# Allow profiling of setautocommit.
profiler.jdbc.informix.setautocommit=true
# Allow profiling of commit.
profiler.jdbc.informix.commit=true
# Allow profiling of rollback.
profiler.jdbc.informix.rollback=true
# Trace bindvalues for INFORMIX PreparedStatements (overrides profiler.jdbc.tracesqlbindvalue)
#profiler.jdbc.informix.tracesqlbindvalue=true