:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.guide-text-wrapper {
    background-color: #fff;
    padding: 50px;
    border-radius: 30px;
    border: 1px solid #e8e5f0;
}
