:host {
    display: flex;
}
.l-search-group-wrap {
    display: flex;
    /* flex-flow: row wrap; */
    padding: 0 10px;
    font-size: 13px;
    /* justify-content: flex-end; */
    position: relative;
    gap: 10px;
    align-items: center;
}
.l-search-button {
    position: absolute;
    color: var(--icon-default);
    font-size: 18px;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    
}
.l-search-group-wrap .l-search-group2 {
    height:32px;
}
.l-search-group-wrap .l-search-group2 input {
    display: inline-block;
    height: 100%;
    border: 1px solid var(--primary);
    padding:0 10px;
    background:var(--background-default);
}
.l-search-group-wrap .l-search-group2 input:focus {
    border: 1px solid var(--primary);
    box-shadow: 0 0 1px 1px var(--primary);
    outline: none;
}
.l-search-button {
    margin-left: 10px;
}
/* .l-search-group-wrap .l-error-message {
    width: 300px;
    color: var(--status-fail);
    margin-left: 10px;
} */
select {
    appearance: none;
    -webkit-appearance: none;
    outline: 0;
    border-radius: 0px;
    color: var(--text-knockout);
    height: 100%;
    display: inline-block;
    padding: 7px 10px;
    font-size: 13px;
    font-weight: 600;
    background-color: var(--primary);
    width: 100px;
}
.l-search-group-wrap .l-search-group2 .fa-angle-down {
    position: absolute;
    color: var(--text-knockout);
    font-size: 15px;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}

.l-search-type-select-wrapper {
    position: relative;
}

.l-search-group2 {
    display: flex;
    position: relative;
}
.l-search-result {
    color: var(--text-primary-lightest);
    display: flex;
    align-items: center;
}

.l-message {
    font-size: 14px;
}

.l-message.l-empty {
    color: var(--status-fail);
}

.l-button-group {
    margin-left: 5px;
    color: var(--icon-default);
}

.l-move-button {
    padding: 5px;
    font-size: 18px;
}

.l-move-button:not(:first-child) {
    /* margin-left: 5px; */
}

.l-move-button:hover {
    background-color: var(--background-hover-default);
}
