:host {
    display: block;
}
.l-source-select-button {
    color: var(--icon-default);
    font-size: 15px;
}
.l-source-select-modal {
    position: absolute;
    top: 34px;
    right: 0px;
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    width: 100%;
    z-index: 1000;
    padding: 15px;
    background-color: var(--background-default);
    font-weight: 400;
}
.l-source-select-modal::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 7px solid var(--border-knockout);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    bottom: 100%;
    right: 44px;
}
.l-select-all-button {
    width: 80px;
    border: 1px solid var(--border-primary-darker);
    border-radius: 3px;
    padding: 5px;
}
.l-source-data-list {
    margin-top: 10px;
    border-top: 1px solid var(--border-primary);
    padding: 10px 0;
}
.l-source-data-list-item {
    display: inline-block;
}
.l-list-item-label {
    margin-right: 20px;
}
.l-list-item-input {
    margin-right: 5px;
}
