<button class="l-source-select-button" (click)="onSourceSelectClick()"><i class="fas fa-filter"></i></button>
<div class="l-source-select-modal" [hidden]="!showSourceSelectModal">
    <button type="button" class="button l-select-all-button" (click)="onCheckAllBtnClick()">Check All</button>
    <ul class="l-source-data-list">
        <li *ngFor="let d of data" class="l-source-data-list-item">
            <label class="l-list-item-label">
                <input type="checkbox" class="l-list-item-input" [checked]="checkedIdSet.has(d.id)" (change)="onSourceCheckboxChange(d.id)">
                {{d.databaseName ? d.databaseName : d.id}}
            </label>
        </li>
    </ul>
</div>
