.l-sourcelist-wrapper {
    background-color: var(--background-default);
    font-size: 12px;
    padding: 10px;
}
.l-sourcelist-title {
    background-color: var(--background-primary);
    border-top: 1px solid var(--border-primary);
    border-left: 1px solid var(--border-primary);
    border-right: 1px solid var(--border-primary);
    padding: 10px;
}
.l-source-data-list {
    border: 1px solid var(--border-primary);
}
.l-source-data-list-item {
    cursor: pointer;
    color: var(--text-secondary-lightest);
    display: flex;
    align-items: center;
}
.l-source-data-list-item:hover {
    background-color: var(--background-disable);
    color: var(--text-knockout);
}
.l-selected-item {
    color: var(--text-default);
    font-weight: 600;
}
.l-selected-item:hover {
    background-color: var(--background-default);
    color: var(--text-default);
}
.l-source-data-list-item .fas {
    width: 7%;
    text-align: center;
}
.l-source-data-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-left: 1px solid var(--border-primary);
    padding: 7px 0 7px 7px;
    width: 93%;
}
.l-service-type-wrapper {
    display: inline-block;
    width: 10%;
    overflow-wrap: break-word;
}
.l-jdbc-url-wrapper {
    display: inline-block;
    width: 85%;
    overflow-wrap: break-word;
}
