:host {
    display: block;
}
.l-title-group {
    height:34px;
    font-size:13px;
    font-weight:600;
    padding:0 20px;
    color: var(--text-primary);
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: var(--background-primary);
}
.l-title-group .fas {
    font-size: 18px;
    color:var(--icon-default);
    cursor:pointer;
}
.l-chart-area-wrapper {
    position: relative;
    width: 100%;
}
