<div id="config-installation">
	<div class="description">{{description}}</div>
	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-2 title">Application name</label>
			<div class="col-sm-8">
				<div class="form-group has-feedback application-name-input">
					<input class="form-control" placeholder="input application name" ng-model="inputApplicationName" ng-keydown="onKeyDown($event, 'applicationName')">
					<span class="glyphicon form-control-feedback" style="display:none;"></span>
				</div>
			</div>
			<div class="col-sm-2" style="text-align:right">
				<btn class="btn btn-default" ng-click="searchApplicationName()">Search</btn>
			</div>
			<div class="col-sm-12" style="text-align: center;">{{applicationNameMessage}}</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2 title">Agent ID</label>
			<div class="col-sm-8" style="text-align:left">
				<div class="form-group has-feedback agent-id-input">
					<input class="form-control" placeholder="input agent id" ng-model="inputAgentId" ng-keydown="onKeyDown($event, 'agentId')">
					<span class="glyphicon form-control-feedback" style="display:none;"></span>
				</div>
			</div>
			<div class="col-sm-2" style="text-align:right">
				<btn class="btn btn-default" ng-click="searchAgentId()">Search</btn>
			</div>
			<div class="col-sm-12" style="text-align: center;">{{agentIdMessage}}</div>
		</div>
	</form>
	<div class="installation-guide">
		<h4>Download Link</h4>
		<p><a ng-href="{{downloadLink}}">{{downloadLink}}</a></p>
	</div>
	<div class="installation-guide">
		<h4>JVM Argument Info <button class="btn btn-default btn-xs btn-success" ng-click="copyArguments()">copy</button></h4>
		<textarea readonly></textarea>
	</div>
</div>
