<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2018 NAVER Corp.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- retransformed by bean name -->
    <bean id="maru" class="com.navercorp.test.pinpoint.plugin.spring.web.beans.Maru"/>
    
    <!-- retransformed by class -->
    <bean id="morae" class="com.navercorp.test.pinpoint.plugin.spring.web.beans.Morae"/>
    
    <!-- retransformed by class. duplicated class -->
    <bean id="duplicatedMorae" class="com.navercorp.test.pinpoint.plugin.spring.web.beans.Morae"/>
    
    <!-- retransformed by annotation -->
    <bean id="mozzi" class="com.navercorp.test.pinpoint.plugin.spring.web.beans.Mozzi" scope="prototype"/>
    
    <!-- excluded -->
    <bean id="excluded" class="com.navercorp.test.pinpoint.plugin.spring.web.beans.Excluded"/>
    
    <!-- inner bean -->
    <bean id="outer" class="com.navercorp.test.pinpoint.plugin.spring.web.beans.Outer">
        <property name="inner">
            <bean class="com.navercorp.test.pinpoint.plugin.spring.web.beans.Inner"/>
        </property>
    </bean>
    
    
    <!-- proxy -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">
        <property name="proxyTargetClass" value="true"></property>
    </bean>
    
    <bean id="testAdvisor" class="com.navercorp.test.pinpoint.plugin.spring.web.beans.TestAdvisor"/>
    
    <bean id="proxyTarget" class="com.navercorp.test.pinpoint.plugin.spring.web.beans.ProxyTarget"/>
</beans>