<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.navercorp.pinpoint.metric.web.dao.pinot.PinotSystemMetricLongDao">
    <resultMap id="systemMetricResultMap" type="LongCounter">
        <constructor>
            <arg column="metricName" javaType="string"/>
            <arg column="hostName" javaType="string"/>
            <arg column="fieldName" javaType="string"/>
            <arg column="fieldValue" javaType="_long"/>
            <arg column="tags" javaType="list" typeHandler="TagListHandler" />
            <arg column="timestampInEpoch" javaType="_long"/>
        </constructor>
    </resultMap>

    <select id="selectSystemMetric" resultMap="systemMetricResultMap" parameterType="QueryParameter">
        SELECT
            metricName,
            hostName,
            fieldName,
            fieldValue,
            tags,
            timestampInEpoch
        FROM systemMetricLong
        WHERE applicationName = #{applicationName}
            AND metricName = #{metricName}
            AND hostName = #{hostName}
            AND fieldName = #{fieldName}
            <foreach collection="tagList" item="tag" separator=" ">
                AND tags = #{tag}
            </foreach>
            AND timestampInEpoch BETWEEN #{range.from} AND #{range.to}
        LIMIT ${limit}
    </select>

    <resultMap id="sampledSystemMetricResultMap" type="SampledSystemMetric">
        <constructor>
            <arg resultMap="systemMetricPointResultMap" javaType="SystemMetricPoint" />
            <arg column="tags" javaType="list" typeHandler="TagListHandler"/>
        </constructor>
    </resultMap>

    <resultMap id="systemMetricPointResultMap" type="SystemMetricPoint">
        <constructor>
            <arg column="avgTime" javaType="_long"/>
            <arg column="avgValue" javaType="Number" typeHandler="DoubleToLongHandler"/>
        </constructor>
    </resultMap>

    <select id="selectSampledSystemMetric" resultMap="sampledSystemMetricResultMap" parameterType="QueryParameter">
        SELECT
            AVG(fieldValue) AS avgValue,
            DATETIME_CONVERT(timestampInEpoch, '1:MILLISECONDS:EPOCH', '1:MILLISECONDS:EPOCH', '#{timePrecision.timeSize}:${timePrecision.timeUnit}') AS avgTime,
            tags
        FROM systemMetricLong
        WHERE applicationName = #{applicationName}
            AND metricName = #{metricName}
            AND hostName = #{hostName}
            AND fieldName = #{fieldName}
            <foreach collection="tagList" item="tag" separator=" ">
                AND tags = #{tag}
            </foreach>
            AND timestampInEpoch BETWEEN #{range.from} AND #{range.to}
        GROUP BY avgTime, tags
        ORDER BY avgTime asc
        LIMIT ${limit}
    </select>
</mapper>
