:host {
    display: block;
    width: 100%;
    height: 100%;
    
    --url-count-ratio: var(--blue-200);
    --url-count-ratio-background: var(--blue-grey-200);
}

.url-info-table {
    width: 100%;
    /* height: 100%; */
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    color: var(--text-primary-lighter);
}

.url-info-header {
    width: 100%;
    /* height: 40px; */
}

.url-info-row {
    display: flex;
    height: 36px;

    gap: 15px;
    padding-right: 20px;
}

.url-info-row.active {
    background-color: var(--background-hover-secondary);
}

.url-info-row.active:hover {
    background-color: var(--background-hover-secondary) !important;
}

.url-info-row:not(.header-row, .empty):hover {
    background-color: var(--background-hover-default);
}

.url-info-row:not(.header-row) {
    cursor: pointer;
    border-top: 1px solid var(--border-primary);
}

.url-info-row.header-row {
    width: 100%;
    height: 40px;
}

.url-info-row.empty {
    cursor: default;
}

.url-info-cell {
    display: flex;
    align-items: center;
    flex: 1;
}

.url-info-cell.index-cell {
    flex-grow: 0;
    flex-basis: 40px;
    justify-content: center;
}

.url-info-cell.url-cell {
    flex: 1.5;
    overflow-x: auto;
    white-space: nowrap;
}

.url-info-cell.total-count-cell {
    gap: 7px;
}

.url-info-cell.failure-count-cell {
    /* flex-grow: 0;
    flex-basis: 150px; */
    /* justify-content: right; */
}

.url-info-cell.avg-cell,
.url-info-cell.max-cell {
    /* flex-grow: 0;
    flex-basis: 150px; */
    /* justify-content: right; */
}

.url-info-cell.header-cell {
    height: 100%;
    color: var(--text-primary);
    font-weight: bold;
    font-size: 13px;
}

.url-info-body {
    width: 100%;
    /* height: calc(100% - 40px); */
    overflow: auto;
}

.url-info-cell.empty {
    font-size: 13px;
    justify-content: center;
    align-items: center;
}

.ratio-bar {
    /* width: 150px; */
    width: calc(100% - 50px - 7px - 20px); /* countWidth + gap + extra-space*/
    height: 20px;
}

.total-count {
    width: 50px;
    text-align: right;
}
