:host {
    display: block;
    width: 100%;
    height: 100%;
    
    --url-count-ratio: var(--blue-200);
    --url-count-ratio-background: var(--blue-grey-200);
}

.content-group {
    height: 36px;
    cursor: pointer;
}

.content-group.active {
    background-color: var(--background-hover-secondary);
}

.content-group.active:hover {
    background-color: var(--background-hover-secondary);
}

.content-group:hover {
    background-color: var(--background-hover-default);
}

.content-item {
    text-align: center;
    border-top: 1px solid var(--border-primary);
    padding: 0;
}

.url {
    /* cursor: pointer; */
}

.ratio-bar {
    display: inline-block;
    width: 100px;
    height: 20px;
    margin-left: 7px;
}

.sub {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count {
    width: 50px;
    text-align: right;
}
