:host {
    display: block;
    position: relative;
}
.l-search {
    position: relative;
    padding: 10px 15px;
    border-bottom: 1px solid #e5e8f0;
    color: #b3b3b4;
}
.l-search-input {
    width: 100%;
    color: #b3b3b4;
    border: 1px solid #d7dde4;
    padding: 6px 11px;
    font-size: 13px;
}
.l-search-input:focus {
    border: 1px solid #469ae4;
    box-shadow: 0 0 1px 0px #469ae4;
}
.l-search-button {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    /* outline: none; */
}