<ng-container *ngIf="errorMessage || isEmpty; then guideText; else contents"></ng-container>
<ng-template #guideText>
    <p class="l-guide-text" [class.l-error-text]="errorMessage">{{errorMessage ? errorMessage : emptyText$ | async}}</p>
</ng-template>
<ng-template #contents>
    <pp-server-and-agent-list
        [funcImagePath]="funcImagePath"
        [serverKeyList]="filteredServerKeyList"
        [serverList]="filteredServerList"
        [agentId]="agentId"
        (outSelectAgent)="onSelectAgent($event)">
    </pp-server-and-agent-list>
</ng-template>
