:host {
    display: block;
    /* 89px = 48px(Search Input) + 41px(Title) */
    height: calc(100% - 89px); 
    overflow-y: auto;
}

.l-guide-text {
    font-size: 14px;
    padding: 7px 13px;
}

.l-error-text {
    color: var(--status-fail);
}
