.bigscatterchart-placeholder {
	display:inline-block;
	border:1px solid #369;
	background:#def;
	width:50px;
	padding:0;
	margin:0 10px;
	opacity: 0.3;
}

div.jquery-drag-to-select {
	background: #def;

	display: block;

	opacity: .3;
	filter: alpha(opacity=30);
	z-index: 10;

	border: 1px solid #369;
}

div.jquery-drag-to-select.active {
	display: block;
}

.bigscatterchart .config {
	position: absolute;
	padding : 10px 13px;
	border : solid 2px #b7ddf2;
	background : #ebf4fb;
	display : none;
}
.bigscatterchart .config h4 {
	margin:0 0 10px 0;padding:0 0 10px 0;border-bottom:solid 1px #b7ddf2;text-align:center;r
}

.bigscatterchart .config .label {
	float:left;width:100px;clear:both;font-size:12px;font-weight:bold;padding:4px 0 0 20px;
	color:#000;background-color:transparent;
}

.bigscatterchart .config .input {
	width:50px;font-size:10px;padding:4px 2px;border:solid 1px #aacfe4;margin:2px 0 10px 10px;
	height:12px;
}

.bigscatterchart .config .apply {
	margin-left:48px;
}
.bigscatterchart .config .cancel {
	margin-left:10px
}

.bigscatterchart .config .button {
	display:inline-block;outline:none;padding:.1em .7em;cursor:pointer;font-size:11px;
	text-shadow:0 1px 1px rgba(0,0,0,.3);-webkit-border-radius:.5em;-moz-border-radius:.5em;
	border-radius:.5em;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);
	box-shadow:0 1px 2px rgba(0,0,0,.2);color: #d9eef7;border: solid 1px #0076a3;background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

.bigscatterchart .config .button:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.bigscatterchart .config .button:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}