<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:lang="http://www.springframework.org/schema/lang"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xmlns:hdp="http://www.springframework.org/schema/hadoop"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="com.nhn.pinpoint.web.dao.hbase,
                                         com.nhn.pinpoint.web.dao.mysql,
                                         com.nhn.pinpoint.web.service,
                                         com.nhn.pinpoint.web.mapper,
                                         com.nhn.pinpoint.web.filter,
                                         com.nhn.pinpoint.web.alarm,
                                         com.nhn.pinpoint.web.config"
                                         />

    <util:properties id="dataProps" location="classpath:data.properties"/>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>test-hbase.properties</value>
                <value>jdbc.properties</value>
            </list>
        </property>
    </bean>

    <import resource="classpath:applicationContext-hbase.xml"/>
    <import resource="classpath:applicationContext-datasource.xml" />
    <import resource="classpath:applicationContext-dao-config.xml" />
    <import resource="classpath:applicationContext-batch.xml" />

    <bean id="trace" class="com.nhn.pinpoint.collector.dao.hbase.HbaseTraceDao"/>
    <bean class="com.nhn.pinpoint.collector.dao.hbase.HbaseAgentInfoDao"/>


    <bean id="spanMapper" class="com.nhn.pinpoint.web.mapper.SpanMapper"/>
    <bean id="annotationMapper" class="com.nhn.pinpoint.web.mapper.AnnotationMapper"/>
    <bean id="spanAnnotationMapper" class="com.nhn.pinpoint.web.mapper.SpanMapper">
        <property name="annotationMapper" ref="annotationMapper"/>
    </bean>

    <bean id="jsonObjectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>

    <bean class="com.nhn.pinpoint.collector.util.ThreadLocalAcceptedTimeService"/>

    <bean id="rangeFactory" class="com.nhn.pinpoint.web.vo.RangeFactory"/>

    <bean id="timeSlot" class="com.nhn.pinpoint.common.util.DefaultTimeSlot"/>

    <bean id="jobLauncherTestUtils" class="org.springframework.batch.test.JobLauncherTestUtils"/>
</beans>