<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2019 NAVER Corp.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:lang="http://www.springframework.org/schema/lang"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="com.navercorp.pinpoint.web.dao.hbase,
                                         com.navercorp.pinpoint.web.dao.mysql,
                                         com.navercorp.pinpoint.web.service,
                                         com.navercorp.pinpoint.web.mapper,
                                         com.navercorp.pinpoint.web.filter,
                                         com.navercorp.pinpoint.web.alarm,
                                         com.navercorp.pinpoint.web.config" />
	
	<bean id="alarmController" class="com.navercorp.pinpoint.web.controller.AlarmController"/>

    <bean id="webPropertyConfigurer" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>test-hbase.properties</value>
                <value>jdbc.properties</value>
            </list>
        </property>
    </bean>

    <import resource="classpath:applicationContext-hbase.xml"/>
    <import resource="classpath:applicationContext-datasource.xml" />
    <import resource="classpath:applicationContext-dao-config.xml" />
    <import resource="classpath:batch/applicationContext-batch.xml" />

    <bean id="jsonObjectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>

    <bean id="rangeFactory" class="com.navercorp.pinpoint.web.vo.RangeFactory"/>

    <bean id="timeSlot" class="com.navercorp.pinpoint.common.server.util.DefaultTimeSlot"/>
    
    <util:properties id="pinpointWebProps" location="classpath:pinpoint-web-junit.properties"/>
    
    <bean id="config" class="com.navercorp.pinpoint.web.config.WebConfig"/>
    
    <bean id="commandHeaderTBaseSerializerFactory" class="com.navercorp.pinpoint.thrift.io.CommandHeaderTBaseSerializerFactory" factory-method="getDefaultInstance">
    </bean>
    <bean id="commandHeaderTBaseDeserializerFactory" class="com.navercorp.pinpoint.thrift.io.CommandHeaderTBaseDeserializerFactory" factory-method="getDefaultInstance">
    </bean>
    
    <bean id="pinpointSocketManager" class="com.navercorp.pinpoint.web.server.PinpointSocketManager">
    	<constructor-arg ref="config" />
    </bean>

    <bean id="jobLauncherTestUtils" class="org.springframework.batch.test.JobLauncherTestUtils"/>
    
        <bean id="spanServiceImpl" class="com.navercorp.pinpoint.web.service.SpanServiceImpl">
        <property name="sqlMetaDataDao" ref="hbaseSqlMetaDataDao"/>
    </bean>
    

    <bean id="hbaseSqlMetaDataDao" class="com.navercorp.pinpoint.web.dao.hbase.HbaseSqlMetaDataDao">
        <property name="rowKeyDistributorByHashPrefix" ref="metadataRowKeyDistributor2"></property>
        <property name="sqlMetaDataMapper" ref="sqlMetaDataMapper2"></property>
    </bean>

    <bean id="sqlMetaDataMapper2" class="com.navercorp.pinpoint.web.mapper.SqlMetaDataMapper">
        <property name="rowKeyDistributorByHashPrefix" ref="metadataRowKeyDistributor2"></property>
    </bean>
</beans>
