:host {
    font-size: 16px;
}

div {
    cursor: pointer;
    margin-left: 15px;
}

.title {
    position: relative;
    margin-right: 15px;
}

.score {
    font-weight: bold;
}

button {
    position: absolute;
    top: 1px;
    right: -6.5px;
    font-size: 0.6em;
    opacity: 0.7;
}

.excellent {
    color: var(--status-success);
}
.good {
    color: var(--status-good);
}
.poor {
    color: var(--status-warn);
}
.unacceptable {
    color: var(--status-fail);
}