:host {
    display: block;
    height: 66px;
}
.l-container-wrapper {
    display: flex;
    flex-flow: row wrap;
    background: #e0e7ee;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.l-container-wrapper button {
    color: #a8acb5;
    font-size: 18px;
}
.l-wrapper {
    background: #fff;
    height: 32px;
    width: 183px;
    color: #b3b3b4;
    position: relative;
    margin-right: 10px;
}
.l-wrapper input {
    width: 100%;
    height: 100%;
    border: 1px solid #d7dde4;
    padding: 0 10px 0 10px;
}
.l-wrapper button {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}