:host {
    display: flex;
}
.l-search-group-wrap {
    display: flex;
    flex-flow: row wrap;
    padding: 0 10px;
    font-size: 13px;
    justify-content: flex-end;
    position:relative;
}
.l-search-group-wrap .fas {
    color:#a8acb5;
    font-size:18px;
}
.l-search-group-wrap .l-search-group2 {
    height:32px;
}
.l-search-group-wrap .l-search-group2 input {
    float: left;
    display: inline-block;
    height: 100%;
    border: 1px solid #4a8fd2;
    padding:0 10px;
    background:#fff;
}
.l-search-group-wrap .l-search-group2 input:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 1px 1px var(--primary-color);
    outline: none;
}
.l-search-group-wrap button {
    margin-left: 10px;
}
.l-search-group-wrap .l-error-message {
    width: 300px;
    color:#e95459;
    margin-left: 10px;
}
select {
    appearance: none;
    -webkit-appearance: none;
    outline: 0;
    border-radius: 0px;
    color: #FFF;
    float: left;
    height: 100%;
    display: inline-block;
    padding: 7px 10px;
    font-size: 13px;
    font-weight: 600;
    background-color: var(--primary-color);
    width: 100px;
}
.l-search-group-wrap .l-search-group2 .fa-angle-down {
    position: absolute;
    color: #FFF;
    top: 8px;
    left: 94px;
    font-size: 15px;
}
.l-error-message {
    margin-left: 10px;
    margin-top: 8px;
}