<div class="l-search-group-wrap">
    <div class="l-search-group2">
        <select class="font-opensans" #searchType>
            <option value="self">Self &gt;=</option>
            <option value="argument" [attr.disabled]="useArgument ? null : ''">Argument</option>
            <option value="all" [attr.disabled]="useArgument ? null : ''">All</option>
        </select>
        <span class="fas fa-angle-down"></span>
        <input type="text" [(ngModel)]="inputValue" (keydown.enter)="onSearch(searchType.value)" (keydown.esc)="onClear()">
    </div>
    <button class="fas fa-search" (click)="onSearch(searchType.value)"></button>
    <span class="l-error-message">{{resultMessage}}</span>
</div>
