:host {
    display: flex;
}
.l-search-group-wrap {
    display: flex;
    flex-flow: row wrap;
    padding: 0 10px;
    font-size: 13px;
    justify-content: flex-end;
    position:relative;
}
.l-search-group-wrap .fas {
    position: absolute;
    color: var(--icon-default);
    font-size: 18px;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    
}
.l-search-group-wrap .l-search-group2 {
    height:32px;
}
.l-search-group-wrap .l-search-group2 input {
    display: inline-block;
    height: 100%;
    border: 1px solid var(--primary);
    padding:0 10px;
    background:var(--background-default);
}
.l-search-group-wrap .l-search-group2 input:focus {
    border: 1px solid var(--primary);
    box-shadow: 0 0 1px 1px var(--primary);
    outline: none;
}
.l-search-group-wrap button {
    margin-left: 10px;
}
.l-search-group-wrap .l-error-message {
    width: 300px;
    color: var(--status-fail);
    margin-left: 10px;
}
select {
    appearance: none;
    -webkit-appearance: none;
    outline: 0;
    border-radius: 0px;
    color: var(--text-knockout);
    height: 100%;
    display: inline-block;
    padding: 7px 10px;
    font-size: 13px;
    font-weight: 600;
    background-color: var(--primary);
    width: 100px;
}
.l-search-group-wrap .l-search-group2 .fa-angle-down {
    position: absolute;
    color: var(--text-knockout);
    font-size: 15px;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}
.l-error-message {
    margin-left: 10px;
    margin-top: 8px;
}

.l-search-type-select-wrapper {
    position: relative;
}

.l-search-group2 {
    display: flex;
    position: relative;
}