@media screen and (max-width: 1200px) {}
*{margin:0;padding:0;text-decoration:none;box-sizing: border-box;border-collapse: collapse;background:transparent;list-style:none;border:0;font-family:inherit;color:inherit}
html {height: 100%}
legend{display:none}
button{cursor:pointer;background:none}
body{color:#333; font-family: 'Nanum Gothic', '나눔고딕';}
table {border-collapse: collapse;border-spacing: 0;background-color: transparent}
caption {width:0;height:0;overflow:hidden;font-size:0}



#pinpoint {min-width:1290px;height:100%}
header {background:#469ae4;border-bottom:1px solid #4484c3;height:50px;justify-content: space-between;position: relative;top: 0;left: 0;z-index: 100;min-width: 1290px;width: 100%}

.flex-container {display: flex;}
.flex-container.flex-row {flex-flow: row wrap}
.flex-container.flex-column {flex-flow: column nowrap}
.flex-container.flex-row.reverse {flex-direction: row-reverse} 
.flex-item {display: flex;justify-content: center;align-items: center;}

.font-opensans {font-family: 'Open Sans', sans-serif}
.nanumgothic {font-family: "Nanum Gothic",나눔고딕}

.btn {font-size:13px;color:#666;height:30px;padding:0 13px;border-radius:1px;font-weight:600}
.btn .icon {font-size:11px}
.btn.active {border:1px solid #4491da;background:#4b99e3;color:#fff}
.btn-sm {font-size:13px;height:28px}
.btn-blue {color:#fff;background-color:#4b99e3;border: 1px solid #4491da}
.btn-black{color:#fff;background-color:#3f506c;border: 1px solid #384c65}
.btn-gray {color:#fff;background-color:#ccc;border: 1px solid #aaa}
.pinpoint-btn {background:#4b99e3;color:#fff;font-family: 'Open Sans', sans-serif;font-weight:600;padding:10px 15px;text-align:center;font-size: 11px;line-height: 1em;border-radius:2px}
.pinpoint-btn span {position:relative;padding:0 0 0 14px}
.pinpoint-btn .fas {left:0;position:absolute;top:50%;transform:translateY(-50%);font-size: 1.5em;}

.inactive {display:none}
*[hidden] { display: none !important; }

.table {max-width: 100%;width: 100%;border:1px solid #e5e8f0;background:#fff}
.table th, .table td {height:28px;font-size:12px;font-family:'Open Sans', sans-serif;padding:0 21px}
.table thead th {background:#f6f8fb;height:36px;font-weight:600}
.table tbody th {text-align:left}
.table th {color:#666}
.table td{color:#999}
.table td, .table tbody th {font-weight:400;word-break:break-all}
.table.tr-link tbody tr {cursor:pointer}
.table tr.tr-bg-blue {background-color:#eef9fc}
.table tr.tr-bg-red {background-color:#fff1f1}
.popup {
    position: absolute;
    z-index: 999999;
    background-color: #FFF;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    font-size: 14px;
    min-width: 160px;
}

@keyframes rootFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.l-transaction-view-top-contents .bb-axis-y-label,
.l-transaction-view-top-contents .bb-axis-y2-label,
.l-application-inspector-contents .bb-axis-y-label,
.l-agent-inspector-contents .bb-axis-y-label,
.l-agent-inspector-contents .bb-axis-y2-label {
    text-anchor: middle !important;
    font-family: 'Open Sans';
    font-size: 0.75vw;
    fill: #333;
    font-weight: bold;
}

.l-application-inspector-contents .bb-line {
    stroke-width: 1.5;
}

.l-application-inspector-contents .bb-line:not(.avg) {
    stroke-dasharray: 2 2;
}
