@charset "utf-8";
@import url("common.css");

h3 {margin:0 0 17px 10px; padding:0 0 0 11px; background:url(../../images/bu_h3.gif) no-repeat left top; font-size:16px; letter-spacing:-1px; word-spacing:1px;}
h4 {margin:0 0 7px 11px; padding:0 0 0 9px; background:url(../../images/bu_h4.gif) no-repeat left top; color:#666; font-size:12px; letter-spacing:-1px;}
