/** css for flot graph layout and display */
fieldset.graph_fieldset_host{
	border: 1.5px dotted #C0c0c0;vertical-align:top; margin-left:0px; margin-right:0px
}

fieldset.graph_fieldset_factor{
	border: 0px dotted #C0c0c0;margin-left:0px; margin-right:0px
}

b.graph_fieldset_factor_legend{
	margin-left:10px;
}

div.factorGraphDivGroupClassForDashboard{
	//display: inline-block; *display: inline; *zoom: 1; vertical-align:top;
}


div.graph_group_div{
	vertical-align:top;
}
/**host area aligns side by side. */
div.graph_group_div_inline{
	display: inline-block; *display: inline; *zoom: 1; vertical-align:top;
}


div.graph_div{
	vertical-align:top;  margin-bottom:15px;margin-right:10px;
}
/** in factor view. graph area aligns side by side. */
div.graph_div_inline{
	display: inline-block; *display: inline; *zoom: 1; vertical-align:top; margin-bottom:15px;margin-right:10px;
}

label.graph_tooltip_class_data{
	//position: absolute; border: '1px solid #fdd'; font-size:x-small;font-weight:bold;
	position: absolute; font-size:x-small;font-weight:bold;
}

label.graph_tooltip_class_max_data{
	position: absolute;  font-size:x-small;font-weight:bold;
}

label.graph_tooltip_class_time{
	position: absolute;  font-size:x-small;
}

label.graph_tooltip_class_max_time{
	position: absolute; font-size:x-small;
}


/** normal graph */
div.graph_title{
	/*margin-left:50px;*/
	margin-left:15px; text-align:center;font-size:small; text-align:center;
}

/** normal graph */
div.graph_message{
	margin-left:70px;font-size:small;  overflow:hidden; word-wrap:break-word;
}

div.graph_zoomlabel{
	position: absolute; right:5px;top:5px ; text-align:right;  font-size:small; color:red; z-index:7;
}
div.graph_canvas{
	margin-left:15px;margin-bottom:15px;
}
div.graph_title_dashboard_selected{
	border-top:4px solid #FF00FF;  border-left:3px solid #FF00FF ;border-right:3px solid #FF00FF;
}

div.graph_graph_dashboard_selected{
	border-bottom:4px  solid #FF00FF; border-left:3px  solid #FF00FF;border-right:3px solid #FF00FF;
}

/** magnified graph uses postfix "_m" */
div.graph_title_m{
	width:400px; text-align:center;font-size:small;
}


div.graph_canvas_m{
	width:400px; height:150px;
}
p.graph_legend_m{
	margin-left:50px;
}


div.tickLabel{
	//font-size:0.7em;
	font-size: smaller; !important;margin-right:5px;
}

div.selectGraphDiv{
	margin-left:30px;width:4px;position:absolute; -moz-outline-color
}

input.graphLegend{

}

span.buttonclass{
	font-size:10px;
}
