<div class="agent-list">
    <div class="control-group" ng-class="{success: searchAgents.name}">
        <input type="text" ng-model="searchAgents.name" placeholder="Search Agents" style="width:174px;">
    </div>
    <ul class="nav nav-list">
        <li ng-repeat="(key, group) in agentGroup">
            <span class="nav-header">{{key}}</span>
            <ul class="nav">
                <li ng-class="{active: currentAgent == agent}" ng-repeat="agent in group | filter:searchAgents.name">
                    <a href ng-click="select(agent)">{{agent.agentId}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>