<div class="linkInfoDetails" ng-show="showLinkInfoDetails">
	<div class='info' ng-switch="linkCategory">

		<div ng-switch-when="UnknownLinkInfoBox">
            <dl ng-repeat="target in targetinfo">
                <dt>
                    <img ng-src="/images/icons/{{sourceinfo[0].serviceType | icons}}.png" width="20" height="10" /> {{sourceinfo[0].applicationName}}
                    <i class="icon-arrow-right"></i>
                    <img ng-src="/images/icons/{{target.serviceType | icons}}.png" width="20" height="10" /> {{target.applicationName}}
                    <a class="btn btn-mini" href ng-click="showDetailInformation(target.applicationName)" title="show details">
                        <i class="icon-tasks"></i>
                    </a>
                    <a class="btn btn-mini" href ng-click="passingTransactionMap(sourceinfo[0].serviceType, sourceinfo[0].applicationName, target.serviceType, target.applicationName)" title="filter transaction">
                    	<i class="icon-filter"></i>
                    </a>
                </dt>
                <dd>
                    <ul class="unstyled">
                        <li>request count : {{rawdata[target.applicationName].count}} /
                            <span ng-style="rawdata[target.applicationName].error && 'color:#FF0000'">{{rawdata[target.applicationName].error}}</span>
                        </li>
                    </ul>
                </dd>
            </dl>
		</div>

		<div ng-switch-when="LinkInfoBox" class="alert alert-info text-center">
			<img ng-src="/images/icons/{{sourceinfo.serviceType | icons}}.png" width="20" height="10" /> {{sourceinfo.applicationName}}
			<i class="icon-arrow-right"></i>
			<img ng-src="/images/icons/{{targetinfo.serviceType | icons}}.png" width="20" height="10" /> {{targetinfo.applicationName}}
			<!--
			<br/>
			Total requests : ???<br/>
			Failed : {{= error}}<br/>
			Response statistics
			<ul>
				{{var lastKey=''}}
				{{each(key, value) histogram}}
				<li>&lt;= {{= key}}ms : {{= value}}</li>
				{{eval lastKey=key}}
				{{/each}}
				<li>&nbsp;&nbsp;&gt; {{= lastKey}}ms : {{= slow}}</li>
			</ul>
			-->
		</div>

	</div>

	<div class='infoChart' ng-show="showLinkInfoChart">
		<h5>Response Histogram</h5>
		<svg style='height:200px' />
	</div>

	<div class='infoBarChart' ng-show="showLinkInfoBarChart">
		<h5>Response Histogram Summary</h5>
		<svg style='height:150px' />
	</div>
</div>