<div class="linkInfoDetails" ng-show="showLinkInfoDetails">

    <ul class="list-unstyled" ng-if="linkCategory == 'UnknownLinkInfoBox'">
        <li ng-repeat="target in targetinfo">
            <img ng-src="/images/icons/{{sourceinfo[0].serviceType | icons}}.png" style="height:14px;" /> {{sourceinfo[0].applicationName}}
            <i class="icon-arrow-right"></i>
            <img ng-src="/images/icons/{{target.serviceType | icons}}.png" style="height:14px;" /> {{target.applicationName}}
            <br>
            <div class="summaryCharts_{{target.sequence}}" style="position: relative;">
                <svg style='height:120px;width:350px;' />
                <a class="btn btn-default btn-xs" href ng-click="showDetailInformation(target.applicationName)" title="Show Link Information" style="position: absolute;top: 20px; right:0;">
                    <i class="icon-tasks"></i>
                </a>
                <a class="btn btn-default btn-xs" href ng-click="passingTransactionMap(sourceinfo[0].serviceType, sourceinfo[0].applicationName, target.serviceType, target.applicationName)" title="filter transaction"  style="position: absolute;top: 50px; right:0;">
                    <i class="icon-filter"></i>
                </a>
            </div>
        </li>
    </ul>

    <div class='infoBarChart' ng-show="showLinkInfoBarChart">
        <h5>Response Summary</h5>
        <svg style='height:150px' />
    </div>

    <div class='infoChart' ng-show="showLinkInfoChart">
        <h5>Load</h5>
        <svg style='height:150px' />
    </div>
    <helix-chart namespace="loadForLinkInfoDetails" ng-if="showLinkInfoChart"></helix-chart>

</div>