<div class="linkInfoDetails" ng-show="showLinkInfoDetails">

    <!--<ul class="list-unstyled" ng-if="linkCategory == 'UnknownLinkInfoBox'">-->
        <!--<li ng-repeat="target in targetinfo">-->
            <!--<div style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"-->
                 <!--tooltip="{{sourceinfo[0].applicationName}} → {{target.applicationName}}" tooltip-placement="bottom">-->
                <!--<img ng-src="/images/icons/{{sourceinfo[0].serviceType | icons}}.png" style="height:14px;" />-->
                <!--{{sourceinfo[0].applicationName}}-->
                <!--<span class="glyphicon glyphicon-arrow-right"></span>-->
                <!--<img ng-src="/images/icons/{{target.serviceType | icons}}.png" style="height:14px;" />-->
                <!--{{target.applicationName}}-->
            <!--</div>-->
            <!--<div class="summaryCharts_{{target.sequence}}" style="position: relative;">-->
                <!--<svg style='height:120px;width:350px;' />-->
                <!--<a class="btn btn-default btn-xs" href ng-click="showDetailInformation(target.applicationName)"-->
                   <!--title="Show Link Information" style="position: absolute;top: 20px; right:0;">-->
                    <!--<span class="glyphicon glyphicon-tasks"></span>-->
                <!--</a>-->
                <!--<a class="btn btn-default btn-xs" href title="Filter Transaction"  style="position: absolute;top: 50px; right:0;"-->
                   <!--ng-click="passingTransactionMap(sourceinfo[0].serviceType, sourceinfo[0].applicationName, target.serviceType, target.applicationName)">-->
                    <!--<span class="glyphicon glyphicon-filter"></span>-->
                <!--</a>-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->

    <div ng-if="linkCategory == 'UnknownLinkInfoBox'">

        <div class="panel panel-default" ng-repeat="target in targetinfo">
            <div class="panel-heading" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"
                 tooltip="{{sourceinfo[0].applicationName}} → {{target.applicationName}}" tooltip-placement="bottom">
                <img ng-src="/images/icons/{{sourceinfo[0].serviceType | icons}}.png" style="height:14px;" />
                {{sourceinfo[0].applicationName}}
                <span class="glyphicon glyphicon-arrow-right"></span>
                <img ng-src="/images/icons/{{target.serviceType | icons}}.png" style="height:14px;" />
                {{target.applicationName}}
            </div>
            <div class="panel-body summaryCharts_{{target.sequence}}" style="position: relative; padding:0">
                <svg style='height:120px;width:350px;' />
                <a class="btn btn-default btn-xs" href ng-click="showDetailInformation(target.applicationName)"
                   title="Show Link Information" style="position: absolute;top: 20px; right:5px;">
                    <span class="glyphicon glyphicon-tasks"></span>
                </a>
                <a class="btn btn-default btn-xs" href title="Filter Transaction"  style="position: absolute;top: 50px; right:5px;"
                   ng-click="passingTransactionMapFromLinkInfoDetails(sourceinfo[0].serviceType, sourceinfo[0].applicationName, target.serviceType, target.applicationName)">
                    <span class="glyphicon glyphicon-filter"></span>
                </a>
            </div>
        </div>

    </div>

    <div class='infoBarChart' ng-show="showLinkInfoBarChart">
        <h5>Response Summary</h5>
        <svg style='height:150px' />
    </div>

    <div class='infoChart' ng-show="showLinkInfoChart">
        <h5>Load</h5>
        <svg style='height:150px' />
    </div>
    <!--<div ng-if="showLinkInfoChart" style="height:220px;">-->
        <!--<h5>Load(Draft)</h5>-->
        <!--<helix-chart namespace="loadForLinkInfoDetails"></helix-chart>-->
    <!--</div>-->

</div>