<div class="modal login-modal" tabindex="-1" role="dialog" style="display: block;" ng-controller="LoginFormCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login Session Expired</h4>
            </div>
            <div class="modal-body">
                <p>Your login session has been expired.<br>It will be changed to login page within <timer interval="1000" countdown="90">{{minutes}} minutes, {{seconds}} seconds.</timer></p>
                <p>If you login from other nhncorp website such as connect.nhncorp.com,
                    it will be aware automatically. So you don't need to login again. Please wait for while.<p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="refresh()">Refresh</button>
            </div>
        </div>
    </div>
</div>