<div class="navbar main-navbar bs-docs-nav">
    <div class="nav-container">
        <a href="/" class="navbar-brand"><img class="brand" src="/images/logo2.png" width="116" height="18"></a>

        <div class="nav-collapse collapse">
            <form class="navbar-form pull-left">
                <ul class="nav navbar-nav">
                    <li style="margin-top:0px;">
                        <div ng-show="showApplication" style="margin-top:5px;">
                            <select class="application" ng-disabled="disableApplication" style="width:200px;margin:1px 0 0 0;height:28px;">
                                <option ng-repeat="app in applications" value="{{app.value}}">{{app.text}}</option>
                            </select>
                        </div>
                        <div ng-show="showStaticApplication" class="btn disabled" style="background-color:#f5f5f5;opacity:1;filter:alpha(opacity=100);">{{applicationName}}</div>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="for-datetimepicker">
                        <div  ng-show="periodType == 'last'" class="btn-group" style="margin-top:0px;">
                            <label class="btn" ng-class="{'btn-success': periodType == 'last'}">
                                <input type="radio" ng-click="changePeriodTypeTo('range')"><i class="icon-th-list icon-white"></i>
                            </label>
                            <label class="btn" ng-class="{'btn-info': period == 5}">
                                <input type="radio" ng-click="periodClick(5)">Last 5m
                            </label>
                            <label class="btn" ng-class="{'btn-info': period == 20}">
                                <input type="radio" ng-click="periodClick(20)">20m
                            </label>
                            <label class="btn" ng-class="{'btn-info': period == 60}">
                                <input type="radio" ng-click="periodClick(60)">1h
                            </label>
                            <label class="btn" ng-class="{'btn-info': period == 180}">
                                <input type="radio" ng-click="periodClick(180)">3h
                            </label>
                            <label class="btn" ng-class="{'btn-info': period == 360}">
                                <input type="radio" ng-click="periodClick(360)">6h
                            </label>
                            <label class="btn" ng-class="{'btn-info': period == 740}">
                                <input type="radio" ng-click="periodClick(740)">12h
                            </label>
                            <label class="btn" ng-class="{'btn-info': period == 1440}">
                                <input type="radio" ng-click="periodClick(1440)">1d
                            </label>
                            <label class="btn" ng-class="{'btn-info': period == 2880}">
                                <input type="radio" ng-click="periodClick(2880)">2d
                            </label>
                        </div>
                        <div ng-show="periodType == 'range'" class="datetimepicker input-prepend input-append date">
                            <button class="btn btn-success" ng-click="changePeriodTypeTo('last')">
                                <i class="icon-calendar icon-white"></i>
                            </button>
                            <input id="from-picker" type="text">
                            <span class="add-on">
                                <i class="icon-minus"></i>
                            </span>
                            <input id="to-picker" type="text">
                            <button class="btn" ng-click="search()">
                                <i class="icon-search"></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
