<div class="nodeInfoDetails" ng-init="nodeIcon='USER'" ng-show="showNodeInfoDetails">
	<div class='info' ng-switch="nodeCategory">

		<div ng-switch-when="UNKNOWN_GROUP">
            <div class="alert alert-info text-center">
                <img src="/images/icons/UNKNOWN.png" style="height:20px;" /> UNKNOWN GROUP
            </div>
		</div>

		<div ng-switch-when="USER">
            <div class="alert alert-info text-center">
			    <img src="/images/icons/USER.png" style="height:20px;" /> USER
            </div>
		</div>

		<div ng-switch-default>
            <div class="alert alert-info text-center">
                <img ng-src="/images/icons/{{nodeIcon | icons}}.png" style="height:20px;" /> {{nodeTitle}}
            </div>
		</div>
	</div>

    <div class="contents">

        <ul ng-if="unknownGroup">
            <li ng-repeat="node in unknownGroup">
                {{node.applicationName}}<br/>
            </li>
        </ul>

        <div class='infoBarChart' ng-show="showNodeInfoBarChart">
            <h5>Response Summary</h5>
            <svg style='height:150px;' />
        </div>

        <div ng-show="showServers">
            <h5>Servers</h5>
            <ul class="server-list">
                <li ng-repeat="(key, server) in serverList">
                    <i class="icon-home"></i>
                    {{server.name.split(':')[0]}}
                    <a class="btn btn-mini" href="http://nsight.nhncorp.com/dashboard_server/{{server.name.split(':')[0].replace('.nhnsystem.com','')}}" target="_blank" title="System resource monitoring site">NSight</a>
                    <ul>
                        <li ng-repeat="instance in server.instanceList">
                            <i class="icon-hdd"></i>
                            {{instance.name}}
                            <a class="btn btn-mini" ng-show="isWas" ng-href="#/inspector/{{node.text}}@{{node.serviceTypeCode}}/{{oNavbarVo.getPeriod()}}/{{oNavbarVo.getQueryEndTime()}}/{{instance.name}}" target="_blank" title="Inspect Agents" alt="Inspect Agents">Inspector</a>
                            <a class="btn btn-mini" href="http://hubble.arcuscloud.nhncorp.com/" target="_blank" title="Arcus monitoring site" ng-show="nodeCategory == 'ARCUS'">Hubble</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>