<div class="nodeInfoDetails" ng-init="nodeIcon='USER'" ng-show="showNodeInfoDetails">
	<div class='info' ng-switch="nodeCategory">

		<div ng-switch-when="UNKNOWN_GROUP">
            <div class="alert alert-info text-center">
                <img src="/images/icons/UNKNOWN_CLOUD.png" width="20" height="10" /> UNKNOWN GROUP
            </div>
			<ul>
				<li ng-repeat="node in unknownGroup">
					{{node.applicationName}}<br/>
				</li>
			</ul>
		</div>

		<div ng-switch-when="USER">
            <div class="alert alert-info text-center">
			    <img src="/images/icons/USER.png" width="20" height="10" /> USER
            </div>
		</div>

		<div ng-switch-default>
            <div class="alert alert-info text-center">
                <img ng-src="/images/icons/{{nodeIcon | icons}}.png" width="20" height="10"/> {{nodeName}}
            </div>
            <div ng-show="showServers">
                <h5>Servers <a class="btn btn-mini" ng-show="isWas" ng-href="#/spy/{{node.text}}@{{node.serviceTypeCode}}/{{period}}/{{queryEndTime}}" target="_blank" title="Inspect Agents" alt="Inspect Agents"><i class="icon-search"></i></a></h5>
                <ul class="server-list">
                    <li ng-repeat="(key, server) in serverList">
                        <i class="icon-home"></i>
                        {{server.name.split(':')[0]}}
                        <a class="btn btn-mini" href="http://nsight.nhncorp.com/dashboard_server/{{server.name.split(':')[0].replace('.nhnsystem.com','')}}" target="_blank" title="System resource monitoring site">NSight</a>
                        <a class="btn btn-mini" href="http://hubble.arcuscloud.nhncorp.com/" target="_blank" title="Arcus monitoring site" ng-show="nodeCategory == 'ARCUS'">Hubble</a>
                        <ul>
                            <li ng-repeat="instance in server.instanceList">
                                <i class="icon-hdd"></i>
                                {{instance.name}}
                            </li>
                        </ul>
                    </li>
                </ul>
			</div>
			<!-- 
			<div ng-show="showAgents">
				<h5>Server Instances</h5>
				<ul>
					<li ng-repeat="agent in agents">
						<span class="label label-success">OK</span>
						{{agent.agentId}}
                        <a class="btn btn-mini" ng-href="#/spy/{{application}}/{{period}}/{{queryEndTime}}/{{agent.agentId}}" target="_blank">SPY</a>
					</li>
				</ul>
			</div>
			-->
		</div>
	</div>

    <div class='infoBarChart' ng-show="showNodeInfoBarChart">
        <h5>Response Histogram Summary</h5>
        <svg style='height:150px;' />
    </div>

</div>