<!-- Add your site or application content here -->
<div class="main-container">
    <div style="display:table;height:100%;width:100%;">
        <div style="display:table-cell;text-align:center;vertical-align:middle;">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-warning-sign"></i></span>
                <span class="uneditable-input span2" style="width:294px;cursor:auto">Please select a transaction above.</span>
            </div>
        </div>
    </div>
</div>