<div class="servermap" style="width:100%;height:100%;position: relative;">
	<div id="servermap" style="width:100%;height:100%;position: relative;"></div>
    <div class="servermap-status" ng-show="bShowServerMapStatus">
        <div class="alert alert-success">
            <div class="alert alert-info">
                <h6 ng-show="oNavbarDao.getQueryStartTime() && oNavbarDao.getQueryEndTime()">{{oNavbarDao.getQueryStartTime() | date:'yyyy-MM-dd HH:mm:ss'}} ~ {{oNavbarDao.getQueryEndTime() | date:'yyyy-MM-dd HH:mm:ss'}}</h6>
                <ul class="unstyled" ng-show="oNavbarDao.getFilter()" ng-bind-html="oNavbarDao.getFilter() | filterToString">
                </ul>
            </div>
            <div class="controls controls-row">
                <span class="span2"><i class="icon-ok" ng-class="{'icon-white': !mergeUnknowns}"></i> Merge Unknowns</span>
            </div>
            <div class="controls controls-row">
                <span class="span2"><i class="icon-ok" ng-class="{'icon-white': !totalRequestCount}"></i> Total Request Count</span>
                <span class="span2"><i class="icon-ok" ng-class="{'icon-white': !tps}"></i> TPS</span>
            </div>
        </div>
    </div>
    <div ng-include=" 'error' "></div>
	<div ng-include=" 'warning' "></div>
    <div ng-include=" 'info' "></div>
	<div ng-include=" 'loading' "></div>

    <ul ng-style="nodeContextMenuStyle" class="nodeContextMenu dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="z-index:10">
        <!--<li><a href tabindex="-1" ng-click="passingTransactionList()"><i class="icon-map-marker"></i> Passing Transaction List</a></li>-->
        <!--<li class="divider"></li>-->
        <li><a href tabindex="-1" ng-click="passingTransactionResponseToScatterChart()"><i class="icon-list"></i> Transaction Scatter Chart</a></li>
        <li><a tabindex="-1" ng-href="#/inspector/{{oNavbarDao.getApplication()}}/{{oNavbarDao.getPeriod()}}/{{oNavbarDao.getQueryEndTime()}}" target="_blank"><i class="icon-search"></i> Inspect Agents</a></li>
    </ul>

    <ul ng-style="linkContextMenuStyle" class="linkContextMenu dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="z-index:10">
        <li><a href tabindex="-1" ng-click="passingTransactionMap()"><i class="icon-filter"></i> Filter Transaction</a></li>
        <!--<li class="divider"></li>-->
        <!--<li><a href tabindex="-1" ng-click="passingTransactionList()"><i class="icon-list"></i> Passing Transaction List</a></li>-->
    </ul>

    <ul ng-style="backgroundContextMenuStyle" class="backgroundContextMenu dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="z-index:10">
        <li class="dropdown-submenu">
            <a tabindex="-1" href>Node Setting</a>
            <ul class="dropdown-menu">
                <li><a href ng-click="toggleMergeUnknowns()"><i class="icon-ok" ng-class="{'icon-white': !mergeUnknowns}"></i> Merge Unknowns</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a tabindex="-1" href>Link Setting</a>
            <ul class="dropdown-menu">
                <li><a href class="labelTextType" ng-click="toggleLinkLableTextType('totalRequestCount')"><i class="icon-ok" ng-class="{'icon-white': !totalRequestCount}"></i> Total Request Count</a></li>
                <li><a href class="labelTextType" ng-click="toggleLinkLableTextType('tps')"><i class="icon-ok" ng-class="{'icon-white': !tps}"></i> TPS</a></li>
            </ul>
        </li>
        <li class="divider"></li>
        <li class="dropdown-submenu">
            <a tabindex="-1" href>Link Routing</a>
            <ul class="dropdown-menu">
                <li><a href ng-click="toggleLinkRouting('Normal')"><i class="icon-ok" ng-class="{'icon-white': linkRouting != 'Normal'}"></i> Normal</a></li>
                <li><a href ng-click="toggleLinkRouting('Orthogonal')"><i class="icon-ok" ng-class="{'icon-white': linkRouting != 'Orthogonal'}"></i> Orthogonal</a></li>
                <li><a href ng-click="toggleLinkRouting('AvoidsNodes')"><i class="icon-ok" ng-class="{'icon-white': linkRouting != 'AvoidsNodes'}"></i> AvoidsNodes</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a tabindex="-1" href>Link Curve</a>
            <ul class="dropdown-menu">
                <li><a href ng-click="toggleLinkCurve('None')"><i class="icon-ok" ng-class="{'icon-white': linkCurve != 'None'}"></i> None</a></li>
                <li><a href ng-click="toggleLinkCurve('JumpOver')"><i class="icon-ok" ng-class="{'icon-white': linkCurve != 'JumpOver'}"></i> JumpOver</a></li>
                <li><a href ng-click="toggleLinkCurve('JumpGap')"><i class="icon-ok" ng-class="{'icon-white': linkCurve != 'JumpGap'}"></i> JumpGap</a></li>
                <li><a href ng-click="toggleLinkCurve('Bezier')"><i class="icon-ok" ng-class="{'icon-white': linkCurve != 'Bezier'}"></i> Bezier</a></li>
            </ul>
        </li>
    </ul>
</div>