<div class="sidebar-title">
    <h3>
        <span ng-show="stTitle" tooltip="{{stTitle}}" tooltip-placement="bottom">
            <img ng-src="{{stImage}}" style="height:14px;" ng-if="stImageShow"/>
            <span>{{stTitle}}</span>
        </span>
        <span ng-show="stTitle2" class="glyphicon glyphicon-arrow-right"></span>
        <span ng-show="stTitle2" tooltip="{{stTitle2}}" tooltip-placement="bottom">
            <img ng-src="{{stImage2}}" style="height:14px;" ng-if="stImage2Show"/>
            <span>{{stTitle2}}</span>
        </span>
    </h3>
</div>
