<style type="text/css">
    #traceTabs a {
        font-size: 13px;
    }
    .tab-content .tab-pane {
        width: 100%;
        height: 100%;
    }
</style>

<!-- grid -->
<script type="text/javascript" src="/components/jquery-flexigrid/js/flexigrid.js"></script>
<script type="text/javascript" src="/components/jquery-treetable/javascripts/src/jquery.treetable.js"></script>
<script type="text/javascript" src="/components/pinpoint-grid/jquery.TreeGridTable.js"></script>

<div class="navbar navbar-fixed-top" style="height:30px;background-color:#252a3a;color:#ddd;font-size:11px;">
    <div class="row-fluid">
        <div class="span3" style="text-align:center;line-height:30px">Application : {{transactionDetail.applicationName}}</div>
        <div class="span3" style="text-align:center;line-height:30px">TransactionId : {{transactionDetail.transactionId}}</div>
        <div class="span3" style="text-align:center;line-height:30px">AgentId : {{transactionDetail.agentId}}</div>
        <div class="span3" style="text-align:center;line-height:30px">ApplicationId : {{transactionDetail.applicationId}}</div>
    </div>
</div>

<ul id="traceTabs" class="nav nav-tabs navbar-fixed-top" style="top:32px;">
    <li class="active"><a href="#CallStacks" data-toggle="tab">Call Stacks</a></li>
    <li><a href="#ServerMap" data-toggle="tab">Server Map</a></li>
    <li><a href="#Timeline" data-toggle="tab">RPC Timeline</a></li>
</ul>

<div class="tab-content" style="width:100%;height:100%;overflow:auto;">
    <div class="tab-pane active" id="CallStacks">
        <!-- begin new call stack -->
        <call-stacks></call-stacks>
    </div>

    <div class="tab-pane" id="ServerMap">
        <servermap></servermap>
    </div>

    <div class="tab-pane" id="Timeline">
        <timeline></timeline>
    </div>
</div>
