<style type="text/css">
    #traceTabs a {
        font-size: 13px;
    }
    .tab-content .tab-pane {
        width: 100%;
        height: 100%;
    }
    .app-title {
        text-align:center;
        line-height:30px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overow: ellipsis;
    }
</style>

<div class="navbar navbar-fixed-top" style="height:30px;background-color:#252a3a;color:#ddd;font-size:11px;">
    <div class="row-fluid">
        <div class="span3 app-title" tooltip="Application : {{transactionDetail.applicationName}}" tooltip-placement="bottom">Application : {{transactionDetail.applicationName}}</div>
        <div class="span3 app-title" tooltip="TransactionId : {{transactionDetail.transactionId}}" tooltip-placement="bottom">TransactionId : {{transactionDetail.transactionId}}</div>
        <div class="span3 app-title" tooltip="AgentId : {{transactionDetail.agentId}}" tooltip-placement="bottom">AgentId : {{transactionDetail.agentId}}</div>
        <div class="span3 app-title" tooltip="ApplicationName : {{transactionDetail.applicationId}}" tooltip-placement="bottom">ApplicationName : {{transactionDetail.applicationId}}</div>
    </div>
</div>

<ul id="traceTabs" class="nav nav-tabs navbar-fixed-top" style="top:32px;">
    <li class="active"><a href="#CallStacks" data-toggle="tab">Distributed Call Flow</a></li>
    <li><a href="#ServerMap" data-toggle="tab">Server Map</a></li>
    <li><a href="#Timeline" data-toggle="tab">RPC Timeline</a></li>
    <li style="position: absolute; top: 6px; right: 10px;">
        <span class="label" ng-class="completeStateClass"><i class="icon-refresh icon-white"></i> {{transactionDetail.completeState}}</span>
        <button ng-click="openInNewWindow();$event.stopPropagation()" class="btn btn-mini" target="_blank" title="New Window"><i class="icon-share"></i></button>
    </li>
</ul>

<div class="tab-content" style="width:100%;height:100%;overflow:auto;">
    <div class="tab-pane active" id="CallStacks">
        <!-- begin new call stack -->
        <call-stacks namespace="forTransactionDetail"></call-stacks>

        <div ng-include=" 'error' "></div>
        <div ng-include=" 'warning' "></div>
        <div ng-include=" 'info' "></div>
        <div ng-include=" 'loading' "></div>
    </div>

    <div class="tab-pane" id="ServerMap">
    	<span class="label label-important"><i class="icon-exclamation-sign icon-white"></i> Technical Preview</span>
        <server-map></server-map>
    </div>

    <div class="tab-pane" id="Timeline">
    	<span class="label label-important"><i class="icon-exclamation-sign icon-white"></i> Technical Preview</span>
        <timeline></timeline>
    </div>

    <div class="tab-pane" id="Details">
        <!-- begin details -->
        <table id="businessTransactions" class="table table-bordered table-hover" style="font-size:12px;">
            <thead>
            <tr>
                <th>#</th>
                <th>Action</th>
                <th>Arguments</th>
                <th>EndPoint</th>
                <th>Total[ms]</th>
                <th>Application</th>
                <th>Agent</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
