<div class="transaction-table">
    <div class="transaction-table_wrapper">
        <div class="transaction-table_header"></div>
        <table class="transaction-table_table table table-condensed table-hover" cellspacing="0">
            <thead>
            <tr>
                <th>
                    <div class="th-inner" ng-click="transactionOrder('index')" style="cursor:pointer"># <i
                            ng-show="transactionOrderBy == 'index'"
                            ng-class="{true: 'icon-arrow-down', false: 'icon-arrow-up'}[transactionReverse]"></i></div>
                </th>
                <th>
                    <div class="th-inner" ng-click="transactionOrder('startTime')" style="cursor:pointer">Time <i
                            ng-show="transactionOrderBy == 'startTime'"
                            ng-class="{true: 'icon-arrow-down', false: 'icon-arrow-up'}[transactionReverse]"></i></div>
                </th>
                <th>
                    <div class="th-inner" ng-click="transactionOrder('application')" style="cursor:pointer">Application
                        <i ng-show="transactionOrderBy == 'application'"
                           ng-class="{true: 'icon-arrow-down', false: 'icon-arrow-up'}[transactionReverse]"></i></div>
                </th>
                <th>
                    <div class="th-inner" ng-click="transactionOrder('elapsed')" style="cursor:pointer">Res. Time
                        <i ng-show="transactionOrderBy == 'elapsed'"
                           ng-class="{true: 'icon-arrow-down', false: 'icon-arrow-up'}[transactionReverse]"></i></div>
                </th>
                <th>
                    <div class="th-inner" ng-click="transactionOrder('exception')" style="cursor:pointer">Exception <i
                            ng-show="transactionOrderBy == 'exception'"
                            ng-class="{true: 'icon-arrow-down', false: 'icon-arrow-up'}[transactionReverse]"></i></div>
                </th>
                <th>
                    <div class="th-inner" ng-click="transactionOrder('agentId')" style="cursor:pointer">AgentId <i
                            ng-show="transactionOrderBy == 'agentId'"
                            ng-class="{true: 'icon-arrow-down', false: 'icon-arrow-up'}[transactionReverse]"></i></div>
                </th>
                <th>
                    <div class="th-inner" ng-click="transactionOrder('remoteAddr')" style="cursor:pointer">ClientIP <i
                            ng-show="transactionOrderBy == 'remoteAddr'"
                            ng-class="{true: 'icon-arrow-down', false: 'icon-arrow-up'}[transactionReverse]"></i></div>
                </th>
                <th>
                    <div class="th-inner" ng-click="transactionOrder('transactionSequence')" style="cursor:pointer">
                        TransactionId <i ng-show="transactionOrderBy == 'transactionSequence'"
                                   ng-class="{true: 'icon-arrow-down', false: 'icon-arrow-up'}[transactionReverse]"></i>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody style="overflow: auto;height:100%">
                <tr ng-repeat="transaction in transactionList | orderBy:transactionOrderBy:transactionReverse"
                    ng-class="{true: 'info', false: {'error': transaction.exception}}[transaction == currentTransaction]">
                    <td>
                        <div style='padding-right:5px;text-align:right;position:relative;'>
                            <a href ng-href="/transactionInfo.pinpoint?traceId={{transaction.traceId}}&focusTimestamp={{transaction.collectorAcceptTime}}"
                               target="_blank" style="position:absolute;top:0;left:0;width:15px;height:15px;"></a>
                            {{transaction.index | number}}
                        </div>
                    </td>
                    <td ng-click="traceByApplication(transaction)" style="cursor:pointer" sorttable_customkey="{{transaction.startTime}}">{{transaction.startTime | date:'MM/dd HH:mm:ss sss'}}
                    </td>
                    <td ng-click="traceByApplication(transaction)" style="cursor:pointer">
                        {{transaction.application}}
                        <a ng-click="openTransactionView(transaction);$event.stopPropagation()" target="_blank" title="Open Transaction View in New Window"><i class="icon-list-alt" style="margin-top:-1px;"></i></a>
                    <td ng-click="traceByApplication(transaction)" style='cursor:pointer;padding-right:15px;text-align:right'>{{transaction.elapsed | number}}</td>
                    <td ng-click="traceByApplication(transaction)" style="cursor:pointer;text-align:center;">{{{true: 'true', false: ''}[transaction.exception == 1]}}</td>
                    <td ng-click="traceByApplication(transaction)" style="cursor:pointer">{{transaction.agentId}}</td>
                    <td ng-click="traceByApplication(transaction)" style="cursor:pointer">{{transaction.remoteAddr}}</td>
                    <td ng-click="traceByApplication(transaction)" style="cursor:pointer">{{transaction.traceId}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>