<div class="sidebar-title-directive">
    <h3 ng-show="stTitle">
        <span style="float:left;" ng-show="stTitle" data-toggle="tooltip" data-placement="bottom" title="{{stTitle}}">
            <img ng-src="{{stImage}}" style="height:25px;" ng-if="stImageShow"/>
            <span>{{stTitle}}</span>
        </span>
        <span style="float:left;padding:12px;" ng-show="stTitle2" class="glyphicon glyphicon-arrow-right"></span>
        <span style="float:left;" ng-show="stTitle2" data-toggle="tooltip" data-placement="bottom" title="{{stTitle2}}">
            <img ng-src="{{stImage2}}" style="height:25px;" ng-if="stImage2Show"/>
            <span>{{stTitle2}}</span>
        </span>
        <select ng-show="isWas" ng-model="currentAgent" ng-change="changeAgent()" class="form-control" style="float:right;width:160px;margin-top:10px;padding:2px 4px;height:24px;line-height:1;font-size:12px">
            <option value="All" selected>All</option>
            <option ng-repeat="agentName in agentList" value="{{agentName}}">{{agentName}}</option>
        </select>
    </h3>
	<div class="server-list-title" ng-show="showServerListHtml">
		<span>
			<button type="button" class="btn btn-success btn-xs" ng-click="showServerList()"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;View Servers</button>
		</span>
		<span style="border-right: 1px solid #EAEAEA;">Total <span>{{serverCount}}</span></span>
		<span>Error <span style="color:red;">{{errorServerCount}}</span></span>
	</div>
</div>
