<div class="sidebar-title-directive">
    <h3>
        <span style="float:left;" data-toggle="tooltip" data-placement="bottom" title="{{fromNodeName}}">
            <img ng-src="{{fromNodeIcon}}" style="height:25px;"/>
            <span>{{fromNodeName}}</span>
        </span>
        <span style="float:left;padding:12px;" ng-show="isNode === false" class="glyphicon glyphicon-arrow-right"></span>
        <span style="float:left;" ng-show="isNode === false" data-toggle="tooltip" data-placement="bottom" title="{{toNodeName}}">
            <img ng-src="{{toNodeIcon}}" style="height:25px;"/>
            <span>{{toNodeName}}</span>
        </span>
        <select ng-show="isWas" ng-model="currentAgent" ng-change="changeAgent()" class="form-control" style="float:right;width:160px;margin-top:10px;padding:2px 4px;height:24px;line-height:1;font-size:12px">
            <option value="All" selected>All</option>
            <option ng-repeat="agentName in agentList" value="{{agentName}}">{{agentName}}</option>
        </select>
    </h3>
	<div class="server-list-title" ng-show="hasServerList">
		<span>
			<button type="button" class="btn btn-success btn-xs" ng-click="showServerList()"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;View Servers</button>
			<button type="button" class="btn btn-success btn-xs" ng-click="openApplicationInspector()" ng-if="isWasNode()"><i class="xi-chart-line"></i>&nbsp;&nbsp;Inspector</button>
		</span>
		<span style="border-right: 1px solid #EAEAEA;">Total <span>{{serverCount}}</span></span>
		<span>Error <span style="color:red;">{{errorServerCount}}</span></span>
	</div>
</div>
