.l-main-contents-top {
    display: flex;
    flex-flow: row wrap;
    margin: 11px 0 0 25px;
    align-items: center;
    top: 0;
    right: 0;
    z-index: 8;
    padding:0 10px;
    font-size:13px;
    justify-content: flex-end;
    position:absolute;
}
.fas {
    color:#a8acb5;
    font-size:18px;
}

.l-fixed-period-mover-wrapper {
    margin-right: 4px;
}

.l-search-result-viewer-wrapper {
    margin-right: 10px;
}
