:host {
    display: block;
    height: 38px;
}
.l-container-wrapper {
    display: flex;
    flex-flow: row wrap;
    background: #F5F5F5;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    width: 100%;
    height: 100%;
    padding: 4px 4px 4px 11px;
}
.l-container-wrapper button {
    color: #a8acb5;
    font-size: 18px;
}
.l-wrapper {
    width: 205px;
    height: 100%;
    color: #b3b3b4;
    position: relative;
    margin-right: 7px;
}
.l-wrapper input {
    width: 100%;
    height: 100%;
    border: 1px solid #d7dde4;
    background-color: #fff;
    padding: 9px 8px 9px 11px;
}
.l-wrapper input:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 1px 1px var(--primary-color);
    outline: none;
}
.l-wrapper button {
    position: absolute;
    top: 50%;
    right: 8px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

::placeholder {
    font-size: 12px;
}
