:host {
    display: block;
}
ul {
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    list-style-type: none;
}
li {
    padding: 10px;
    list-style: none;
}
.l-one-depth-list > li {
    border-bottom: 1px solid #E5E5E5;
}

.l-one-depth-list > li > div {
    padding: 2px 4px;
}

.l-one-depth-list > li:last-of-type {
    border-bottom: none;
}
li.l-selectable-command {
    cursor: pointer;
}
li.l-selectable-command:hover {
    color: #FFF;
    background-color: #4B99E3;
}
.l-two-depth-list {
    padding-top: 10px;
}
.l-two-depth-list li {
    padding: 2px 4px 2px 14px;
}
.fas {
    margin-right: 4px;
}
