:host {
    display: block;
    user-select: none;
}
.l-timeline-svg {
    width: 100%;
}
.l-timeline-svg text { 
    user-select: none;
}
.hide {
    display: none;
}
.background rect {
    fill: var(--background-primary-darker);
}

.selection-zone rect {
    fill: rgba(29, 27, 27, 0.5);
}
.x-axis text {
    font-size: 12px;
    text-anchor: middle;
}
.x-axis line {
    stroke: var(--text-knockout);
    stroke-width: 0.5;
    stroke-linecap: square;
}
.left-handler rect, .right-handler rect {
    fill: var(--background-default);
}
.left-handler line, .right-handler line {
    stroke: var(--border-default);
    stroke-width: 2;
}
.guide line {
    stroke: var(--status-danger-lighter);
    stroke-width: .5;
    stroke-linecap: square;
    stroke-dasharray: 2, 2;
}
.guide circle {
    stroke: var(--status-danger-lighter);
    stroke-width: 2;
}
.selection-point line {
    stroke: var(--yellow-default);
    stroke-width: 1;
}
.selection-point circle {
    fill: var(--yellow-default);
    stroke: var(--border-default);
    stroke-width: 2;
}
.events line {
    stroke: var(--border-default);
    stroke-width: 1;
}
.events circle {
    fill: var(--orange-700);
}
.events text {
    fill: var(--text-knockout);
    font-size: 11px;
}
image {
    cursor: pointer;
}
.event {
    cursor: pointer;
}
.loading {
    fill: rgba(170, 170, 170, 0.1);
}
.loading rect {
    stroke-width: 2px;
}
.loading rect:nth-child(2) {
    stroke: rgba(197, 197, 197, .9);
}
.loading rect:nth-child(3) {
    stroke: rgba(239, 246, 105, .9);
}
.time-left-signboard text, .time-right-signboard text {
    font-size: 13px;
}
.time-series-signboard text {
    fill: var(--text-secondary-lighter);
}