:host {
    display: block;
    width: 100%;
    height: 100%;
}
.l-transaction-view-top {
    height: 100%;
    display: flex;
}
.l-left-section, .l-right-section {
    width: 50%;
    height: 100%;
    padding: 5px 25px
}
.l-left-section {
    background-color: #fff;
}
.l-tab-menu-list {
    border-bottom: 1px solid #e6e8ec;
}
.l-tab-menu-list:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    visibility: hidden;
    clear: both;
}
.l-tab-menu-list-item {
    float: left;
}
.l-tab-menu-list-item a {
    cursor: pointer;
    display:inline-block;
    font-size: 13px;
    color: #666;
    padding: 14px 15px;
    border: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    line-height: 1em;
}
.l-tab-menu-list-item:hover a {
    border-color: #e6e8ec #e6e8ec #fff;
}
.active a {
    color: #fff;
    background: var(--primary-color);
}
.active a:hover {
    border-color: transparent;
}
.l-right-section {
    position: relative;
}