:host {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.l-main-contents {
    width: 100%;
    /* height: 100%; */
    height: calc(100% - 38px);
    position: relative;
    overflow: auto;
}

.l-chart-option-area {
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px 0 15px;
    margin-bottom: 20px;
}

.l-guide-text {
    font-family: 'Open Sans';
    color: var(--text-primary);
    font-size: 14px;
    font-style: italic;
}

.l-chart-group-wrap {
    display: grid;
    width: 100%;
    column-gap: 10px;
    row-gap: 10px;
    /* padding: 10px; */
    min-height: 0;
    min-width: 0;
}

.l-chart-wrapper {
    overflow: hidden;
    min-width: 0;
}

/* .l-chart-wrapper:not(:last-child) {
    margin-bottom: 20px;
} */

.l-page-title-wrapper {
    /* padding: 5px 0px; */
    margin-bottom: 15px;
}

.l-page-title {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.l-beta-text {
    font-style: italic;
    font-weight: bold;
    color: var(--primary);
    margin-left: 5px;
}

.l-page-title-icon {
    margin-right: 5px;
}
