<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div id="fork-me">
            <a href="https://github.com/siddii/angular-timer/fork" title="Fork me on GitHub"><img
                    alt="Fork me on GitHub" src="docs/images/forkme.png"/></a></div>
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="index.html">Angular Timer</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Examples </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="index.html#basic-timer">Basic Example</a></li>
                            <li>
                                <a href="index.html#clock-timer">Clock Timer</a></li>
                            <li>
                                <a href="index.html#timer-with-start-time">Timer with start time</a></li>
                            <li>
                                <a href="index.html#progressbar-timer">Progressbar Timer</a></li>
                            <li>
                                <a href="index.html#countdown-timer">Countdown Timer</a>
                            </li>
                            <li>
                                <a href="index.html#auto-start-false-timer">Timer with <em>auto-start=false</em></a>
                            </li>
                        </ul>
                    </li>
                    <li ng-non-bindable="">
                        <a href="index.html#markup">&lt;timer/&gt;</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Usage From</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="examples.html#angularjs-single-timer">AngularJS - Single Timer</a></li>
                            <li>
                                <a href="examples.html#angularjs-multiple-timer">AngularJS - Multiple Timers</a></li>
                            <li><a href="examples.html#angularjs-polling-timer">AngularJS - Polling Timers</a></li>
                            <li>
                                <a href="examples.html#jquery-timer">jQuery</a></li>
                            <li>
                                <a href="examples.html#plain-javascript">Plain JavaScript</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Code</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://github.com/siddii/angular-timer" target="_new">View on Github</a>
                            </li>
                            <li>
                                <a href="index.html#bower">Install using Bower</a>
                            </li>
                            <li>
                                <a href="https://github.com/siddii/angular-timer/archive/master.zip" target="_new">Download</a>
                            </li>
                            <li>
                                <a href="index.html#contribute">Contribute</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
