<div class="transaction-table-directive">
    <div class="transaction-table-directive_wrapper">
        <div class="transaction-table-directive_header"></div>
        <table class="transaction-table-directive_table table table-condensed table-hover" cellspacing="0">
            <thead>
            <tr>
                <th>
                    <div class="th-inner" ng-click="transactionOrder('index')" style="cursor:pointer"># <span
                            ng-show="transactionOrderBy == 'index'" class="glyphicon"
                            ng-class="{true: 'glyphicon-arrow-down', false: 'glyphicon-arrow-up'}[transactionReverse]"></span></div>
                </th>
                <th>
                    <div class="th-inner" ng-click="transactionOrder('startTime')" style="cursor:pointer">Start Time <span
                            ng-show="transactionOrderBy == 'startTime'" class="glyphicon"
                            ng-class="{true: 'glyphicon-arrow-down', false: 'glyphicon-arrow-up'}[transactionReverse]"></span></div>
                </th>
                <th>
                    <div class="th-inner" ng-click="transactionOrder('application')" style="cursor:pointer">Path
                        <span ng-show="transactionOrderBy == 'application'"  class="glyphicon"
                           ng-class="{true: 'glyphicon-arrow-down', false: 'glyphicon-arrow-up'}[transactionReverse]"></span></div>
                </th>
                <th>
                    <div class="th-inner" ng-click="transactionOrder('elapsed')" style="cursor:pointer">Res. (ms)
                        <span ng-show="transactionOrderBy == 'elapsed'" class="glyphicon"
                           ng-class="{true: 'glyphicon-arrow-down', false: 'glyphicon-arrow-up'}[transactionReverse]"></span></div>
                </th>
                <th>
                    <div class="th-inner" ng-click="transactionOrder('exception')" style="cursor:pointer">Exception <span
                            ng-show="transactionOrderBy == 'exception'" class="glyphicon"
                            ng-class="{true: 'glyphicon-arrow-down', false: 'glyphicon-arrow-up'}[transactionReverse]"></span></div>
                </th>
                <th>
                    <div class="th-inner" ng-click="transactionOrder('agentId')" style="cursor:pointer">Agent <span
                            ng-show="transactionOrderBy == 'agentId'" class="glyphicon"
                            ng-class="{true: 'glyphicon-arrow-down', false: 'glyphicon-arrow-up'}[transactionReverse]"></span></div>
                </th>
                <th>
                    <div class="th-inner" ng-click="transactionOrder('remoteAddr')" style="cursor:pointer">Client IP <span
                            ng-show="transactionOrderBy == 'remoteAddr'" class="glyphicon"
                            ng-class="{true: 'glyphicon-arrow-down', false: 'glyphicon-arrow-up'}[transactionReverse]"></span></div>
                </th>
                <th>
                    <div class="th-inner" ng-click="transactionOrder('transactionSequence')" style="cursor:pointer">
                        Transaction <span ng-show="transactionOrderBy == 'transactionSequence'" class="glyphicon"
                                   ng-class="{true: 'glyphicon-arrow-down', false: 'glyphicon-arrow-up'}[transactionReverse]"></span>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody style="overflow: auto;height:100%">
                <tr ng-repeat="transaction in transactionList | orderBy:transactionOrderBy:transactionReverse"
                    ng-class="{true: 'success', false: {'danger': transaction.exception}}[transaction == currentTransaction]">
                    <td style="vertical-align: middle">
                        <div style='padding-right:5px;text-align:right;position:relative;'>
                            <a href ng-href="/transactionInfo.pinpoint?traceId={{transaction.traceId}}&focusTimestamp={{transaction.collectorAcceptTime}}"
                               target="_blank" style="position:absolute;top:0;left:0;width:15px;height:15px;"></a>
                            {{transaction.index | number}}
                        </div>
                    </td>
                    <td ng-click="traceByApplication(transaction)" style="cursor:pointer;vertical-align: middle" sorttable_customkey="{{transaction.startTime}}">{{transaction.startTime | date:'MM/dd HH:mm:ss sss'}}
                    </td>
                    <td ng-click="traceByApplication(transaction)" style="cursor:pointer;vertical-align: middle">
                        {{transaction.application}}
                        <a ng-click="openTransactionView(transaction);$event.stopPropagation()" target="_blank" title="Open Mixed View in New Window" data-toggle="tooltip" data-placement="right"><span class="glyphicon glyphicon-list-alt"></span></a>
                    <td ng-click="traceByApplication(transaction)" style='cursor:pointer;padding-right:15px;text-align:right;vertical-align: middle'>{{transaction.elapsed | number}}</td>
                    <td ng-click="traceByApplication(transaction)" style="cursor:pointer;text-align:center;;vertical-align: middle"><span class="glyphicon glyphicon-fire" ng-show="transaction.exception == 1"></span></td>
                    <td ng-click="traceByApplication(transaction)" style="cursor:pointer;vertical-align: middle">{{transaction.agentId}}</td>
                    <td ng-click="traceByApplication(transaction)" style="cursor:pointer;vertical-align: middle">{{transaction.remoteAddr}}</td>
                    <td ng-click="traceByApplication(transaction)" style="cursor:pointer;vertical-align: middle">{{transaction.traceId}}</td>
                    <td ng-if="transaction.logPageUrl"><a class="btn btn-default btn-xs" href="{{transaction.logPageUrl}}" target="_blank">{{transaction.logButtonName}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>