.l-target-item {
    display: flex;
    padding: 4px 10px 4px 4px;
    cursor: pointer;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #F3F3F3;
}
.l-target-item:hover {
    background-color: #c1ecff;
}
.l-target-item.selected {
    color: #1BABF4;
    font-weight: 600;
}
.l-target-item:last-of-type {
    border-bottom: none;
}
.l-application-name {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
button {
    font-size: 11px;
    padding: 1px 3px 0px 3px;
}

button:first-of-type {
    color: #4b99e3;
    border: #CCC 1px solid;
    margin-right: 1px;
}
button:last-of-type {
    color: #e95459;
    border: #CCC 1px solid;
    margin-right: 8px;
}

