###########################################################
# JDBC                                                    #
###########################################################

#
# SQLite
#
profiler.jdbc.sqlite=true
profiler.jdbc.sqlite.tracesqlbindvalue=true
profiler.jdbc.sqlite.maxsqlbindvaluesize=1024
profiler.jdbc.sqlite.setautocommit=true
profiler.jdbc.sqlite.commit=true
profiler.jdbc.sqlite.rollback=true