:host {
    display: block;
    position: relative;
    width: 115px;
}
.fa-sign-in-alt, .fa-sign-out-alt {
    color: #33b692;
}
button {
    outline: none;
}
.l-wrapper {
    border: 1px solid #ccc;
}
.l-dropdown-button {
    text-align: left;
    width: 100%;
    background-color: #fff;
    font-size: 13px;
    padding: 7px 0 6px 0;
    outline: 0;
}
.l-dropdown-button > .fa-angle-down {
    font-size: 15px;
    display: inline-block;
    margin-left: 9px;
    color: #33b692;
}

.l-bound-text {
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    color: #333;
}

.l-dropdown-menu-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #e5e8f0;
    border-radius: 2px;
    margin-top: 2px;
    background-color: #fff;
    width: 180px;
}

.l-inbound-list {
    border-right: 1px solid #e5e8f0;
}

.l-inbound-list, .l-outbound-list {
    width: 50%;
    text-align: center;
}

.l-bound-list-item {
    font-weight: 600;
    color: #333;
    font-size: 13px;
    padding: 5px 10px;
    cursor: pointer;
}

.l-bound-title {
    padding: 5px 10px;
    color: #333;
    background-color: #edf2f8;
    font-weight: 600 !important;
    font-size: 13px;
    border-bottom: 1px solid #e5e8f0;
}

.l-bound-list-item:hover {
    background-color: #eee;
    color: var(--primary-color);
}

.l-bound-list-item.active {
    color: var(--primary-color);
    background-color: #edf2f8;
}

.l-button-group-wrapper {
    width: 100%;
    border-top: 1px solid #e5e8f0;
    padding: 2px;
    text-align: right;
}

.l-apply-button {
    font-size: 12px !important;
    background-color: var(--primary-color);
    margin-left: 2px;
    color: #fff;
}

.l-cancel-button {
    font-size: 12px !important;
}
