<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:hdp="http://www.springframework.org/schema/hadoop"
       xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd

		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="com.nhn.pinpoint.web.dao.hbase,
                                         com.nhn.pinpoint.web.service,
                                         com.nhn.pinpoint.web.mapper,
                                         com.nhn.pinpoint.web.filter" />

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:hbase.properties</value>
            </list>
        </property>
    </bean>

    <import resource="classpath:applicationContext-hbase.xml" />
    <!--<import resource="classpath:applicationContext-cache.xml" />-->

    <bean id="spanMapper" class="com.nhn.pinpoint.web.mapper.SpanMapper"></bean>
    <bean id="annotationMapper" class="com.nhn.pinpoint.web.mapper.AnnotationMapper"></bean>
    <bean id="spanAnnotationMapper" class="com.nhn.pinpoint.web.mapper.SpanMapper">
        <property name="annotationMapper" ref="annotationMapper"/>
    </bean>
    
    <bean id="jsonObjectMapper" class="org.codehaus.jackson.map.ObjectMapper"></bean>
   
</beans>
