<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:beans="http://www.springframework.org/schema/beans" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:hdp="http://www.springframework.org/schema/hadoop"
       xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop.xsd">

    <context:annotation-config/>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>hbase.properties</value>
                <value>pinpoint-collector.properties</value>
            </list>
        </property>

    </bean>

    <util:properties id="pinpoint-collector.properties" location="classpath:pinpoint-collector.properties" />

    <bean id="collectorConfiguration" class="com.nhn.pinpoint.collector.config.CollectorConfiguration">
        <property name="properties" ref="pinpoint-collector.properties"></property>
    </bean>

    <import resource="classpath:hbase-applicationContext.xml"></import>

    <bean id="DispatchHandler" class="com.nhn.pinpoint.collector.receiver.DispatchHandler"></bean>

    <bean id="JvmDataHandler" class="com.nhn.pinpoint.collector.handler.JVMDataHandler"/>
    <bean id="SpanHandler" class="com.nhn.pinpoint.collector.handler.SpanHandler"/>
    <bean id="AgentInfoHandler" class="com.nhn.pinpoint.collector.handler.AgentInfoHandler"/>
    <bean id="SpanEventHandler" class="com.nhn.pinpoint.collector.handler.SpanEventHandler"/>
    <bean id="SpanChunkHandler" class="com.nhn.pinpoint.collector.handler.SpanChunkHandler"/>
    <bean id="SqlMetaDataHandler" class="com.nhn.pinpoint.collector.handler.SqlMetaDataHandler"/>
    <bean id="ApiMetaDataHandler" class="com.nhn.pinpoint.collector.handler.ApiMetaDataHandler"/>
    <bean id="StatisticsHandler" class="com.nhn.pinpoint.collector.handler.StatisticsHandler"/>

    <bean class="com.nhn.pinpoint.common.io.DefaultTBaseLocator"></bean>

    <bean class="com.nhn.pinpoint.collector.dao.hbase.HbaseTraceIndexDao"></bean>
    <bean class="com.nhn.pinpoint.collector.dao.hbase.HbaseTraceDao"></bean>
    <bean class="com.nhn.pinpoint.collector.dao.hbase.HbaseJvmInfoDao"></bean>
    <bean class="com.nhn.pinpoint.collector.dao.hbase.HbaseApplicationIndexDao"></bean>
    <bean class="com.nhn.pinpoint.collector.dao.hbase.HbaseApplicationTraceIndexDao"></bean>
    <bean class="com.nhn.pinpoint.collector.dao.hbase.HbaseAgentIdApplicationIndexDao"></bean>
    <bean class="com.nhn.pinpoint.collector.dao.hbase.HbaseAgentInfoDao"></bean>
    <bean class="com.nhn.pinpoint.collector.dao.hbase.HbaseTerminalStatisticsDao"></bean>
    <bean class="com.nhn.pinpoint.collector.dao.hbase.HbaseSqlMetaDataDao"></bean>
    <bean class="com.nhn.pinpoint.collector.dao.hbase.HbaseApiMetaDataDao"></bean>
    <bean class="com.nhn.pinpoint.collector.dao.hbase.HbaseBusinessTransactionStatisticsDao"></bean>
    <bean class="com.nhn.pinpoint.collector.dao.hbase.HbaseClientStatisticsDao"></bean>
	<bean class="com.nhn.pinpoint.collector.dao.hbase.HbaseApplicationMapStatisticsCallerDao" id="applicationMapStatisticsCallerDao">
		<beans:constructor-arg name="useBulk" value="true" />
	</bean>
	<bean class="com.nhn.pinpoint.collector.dao.hbase.HbaseApplicationMapStatisticsCalleeDao" id="applicationMapStatisticsCalleeDao">
		<beans:constructor-arg name="useBulk" value="true" />
	</bean>
	<bean class="com.nhn.pinpoint.collector.dao.hbase.HbaseApplicationStatisticsDao" id="applicationMapStatisticsDao">
		<beans:constructor-arg name="useBulk" value="true" />
	</bean>
	<bean class="com.nhn.pinpoint.collector.dao.hbase.HbaseHostApplicationMapDao"></bean>

    <bean id="applicationNameMapper" class="com.nhn.pinpoint.collector.dao.mapper.ApplicationNameMapper"></bean>

    <bean id="acceptedTimeService" class="com.nhn.pinpoint.collector.util.ThreadLocalAcceptedTimeService"></bean>
    
    <bean id="daoAutoFlusher" class="com.nhn.pinpoint.collector.dao.AutoFlusher" init-method="initialize" destroy-method="shutdown">
    	<beans:property name="cachedStatisticsDaoList">
    		<beans:list>
    			<beans:ref bean="applicationMapStatisticsDao"/>
    			<beans:ref bean="applicationMapStatisticsCalleeDao"/>
    			<beans:ref bean="applicationMapStatisticsCallerDao"/>
    		</beans:list>
    	</beans:property>
    </bean>

    <bean id="rowKeyDistributor" class="com.sematext.hbase.wd.RowKeyDistributorByHashPrefix">
        <constructor-arg>
            <ref bean="hasher"></ref>
        </constructor-arg>
    </bean>

    <bean id="hasher" class="com.sematext.hbase.wd.RowKeyDistributorByHashPrefix$OneByteSimpleHash">
        <constructor-arg>
            <value type="int">32</value>
        </constructor-arg>
    </bean>
</beans>