<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "" "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="general" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}[%-5p] (%F:%L) %m%n" />
		</layout>
	</appender>

	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<param name="locationInfo" value="true" />
		<appender-ref ref="general" />
		<!-- <appender-ref ref="important"/> -->
	</appender>

	<root>
		<level value="ERROR" />
		<appender-ref ref="ASYNC" />
	</root>
</log4j:configuration>