<pp-notice-container></pp-notice-container>
<div class="container">
    <pp-side-navigation-bar></pp-side-navigation-bar>
    <div class="l-main-container">
        <pp-app-widget
            [showServermapOption]="false"
            [showTransactionIdSearch]="false">
        </pp-app-widget>
        <section *ngIf="showSideMenu" class="l-sidemenu-wrap font-opensans">
            <div class="l-sidemenu-left">
                <div (click)="onSelectApp()" class="selected-app-wrapper" [class.active]="isAppActivated" [attr.title]="selectedAppName">
                    <img [src]="selectedAppImg" class="app-img"><span class="selected-app-name">{{selectedAppName}}</span>
                </div>
                <pp-server-and-agent-list-container></pp-server-and-agent-list-container>            
            </div>
        </section>
        <section class="l-main-section" [ngStyle]="mainSectionStyle">
            <ng-container *ngIf="isAccessDenyed$ | async">
                <div class="l-cover">
                    <img [src]="unAuthImgPath" class="l-auth-img">
                </div>
            </ng-container>
            <router-outlet></router-outlet>
        </section>
    </div>
</div>
