:host {
    display: block;
    width: 100%;
}

.main-dl:not(:first-of-type) {
    border-top: 1px solid var(--border-primary);
}

.title-group {
    display: block;
    padding: 14px 18px;
    height: auto;
    border-bottom: 1px solid var(--border-primary);
    font-size: 13px;
    font-weight: 600;
    color: var(--text-primary);
}

.title-group > dt {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary);
}

.title-group > dd {
    font-size: 12px;
    color: var(--text-primary-lightest);
    margin-top: 8px;
}

.contents-group .category-title {
    font-size: 13px;
    font-weight: 600;
    color: var(--text-primary);
    margin-bottom: 12px;
    padding-left: 26px;
}

.contents-group .category-item-list {
    display: flex;
    padding: 5px 0;
    line-height: 20px;
}

.category-list {
    padding: 14px 14px;
}

.category-list:not(:last-of-type) {
    border-bottom: 1px solid var(--border-primary);
}

.category-item-list > dt {
    font-size: 12px;
    font-weight: 600;
    color: var(--text-primary-lightest);
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    text-align: center;
}

.category-item-list > dd {
    font-size: 12px;
    color: var(--text-secondary);
    flex: 1;
    display: flex;
    align-items: center;
}
