.l-header {
    padding: 10px;
    margin-left: 14px;
    margin-right: 20px;
}
.l-inactive-remover {
    float: right;
}
.l-inactive-remover button {
    margin-left: 10px;
}
.l-inactive-remover button[disabled] {
    background-color: #AAA;
}
.l-header input {
    width: 300px;
    color: #b3b3b4;
    border: 1px solid #469ae4;
    padding: 6px 11px;
    font-size: 13px;
}
.l-wrapper {
    width: 100%;
    display: grid;
    padding: 10px;
    font-family: sans-serif;
    background-color: #FFF;
    grid-template-rows: auto;
    grid-template-columns: 33% 33% 33%;
}