<div class="l-out-wrapper" [ngClass]="getAgentStateClass()">
    <div class="l-wrapper">   
        <button *ngIf="getAgentState() == 'yet'" (click)="onLoadAgentList()"><i class="fas fa-arrow-circle-down"></i></button>
        <span *ngIf="getAgentState() == 'empty'" class="l-none">empty</span>
        <i class="fas fa-server"></i> {{application.applicationName + '@' + application.serviceType}}
    </div>
    <div class="l-loading" [hidden]="!showLoading">
        <pp-loading [showLoading]="showLoading"></pp-loading>
    </div>
    <div class="l-agent-list" *ngIf="_agentList && _agentList.length > 0">
        <div *ngFor="let agent of _agentList" class="l-wrapper l-agent">
            <button class="btn btn-sm l-remove" (click)="onRemoveAgent(agent.agentId)"><i class="fas fa-trash"></i></button>
            <i class="fas fa-exclamation-circle l-dup" *ngIf="isDup(agent)" [matTooltip]="agent.applicationName" ></i>
            {{agent.agentId}}
        </div>    
    </div>
</div>
