<div class="l-header">
    <input type="text" placeholder="search application..." [(ngModel)]="applicationFilter">
    <div class="l-inactive-remover">
        <mat-slide-toggle
            [checked]="canRemoveInactiveAgent"
            (change)="onChangeCanRemoveInactiveAgent($event)"></mat-slide-toggle>
        <button class="btn btn-lg btn-blue" (click)="onRemoveInactiveAgents()" [disabled]="!canRemoveInactiveAgent">Remove Inactive Agents</button>
    </div>
</div>
<div class="l-wrapper" *ngIf="(applicationList$ | async) as applicationList">
    <ng-container *ngFor="let app of applicationList">
        <pp-agent-manager 
            [hidden]="!hasFilterStr(app.applicationName)"
            [application]="app"
            [agentList]="getAgentList(app)"
            (outRemoveAgent)="onRemoveAgent($event)"
            (outLoadAgentList)="onLoadAgentList($event)"></pp-agent-manager>
    </ng-container>
</div>
<pp-film-for-disable *ngIf="showLoading" [zIndex]="19" [marginWidth]="0"></pp-film-for-disable>    
<pp-loading [showLoading]="showLoading" [zIndex]="20"></pp-loading>