<div style="overflow:hidden;position:relative;height:100%;width:100%;padding-top:2px">
	<div class="timeline" style="width:100%;height:100%;overflow:auto;font-size:11px;">
	    <div ng-repeat="stack in tempCallStacks" style="border-bottom:1px solid #D3D3D3;font-family:Verdana">
	        <div style="cursor:pointer;width:{{getWidth(stack)}}px; background-color:{{getColorByString(stack[key.applicationName])}}; margin-left:{{getMarginLeft(stack)}}px; margin-top:1px;margin-bottom:1px;padding-top:2px;padding-bottom:2px;border-radius:4px" ng-click="moveCallFlow( stack )">
	        	<div style="width:100%;padding-left:4px;overflow-x:visible" ng-mouseenter="mouseEnterCallFlow($event)" ng-mouseleave="mouseLeaveCallFlow($event)">
	        		<span style="position:relative;white-space:nowrap;top:0px">
	        			<span style="position:absolute;text-align:right;white-space:nowrap;left:-70px;" ng-hide="getMarginLeft(stack) < 68"><span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span> {{getStartTime(stack)}}ms</span>
						{{stack[key.applicationName]}}/{{stack[key.apiType]}}({{stack[key.end] - stack[key.begin]}}ms) 
						<span style="white-space:nowrap;" ng-hide="getMarginLeft(stack) >= 68">( <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span> {{getStartTime(stack)}}ms )</span>
	        		</span>
	        	</div>
	        </div>
	    </div>
	    <div ng-show="newCallStacks.length > countPerPage" style="margin-left:50%;padding:8px 0px 10px 0px;">
		   	<button type="button" ng-click="more()" class="btn btn-info btn-sm ng-binding active tada" ng-disabled="renderedAll" ng-class="{true:'wait',false:'active tada'}[disableMore]"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span><span> ({{renderedCount}}/{{newCallStacks.length}})</span></button>
		</div>
	</div>
</div>