:host {
    display: block;
    height: 32px;
}
.l-wrapper {
    cursor: pointer;
    display: block;
    padding: 8px 6px 6px 8px;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.l-wrapper img {
    float: left;
    width: 22px;
    height: 18px;
    margin-right: 10px;
}
.l-wrapper.active {
    color: #418CD3;
    font-weight: 600;
    box-shadow: 2px 2px 5px 0px rgba(53,61,117,1);
}
.l-wrapper:hover {
    color: #FFF;
    cursor: pointer;
    background-color: #418CD3;
}
