:host {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 752px;
    max-width: 1000px;
    height: 730px;
    background-color: #fff;
    border: 1px solid #e5e8f0;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
}
.l-title-group {
    padding: 17px 18px;
    height: auto;
    background-color: #FFF;
    border-bottom: 1px solid #E5E8F0;
    position: relative;
    font-size: 13px;
    font-weight: 600;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.l-title-group dt {
    font-weight: normal;
    font-size: 20px;
    color: var(--primary-color);
}
.l-popup-close {
    font-size: 30px;
}
.l-contents-group {
    padding: 17px 18px 0px 18px;
}
.l-table {
    width: 100%;
    display: grid;
    position: relative;
    font-size: 13px;
    grid-template-columns: 140px 286px 286px;
    grid-template-rows: 46px 140px 21px 195px 106px 64px;
}
.l-table > div {
    display: flex;
    padding: 10px 15px;
    border-bottom: 1px solid #E5E8F0;
    border-right: 1px solid #E5E8F0;
}
.l-table .first-row {
    border-top: 1px solid #E5E8F0;
}
.l-table .first-row img {
    margin-right: 8px;
}
.l-table .first-row span {
    float: left;
    margin-left: -25px;
    margin-right: 10px;
    font-size: 18px;
    color: var(--primary-color);
}
.l-table .col1 {
    padding: 0;
    border-left: 1px solid #E5E8F0;
}
.row-col-1-1 {
    grid-column: 1 / 2;
     /* autoprefixer: off */
    grid-row: 1 / 2;
}
.row-col-1-2 {
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.row-col-1-3 {
    align-items: center;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.row-col-2-1 {
    grid-column: 1;
    grid-row: 2;
}
.row-col-2-2 {
    overflow-y: auto;
    padding: 0 !important;
    grid-column: 2;
    grid-row: 2;
}
.row-col-2-3 {
    overflow-y: auto;
    padding: 0 !important;
    grid-column: 3;
    grid-row: 2;
}
.row-col-3 {
    grid-column: 1 / 4;
    grid-row: 3;
}
.row-col-4-1 {
    grid-column: 1;
    grid-row: 4;
}
.row-col-4-2 {
    flex-flow: row wrap;
    grid-column: 2 / 4;
    grid-row: 4;
}
.row-col-5-1 {
    grid-column: 1;
    grid-row: 5;
}
.row-col-5-2 {
    grid-column: 2 / 4;
    grid-row: 5;
}
.row-col-6-1 {
    grid-column: 1;
    grid-row: 6;
}
.row-col-6-2 {
    grid-column: 2 / 4;
    grid-row: 6;
}
.col1 {
    justify-content: center;
    align-items: center;
    font-size: 13px;
    background-color: #f6f8fb;
}
.ellipsis {
    display : block;
    overflow : hidden;
    white-space : nowrap;
    text-overflow : ellipsis;
}
.l-application-list {
    width: 100%;
    cursor: pointer;
    margin: 0;
    padding: 0;
    list-style: none;
}
.l-application-list li {
    padding: 7px 15px;
    font-size: 13px;
}
.l-application-list li.active {
    color: #fff;
    font-weight: 600;
    background-color: var(--primary-color);
}
.l-application-list li:hover {
    color: #000;
    background-color: #e4f3eb;
}
.l-widget-group {
    padding: 0;
    width: 100%;
}
.l-widget-group input {
    border: 1px solid #ccc;
    font-size: 13px;
    color: #333;
    padding: 6px 11px;
    width: 100%;
}
.l-widget-group input:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 1px 1px var(--primary-color);
    outline: none;
}
.l-pattern-guide {
    margin-top: 6px;
    border: 1px solid #e6e8ec;
    background-color: #F6F8FB;
}
.l-pattern-guide tr td:first-child {
    padding:4px;
    font-size: 11px;
    text-align: center;
}
.l-pattern-guide tr td:last-child {
    padding:4px;
    font-size: 11px;
}
.l-pattern-guide td {
    border: none;
}
.l-pattern-guide tr:last-child {
    border-top: 1px solid #e6e8ec;
}
.l-response-time {
    display: block !important;
    padding: 30px 30px 10px 30px !important;
    font-size: 11px !important;
}
.l-response-time div.noUi-connect {
    background-color: #3dcfa8 !important;
}
.l-range-info {
    text-align: center !important;
}
.l-range-info span:first-child {
    float: left;
}
.l-range-info .l-range-text {
    color: var(--primary-color);
}
.l-range-info span:last-child {
    float: right;
    margin-right: -26px;
}
.l-transaction-result {
    width: 100%;
}
.l-transaction-result button {
    float: left;
    width: 33.3%;
    border: 1px solid #E6E8EC;
    padding: 12px;
    font-size: 13px;
    font-weight: 600;
}
.l-transaction-result button.active {
    color: #fff;
    background: var(--primary-color);
    border-color: transparent;
}

.l-buttons {
    text-align: right;
    padding-top: 14px;
}
.l-cancel-button {
    margin-right: 15px;
}
