:host {
    display: block;
    width: 100%;
    height: 100%;
}
.l-popup-section {
    display: flex;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.l-popup-section:before {
    content:'';
    display:block;
    height:100%;
    width:100%;
    background: var(--background-knockout);
    opacity:0.6;
    position:absolute;
    left:0;
    top:0;
}
.l-popup-section article {
    width: 90%;
    min-width: 500px;
    max-width: 1000px;
    box-shadow: 1 1 10px 0 rgba(0, 0, 0, 0.75);
    position: static;
    background: var(--background-default);
    border: 1px solid var(--border-primary);
    text-align: left;
    z-index: 10;
}
.l-contents-group {
    background: var(--background-primary);
    padding: 17px 18px;
    overflow-y: auto;
}
.l-sql-list {
    margin: 0;
}
.l-sql-list dt {
    font-size: 13px;
    font-weight: 600;
    color: var(--text-primary);
    margin: 0 0 12px;
}
.l-sql-list dd {
    border: 1px solid var(--border-primary);
    background: var(--background-default);
    padding: 28px 28px;
    font-size: 13px;
    color: var(--text-secondary);
    line-height: 2em;
    position: relative;
}
