<article class="l-date-range">
    <pp-timeline-command-group-container></pp-timeline-command-group-container>
    <pp-agent-inspector-timeline-container></pp-agent-inspector-timeline-container>
</article>
<pp-agent-event-view-container></pp-agent-event-view-container>
<div class="l-main-contents">
    <pp-agent-info-container></pp-agent-info-container>
    <div class="l-chart-group-wrap">
        <pp-agent-jvm-heap-chart-container></pp-agent-jvm-heap-chart-container>
        <pp-agent-jvm-non-heap-chart-container></pp-agent-jvm-non-heap-chart-container>
        <pp-agent-cpu-chart-container></pp-agent-cpu-chart-container>
        <div class="l-empty-content"></div>
        <pp-agent-tps-chart-container></pp-agent-tps-chart-container>
        <pp-agent-active-thread-chart-container></pp-agent-active-thread-chart-container>
        <pp-agent-response-time-chart-container></pp-agent-response-time-chart-container>
        <pp-agent-open-file-descriptor-chart-container></pp-agent-open-file-descriptor-chart-container>
        <pp-agent-data-source-chart-container></pp-agent-data-source-chart-container>
        <div class="l-empty-content"></div>
        <pp-agent-direct-buffer-count-chart-container></pp-agent-direct-buffer-count-chart-container>
        <pp-agent-direct-buffer-memory-chart-container></pp-agent-direct-buffer-memory-chart-container>
        <pp-agent-mapped-buffer-count-chart-container></pp-agent-mapped-buffer-count-chart-container>
        <pp-agent-mapped-buffer-memory-chart-container></pp-agent-mapped-buffer-memory-chart-container>
    </div>
</div>
