<article class="l-date-range">
    <pp-timeline-command-group-container></pp-timeline-command-group-container>
    <pp-agent-inspector-timeline-container></pp-agent-inspector-timeline-container>
    <ng-container *ngIf="coverRangeElements$ | async">
        <div class="l-cover"></div>
    </ng-container>
</article>
<pp-agent-event-view-container></pp-agent-event-view-container>
<div class="l-main-contents">
    <pp-agent-info-container></pp-agent-info-container>
    <pp-chart-layout-option-container></pp-chart-layout-option-container>
    <div class="l-chart-group-wrap" [style.gridTemplateColumns]="gridLayout$ | async | safeStyle">
        <div class="l-chart-wrapper"><pp-agent-jvm-heap-chart-container></pp-agent-jvm-heap-chart-container></div>
        <div class="l-chart-wrapper"><pp-agent-jvm-non-heap-chart-container></pp-agent-jvm-non-heap-chart-container></div>
        <div class="l-chart-wrapper"><pp-agent-cpu-chart-container></pp-agent-cpu-chart-container></div>
        <div class="l-chart-wrapper"><pp-agent-tps-chart-container></pp-agent-tps-chart-container></div>
        <div class="l-chart-wrapper"><pp-agent-active-thread-chart-container></pp-agent-active-thread-chart-container></div>
        <div class="l-chart-wrapper"><pp-agent-response-time-chart-container></pp-agent-response-time-chart-container></div>
        <div class="l-chart-wrapper"><pp-agent-open-file-descriptor-chart-container></pp-agent-open-file-descriptor-chart-container></div>
        <div class="l-chart-wrapper"><pp-agent-direct-buffer-count-chart-container></pp-agent-direct-buffer-count-chart-container></div>
        <div class="l-chart-wrapper"><pp-agent-direct-buffer-memory-chart-container></pp-agent-direct-buffer-memory-chart-container></div>
        <div class="l-chart-wrapper"><pp-agent-mapped-buffer-count-chart-container></pp-agent-mapped-buffer-count-chart-container></div>
        <div class="l-chart-wrapper"><pp-agent-mapped-buffer-memory-chart-container></pp-agent-mapped-buffer-memory-chart-container></div>
        <div class="l-chart-wrapper"><pp-agent-data-source-chart-container></pp-agent-data-source-chart-container></div>
    </div>
</div>
