:host {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}
.l-date-range {
    border-bottom: 1px solid #e5e8f0;
    background-color: #FFF;
    min-height: 161px;
    max-height: 1000px
}
.l-main-contents {
    height: 100%;
    position: relative;
    overflow: auto;
}
.l-chart-group-wrap {
    display: flex;
    flex-flow: row wrap;
}
.l-empty-content {
    width: calc(50% - 20px);
    margin: 10px;
}
