li {
    color: #333;
    /* height: 28px; */
    margin: 0;
    cursor: pointer;
    padding: 12px 15px;
    font-size: 13px;    
}

li:hover {
    background: var(--row-background-secondary);
}

li.selected {
    background: var(--row-background-secondary);
}

.l-item-wrapper {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.l-item-wrapper > div {
    float: right;
}

.l-item-wrapper .fa-trash-alt {
    color: #b3b6bf;
    font-size: 15px;
}

.l-item-wrapper .fa-check {
    color: var(--status-danger-lighter);
    margin-left: 10px;
    font-size: 14px;
}

.fa-arrow-left {
    font-size: 14px;
}
