.l-wrapper {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 15;
    display: flex;
    padding: 15px 0px;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-blind);
}

.l-form {
    width: 100%;
    overflow-y: auto;
    max-height: calc(100% - 42px);
    padding: 0 20px;
}

.l-title {
    margin-bottom: 15px;
}

.l-field-wrapper {
    padding: 8px 0px;
}

.l-required-icon {
    color: var(--form-require);
    margin-left: 2px;
}

.l-input {
    border: 1px solid var(--border-primary-darker);
    border-radius: 4px;
    box-shadow: 0 0 1px 0 var(--border-primary-darker);
    padding: 10px 14px;
    font-size: 13px;
    width: 100%;
    display: inline-block;
    outline: 0;
    color: var(--text-primary);
    margin-top: 4px;
    background-color: var(--background-default);
}

.l-input:focus {
    border-color: var(--primary);
    box-shadow: 0 0px 1px 1px var(--primary);
}

.l-label {
    font-weight: 600;
}

.l-wrapper .l-create {
    width: 100%;
    margin-top: 6px;
}

.l-wrapper .l-close {
    top: 0px;
    right: 0px;
    position: absolute;
}

.ng-valid[required]  {
    border-left: 5px solid var(--status-success) !important; 
}

.ng-valid[required]:focus {
    border-color: var(--status-success);
    box-shadow: 0 0 1px 0px var(--status-success);
}

.ng-invalid:not(form).ng-touched  {
    border-left: 5px solid var(--form-require) !important;
    border-color: var(--form-require);
}

.ng-invalid:not(form).ng-touched:focus {
    border-color: var(--form-require);
    box-shadow: 0 0 1px 0px var(--form-require);
}

::ng-deep .iti {
    display: block;
    margin-top: 4px;
}

::ng-deep .iti__selected-flag {
    outline: 0;
}
