:host {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    color: var(--text-primary);
    padding: 12px 15px;
    font-size: 13px;    
}

:host:hover {
    background: var(--background-hover-secondary);
}

:host.selected {
    /* TODO: 체크된 유저에 대한 스타일링 */
    color: var(--primary);
}

.l-btn-section {
    /* float: right; */
}

.fa-arrow-left {
    font-size: 14px;
}

.fa-edit {
    color: var(--text-primary-lightest);
    font-size: 14px;
}

.fa-trash-alt {
    color: var(--icon-default);
    font-size: 15px;
    margin-left: 4px;
}

.fa-check {
    font-size: 14px;
    color: var(--status-danger-lighter);
    margin-left: 8px;
}

.l-checkbox-input {
    cursor: pointer;
}

.l-userinfo-label {
    margin-left: 4px;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
