:host {
    display: block;
    position: relative;
}
.l-chart-item {
    height: 253px;
}
.l-tool-box {
    font-size: 14px;
    color: #b3b5b9;
    text-align: right;
    position: relative;
    padding: 16px 25px 0;
}
.l-tool-box .l-title {
    float: left;
    text-align: left;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin: 0 0 23px;
}
.l-tool-box button {
    font-size: 18px;
    margin: 0;
}
.l-content-section {
    padding: 0 25px 0;
}
.l-no-data {
    padding-top: 60px;
    text-align: center;
    font-weight: 600;
}