<article class="l-chart-item">
    <div class="l-tool-box">
        <p class="l-title">Load</p>
        <button></button>
    </div>
    <div class="l-content-section" [hidden]="hiddenChart">
        <pp-load-chart
            [chartData]="chartData"
            [chartColors]="chartColors"
            (outNotifyMax)="onNotifyMax($event)"
            (outClickColumn)="onClickColumn($event)">
        </pp-load-chart>
    </div>
    <div class="l-no-data" [hidden]="!hiddenChart">
        <span>{{i18nText.NO_DATA}}</span>
    </div>
</article>
<pp-film-for-disable *ngIf="useDisable" [zIndex]="9" [marginWidth]="0"></pp-film-for-disable>    
<pp-loading [showLoading]="showLoading" [zIndex]="10"></pp-loading>