<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.navercorp.pinpoint.uristat.web.dao.PinotUriStatSummaryDao">
    <resultMap id="uriStatSummaryEntity" type="UriStatSummaryEntity">
    </resultMap>

    <select id="uriStatSummary" resultMap="uriStatSummaryEntity" parameterType="UriStatSummaryQueryParameter">
        SELECT
        uri,
        sum(apdexRaw) as apdexRaw,
        sum("count") as totalCount,
        max(maxLatencyMs) as maxTimeMs,
        sum(totalTimeMs) as totalTimeMs,
        sum(failureCount) as failureCount,
        version
        FROM uriStat
        WHERE tenantId = #{tenantId}
        AND applicationName = #{applicationName}
        <if test="agentId != null">
            AND agentId = #{agentId}
        </if>
        AND "timestamp" BETWEEN #{range.from} AND #{range.to}
        GROUP BY uri, version
        ORDER BY ${orderBy} ${isDesc}
        LIMIT #{limit}
    </select>

    <sql id="useMultiStageEngine">
        SET
        useMultiStageEngine = true;
    </sql>

    <sql id="totalChart">
        sum(tot0 + tot1 + tot2 + tot3 + tot4 + tot5 + tot6 + tot7) as tot,
    </sql>

    <sql id="failureChart">
        sum(fail0 + fail1 + fail2 + fail3 + fail4 + fail5 + fail6 + fail7) as fail,
    </sql>

    <sql id="apdexChart">
        sum(apdexRaw) as apdexRaw,
        sum("count") as "count",
    </sql>

    <sql id="latencyChart">
        sum(totalTimeMs) as totalTimeMs,
        max(maxLatencyMs) as maxLatencyMs,
        sum("count") as "count",
    </sql>

    <sql id="selectStatSummary">
        DATETIMECONVERT("timestamp", '1:MILLISECONDS:EPOCH', '1:MILLISECONDS:EPOCH',
        '#{timePrecision.timeSize}:${timePrecision.timeUnit}') as "timestamp",
        uri,
        sum(sum(apdexRaw)) OVER (PARTITION BY uri, version) as totalApdexRaw,
        sum(sum("count")) OVER (PARTITION BY uri, version) as totalCount,
        max(max(maxLatencyMs)) OVER (PARTITION BY uri, version) as maxTimeMs,
        sum(sum(totalTimeMs)) OVER (PARTITION BY uri, version) as sumOfTotalTimeMs,
        sum(sum(failureCount)) OVER (PARTITION BY uri, version) as failureCount,
        version
        FROM uriStat
        WHERE tenantId = #{tenantId}
        AND applicationName = #{applicationName}
        <if test="agentId != null">
            AND agentId = #{agentId}
        </if>
        AND "timestamp" BETWEEN #{range.from} AND #{range.to}
        GROUP BY "timestamp", uri, version
        ORDER BY ${orderBy.optional} ${isDesc}
        LIMIT #{tenTimesLimit}
    </sql>

    <select id="uriStatSummaryTotal" resultMap="uriStatSummaryEntity" parameterType="UriStatSummaryQueryParameter">
        <include refid="useMultiStageEngine"></include>
        SELECT
        <include refid="totalChart"></include>
        <include refid="selectStatSummary"></include>
    </select>

    <select id="uriStatSummaryFailure" resultMap="uriStatSummaryEntity" parameterType="UriStatSummaryQueryParameter">
        <include refid="useMultiStageEngine"></include>
        SELECT
        <include refid="failureChart"></include>
        <include refid="selectStatSummary"></include>
    </select>

    <select id="uriStatSummaryApdex" resultMap="uriStatSummaryEntity" parameterType="UriStatSummaryQueryParameter">
        <include refid="useMultiStageEngine"></include>
        SELECT
        <include refid="apdexChart"></include>
        <include refid="selectStatSummary"></include>
    </select>

    <select id="uriStatSummaryLatency" resultMap="uriStatSummaryEntity" parameterType="UriStatSummaryQueryParameter">
        <include refid="useMultiStageEngine"></include>
        SELECT
        <include refid="latencyChart"></include>
        <include refid="selectStatSummary"></include>
    </select>

</mapper>
