<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        GetVersionInfo();
    });

    function GetVersionInfo() {

        var pathname = window.location.pathname;
        var path = pathname.slice(10,15);
        var versioned = true;
        var tempNum1 = path.slice(0,1);
        var tempNum2 = path.slice(2,3);
        var tempNum3 = path.slice(4,5);

        if($.isEmptyObject(path)){
            versioned = false;
        }else{
            if(isNaN(tempNum1) || isNaN(tempNum2) && isNaN(tempNum3)){
                versioned = false;
            }
        }

        $.getJSON("https://raw.githubusercontent.com/naver/pinpoint/gh-pages/version.json").done(function (data){

            $.each(data, function(key, value) {

                if(versioned && path == value.ver){
                    $('#selbox').append('<option selected="selected" value="http://pinpoint-apm.github.io/pinpoint/'+ value.url +'">'+ value.ver +'</option>');
                }else{
                    $('#selbox').append('<option value="http://pinpoint-apm.github.io/pinpoint/'+ value.url +'">'+ value.ver +'</option>');
                }
            })
        });
    }
</script>


{% assign sidebar = site.data.sidebars[page.sidebar].entries %}

<ul id="mysidebar" class="nav">
    <li class="sidebarTitle">
        <tr>
            <td>
                {{sidebar[0].product}}
            </td>
            <td>
                <select id="selbox" name="ver" onchange="document.location.href=this.value">
                </select>
            </td>
        </tr>
    </li>
    <tr></tr>
    <tr> <td><iframe src="https://ghbtns.com/github-btn.html?user=naver&repo=pinpoint&type=star&count=true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=naver&repo=pinpoint&type=fork&count=true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
    </td> </tr>
  {% for entry in sidebar %}
  {% for folder in entry.folders %}
  {% if folder.output contains "web" %}
  <li>
      <a href="#">{{ folder.title }}</a>
      <ul>
          {% for folderitem in folder.folderitems %}
          {% if folderitem.output contains "web" %}
          {% if folderitem.external_url %}
          <li><a href="{{folderitem.external_url}}" target="_blank">{{folderitem.title}}</a></li>
          {% elsif page.url == folderitem.url %}
          <li class="active"><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
          {% elsif folderitem.type == "empty" %}
          <li><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>

          {% else %}
          <li><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
          {% endif %}
          {% for subfolders in folderitem.subfolders %}
          {% if subfolders.output contains "web" %}
          <li class="subfolders">
              <a href="#">{{ subfolders.title }}</a>
              <ul>
                  {% for subfolderitem in subfolders.subfolderitems %}
                  {% if subfolderitem.output contains "web" %}
                  {% if subfolderitem.external_url %}
                  <li><a href="{{subfolderitem.external_url}}" target="_blank">{{subfolderitem.title}}</a></li>
                  {% elsif page.url == subfolderitem.url %}
                  <li class="active"><a href="{{subfolderitem.url | remove: "/"}}">{{subfolderitem.title}}</a></li>
                  {% else %}
                  <li><a href="{{subfolderitem.url | remove: "/"}}">{{subfolderitem.title}}</a></li>
                  {% endif %}
                  {% endif %}
                  {% endfor %}
              </ul>
          </li>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
      </ul>
   </li>
    {% endif %}

    {% if folder.output contains "link" %}
    <li>
        {% if folder.external_url %}
        <li><a href="{{folder.external_url}}" target="_blank">{{folder.title}}</a></li>
        {% elsif page.url == folder.url %}
        <li class="active"><a href="{{folder.url | remove: "/"}}">{{folder.title}}</a></li>
        {% elsif folder.type == "empty" %}
        <li><a href="{{folder.url | remove: "/"}}">{{folder.title}}</a></li>
        {% else %}
        <li><a href="{{folder.url | remove: "/"}}">{{folder.title}}</a></li>
        {% endif %}
    </li>
    {% endif %}
      {% endfor %}
      {% endfor %}
      <!-- if you aren't using the accordion, uncomment this block:
         <p class="external">
             <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
         </p>
         -->
</ul>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>
