.there-is-no-data {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 40%;
    text-align: center;
}
.when-has-message > span {
    color: #F00;
}
.when-has-message > div {
    padding-top: 10px;
}
.when-has-message > ul {
    list-style: none;
    padding-top: 10px;
}