:host {
    display: block;
}

.l-desc-text-wrapper {
    margin-bottom: 20px;
}

.l-desc-text {
    color: var(--text-secondary);
    font-size: 14px;
}

.l-section-table {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

thead > tr {
    background-color: var(--background-default);
}

tbody > tr {
    background-color: var(--background-default);
}

.l-section-table th, .l-section-table td {
    font-size: 13px;
    border: 1px solid var(--border-primary);
}

.l-section-table th {
    font-weight: bold;
    font-size: 14px;
    color: var(--text-primary);
    padding: 12px 0;
}

.l-section-table td {
    font-weight: 400;
    color: var(--text-secondary);
    padding: 12px 20px;
}

.l-color-blue {
    color: var(--primary-color);
}

.l-text-bold {
    font-weight: 600;
}

.l-servermap-span {
    color: var(--text-primary-lightest);
}
.l-servermap-span .fas {
    color: var(--icon-default-lighter);
}

.fa-sign-in-alt, .fa-sign-out-alt {
    color: var(--secondary);
}

.l-row {
    margin-top: 25px;
}

.l-row {
    display: flex;
}

.l-row > table {
    flex: 1;
}

.l-row > table:first-child {
    margin-right: 10px;
}

.l-input-wrapper {
    padding: 11px !important;
}

.l-empty-space-consumer {
    flex: 1;
}
