<div class="l-desc-text-wrapper"><p class="l-desc-text nanumgothic">{{desc$ | async}}</p></div>
<table class="l-section-table l-server-map-table">
    <colgroup>
        <col width="50%">
        <col width="50%">
    </colgroup>
    <thead>
        <tr>
            <th colspan="2">ServerMap</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <span class="l-color-blue l-text-bold">Search Depth</span>
                <span class="l-servermap-span">( <span class="fas fa-sign-in-alt"></span> Inbound <span class="fas fa-sign-out-alt"></span> Outbound )</span>
                <pp-inbound-outbound-range-selector-for-configuration-container></pp-inbound-outbound-range-selector-for-configuration-container>
            </td>
            <td>
                <span class="l-color-blue l-text-bold">Search Period</span>
                <pp-search-period-container></pp-search-period-container>
            </td>
        </tr>
    </tbody>
</table>
<div class="l-row">
    <table class="l-section-table">
        <thead>
            <tr>
                <th>TimeZone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="l-input-wrapper">
                    <pp-timezone-select-container></pp-timezone-select-container>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="l-section-table">
        <thead>
            <tr>
                <th>Date Format</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="l-input-wrapper">
                    <pp-date-format-container></pp-date-format-container>
                </td>
            </tr>
        </tbody>
    </table>
</div>
