<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd

		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:database.properties"/>
    </bean>

    <bean id="commonDataSource" abstract="true" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">

        <property name="initialSize" value="30"/>
        <property name="maxActive" value="30"/>
        <property name="maxIdle" value="30"/>
        <property name="minIdle" value="30"/>
        <property name="maxWait" value="3000"/>

        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <!-- 원래는 true가 맞으나. 연결이 오래 지속되면 끊기는 상황에서 정상동작하는지 보기 위해서 false로 남겨두자.-->
        <property name="testWhileIdle" value="false"/>

        <property name="timeBetweenEvictionRunsMillis" value="30000"/>
        <property name="numTestsPerEvictionRun" value="6"/>
        <property name="minEvictableIdleTimeMillis" value="-1"/>


        <property name="poolPreparedStatements" value="true"/>
        <property name="maxOpenPreparedStatements" value="50"/>

    </bean>

    <bean id="mysqlDataSource" parent="commonDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>

        <property name="url" value="${mysql.url}"/>
        <property name="username" value="${mysql.user}"/>
        <property name="password" value="${mysql.password}"/>

        <property name="validationQuery" value="select 1 from db_root"/>
    </bean>

    <bean id="oracleDataSource" parent="commonDataSource">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>

        <property name="url" value="${oracle.url}"/>
        <property name="username" value="${oracle.user}"/>
        <property name="password" value="${oracle.password}"/>

        <property name="validationQuery" value="select 1 from dual"/>

    </bean>

    <!--<bean id="mssqlserverDatasource" parent="commonDatasource">-->
        <!--<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>-->
        <!--<property name="url" value="jdbc:sqlserver://10.64.80.37:1433;DatabaseName=test"/>-->
        <!--<property name="username" value="netspider"/>-->
        <!--<property name="password" value="chitty!!"/>-->

        <!--<property name="validationQuery" value="select 1 "/>-->


    <!--</bean>-->

    <bean id="jtdsDataSource" parent="commonDataSource">
        <property name="driverClassName" value="net.sourceforge.jtds.jdbc.Driver"/>

        <property name="url" value="${mssqlserver.url}"/>
        <property name="username" value="${mssqlserver.user}"/>
        <property name="password" value="${mssqlserver.password}"/>

        <property name="validationQuery" value="select 1 "/>

    </bean>

    <bean id="cubridDataSource" parent="commonDataSource">
		<property name="driverClassName" value="cubrid.jdbc.driver.CUBRIDDriver"/>

		<property name="url" value="${cubrid.url}"/>
		<property name="username" value="${cubrid.user}"/>
		<property name="password" value="${cubrid.password}"/>

        <property name="validationQuery" value="select 1 from db_root"/>

	</bean>
</beans>
