.l-content-section {
    height: 100%;
    position: relative;
}
.l-tab-menu-options {
    display: flex;
    flex-flow: row wrap;
}
.l-component-wrapper {
    width: 100%;
    height: calc(100% - 84px);
    position: relative;
}
.l-middle-tool-box {
    height: 54px;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    position:relative;
}
.l-middle-tool-box, .l-middle-tool-box-tip {
    color:#a8acb5;
    font-size: 18px
}