* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border-collapse: collapse;
    background: transparent;
    list-style: none;
    border: 0;
    font-family: inherit;
    color: inherit;
}

html {
    height: 100%;
}

body {
    color: var(--text-primary);
    font-family: 'Nanum Gothic', '나눔고딕';
}

button {
    cursor: pointer;
    background: none;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
}

caption {
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
}

#pinpoint {
    min-width: 1290px;
    height: 100%;
}

.l-header {
    background: var(--header-background);
    border-bottom: 1px solid var(--header-border);
    height: 50px;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    min-width: 1290px;
    width: 100%;
    padding: 0 15px;
}

.l-header.light {
    background-color: var(--background-default);
    color: var(--text-primary);
    border-bottom: 3px solid var(--border-primary-darker);
}

.flex-container {
    display: flex;
}

.flex-container.flex-row {
    flex-flow: row wrap;
}

.flex-container.flex-column {
    flex-flow: column nowrap;
}

.font-opensans {
    font-family: 'Open Sans', sans-serif;
}

.nanumgothic {
    font-family: "Nanum Gothic",나눔고딕;
}

.btn {
    font-size: 13px;
    color: var(--text-primary-lightest);
    height: 30px;
    padding: 0 9px;
    border-radius: 2px;
    font-weight: 600;
    outline: none;
}

.btn .icon {
    font-size: 11px;
}

.btn.active {
    background-color: var(--primary);
    color: var(--text-knockout);
}

.btn:disabled {
    background-color: var(--background-disable);
    cursor: not-allowed;
}

.btn-sm {
    font-size: 13px;
    height: 28px;
}

.btn-blue {
    color: var(--text-knockout);
    background-color: var(--primary);
}

.btn-black {
    color: var(--text-knockout);
    background-color: #3f506c;
    border: 1px solid #384c65;
}

.btn-gray {
    color: var(--text-knockout);
    background-color: var(--background-disable);
}

.pinpoint-btn {
    background-color: var(--primary);
    color: var(--text-knockout);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 10px 15px;
    text-align: center;
    font-size: 11px;
    line-height: 1em;
    border-radius: 2px;
}

.pinpoint-btn span {
    position: relative;
    padding: 0 0 0 14px;
}

.pinpoint-btn .fas {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.inactive {
    display: none;
}

*[hidden] {
    display: none !important;
}

.table {
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--border-primary);
    background: var(--background-default);
}

.table td,
.table th {
    height: 28px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    padding: 0 21px;
}

.table thead th {
    height: 36px;
    font-weight: bold;
}

.table tbody th {
    text-align: left;
}

.table th {
    color: var(--text-primary-lightest);
}

.table td {
    color: var(--text-secondary);
}

.table tbody th,
.table td {
    font-weight: 400;
    word-break: break-all;
}

.table.tr-link tbody tr {
    cursor: pointer;
}

.table tr.tr-bg-blue {
    background-color: #eef9fc;
}

.table tr.tr-bg-red {
    background-color: var(--background-row-danger);
}

.popup {
    position: absolute;
    z-index: 999999;
    background-color: var(--background-default);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    font-size: 14px;
    min-width: 160px;
}

@keyframes rootFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.l-agent-inspector-contents .bb-axis-y-label,
.l-agent-inspector-contents .bb-axis-y2-label,
.l-application-inspector-contents .bb-axis-y-label,
.l-transaction-view-top-contents .bb-axis-y-label,
.l-transaction-view-top-contents .bb-axis-y2-label {
    text-anchor: middle !important;
    font-family: 'Open Sans';
    font-size: 0.75vw;
    fill: var(--text-primary);
    font-weight: bold;
}

.l-agent-inspector-contents .bb-target-tpsT {
    display: none;
}

.l-application-inspector-contents .bb-line {
    stroke-width: 1.5;
}

.l-application-inspector-contents .bb-line:not(.avg) {
    stroke-dasharray: 2 2;
}

.ag-theme-balham .ag-group-checkbox:not(.ag-invisible) ~ .ag-group-checkbox,
.ag-theme-balham .ag-group-contracted:not(.ag-hidden) ~ .ag-group-checkbox,
.ag-theme-balham .ag-group-expanded:not(.ag-hidden) ~ .ag-group-checkbox,
.ag-theme-balham .ag-selection-checkbox:not(.ag-hidden) ~ .ag-group-checkbox {
    margin-left: 0 !important;
}

.ag-cell-wrapper.ag-row-group {
    align-items: center !important;
}

.ag-theme-balham .ag-cell {
    line-height: 2 !important;
}

.ag-theme-balham .ag-ltr .ag-row-group-leaf-indent {
    margin-left: 0px !important;
}

.l-calltree .ag-root {
    border: none;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.l-calltree .ag-cell {
    padding: 4px;
    border-right: 1px solid var(--border-primary);
    font-family: 'Open Sans', sans-serif;
}

.l-calltree .ag-column-moving .ag-cell {
    transition: left 0.2s;
}

.l-calltree .ag-header-cell-moving .ag-header-cell-label {
    opacity: 0;
    filter: alpha(opacity=0);
}

.l-calltree .ag-header-cell-moving {
    background-color: var(--table-header-moving-background);
}

.l-calltree .ag-header-cell-moving-clone {
    border-right: 1px solid var(--border-primary-darkest);
    border-left: 1px solid var(--border-primary-darkest);
    background-color: rgba(220,220,220,0.8);
}

.l-calltree .ag-header {
    background: var(--table-header-background);
    border-bottom: 1px solid var(--border-primary);
    line-height: 2;
}

.l-calltree .ag-header-cell {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding-left: 2px;
    padding-right: 2px;
}

.l-calltree .ag-header-cell:first-child {
    border-right: none;
}

.l-calltree .ag-header-cell-resize:after {
    border-right: none;
}

.l-calltree .ag-header-cell-label {
    padding: 4px;
}

.l-calltree .ag-group-expanded span {
    margin-right: 2px;
}

.l-calltree .ag-row {
    line-height: 2;
}

.l-calltree .ag-row-exception {
    background-color: var(--background-row-danger);
}

.l-calltree .ag-row-focused {
    background-color: var(--background-hover-secondary);
}

.l-calltree .ag-body {
    background-color: var(--background-default);
}

.l-calltree .ag-body-viewport {
    background-color: var(--background-default);
}

.l-calltree .ag-menu {
    background-color: var(--background-default);
    border: 1px solid grey;
}

.l-calltree .fa {
    font-size: 14px;
}

.l-calltree .ag-row-focused {
    background-color: var(--background-hover-secondary);
}

.l-calltree .ag-row-selected {
    color: #4a8fd2;
    background-color: var(--background-hover-secondary);
}

.l-calltree .div-percent-bar {
    display: inline-block;
    height: 30%;
    position: absolute;
}

.l-calltree .div-percent-value {
    position: absolute;
    padding-left: 4px;
    font-weight: bold;
    font-size: 13px;
}

.l-calltree .div-outer-div {
    display: inline-block;
    margin-right: 20px;
    height: 30%;
    width: 92%;
}

.l-load-chart .bb-grid line,
.l-response-summary-chart .bb-grid line,
.l-url-statistic-chart .bb-grid line {
    stroke: var(--chart-guide-line);
    stroke-width: 1.5;
}

.l-load-chart .bb-ygrid,
.l-response-summary-chart .bb-ygrid,
.l-url-statistic-chart .bb-ygrid {
    stroke-dasharray: 0;
}

.bb-area {
    opacity: 1 !important;
}

.l-load-chart .bb-line {
    stroke-width: 0;
}

.as-split-gutter {
    background-color: var(--background-primary-darkest) !important;
}

.bb-axis text {
    fill: var(--chart-text);
}

.bb-axis .domain,
.bb-axis line {
    stroke: var(--chart-line);
}

.bb-legend-item text {
    fill: var(--chart-text);
}

.bb-tooltip td {
    background-color: var(--background-layer);
}

.bb-button .bb-zoom-reset {
    color: var(--text-primary);
    background-color: var(--background-default);
}

/* path.bb-shape {
    stroke: red;
    stroke-width: 1px;
} */
