<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <util:properties id="metricDriverProperties" location="classpath:/pinot-web/mysql-driver.properties"/>


    <bean id="metricMysqlDataSourceConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="dataSourceProperties" ref="metricDriverProperties"/>

        <property name="connectionTimeout" value="5000"/>

        <property name="maxLifetime" value="1200000"/>

        <property name="maximumPoolSize" value="30"/>
        <property name="minimumIdle" value="30"/>
    </bean>

    <bean id="metricMysqlDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg ref="metricMysqlDataSourceConfig"/>
    </bean>
</beans>