<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.navercorp.pinpoint.metric.web
                                            com.navercorp.pinpoint.metric.common" />

    <tx:annotation-driven/>

    <bean id="pinotTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="pinotDataSource"/>
    </bean>

    <bean id="managedTransactionFactory" class="org.apache.ibatis.transaction.managed.ManagedTransactionFactory"/>

    <bean id="sqlPinotSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="pinotDataSource"/>
        <!-- mybatis basic config -->
        <property name="configLocation" value="classpath:/pinot-web/mybatis-pinot-config.xml"/>
        <!-- setting the location of mapper -->
        <property name="mapperLocations" value="classpath*:/pinot-web/mapper/pinot/*Mapper.xml"/>
        <!-- set "true" in order to catch the errors of declaration of statement more quickly -->
        <property name="failFast" value="true"/>

        <property name="transactionFactory" ref="managedTransactionFactory"/>

        <property name="plugins">
            <list>
                <!-- use the patch version because of mybatis 3.2's incompatibility-->
<!--                <bean class="com.navercorp.pinpoint.web.dao.ibatis.BindingLogPlugin32"/>-->
            </list>
        </property>
    </bean>

    <bean id="sqlPinotSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlPinotSessionFactory"/>
    </bean>

</beans>