<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- default setting-->
    <settings>
        <setting name="cacheEnabled" value="true" />

        <!-- lazy loading-->
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="true" />

<!--        <setting name="useGeneratedKeys" value="true" />-->

<!--        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>-->

        <!-- don't need "REUSE" because preparedStatements are cached  at dbcp  -->
        <setting name="defaultExecutorType" value="SIMPLE" />

        <!--defaultQueryTiemout. unit is second -->
<!--        <setting name="defaultStatementTimeout" value="5" />-->
        <!--undersocre mapping of DB table  -->
<!--        <setting name="mapUnderscoreToCamelCase" value="true"/>-->
    </settings>

    <typeAliases>
        <typeAlias type="java.lang.Number" alias="Number" />

        <typeAlias type="com.navercorp.pinpoint.metric.common.model.DoubleMetric" alias="DoubleMetric" />
        <typeAlias type="com.navercorp.pinpoint.metric.common.model.Tag" alias="Tag" />
        <typeAlias type="com.navercorp.pinpoint.metric.web.util.Range" alias="Range" />
        <typeAlias type="com.navercorp.pinpoint.metric.web.util.MetricsQueryParameter" alias="MetricsQueryParameter" />
        <typeAlias type="com.navercorp.pinpoint.metric.web.mybatis.typehandler.DoubleTypeHandler" alias="DoubleHandler" />
        <typeAlias type="com.navercorp.pinpoint.metric.web.mybatis.typehandler.LongTypeHandler" alias="LongHandler" />
        <typeAlias type="com.navercorp.pinpoint.metric.web.mybatis.typehandler.DoubleToLongTypeHandler" alias="DoubleToLongHandler"/>
        <typeAlias type="com.navercorp.pinpoint.metric.web.mybatis.typehandler.TagTypeHandler" alias="TagHandler"/>
        <typeAlias type="com.navercorp.pinpoint.metric.web.mybatis.typehandler.TagListTypeHandler" alias="TagListHandler"/>
        <typeAlias type="com.navercorp.pinpoint.metric.web.model.SampledSystemMetric" alias="SampledSystemMetric" />
        <typeAlias type="com.navercorp.pinpoint.metric.web.model.chart.SystemMetricPoint" alias="SystemMetricPoint" />
        <typeAlias type="com.navercorp.pinpoint.metric.web.dao.model.SystemMetricDataSearchKey" alias="systemMetricDataSearchKey"/>

        <typeAlias type="com.navercorp.pinpoint.metric.common.model.MetricTag" alias="MetricTag"/>
        <typeAlias type="com.navercorp.pinpoint.metric.common.model.MetricTagKey" alias="MetricTagKey"/>
        <typeAlias type="com.navercorp.pinpoint.metric.web.dao.model.MetricInfoSearchKey" alias="metricInfoSearchKey"/>
        <typeAlias type="com.navercorp.pinpoint.metric.web.dao.model.MetricTagsSearchKey" alias="metricTagsSearchKey"/>
        <typeAlias type="com.navercorp.pinpoint.metric.web.dao.model.HostInfoSearchKey" alias="hostInfoSearchKey"/>
        <typeAlias type="com.navercorp.pinpoint.metric.common.model.mybatis.TagListTypeHandler" alias="TagListTypeHandler"/>

        <typeAlias type="com.navercorp.pinpoint.metric.common.model.MetricData" alias="MetricData"/>
        <typeAlias type="com.navercorp.pinpoint.metric.common.model.MetricDataName" alias="MetricDataName"/>
        <typeAlias type="com.navercorp.pinpoint.metric.common.model.MetricDataType" alias="MetricDataType"/>
        <typeAlias type="com.navercorp.pinpoint.metric.common.model.mybatis.MetricDataTypeHandler" alias="MetricDataTypeHandler"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="DoubleHandler" javaType="Number" />
        <typeHandler handler="LongHandler" javaType="Number" />
        <typeHandler handler="DoubleToLongHandler" javaType="Number" />
        <typeHandler handler="TagHandler" javaType="Tag" />
        <typeHandler handler="TagListHandler" javaType="list" />
        <typeHandler handler="TagListTypeHandler" javaType="list" />
        <typeHandler handler="MetricDataTypeHandler" javaType="MetricDataType"/>
    </typeHandlers>

</configuration>
