.container.sideNavigationUI {
    display: flex;
}
.l-widget-group {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    padding: 0 15px;
    height: 100%;
    align-items: center;
}
.l-main-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: calc(100vh - 50px);
    overflow-y: hidden;
}
.l-main-container.sideNavigationUI {
    height: 100vh;
}
split-area:first-child {
    overflow: hidden !important;
}