<pp-notice-container></pp-notice-container>
<header class="flex-container flex-row">
    <pp-header-logo></pp-header-logo>
    <pp-configuration-icon-container></pp-configuration-icon-container>
</header>
<div class="l-main-container">
    <section class="l-main-section">
        <div class="l-main-contents l-main-contents-transaction">
            <article class="l-content-item l-margin-none l-transaction-content">
                <router-outlet></router-outlet>
            </article>
        </div>        
    </section>
</div>
