<div style="margin-top:5px;">
	<select class="application" ng-disabled="disableApplication">
		<option></option>
		<optgroup label="Favorite" ng-show="useFavorite()">
			<option ng-repeat="app in applicationList | limitTo: favoriteCount" data-code="{{app.code}}" value="{{app.text}}">{{app.text}}</option>
		</optgroup>
		<optgroup label="Application List">
			<option ng-repeat="app in applicationList" data-code="{{app.code}}" value="{{app.text}}" ng-if="$index >= favoriteCount">{{app.text}}</option>
		</optgroup>
	</select>
	<img ng-hide="hideFakeApplication" src="images/navbar_application_fake.png" style="position:absolute;left:0;top:5px;">
</div>