:host {
    display: block;
    width: 100%;
    height: 100%;
}

.l-alarm-rules-tr {
    display: flex;
    height: 30px;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #e6e8ec;
}

.l-alarm-rules-tr div {
    height: 100%;
    line-height: 30px;
    border-right: 1px solid #e6e8ec;
    text-align: center;
}

.l-alarm-rules-tr div:nth-child(1) {
    flex: 4;
}

.l-alarm-rules-tr div:nth-child(2) {
    flex: 3;
}

.l-alarm-rules-tr div:nth-child(3) {
    flex: 1.5;
}

.l-alarm-rules-tr div:nth-child(4) {
    flex: 2;
    border-right: 0;
    margin-right: 22px;
}

.l-alarm-rules-tr div:nth-child(5) {
    position: absolute;
    right: 15px;
    border-right: 0;
}

.l-alarm-rules-btn-group {
    display: flex;
    color: #b3b6bf;
    font-size: 13px;
    align-items: center;
    justify-content: flex-end;
}

.l-alarm-rules-btn-group button {
    margin-left: 11px;
}

.l-alarm-rules-btn-group button:first-child {
    margin-left: 0;
}

.fa-trash-alt {
    color: #b3b6bf;
    font-size: 14px;
}

.fa-edit {
    margin-left: 10px;
}

.fa-check {
    color: #F00;
    margin-left: 10px;
}
