RewriteCond %{REQUEST_URI} ^/v2/(admin|filteredMap|inspector|main|realtime|scatterFullScreenMode|threadDump|transactionDetail|transactionList|transactionView)(/.*)?$
RewriteRule ^/v2/(admin|filteredMap|inspector|main|realtime|scatterFullScreenMode|threadDump|transactionDetail|transactionList|transactionView)(/.*)?$ /v2/index.html
