<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.navercorp.pinpoint.batch.dao.AlarmDao">
    
    <select id="selectBeforeCheckerResultList" resultType="BatchCheckerResult">
        SELECT *
        FROM alarm_history
        WHERE application_id = #{applicationId}
    </select>

    <delete id="deleteCheckerResult" parameterType="string">
        DELETE
        FROM alarm_history
        WHERE rule_id = #{ruleId}
    </delete>
    
    <insert id="insertCheckerResult" parameterType="BatchCheckerResult">
        INSERT INTO alarm_history (rule_id, application_id, checker_name, detected, sequence_count, timing_count)
        VALUES
            (#{ruleId}, #{applicationId}, #{checkerName}, #{detected}, #{sequenceCount}, #{timingCount})
    </insert>
    
</mapper>
