<article class="l-chart-item">
    <div class="l-tool-box">
        <p class="l-title">Load</p>
        <button class="fas fa-question-circle" (click)="onShowHelp($event)"></button>
    </div>
    <div class="l-content-section">
        <pp-loading [showLoading]="showLoading" [zIndex]="10"></pp-loading>
        <pp-retry [showRetry]="showRetry" [message]="dataFetchFailedText" (outRetry)="onRetry()"></pp-retry>
        <pp-load-chart
            [ngClass]="chartVisibility"
            [chartConfig]="chartConfig"
            (outRendered)="onRendered()">
        </pp-load-chart>
    </div>
</article>
