<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <import resource="classpath:applicationContext-hbase.xml"/>

    <context:component-scan
            base-package="com.navercorp.pinpoint.common.server.util,
                        com.navercorp.pinpoint.collector.mapper.thrift.stat"/>


    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:hbase.properties</value>
                <value>classpath:pinpoint-flink.properties</value>
            </list>
        </property>

    </bean>

    <util:properties id="pinpoint_flink_properties" location="classpath:pinpoint-flink.properties"/>


    <bean id="flinkConfiguration" class="com.navercorp.pinpoint.flink.config.FlinkConfiguration">
        <property name="properties" ref="pinpoint_flink_properties"/>
    </bean>

    <bean id="deprecatedConfig" class="com.navercorp.pinpoint.collector.config.DeprecatedConfiguration">
        <constructor-arg ref="pinpoint_flink_properties"/>
    </bean>

    <bean id="tcpReceiverConfig" class="com.navercorp.pinpoint.collector.config.AgentBaseDataReceiverConfiguration">
        <constructor-arg ref="pinpoint_flink_properties"/>
        <constructor-arg ref="deprecatedConfig"/>
    </bean>

    <bean id="tbaseFlatMapper" class="com.navercorp.pinpoint.flink.process.TbaseFlatMapper">
        <property name="applicationCache" ref="applicationCache"/>
    </bean>

    <bean id="applicationCache" class="com.navercorp.pinpoint.flink.process.ApplicationCache">
        <property name="hbaseTemplate2" ref="hbaseTemplate"/>
    </bean>


    <bean id="applicationStatRowKeyEncoder" class="com.navercorp.pinpoint.common.server.bo.serializer.stat.ApplicationStatRowKeyEncoder"/>
    <bean id="applicationStatRowKeyDecoder" class="com.navercorp.pinpoint.common.server.bo.serializer.stat.ApplicationStatRowKeyDecoder"/>
    <bean id="applicationStatHbaseOperationFactory" class="com.navercorp.pinpoint.common.server.bo.serializer.stat.ApplicationStatHbaseOperationFactory">
        <constructor-arg index="0" ref="applicationStatRowKeyEncoder"/>
        <constructor-arg index="1" ref="applicationStatRowKeyDecoder"/>
        <constructor-arg index="2" ref="applicationStatRowKeyDistributor"/>
    </bean>

    <bean id="agentStatDataPointCodec" class="com.navercorp.pinpoint.common.server.bo.codec.stat.AgentStatDataPointCodec"/>
    <bean id="joinCpuLoadCodec" class="com.navercorp.pinpoint.common.server.bo.codec.stat.join.CpuLoadCodec"/>
    <bean id="cpuLoadEncoder" class="com.navercorp.pinpoint.common.server.bo.codec.stat.join.CpuLoadEncoder"/>
    <bean id="cpuLoadSerializer" class="com.navercorp.pinpoint.common.server.bo.serializer.stat.join.CpuLoadSerializer"/>
    <bean id="joinMemoryCodec" class="com.navercorp.pinpoint.common.server.bo.codec.stat.join.MemoryCodec"/>
    <bean id="memoryEncoder" class="com.navercorp.pinpoint.common.server.bo.codec.stat.join.MemoryEncoder"/>
    <bean id="memorySerializer" class="com.navercorp.pinpoint.common.server.bo.serializer.stat.join.MemorySerializer"/>
    <bean id="joinTransactionCodec" class="com.navercorp.pinpoint.common.server.bo.codec.stat.join.TransactionCodec"/>
    <bean id="transactionEncoder" class="com.navercorp.pinpoint.common.server.bo.codec.stat.join.TransactionEncoder"/>
    <bean id="transactionSerializer" class="com.navercorp.pinpoint.common.server.bo.serializer.stat.join.TransactionSerializer"/>


    <bean id="statisticsDao" class="com.navercorp.pinpoint.flink.dao.hbase.StatisticsDao">
        <constructor-arg index="0" ref="cpuLoadDao"/>
        <constructor-arg index="1" ref="memoryDao"/>
        <constructor-arg index="2" ref="transactionDao"/>
    </bean>

    <bean id="cpuLoadDao" class="com.navercorp.pinpoint.flink.dao.hbase.CpuLoadDao">
        <constructor-arg index="0" ref="hbaseTemplate"/>
        <constructor-arg index="1" ref="applicationStatHbaseOperationFactory"/>
        <constructor-arg index="2" ref="cpuLoadSerializer"/>
    </bean>

    <bean id="memoryDao" class="com.navercorp.pinpoint.flink.dao.hbase.MemoryDao">
        <constructor-arg index="0" ref="hbaseTemplate"/>
        <constructor-arg index="1" ref="applicationStatHbaseOperationFactory"/>
        <constructor-arg index="2" ref="memorySerializer"/>
    </bean>

    <bean id="transactionDao" class="com.navercorp.pinpoint.flink.dao.hbase.TransactionDao">
        <constructor-arg index="0" ref="hbaseTemplate"/>
        <constructor-arg index="1" ref="applicationStatHbaseOperationFactory"/>
        <constructor-arg index="2" ref="transactionSerializer"/>
    </bean>

    <bean id="handlerManager" class="com.navercorp.pinpoint.collector.manage.HandlerManager">
    </bean>

    <!-- DispatchHandler-related Beans -->
    <bean id="tcpDispatchHandler" class="com.navercorp.pinpoint.flink.receiver.TcpDispatchHandler"/>
    <bean id="tcpDispatchHandlerWrapper" class="com.navercorp.pinpoint.collector.receiver.DispatchHandlerWrapper">
        <constructor-arg ref="tcpDispatchHandler"/>
    </bean>

    <bean id="flinkServerRegister" class="com.navercorp.pinpoint.flink.cluster.FlinkServerRegister" lazy-init="true">
        <constructor-arg ref="flinkConfiguration"/>
    </bean>

    <!--&lt;!&ndash; TCPReceiver related Beans &ndash;&gt;-->
    <bean id="serverAcceptor" class="com.navercorp.pinpoint.rpc.server.PinpointServerAcceptor"/>

    <!-- TCPReceiver related Beans -->
    <bean id="flinkWorkerOption" class="com.navercorp.pinpoint.collector.receiver.DispatchWorkerOption">
        <constructor-arg index="0" value="Pinpoint-Flink-Worker"/>
        <constructor-arg index="1" value="#{tcpReceiverConfig.workerThreadSize}"/>
        <constructor-arg index="2" value="#{tcpReceiverConfig.workerQueueSize}"/>
        <constructor-arg index="3" value="1"/>
        <constructor-arg index="4" value="#{tcpReceiverConfig.workerMonitorEnable}"/>
    </bean>

    <bean id="metricRegistry" class="com.codahale.metrics.MetricRegistry"/>

    <bean id="flinkWorker" class="com.navercorp.pinpoint.collector.receiver.DispatchWorker" init-method="start" destroy-method="shutdown">
        <constructor-arg index="0" ref="flinkWorkerOption"/>
        <property name="metricRegistry" ref="metricRegistry"/>
    </bean>

    <bean id="tcpReceiver" class="com.navercorp.pinpoint.flink.receiver.TCPReceiver" lazy-init="true" depends-on="flinkWorker">
        <constructor-arg index="0" ref="tcpDispatchHandlerWrapper"/>
        <constructor-arg index="1" ref="flinkWorker"/>
        <constructor-arg index="2" ref="#{tcpReceiverConfig.bindIp}"/>
        <constructor-arg index="3" ref="#{tcpReceiverConfig.bindPort}"/>
        <constructor-arg index="4" ref="#{flinkConfiguration.l4IpList}"/>
   </bean>

    <bean id="tcpSourceFunction" class="com.navercorp.pinpoint.flink.receiver.TcpSourceFunction"/>
</beans>