<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="asyncOperation" class="com.navercorp.pinpoint.common.hbase.async.HBaseTableMultiplexerFactory">
        <constructor-arg ref="hbaseConnection"/>
    </bean>

    <bean id="asyncOperationMetrics" class="com.navercorp.pinpoint.collector.monitor.HBaseAsyncOperationMetrics">
        <constructor-arg ref="asyncOperation"/>
    </bean>

    <bean id="applicationStatRowKeyDistributor" class="com.sematext.hbase.wd.RowKeyDistributorByHashPrefix">
        <constructor-arg ref="applicationStatRangeHasher"/>
    </bean>

    <bean id="applicationStatRangeHasher" class="com.navercorp.pinpoint.common.hbase.distributor.RangeOneByteSimpleHash">
        <constructor-arg type="int" value="0"/>
        <constructor-arg type="int" value="33"/>
        <constructor-arg type="int" value="64"/>
    </bean>

</beans>