<div class="l-wrapper">
    <div>
        <pp-agent-admin-chart
            [title]="'JVM'"
            [type]="'jvmVersion'"
            [barColor]="'rgb(75, 192, 192)'"
            [chartData]="chartData"></pp-agent-admin-chart>
    </div>
    <div></div>
    <div>
        <pp-agent-admin-chart
            [title]="'Agent( ' + agentCount + ' )'"
            [type]="'agentVersion'"
            [barColor]="'rgb(54, 162, 235)'"
            [chartData]="chartData"></pp-agent-admin-chart>
    </div>    
    <pp-loading [showLoading]="showLoading" [zIndex]="20"></pp-loading>   
</div>