<div [hidden]="!showCreate" class="l-wrapper">
    <button class="btn btn-black l-close" (click)="onClose(); formDir.resetForm();"><i class="fas fa-times"></i></button>
    <h1>{{title}}</h1> 
    <form [formGroup]="alarmForm" #formDir="ngForm" (ngSubmit)="onCreateOrUpdate()">
        <div class="l-form-grid">
            <div>
                <div>{{i18nLabel.CHECKER_LABEL}}</div>
                <select formControlName="checkerName">
                    <option value="">Select rule</option>
                    <option *ngFor="let checker of checkerList" [value]="checker">{{checker}}</option>
                </select>
                <span class="fas fa-angle-down"></span>
                <pp-form-field-error-message
                    [control]="alarmForm.get('checkerName')"
                    [errorMessage]="i18nGuide['checkerName']">
                </pp-form-field-error-message>
            </div>
            <div>
                <div>{{i18nLabel.USER_GROUP_LABEL}}</div>
                <select formControlName="userGroupId">
                    <option value="">Select user group</option>
                    <option *ngFor="let userGroup of userGroupList" [value]="userGroup">{{userGroup}}</option>
                </select>
                <span class="fas fa-angle-down"></span>
                <pp-form-field-error-message
                    [control]="alarmForm.get('userGroupId')"
                    [errorMessage]="i18nGuide['userGroupId']">
                </pp-form-field-error-message>
            </div>
            <div>
                <div>{{i18nLabel.THRESHOLD_LABEL}}</div>
                <input type="number" id="threshold" formControlName="threshold">
                <pp-form-field-error-message
                    [control]="alarmForm.get('threshold')"
                    [errorMessage]="i18nGuide['threshold']">
                </pp-form-field-error-message>
            </div>
            <div>
                <div>{{i18nLabel.TYPE_LABEL}}</div>
                <select formControlName="type">
                    <option value="all">All</option>
                    <option value="email">Email</option>
                    <option value="sms">SMS</option>
                    <option value="none">None</option>
                </select>
                <span class="fas fa-angle-down"></span>
            </div>
        </div>
        <div>{{i18nLabel.NOTES_LABEL}}</div>
        <textarea id="notes" formControlName="notes"></textarea>
        <button type="submit" class="btn btn-blue l-create" [class.btn-gray]="alarmForm.invalid" [disabled]="alarmForm.invalid">OK</button>
    </form>
</div>
