.l-alarm-rules-tr {
    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 15px;
    position: relative;
}
.l-alarm-rules-tr div {
    float: left;
}
.l-alarm-rules-tr div:nth-child(1) {
    width: 41.66666667%;
}
.l-alarm-rules-tr div:nth-child(2) {
    width: 16.66666667%;
}
.l-alarm-rules-tr div:nth-child(3) {
    width: 16.66666667%;
}
.l-alarm-rules-tr div:nth-child(4) {
    width: 16.66666667%;
}
.l-alarm-rules-tr div:nth-child(5) {
    width: 8.33333333%
}
.l-alarm-rules-btn-group {
    display: flex;
    color: #b3b6bf;
    font-size: 13px;
    align-items: center;
    justify-content: flex-end;
}
.l-alarm-rules-btn-group button {
    margin-left: 11px;
}
.l-alarm-rules-btn-group button:first-child {
    margin-left: 0;
}
.l-threshold {
    text-align: center;
}
.fa-trash-alt {
    color: #b3b6bf;
    font-size: 14px;
}
.fa-edit {
    margin-left: 10px;
}
.fa-check {
    color: #F00;
    margin-left: 10px;
}
