:host {
    position: relative;
}
.l-wrapper {
    height: 100%;
    position: relative;
}
.l-alarm-rules-table {
    height: 100%;
}
.l-alarm-rules-table th {
    color:#333;
    font-size: 13px;
}
.l-alarm-rules-table td {
    padding:10px 15px;
    height:auto;
    font-size: 13px;
}
.l-alarm-rules-table th .l-table-title {
    height: 47px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.l-table-title button:last-child {
    margin-left: 2px;
}
.l-alarm-rules-tr-wrap { 
    height: 100%;
    position: relative;
    overflow-y: scroll;
}
.l-alarm-rules-th {
    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 15px;
    position:relative;
    color: #777879;
    font-weight: 600;
    border-bottom: 1px solid #e6e8ec;
    background: #fff;
    margin: 0 -21px;    
}
.l-alarm-rules-th div {
    float :left;
}
.l-alarm-rules-th div:nth-child(1) {
    width: 50%;
}
.l-alarm-rules-th div:nth-child(2) {
    width: 16.66666667%;
}
.l-alarm-rules-th div:nth-child(3) {
    width: 16.66666667%;
}
.l-alarm-rules-th div:nth-child(4) {
    width: 25%;
    margin-right: 22px;
}
.l-not-selected {
    padding-top: 30%;
    text-align: center;
}
.l-threshold { 
    text-align: center;
}
.btn {
    padding: 0 9px;
    border-radius: 2px;
}
