.container {
    display: flex;
    flex-flow: row wrap;
}

.container.sideNavigationUI {
    flex-flow: unset
}

.l-widget-group {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    padding: 0 15px;
    height: 100%;
    align-items: center;
}
.l-main-container {
    display: flex;
    flex-flow: row wrap;
    height: calc(100vh - 50px);
    width: 100%;
    overflow-y: hidden;
}
.l-main-container.sideNavigationUI {
    height: 100vh;
}
.l-sidemenu-wrap {
    position: relative;
    height: 100%;
}
.l-sidemenu-left {
    width: 250px;
    overflow: visible;
    border-right: 1px solid var(--border-primary);
    background: var(--background-default);
    height: 100%;
}
.l-main-section {
    flex: 1;
    background: var(--background-primary);
    position: relative;
    height: 100%;
    width: calc(100% - 250px);
}
.fa-question-circle {
    color: white;
    font-size: 18px;
    margin-right: 15px;
}
button {
    outline: none;
}
.l-application-inspector-title-wrapper {
    border-bottom: 1px solid var(--border-primary);
}

.l-cover {
    width: 100%;
    height: 100%;
    background-color: var(--background-disable);
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    /* opacity: 0.5 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-auth-img {
    width: 200px;
}
