:host {
    width: 100%;
    z-index: 1000;
    position: absolute;
}
.l-chart-setting {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    border: 1px solid var(--border-primary);
    text-align: left;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    background: var(--background-default);
    margin: 15% 20%;
}
.l-title-group {
    height:auto;
    padding: 10px 20px;
    background-color: var(--background-default);
}
.l-title-group dt {
    color: var(--primary);
    font-size: 20px;
    font-weight: 600;
}
.l-contents-group {
    padding: 20px 20px 15px 20px
}
.l-contents-group ul li {
    margin: 5px 0 0 0;
    font-size: 13px;
    font-weight: 600;
}
.l-contents-group ul li label {
    width: 50%;
    display: inline-block
}
.l-contents-group input {
    border:1px solid var(--form-input-border);
    font-size:13px;
    color:var(--text-primary-lightest);
    height:22px;
    padding:0 8px;
}
.l-contents-group input:focus {
    border: 1px solid var(--primary);
    box-shadow: 0 0 1px 1px var(--primary);
    outline: none;
}
.l-bottom-group {
    text-align: center;
    margin: 0 0 20px;
}
input {
    color: var(--text-primary-lightest);
    width: 40%;
    height: 22px;
    border: 1px solid var(--form-input-border);
    padding: 0 8px;
    font-size: 13px;
}
