:host {
    display: block;
    height: 100%;
}
.l-wrapper {
    display: block;
}
.l-scatter {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.l-message {
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.l-message span {
    font-weight: 600;
}
canvas {
    width: 100%;
    height: 100%;
}
