.l-tool-box {
    display: flex;
    justify-content: space-between;
    font-size:14px;
    color: var(--icon-default);
    position:relative;
    padding: 0 25px 0;
}
.l-tool-box button {
    margin:0 0 0 14px;
}
.l-tool-box button.l-last-child {
    font-size:18px;

}
.l-tool-box button.l-last-child:before {
}
.fas {
    font-size: 18px;
}
