:host {
    width: calc(100% - 20px);
    display: block;
    margin: 20px 10px 10px;
    border: 1px solid var(--border-default);
    position: relative;
}

.l-title-group {
    height: 34px;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px;
    color: var(--text-primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.l-reload-btn { 
    color: var(--status-fail);
    float: right;
}