:host {
    display: block;
}
.l-info-table {
    border: none;
}
.l-info-table tbody th, .l-info-table td {
    color: var(--text-default);
    border-top:1px solid var(--border-primary);
}
.l-info-table tr:nth-child(2n) {
    background-color: var(--background-primary);
}
.l-argument-list {
    width: 100%;
    height: 150px;
    overflow: auto;
}
.l-server-info-service-list {
    float: left;
    width: 40%;
    max-height: 140px;
    overflow: auto;
}
.l-server-info-lib-list {
    float: left;
    width: 60%;
    height: 150px;
    overflow: auto;
}
.l-server-info-list {
    position: relative;
    margin-right: 10px;
}
.l-server-info-list li {
    height: 30px;
    font-size: 12px;
    color:var(--text-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}
.l-server-info-list li:first-child {
    border-top-color: transparent;
}
.l-server-info-list li.active {
    background-color: var(--primary-color);
    color: var(--text-knockout);
}
.l-server-info-list li ul {
    position: absolute;
    right: -250px;
    top: 0;
    color:var(--text-secondary);
}
.l-server-info-list li ul li {
    height: auto;
    border-top: none;
}
.l-category {
    display: inline-block;
    padding: 2px 5px;
    font-size: 10px;
    color: var(--text-knockout);
    font-weight: 600;
    cursor: pointer;
}
.l-category.blue {
    background-color: var(--primary-color);
}
.l-sub-table {
    display: table-cell;
    padding: 16px 19px;
    background: var(--background-default);
}
.l-sub-table .table th, .l-sub-table .table td {
    padding:14px 10px;
}
.l-sub-table .table td + td {
    border-left:1px solid var(--border-primary);
}
.l-sub-table .table tr {
    background: var(--background-default);
}
.l-not-same {
    color: var(--status-danger-lighter) !important;
}
.l-not-same-button {
    float: right;
    font-size: 14px;
}
