:host {
    display: block;
    height: 100%;
}
.l-servers-list {
    padding: 0 10px;
    overflow-x: hidden;
    height: 100%;
}
.l-servers-list li {
    margin: 15px 0 0 0;
    font-size: 13px;
}
.l-servers-list li.first-child {
    margin:0;
}
.l-servers-list li.first-child:before {
    color: #999;
    margin: 0 8px 0 0;
    content: '\f0ae';
    font-size: 14px;
    font-weight: normal;
    font-family: FontAwesome;
}
.l-server-name {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.l-server-name i {
    float :left;
    margin: 2px 4px 0px 0px;
}
.l-agent-list {
    margin: 8px 0 0 10px;
}
.l-agent-list li {
    color: #333;
    margin: 0px 0px;
    display: block;
    padding: 4px 4px 4px 10px;
    font-size: 12px;
    font-weight: 400;
    align-items: center;
}
.l-agent-list li:hover {
    color: #FFF;
    cursor: pointer;
    background-color: #418CD3;
}
.l-agent-name {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.l-agent-name i {
    float: left;
    margin: 4px 4px 0px 0px;
}
.l-icon-alert {
    float: right;
    margin: 0 0 0 13px;
    height: 1em;
}
li.active {
    box-shadow: 1px 1px 1px 0px rgba(53,61,117,1);
}
