<ul class="l-servers-list" *ngIf="serverKeyList?.length !== 0">
    <li *ngFor="let serverName of serverKeyList">
        <div [matTooltip]="serverName" class="l-server-name"><i class="fas fa-server"></i> {{serverName}}</div>
        <ul class="l-agent-list">
            <li class="l-agent"  *ngFor="let agent of serverList[serverName]" [class.active]="agent.agentId === agentId" (click)="onSelectAgent(agent.agentId)" [matTooltip]="agent.agentId">
                <span class="l-icon-alert" *ngIf="agent.status.state.code !== 100"><img [src]="getIconPath(agent.status.state.code)"></span>
                <div class="l-agent-name">
                    <i class="fas fa-hdd"></i>{{ getAgentName(serverName, agent.agentId) }}
                </div>
            </li>
        </ul>
    </li>
</ul>
<ul class="l-servers-list" *ngIf="serverKeyList?.length === 0">
    <li>
        <span>There is no agent.</span>
    </li>
</ul>
