<div class="server-list">
	<div class="server-list-layer">
		<div class="server-list-wrapper">
			<div class="server-list-header">Server List</div>
			<form>
				<ul class="server-collection _node" ng-show="bIsNode" ng-repeat="(key, server) in serverList | orderBy:'key'">
					<li>
						<div>
							<span class="glyphicon glyphicon-home"></span> <span class="server-name">{{server.name.split(':')[0]}}</span>
						</div>
						<ul>
							<li ng-repeat="instance in server.instanceList | orderBy:'instance.name'">
								<label>
									<input type="radio" name="selectedServer" value="{{instance.name}}" name="selectedServer" ng-click="selectServer(instance.name)" ng-checked="$parent.$first && $first">
									<span class="glyphicon glyphicon-hdd" style="color:{{hasError(node.agentHistogram[instance.name])}}"></span>
									<span>{{instance.name}}</span>
								</label>
								<a style="float:right" ng-click="openInspector($event, instance.name)">Inspector</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="server-collection _link" ng-hide="bIsNode" >
					<li>
						<ul>
							<li ng-repeat="(name, histogram) in linkList | orderBy:'name'">
								<label>
									<input type="radio" name="selectedServer" value="{{name}}" ng-click="selectServer(name)" ng-checked="$first">
									<span class="glyphicon glyphicon-hdd" style="color:{{hasError(histogram)}}"></span>
									<span>{{name}}</span>
								</label>
								<a style="float:right" ng-click="openInspector($event, name)">Inspector</a>
							</li>
						</ul>
					</li>
				</ul>
			</form>
		</div>
	</div>
	<div class="server-list-chart">
		<div class="chart-header">
			<span class="title">Selected Agent ></span>
			<span class="selected-agent">{{selectedAgent}}</span>
			<button ng-click="hideLayer()" class="btn btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
		</div>
		<scatter-directive ng-show="hasScatter" namespace="forServerList" enable-realtime="false"></scatter-directive>
		<div class="chart-list" style="{{hasScatter ? 'border-top:1px solid #DDD;' : ''}}">
			<h5>Response Summary</h5>
			<response-time-summary-chart-directive namespace="forServerList"></response-time-summary-chart-directive>
			<h5>Load</h5>
			<load-chart-directive namespace="forServerList"></load-chart-directive>
		</div>
	</div>
</div>