:host {
    display: block;
    width: 100%;
    height: 100%;
}

::ng-deep .l-icon-without-btn {
    /* margin-left: 3px; */
    margin-right: 3px
}

::ng-deep .l-btn-inside-method {
    /* margin-left: 3px; */
    margin-right: 3px;
}

::ng-deep .l-icon-inside-btn {
    margin-right: 3px;
}

::ng-deep #call-tree-table .ag-row {
    color: var(--text-primary-lighter);
    background-color: var(--background-primary);
    border-color: var(--border-primary);
}

::ng-deep #call-tree-table .ag-row-even {
    background-color: var(--background-default);
}

::ng-deep #call-tree-table .ag-body {
    background-color: var(--background-default);
}

::ng-deep #call-tree-table .ag-header-cell {
    color: var(--text-primary)  !important;
    background-color: var(--background-default);
    font-weight: bold;
}