<div class="agent-chart-group" ng-show="showChartGroup">
    <ul class="tabs">
        <li><a href="#Heap_{{namespace}}">Heap</a></li>
        <li><a href="#PermGen_{{namespace}}">PermGen</a></li>
        <li><a href="#CpuLoad_{{namespace}}">CpuLoad</a></li>
    </ul>
    <div id="Heap_{{namespace}}" class="content">
        <jvm-memory-chart namespace="forHeap_{{namespace}}"></jvm-memory-chart>
    </div>
    <div id="PermGen_{{namespace}}" class="content">
        <jvm-memory-chart namespace="forNonHeap_{{namespace}}"></jvm-memory-chart>
    </div>
    <div id="CpuLoad_{{namespace}}" class="content">
        <cpu-load-chart namespace="forCpuLoad_{{namespace}}"></cpu-load-chart>
    </div>
</div>