<div class="inspector-container">
    <div ng-include=" 'error' "></div>
    <div ng-include=" 'warning' "></div>
    <div ng-include=" 'info' "></div>
    <div ng-include=" 'loading' "></div>

    <div>
        <h3>Information</h3>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-condensed" style="font-size:12px;">
                    <tbody>
                    <tr>
                        <td class="col-md-3 text-right"><strong>Application Name</strong></td>
                        <td class="col-md-2 text-left">{{info.applicationName}}</td>
                        <td class="col-md-2 text-right"><strong>Agent Version</strong></td>
                        <td class="col-md-5 text-left">{{info.agentVersion}}</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Agent Id</strong></td>
                        <td class="text-left">{{info.agentId}}</td>
                        <td class="text-right"><strong>PID</strong></td>
                        <td class="text-left">{{info.pid}}</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Hostname</strong></td>
                        <td class="text-left">{{info.hostName}}</td>
                        <td class="text-right"><strong>JVM GC Type</strong></td>
                        <td class="text-left">{{info.jvmGcType}}</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>IP</strong></td>
                        <td class="text-left">
                            <div>{{info.ip}} <a class="btn btn-default btn-xs" href="http://nsight.nhncorp.com/dashboard_server/{{info.ip}}" target="_blank" title="System resource monitoring site">NSight</a></div>
                        </td>
                        <td class="text-right"><strong>Start Time</strong></td>
                        <td class="text-left">{{agent.startTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Service Type</strong></td>
                        <td class="text-left">
                            <div>{{info.serviceType}} <a href tabindex="-1" ng-click="openServerMetaDataDiv()" class="btn btn-default btn-xs" ng-show="info.serverMetaData && (info.serverMetaData.serverInfo.length || info.serverMetaData.vmArgs.length || info.serverMetaData.serviceInfos.length)"><span class="glyphicon glyphicon-plus"></span></a></div>
                        </td>
                        <td class="text-right"><strong>End Status</strong></td>
                        <td class="text-left">{{agent.endStatus}} (last checked : {{agent.endTimeStamp | date:'yyyy-MM-dd HH:mm:ss Z'}})</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <h3>Memory & Garbage Collection</h3>

        <!--<div class="row">-->
            <!--<div class="col-md-6">-->
                <!--<h5>{{memoryGroup[0].title}}</h5>-->
                <!--<svg id="line_{{memoryGroup[0].id}}" style="height:220px;" />-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
                <!--<h5>{{memoryGroup[1].title}}</h5>-->
                <!--<svg id="line_{{memoryGroup[1].id}}" style="height:220px;" />-->
            <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-md-6">
                <h5>{{memoryGroup[0].title}}</h5>
                <jvm-memory-chart namespace="forHeap"></jvm-memory-chart>
            </div>
            <div class="col-md-6">
                <h5>{{memoryGroup[1].title}}</h5>
                <jvm-memory-chart namespace="forNonHeap"></jvm-memory-chart>
            </div>
        </div>
    </div>
    <div>
        <h3>Cpu Usage</h3>
        <div class="row">
            <div class="col-md-6">
                <h5>{{cpuLoadChart.title}}</h5>
                <cpu-load-chart namespace="forCpuLoad"></cpu-load-chart>
            </div>
        </div>
    </div>
    <!--div class="row">
        <div class="span12">
            <h5>Data Table <small>(updated : {{timestamp}})</small></h5>
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(k, v) in agent_stats">
                    <td><small>{{k}}</small></td>
                    <td><small>{{v.value}}</small></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div-->
    <div class="modal fade bs-modal-lg center" id="serverMetaDataDiv" tabindex="-1" role="dialog" aria-labelledby="myServerMetaDataDiv"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myServerMetaDataDiv">Server Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x:auto;">
                            <table class="table table-striped table-condensed" style="font-size:12px;">
                                <tbody>
                                <tr>
                                    <td>
                                        <dl class="dl-horizontal">
                                            <dt>Server Info</dt>
                                            <dd ng-show="info.serverMetaData.serverInfo.length">{{info.serverMetaData.serverInfo}}</dd>
                                            <dd ng-hide="info.serverMetaData.serverInfo.length">N/A</dd>
                                        </dl>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <dl class="dl-horizontal pre-scrollable">
                                            <dt>VM Arguments</dt>
                                            <dd ng-show="info.serverMetaData.vmArgs.length" ng-repeat="vmArg in info.serverMetaData.vmArgs">{{vmArg}}</dd>
                                            <dd ng-hide="info.serverMetaData.vmArgs.length">N/A</dd>
                                        </dl>
                                    </td>
                                </tr>
                                <tr ng-show="info.serverMetaData.serviceInfos.length">
                                    <td>
                                        <dl class="dl-horizontal pre-scrollable">
                                            <dt ng-repeat-start="serviceInfo in info.serverMetaData.serviceInfos" title="{{serviceInfo.serviceName}}">{{serviceInfo.serviceName}}</dt>
                                            <dd ng-repeat="serviceLib in serviceInfo.serviceLibs">{{serviceLib}}</dd>
                                            <dd ng-repeat-end>&nbsp;</dd>
                                        </dl>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
