.container {
    display: flex;
}

.l-main-container {
    display: flex;
    flex-flow: row wrap;
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
}
.l-component-wrapper {
    position: relative;
    width: 100%;
}
