<div class="l-chart-wrapper">
    <div class="l-chart-title">
        <span>Chart List</span>
    </div>
    <div class="l-chart-list">
        <pp-inspector-chart-list
            [chartList]="chartList"
            [chartState]="chartState"
            (outAddChart)="onAddChart($event)">
        </pp-inspector-chart-list>
    </div>
    <pp-film-for-disable *ngIf="useDisable" [zIndex]="9" [marginWidth]="0"></pp-film-for-disable>    
    <pp-loading [showLoading]="showLoading" [zIndex]="20"></pp-loading>
</div>
