spring:
  main:
    allow-bean-definition-overriding: true
  profiles:
    active: release, metric
  mvc:
    problemdetails:
      enabled: true

server:
  port: 8080
  error:
    path: /api-public/error
    include-exception: true
    include-message: always
    include-binding-errors: always
    include-stacktrace: always
    whitelabel:
      enabled: true
  max-http-request-header-size: 32KB
  compression:
    enabled: true
    mime-types: application/json
    min-response-size: 2KB

management:
  health:
    defaults:
      enabled: false
    diskspace:
      enabled: true
  endpoint:
    health:
      show-details: always
      enabled: true
    beans:
      enabled: true
    conditions:
      enabled: true
    configprops:
      enabled: true
      show-values: always
    env:
      enabled: true
      show-values: always
    logfile:
      enabled: true
    loggers:
      enabled: true
    mappings:
      enabled: true
    info:
      enabled: true
    threaddump:
      enabled: true
    heapdump:
      enabled: true
    metrics:
      enabled: false
    httptrace:
      enabled: false
    prometheus:
      enabled: false
    shutdown:
      enabled: false
  endpoints:
    web:
      exposure:
        include: health,beans,conditions,configprops,env,logfile,loggers,mappings,info,threaddump,heapdump,pause
      base-path: /monitor
      path-mapping:
        health: l7check
  server:
    ssl:
      enabled: false
    port: 8443

pinpoint:
  modules:
    web:
      exceptiontrace:
        enabled: true
      inspector:
        enabled: true
      otlpmetric:
        enabled: true
      heatmap:
        enabled: true
      uristat:
        enabled: true
      systemmetric:
        enabled: true
    realtime:
      enabled: true

pinpoint.web.websocket:
  async-send-timeout:
  max-session-idle-timeout: 10800000 # 3 hours
  max-binary-message-buffer-size:
  max-text-message-buffer-size: