<article class="l-chart-item">
    <div class="l-tool-box">
        <p class="l-title">Response Avg & Max</p>
    </div>
    <div class="l-content-section">
        <pp-loading [showLoading]="showLoading" [zIndex]="10"></pp-loading>
        <pp-retry [showRetry]="showRetry" [message]="dataFetchFailedText" (outRetry)="onRetry()"></pp-retry>
        <pp-response-avg-max-chart
            [ngClass]="chartVisibility"
            [chartConfig]="chartConfig"
            (outRendered)="onRendered()">
        </pp-response-avg-max-chart>
    </div>
</article>
