.l-out-wrapper {
    background: #FFF;
    width: 95%;
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding: 4px; 
    margin: 10px 14px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.23);
}
.l-wrapper {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.l-wrapper button {
    color: #4b99e3;
    float: right;
    font-size: 18px;
}
.l-wrapper button.l-remove {
    color: #b5213c;
    height: 20px;
    width: 20px;
    font-size: 16px;
}
.l-none {
    float: right;
    height: 18px;
}
.l-agent-list {
    color: #000;
    background-color: #F1F1F1;
    padding: 6px;
    height: 120px;
    overflow: auto;    
    min-height: 120px;
    max-height: 120px;
    margin-top: 12px;
}
.l-agent {
    padding: 2px 6px;
}
.l-loading {
    height: 120px;
    position: relative;
    margin-top: 12px;
}
.l-empty {
    color: #AAA;
    background-color: #DDD;
}
.l-dup {
    color: #F00;
}
.l-has {

}
.l-yet {

}