header {
    background-color:#000;
}
.l-widget-group {
    flex: 1;
    color: #FFF;
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-flow: row;
    font-size: 14px;
    font-family: monospace;
    align-items: flex-end;
    justify-content: flex-start;
}
.l-widget-group a {
    padding: 6px 20px;
}
.active {
    background-color: #408dd4;
    box-shadow: 1px -1px 0px 1px rgba(255, 255, 255, 1);
}
.l-main-container {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: hidden;
    height: calc(100vh - 50px);
}