<ul class="l-one-depth-list">
    <li>
        <div><span class="l-icon fas fa-compress"></span>Merge</div>
        <ul class="l-two-depth-list">
            <li class="l-selectable-command" *ngFor="let key of objectKeys(mergeNodeStateMap)" (click)="onClickMergeCheck(key)">
                <span class="l-icon" [ngClass]="mergeStateStyleClass[key]"></span>{{key}}
            </li>
        </ul>
    </li>
    <li class="l-selectable-command" (click)="onClickRefresh()"><span class="l-icon fas fa-sync"></span>Refresh</li>
</ul>
