<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       ">

    <bean id="agentService" class="com.navercorp.pinpoint.web.service.AgentServiceImpl">
    </bean>

    <bean id="activeThreadHandler" class="com.navercorp.pinpoint.web.websocket.ActiveThreadCountHandler">
        <!-- default value.
        <constructor-arg value="/agent/activeThread" />
        -->
        <constructor-arg ref="agentService" />
    </bean>


    <bean id="handlerRegister" class="com.navercorp.pinpoint.web.websocket.PinpointWebSocketHandlerManager">
        <constructor-arg>
            <list>
                <ref bean="activeThreadHandler" />
            </list>
        </constructor-arg>
    </bean>


</beans>
