<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="commandHeaderTBaseSerializerFactory" class="com.navercorp.pinpoint.thrift.io.CommandHeaderTBaseSerializerFactory" factory-method="getDefaultInstance">
    </bean>
    <bean id="commandHeaderTBaseDeserializerFactory" class="com.navercorp.pinpoint.thrift.io.CommandHeaderTBaseDeserializerFactory" factory-method="getDefaultInstance">
    </bean>
    <bean id="agentEventHeaderTBaseDeserializerFactory" class="com.navercorp.pinpoint.thrift.io.AgentEventHeaderTBaseDeserializerFactory">
    </bean>

    <bean id="clusterConnectionManager" class="com.navercorp.pinpoint.web.cluster.connection.ClusterConnectionManager">
        <constructor-arg ref="webClusterProperties"/>
    </bean>

    <bean id="clusterDataManager" class="com.navercorp.pinpoint.web.cluster.zookeeper.ZookeeperClusterDataManager">
        <constructor-arg ref="webClusterProperties"/>
    </bean>

    <bean id="clusterManager" class="com.navercorp.pinpoint.web.cluster.ClusterManager">
        <constructor-arg ref="webClusterProperties"/>
    </bean>

    <bean id="agentEventMessageDeserializer" class="com.navercorp.pinpoint.common.server.util.AgentEventMessageDeserializer">
        <constructor-arg>
            <list value-type="com.navercorp.pinpoint.thrift.io.DeserializerFactory">
                <ref bean="commandHeaderTBaseDeserializerFactory"/>
                <ref bean="agentEventHeaderTBaseDeserializerFactory"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="apiParserProvider" class="com.navercorp.pinpoint.common.server.trace.ApiParserProvider">
    </bean>

    <bean id="hbaseSqlMetaDataDao" class="com.navercorp.pinpoint.web.dao.hbase.HbaseSqlMetaDataDao">
    </bean>

    <bean id="hbaseSqlUidMetaDataDao" class="com.navercorp.pinpoint.web.dao.hbase.HbaseSqlUidMetaDataDao">
    </bean>

    <bean id="sqlMetaDataMapper" class="com.navercorp.pinpoint.web.mapper.SqlMetaDataMapper">
        <constructor-arg ref="metadataRowKeyDistributor"/>
    </bean>

    <bean id="sqlMetaDataMapper2" class="com.navercorp.pinpoint.web.mapper.SqlMetaDataMapper">
        <constructor-arg ref="metadataRowKeyDistributor2"/>
    </bean>

    <bean id="sqlUidMetaDataMapper" class="com.navercorp.pinpoint.web.mapper.SqlUidMetaDataMapper">
        <constructor-arg ref="metadataRowKeyDistributor2"/>
    </bean>

    <bean id="rewriteFilter" class="com.navercorp.pinpoint.web.servlet.HttpIntentRoutingFilter"/>

    <bean id="additionalServletRegistrationBeanFactory" class="com.navercorp.pinpoint.web.servlet.AdditionalServletRegistrationBeanFactory" />
    <bean id="apiServletRegistrationBean" factory-bean="additionalServletRegistrationBeanFactory" factory-method="addRegistration">
        <constructor-arg index="0" value="/api/*"/>
    </bean>

    <bean class="com.navercorp.pinpoint.web.interceptor.PerformanceLoggingInterceptor">
        <constructor-arg value="1000"/>
    </bean>

</beans>
