<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hbaseTableFactory" class="com.navercorp.pinpoint.common.hbase.HbaseTableFactory">
        <constructor-arg ref="hbaseConnection"/>
    </bean>

    <bean id="hbaseTemplate" class="com.navercorp.pinpoint.common.hbase.HbaseTemplate2" primary="true">
        <property name="configuration" ref="hbaseConfiguration"/>
        <property name="tableFactory" ref="hbaseTableFactory"/>
        <property name="enableParallelScan" value="${hbase.client.parallel.scan.enable:false}"/>
        <property name="maxThreads" value="${hbase.client.parallel.scan.maxthreads:16}"/>
        <property name="maxThreadsPerParallelScan" value="${hbase.client.parallel.scan.maxthreadsperscan:4}"/>
    </bean>

    <bean id="hbaseAdminFactory" class="com.navercorp.pinpoint.common.hbase.HbaseAdminFactory">
        <constructor-arg ref="hbaseConnection"/>
    </bean>

    <bean id="hbaseAdminTemplate" class="com.navercorp.pinpoint.common.hbase.HBaseAdminTemplate">
        <constructor-arg ref="hbaseAdminFactory"/>
    </bean>

    <bean class="com.navercorp.pinpoint.common.hbase.HbaseVersionCheckBean"/>

</beans>