<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- default setting-->
    <settings>
        <setting name="cacheEnabled" value="true" />

        <!-- lazy loading-->
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="true" />

        <setting name="useGeneratedKeys" value="true" />

        <!-- don't need "REUSE" because preparedStatements are cached  at dbcp  -->
        <setting name="defaultExecutorType" value="SIMPLE" />

        <!--defaultQueryTiemout. unit is second -->
        <setting name="defaultStatementTimeout" value="5" />
        <!--undersocre mapping of DB table  -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <typeAliases>
        <typeAlias type="com.navercorp.pinpoint.web.vo.UserGroup" alias="UserGroup"/>
        <typeAlias type="com.navercorp.pinpoint.web.vo.UserGroupMember" alias="UserGroupMember"/>
        <typeAlias type="com.navercorp.pinpoint.web.vo.User" alias="User"/>
        <typeAlias type="com.navercorp.pinpoint.web.alarm.vo.Rule" alias="Rule"/>
        <typeAlias type="com.navercorp.pinpoint.web.alarm.vo.CheckerResult" alias="ChecherResult"/>

        <typeAlias type="com.navercorp.pinpoint.web.vo.AgentCountStatistics" alias="AgentCountStatistics"/>
        <typeAlias type="com.navercorp.pinpoint.web.vo.Range" alias="Range"/>
    </typeAliases>

</configuration>
