<header class="flex-container flex-row">
    <pp-header-logo></pp-header-logo>
    <button class="l-exit-button" title="Exit the configuration page" (click)="onClickExit()"><i class="fas fa-times"></i></button>
</header>
<div class="l-main-container font-opensans">
    <section class="l-sidemenu-section">
        <ul class="l-list">
            <li class="l-list-item"><a routerLink="/config/general" routerLinkActive="active" class="l-link">General</a></li>
            <li class="l-list-item"><a routerLink="/config/userGroup" routerLinkActive="active" class="l-link">User Group</a></li>
            <li class="l-list-item"><a routerLink="/config/alarm" routerLinkActive="active" class="l-link">Alarm</a></li>
            <li class="l-list-item"><a routerLink="/config/installation" routerLinkActive="active" class="l-link">Installation</a></li>
            <li class="l-list-item l-separator"></li>
            <li class="l-list-item"><a routerLink="/config/help" routerLinkActive="active" class="l-link">Help</a></li>
        </ul>
    </section>
    <section class="l-main-section">
        <router-outlet></router-outlet>
    </section>
</div>
