.agent-chart-group-directive {
    border: none;
    font-size: 11px;
    padding: 0;
    height: 100%;
}
.agent-chart-group-directive .tabs {
    padding: 0 0 0 10px;
    background: none;
    border: none;
    border-bottom: 1px solid #aaaaaa;
    border-radius: 0;
}
.agent-chart-group-directive .content {
    position: absolute;
    top: 27px;
    bottom: 0;
    left:0;
    right:0;
}