.callStacks {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 11px;
    line-height: normal;
    color: #000;
}
.callStacks td {
    font-family:consolas;
}
.callStacks .error {
    background-color:#f2dede;
}
.callStacks .info {
    background-color:#dff0d8;
}
.callStacks .method {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.callStacks .arguments {
    overflow: hidden;
    text-overflow: ellipsis;
}
.callStacks .exectime {
    text-align: center;
}
.callStacks .exectime.info {
}
.callStacks .time {
    text-align: right;
}
.callStacks .gap {
    text-align: right;
}
.callStacks .gap.info {
}
.callStacks .service {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.callStacks .agent {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.callStacks .bar {
    vertical-align: middle;
}
.callStacks .agent-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
}

.callStacks table td,
.callStacks .flexigrid div.bDiv td {
    position: relative;
}
.callStacks .agent-divider-normal {
    border-top: 2px dotted rgb(44, 160, 44);
}
.callStacks .agent-divider-warn {
    border-top: 2px dotted rgb(214, 39, 40);
}
.callStacks .flexigrid {
    width: 100%;
    height: 100%;
    position: relative;
}
.callStacks .flexigrid .bDiv {
    position: absolute !important;
    top: 25px;
    bottom: 0;
    width: 100%;
    overflow: auto;
}

.callStacks label.first {
    background-color: #006dcc;
}
.callStacks label.second {
    background-color: #5bb75b;
}
.callStacks label.third {
    background-color: #49afcd;
}
.callStacks label.forth {
    background-color: #faa732;
}
.callStacks label.fifth {
    background-color: #da4f49;
}

.callStacks .flexigrid div.bDiv tr:hover td,
.callStacks .flexigrid div.bDiv tr:hover td.sorted,
.callStacks .flexigrid div.bDiv tr.trOver td.sorted,
.callStacks .flexigrid div.bDiv tr.trOver td
{
    border-bottom: none;
}

.callStacks .flexigrid div.bDiv tr.trSelected:hover td,
.callStacks .flexigrid div.bDiv tr.trSelected:hover td.sorted,
.callStacks .flexigrid div.bDiv tr.trOver.trSelected td.sorted,
.callStacks .flexigrid div.bDiv tr.trOver.trSelected td,
.callStacks .flexigrid tr.trSelected td.sorted, .flexigrid tr.trSelected td
{
    background: #B2DEF5;
}

.callStacks > table {
    border-top: 1px solid #ccc;
    min-width: 1700px;
}
.callStacks > table th,
.callStacks > table td
	/* common cell properties*/ {
    text-align: left;
    border-right: 1px solid #ddd;
    border-left: 1px solid #fff;
    overflow: hidden;
    vertical-align: top !important;
    padding-left: 0;
    padding-right: 0;
}

.callStacks > table th {
    font-weight: normal;
    height: 13px;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    background: #fafafa url(../components/jquery-flexigrid/css/images/fhbg.gif) repeat-x bottom;
    padding: 5px;
    border-left: 0px solid #fff;
}
.callStacks > table td {
    padding: 5px;
    text-overflow: ellipsis;
    /*white-space:nowrap;*/
    word-break: break-all;
}

.callStacks > table tr:hover td {
    background: #d9ebf5;
}
