#pinpoint-configuration .modal-header {
    background-color: #384258 !important;
    color: #FFF;
}
#pinpoint-configuration .modal-title {
	font-size: 20px;
}
#pinpoint-configuration .modal-menu {
    font-size: 16px;
    height:36px;
    color: #a2a2a2;
    border-bottom: 1px solid #E5E5E5;
}
#pinpoint-configuration .modal-menu ul {
	list-style-type: none;
	padding: 0px 0px 0px 8px;
}
#pinpoint-configuration .modal-menu li {
	float: left;
	padding: 2px 10px 2px 10px;
	cursor: pointer;
}
#pinpoint-configuration .modal-menu li.active {
	color: #686868;
}
#pinpoint-configuration .modal-body {
	background-color: #FFF;
}
#pinpoint-configuration .modal-body > div {
	height: 500px;
}
	

#pinpoint-configuration .hide-me {
	display:none;
}

#pinpoint-configuration .some-list {
	float: left;
	left: 0px;
	width: 240px;
	height: 500px;
	background-color: #FFF;
	border: 1px solid #E2E2E2;
}
#pinpoint-configuration .some-list .outer-wrapper {
	float: left;
	left: 0px;
	width: 100%;
	height: 100%;
}
/*
#pinpoint-configuration .some-list .btn{
	border-radius: 0px;
	font-size: 16px;
	padding-top: 3px;
	padding-bottom: 3px;
}
*/
#pinpoint-configuration .some-list-header {
	height: 41px;
    padding: 10px 10px 0px 10px;
    font-size: 16px;
    border-bottom: 1px solid #E2E2E2;
    vertical-align: middle;
    background-color: #FAFAFA;
}
#pinpoint-configuration .some-list-search {
    height: 41px;
    font-size: 16px;
    padding: 3px 4px 0px 4px;
    border-bottom: 1px solid #E2E2E2;
    vertical-align: middle;
}
#pinpoint-configuration .some-list-search input {
    border: 1px solid #46BCFD;
}

#pinpoint-configuration .some-list-header .title {

}
#pinpoint-configuration .left { 
	float: left;
}
#pinpoint-configuration .right { 
	float: right;
}
#pinpoint-configuration .some-list-content {
	width: 100%;
	height: 470px;
}
#pinpoint-configuration .some-list-content .wrapper {
	position: relative;
	width: 100%;
	height: 416px;
	overflow-y: auto;
}
#pinpoint-configuration .some-list-content ul { 
	list-style-type: none;
	padding:0px 0px 4px 0px;
}
#pinpoint-configuration .some-list-content li {
	cursor: pointer;
    height: 32px;
	padding: 5px 0px 0px 10px;
    background-color:#FAFAFA;
}
#pinpoint-configuration .some-list-content li input {
    width: 220px;
    color: #000;
    display: inline-block;
}

#pinpoint-configuration .some-list-content li.selected {
	background-color: #46BCFD;
	color: #FFF;
}
#pinpoint-configuration .some-list-content li.selected span.remove {
    display: none;
}
#pinpoint-configuration .some-list-content li.selected span.edit {
    display:none;
}
#pinpoint-configuration .some-list-content li span.remove,
#pinpoint-configuration .some-list-content li span.remove-cancel,
#pinpoint-configuration .some-list-content li span.edit,
#pinpoint-configuration .some-list-content li span.edit-confirm {
    float: right;
    color: #999999;
    cursor: pointer;
    margin-top: 4px;
    margin-right: 6px;
    line-height: 12px;
    padding-left: 4px;
    padding-right: 4px;
}
#pinpoint-configuration .some-list-content li span.remove-confirm {
    color: #F00 !important;
}

#pinpoint-configuration .some-list-content li:hover span {
    color: #000;
}
#pinpoint-configuration .some-list-content li:hover span.remove {
    color: #000;
}
#pinpoint-configuration .some-list-content li:hover span.edit {
    color: #000;
}
#pinpoint-configuration .some-list-content li input {
    display: none;
}
#pinpoint-configuration .some-list-content li.new-group {
    background-color: #F3FBFF;
}
#pinpoint-configuration .some-list-content li.new-group:hover span.remove {
    color: #000000;
}
#pinpoint-configuration .some-list-content li.new-group:hover span.edit {
    color: #000000;
}

#pinpoint-configuration .some-list-content li.new-group span.contents {
    display: none;
}
#pinpoint-configuration .some-list-content li.new-group input {
    width: 220px;
    color: #000;
    border: 0px solid #FFF;
    display: inline-block;
    background-color: #F3FBFF;
}

#pinpoint-configuration .some-list-content li.remove:hover {
	background-color: #EFABAB;
	color: #000;
}
#pinpoint-configuration .some-list-content .wrapper .empty-list {
	text-align: center;
	margin-top: 50%;
	color: #AAA;
	font-size: 22px;
}
#pinpoint-configuration .some-list-content.move-some-where li span {
	margin-left: 4px;
}
#pinpoint-configuration .some-loading {
	position:relative;
	bottom: 470px;
	left: 0px;
	width: 100%;
	height: 416px;
	text-align: center;
	background: rgba(256, 256, 256, 0.8);
}
#pinpoint-configuration .some-alert {
    position:relative;
    bottom: 470px;
    left: 0px;
    width: 100%;
    height: 416px;
    text-align: center;
	background: rgba(146, 146, 146, 0.9);
}
#pinpoint-configuration .some-alert span.message {
	position: absolute;
	padding: 0px 6px 0px 6px;
	color: #9A0707;
	width: 100%;
	left: 0px;
	top:40px;
}
#pinpoint-configuration .some-alert span.close-alert {
	color: #000;
	float: right;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	padding-right: 4px;
}
#pinpoint-configuration .some-loading div {
	margin-top: 50%;
}
#pinpoint-configuration .some-edit-content {
	position:relative;
	bottom: 500px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}
#pinpoint-configuration .some-edit-content > div:first-child {
	padding-top: 50%;
	text-align:center;
}
#pinpoint-configuration .some-edit-content .title-message {
	color: #46D030;;
	font-size: 12px;
	padding-bottom: 4px;
}
#pinpoint-configuration .some-edit-content input[type=text] {
	width: 90%;
	height: 28px;
	border: none;
	font-size: 16px;
	text-align: center;
	margin-top: 1px;
	border-radius: 4px;
}
#pinpoint-configuration .some-edit-content input[type=number], #pinpoint-configuration .some-edit-content textarea {
	font-size: 16px;
	border-radius: 4px;
	border: none;
}
#pinpoint-configuration .some-edit-content input[type=checkbox] {
	font-size: 30px;
}
#pinpoint-configuration .some-edit-content label {
	font-weight: normal;
	padding-left: 4px;
	color: #FFF;
}
#pinpoint-configuration .some-edit-content.pinpoint .edit-wrapper {
	text-align: right;
}
#pinpoint-configuration .some-edit-content.pinpoint input[type=text] {
	width: 70%;
	position:relative;
	right: 0px;
	margin-right: 4px;
}
#pinpoint-configuration .some-edit-content.pinpoint span.title {
	color: #FFF;
	margin-right: 4px;
}
/*
#pinpoint-configuration .some-list-content li:nth-child(even) {
	background-color: #F8F8F8;
}
*/
#pinpoint-configuration .some-list-content li span.right {
	margin-top: -2px;
}
#pinpoint-configuration .some-list .filter-input {
	position: relative;
	bottom: -16px;
	width: 100%;
	background-color: #EEE;
}
#pinpoint-configuration .some-list .filter-input input {
	width: 66%;
	height: 25px;
	padding: 1px 0px 1px 0px;
	margin-left: -1px;
}
#pinpoint-configuration .some-list .filter-input button {
	float: right;
	padding : 0px 9px 0px 9px;
	margin-top: 0px;
}
#pinpoint-configuration .some-list .filter-input select {
	height: 22px;
	margin-top: 1px;
	margin-left: -1px;
	border-radius: 0px 0px 0px 0px;
}
#pinpoint-configuration .pinpoint-user-list {
	float: right;
	width: 300px;
}

/* 테이블 관련 */
#pinpoint-configuration .tabbable {
	float: left;
}
#pinpoint-configuration .some-table {
	display: block;
	width: 100%;
}
#pinpoint-configuration .some-table  table {
	display: block;
	width: 100%;
	table-layout: fixed;
	padding-right: 8px;
}
#pinpoint-configuration .some-table .some-list-content thead tr {
	height: 34px;
	font-size: 14px;
	color: #5bc0de;
	padding-right: 10px;
	line-height: 32px;
}
#pinpoint-configuration .some-table .some-list-content thead th {
	font-weight: normal !important;
}
#pinpoint-configuration .some-table .some-list-content tbody tr {
	height: 30px;
	padding-right: 10px;
	border-bottom: 1px solid #F8F8F8;
	cursor: pointer;
}
#pinpoint-configuration .some-table .some-list-content .wrapper tbody tr:hover {
	background-color: #928484;
	color: #FFF;
}
#pinpoint-configuration .some-table .some-list-content .wrapper tbody tr td:first-child {
	text-align: left;
	padding-left: 4px;
}
#pinpoint-configuration .some-table .some-list-content .wrapper tbody tr td:last-child {
	padding-right: 10px;
	padding-left: 5px;
}
#pinpoint-configuration .some-table .some-list-content .wrapper tbody tr.remove {
	background-color: #EFABAB;
	text-decoration: line-through;
}
#pinpoint-configuration .some-table .some-list-content .wrapper tbody td.remove {
	position: absolute;
	right: 24px;
}
#pinpoint-configuration .some-table .some-list-content .wrapper tbody button.edit {
	padding: 6px 3px 7px 4px;
	font-size: 6px;
	margin-top: -2px;
	margin-left: -4px;
	margin-right: 2px;
}

#pinpoint-configuration .some-table .filter-input {
	position: relative;
	bottom: -14px;
	width: 100%;
}
#pinpoint-configuration .some-table .filter-input tbody tr {
	height: 24px;
}

#pinpoint-configuration div.popover {
	color: #000;
}
#pinpoint-configuration div.popover .popover-title{
	display: none;
}
#pinpoint-configuration .some-table .some-list-content th, #pinpoint-configuration .some-table .some-list-content td {
	overflow: hidden;
	word-wrap: normal;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: bottom;
}
#pinpoint-configuration .some-table .some-list-content .remove {
	color: #AAA;
	cursor: pointer;
}
#pinpoint-configuration .some-table .some-list-content .remove:hover {
	color: red;
	font-weight: bold;
}
#pinpoint-configuration .some-table .some-list-content input {
	width: 100%;
	margin-left: -2px;
}
#config-help .left-sub-menu {
    float: left;
    width: 240px;
    border-right: 1px solid #D2D2D2;
}
#config-help .left-sub-menu ul {
    padding-left: 0px;
}
#config-help .left-sub-menu li {
    height: 164px;
    padding: 60px 24px 0px 24px;
    text-align: center;
    margin-right: 12px;
    border-bottom: 1px solid #D2D2D2;
}
#config-help .left-sub-menu li:last-child {
    border-bottom: 0px solid #D2D2D2;
}
#config-help .left-sub-menu a {
    font-size: 24px;
    margin-right: 4px;
}
#config-help .right-contents {
    float: left;
    margin-left: 40px;
}
#config-help .right-contents {
    color: #666666;
}

#config-help .right-contents table tr:first-child {
    background-color: #999999;
    font-size: 16px;
    color: #FFF;
}
#config-help .right-contents table tr:first-child td {
    padding: 10px 0px 10px 26px;
}
#config-help .right-contents table tr:first-child td:last-child {
    padding-left: 70px;
}

#config-help .right-contents table td {
    border: 0px solid #FFF;
}
#config-help .right-contents table ul {
    padding: 20px 20px 20px 26px;
}
#config-help .right-contents table td:last-child ul {
    padding-left: 70px;
}

#config-help .right-contents table li {
    padding-top: 4px;
    padding-bottom: 4px;
}
#config-help .right-contents > div {
    padding: 20px 0px 10px 0px;
}
#config-help li {
	list-style: none;
}

#config-help a:hover {
	color: rgb(43, 46, 74);
}
#config-help a:link {
	color: rgb(73, 166, 232);
}
#config-help a:visited {
	color: rgb(232, 69, 69);
}
#config-help a:active {
	color: rgb(83, 53, 74);
}
#config-general table td {
    border: 1px solid #D2D2D2;
    padding: 10px 1px 10px 26px;
    text-align: left;
}
#config-general table td.title {
    color: #FFF;
	padding: 10px 0px 10px 20px;
    font-size: 18px;
	text-align: left;
    background-color: #999999;
}
#config-general span.sub-title {
    color: rgb(73, 166, 232);
    font-size: 16px;
    padding-right: 30px;
}
#config-general .inout-bound .dropdown-menu {
    width: 192px;
    margin: 0px 0px 0px -1px;
    padding-top: 0px;
}
#config-general .inout-bound li {
    cursor: pointer;
    text-align: center;
}
#config-general .inout-bound li.selected {
    color: #FFF;
    background-color: #48A948;
}

#config-general .inbound {
    float: left;
    width: 95px;
    list-style: none;
    padding-left: 0px;
    border-right: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
}
#config-general .inbound li.inbound-title {
    text-align: center;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
}
#config-general .outbound {
    float: right;
    width: 95px;
    list-style: none;
    padding-left: 0px;
    border-bottom: 1px solid #D2D2D2;
}
#config-general .outbound li.outbound-title {
    text-align: center;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
}
#config-general .favorite-application tr:last-child  td:first-child {
    padding-right: 26px;
}
#config-general .favorite-application tr:last-child  td:last-child{
    background-color: #F1F1F1;
}
#config-general .favorite-list-wrapper {
	overflow: auto;
	max-height: 280px;
}
#config-general .favorite-list {
	list-style:none;
	padding-left: 10px;
	padding-right: 10px;
}
#config-general .favorite-list li{
	display: block;
	padding: 4px 1px 0px 2px;
	text-align: left;
	margin-top: 2px;
	background-color: #FFF;
}
#config-general .favorite-list button{
	margin-right: 2px;
}
#config-general .general-warning {
	color: #C2C2C2;
	font-size: 14px;
    text-align: left;
    padding-bottom: 4px;

}
