#pinpoint-configuration .modal-header {
    background-color: #384258 !important;
    color: #FFF;
}
#pinpoint-configuration .modal-title {
	font-size: 20px;
}
#pinpoint-configuration .modal-menu {
    font-size: 16px;
    height:36px;
    color: #a2a2a2;
    border-bottom: 1px solid #E5E5E5;
}
#pinpoint-configuration .modal-menu ul {
	list-style-type: none;
	padding: 0px 0px 0px 8px;
}
#pinpoint-configuration .modal-menu li {
	float: left;
	padding: 2px 10px 2px 10px;
	cursor: pointer;
}
#pinpoint-configuration .modal-menu li.active {
	color: #686868;
}
#pinpoint-configuration .modal-body {
	background-color: #FFF;
}
#pinpoint-configuration .modal-body > div {
	height: 500px;
}
	

#pinpoint-configuration .hide-me {
	display:none;
}

#pinpoint-configuration .some-list {
	float: left;
	left: 0px;
	width: 240px;
	height: 500px;
	background-color: #FFF;
	border: 1px solid #E2E2E2;
}
#pinpoint-configuration .some-list .outer-wrapper {
	float: left;
	left: 0px;
	width: 100%;
	height: 100%;
}
#pinpoint-configuration .some-list-header {
	height: 41px;
    padding: 10px 10px 0px 10px;
    font-size: 16px;
    border-bottom: 1px solid #E2E2E2;
    vertical-align: middle;
    background-color: #FAFAFA;
}
#pinpoint-configuration .some-list-search {
    height: 41px;
    font-size: 16px;
    padding: 3px 4px 0px 4px;
    border-bottom: 1px solid #E2E2E2;
    vertical-align: middle;
}
#pinpoint-configuration .left { 
	float: left;
}
#pinpoint-configuration .right { 
	float: right;
}
#pinpoint-configuration .some-list-content {
	width: 100%;
	height: 470px;
}
#pinpoint-configuration .some-list-content .wrapper {
	position: relative;
	width: 100%;
	height: 416px;
	overflow-y: auto;
}
#pinpoint-configuration .some-list-content ul {
	padding:0px 0px 4px 0px;
    list-style-type: none;
}
#pinpoint-configuration .some-list-content li {
	cursor: pointer;
    height: 32px;
	padding: 5px 0px 0px 10px;
    background-color:#FAFAFA;
}
#pinpoint-configuration .some-list-content li input[type=text] {
    width: 220px;
    color: #000;
    display: none;
}
#pinpoint-configuration .some-list-content li input[type=checkbox] {
    float: left;
    margin-top: 4px;
    line-height: 12px;
}
#pinpoint-configuration .some-list-content li.remove {
    background-color: #FEF4F4;
}
#pinpoint-configuration .some-list-content li.edit {
    background-color: #F3FBFF;
}
#pinpoint-configuration .some-list-content li.remove span.contents {
    color: #EF4B55;
}


#pinpoint-configuration .some-list-content li.selected {
	background-color: #46BCFD;
	color: #FFF;
}
#pinpoint-configuration .some-list-content li.selected span.remove {
    display: none;
}
#pinpoint-configuration .some-list-content li.selected span.edit {
    display:none;
}
#pinpoint-configuration .some-list-content span.remove,
#pinpoint-configuration .some-list-content span.remove-cancel,
#pinpoint-configuration .some-list-content span.edit,
#pinpoint-configuration .some-list-content span.edit-confirm {
    float: right;
    color: #999999;
    cursor: pointer;
    margin-top: 6px;
    margin-right: 6px;
    line-height: 12px;
    padding-left: 4px;
    padding-right: 4px;
}
#pinpoint-configuration .some-list-content table span.remove,
#pinpoint-configuration .some-list-content table span.remove-cancel,
#pinpoint-configuration .some-list-content table span.edit,
#pinpoint-configuration .some-list-content table span.edit-confirm {
    float: none;
}
#pinpoint-configuration .some-list-content li span.remove-confirm {
    color: #F00 !important;
}

#pinpoint-configuration .some-list-content li:hover span {
    color: #000;
}
#pinpoint-configuration .some-list-content li:hover span.remove {
    color: #000;
}
#pinpoint-configuration .some-list-content li:hover span.edit {
    color: #000;
}
#pinpoint-configuration .some-list-content li.new-group {
    background-color: #F3FBFF;
}
#pinpoint-configuration .some-list-content li.new-group:hover span.remove {
    color: #000000;
}
#pinpoint-configuration .some-list-content li.new-group:hover span.edit {
    color: #000000;
}

#pinpoint-configuration .some-list-content li.new-group span.contents {
    display: none;
}
#pinpoint-configuration .some-list-content li.new-group input {
    width: 210px;
    color: #000;
    display: inline-block;
    border: 1px solid #CCC;
}
#pinpoint-configuration .some-list-content .wrapper .empty-list {
	text-align: center;
	margin-top: 50%;
	color: #AAA;
	font-size: 22px;
}
#pinpoint-configuration .some-list-content.move-some-where li span {
	margin-left: 4px;
}
#pinpoint-configuration ._disable-check li input[type=checkbox] {
    display: none;
}
#pinpoint-configuration .some-loading {
	position:relative;
	bottom: 470px;
	left: 0px;
	width: 100%;
	height: 416px;
	text-align: center;
	background: rgba(256, 256, 256, 0.8);
}
#pinpoint-configuration .some-guide {
    left: 0px;
    color: #46BCFD;
    width: 100%;
    height: 416px;
    bottom: 470px;
    position: relative;
    font-size: 14px;
    text-align: center;
    padding-top: 40%;
}
#pinpoint-configuration .some-alert {
    position:relative;
    bottom: 470px;
    left: 0px;
    width: 100%;
    height: 416px;
    text-align: center;
	background: rgba(146, 146, 146, 0.9);
}
#pinpoint-configuration .some-alert span.message {
	position: absolute;
	padding: 0px 6px 0px 6px;
	color: #9A0707;
	width: 100%;
	left: 0px;
	top:40px;
}
#pinpoint-configuration .some-alert span.close-alert {
	color: #000;
	float: right;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	padding-right: 4px;
}
#pinpoint-configuration .some-loading div {
	margin-top: 50%;
}
#pinpoint-configuration .some-list-content li span.right {
	margin-top: -2px;
}
#pinpoint-configuration .pinpoint-user-list {
	float: right;
	width: 300px;
}

/* 테이블 관련 */
#pinpoint-configuration .some-table {
	display: block;
	width: 100%;
}
#pinpoint-configuration .some-table  table {
	display: block;
	width: 100%;
	table-layout: fixed;
    padding-left: 2px;
	padding-right: 2px;
}
#pinpoint-configuration .some-table .some-list-content thead tr {
	height: 34px;
	font-size: 14px;
	color: #333;
	padding-right: 10px;
	line-height: 32px;
}
#pinpoint-configuration .some-table .some-list-content thead th {
	font-weight: normal !important;
    text-align: left;
    padding-left: 1px;
}
#pinpoint-configuration .some-table .some-list-content tbody tr {
	height: 32px;
    color: #9A9A9A;
	cursor: pointer;
    background-color: #FAFAFA;
}

#pinpoint-configuration .some-list-content tr.remove {
    background-color: #FEF4F4;
}
#pinpoint-configuration .some-list-content tr.remove td {
    background-color: #FEF4F4;
    color: #EF4B55;
}
#pinpoint-configuration .some-list-content tr span.remove-confirm {
    color: #F00 !important;
}

#pinpoint-configuration .some-table .some-list-content tbody td {
    padding: 0px 0px 4px 1px;
    text-align: left;
}
#pinpoint-configuration .some-table .some-list-content th,
#pinpoint-configuration .some-table .some-list-content td {
	overflow: hidden;
	word-wrap: normal;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: bottom;
}
#application-config .application-group {
    left: 0px;
    float: left;
    width: 310px;
    height: 500px;
    border: 1px solid #E2E2E2;
    background-color: #FFF;
}
#application-config .application-group .title {
    width: 100%;
    height: 41px;
    padding: 10px 10px 0px 10px;
    position: relative;
    border-bottom: 1px solid #E2E2E2;
    background-color: #9A9A9A;
}
#application-config .application-group .title span {
    color: #FFF;
    font-size: 16px;
}

#application-config .application-group .filtering {
    width: 100%;
    height: 41px;
    padding: 3px 4px 0px 4px;
    position: relative;
    font-size: 16px;
    border-bottom: 1px solid #E2E2E2;
}
#application-config .application-group .wrapper {
    width: 100%;
    height: 416px;
    position: relative;
    overflow-y: auto;
}
#application-config .application-group ul {
    padding: 0px 0px 4px 0px;
    list-style-type: none;
}
#application-config .application-group li {
    cursor: pointer;
    padding: 6px;
}
#application-config .application-group li.selected {
    background-color: #5897fb;
    color: #FFF;
}
#application-config .application-group li img {
    width: 25px;
    height: 25px;
    padding-right: 3px;
}
#config-help .left-sub-menu {
    float: left;
    width: 240px;
    border-right: 1px solid #D2D2D2;
}
#config-help .left-sub-menu ul {
    padding-left: 0px;
}
#config-help .left-sub-menu li {
    height: 164px;
    padding: 60px 24px 0px 24px;
    text-align: center;
    margin-right: 12px;
    border-bottom: 1px solid #D2D2D2;
}
#config-help .left-sub-menu li:last-child {
    border-bottom: 0px solid #D2D2D2;
}
#config-help .left-sub-menu a {
    font-size: 24px;
    margin-right: 4px;
}
#config-help .right-contents {
    float: left;
    margin-left: 40px;
}
#config-help .right-contents {
    color: #666666;
}

#config-help .right-contents table tr:first-child {
    background-color: #999999;
    font-size: 16px;
    color: #FFF;
}
#config-help .right-contents table tr:first-child td {
    padding: 10px 0px 10px 26px;
}
#config-help .right-contents table tr:first-child td:last-child {
    padding-left: 70px;
}

#config-help .right-contents table td {
    border: 0px solid #FFF;
}
#config-help .right-contents table ul {
    padding: 20px 20px 20px 26px;
}
#config-help .right-contents table td:last-child ul {
    padding-left: 70px;
}

#config-help .right-contents table li {
    padding-top: 4px;
    padding-bottom: 4px;
}
#config-help .right-contents > div {
    padding: 20px 0px 10px 0px;
}
#config-help li {
	list-style: none;
}

#config-help a:hover {
	color: rgb(43, 46, 74);
}
#config-help a:link {
	color: rgb(73, 166, 232);
}
#config-help a:visited {
	color: rgb(232, 69, 69);
}
#config-help a:active {
	color: rgb(83, 53, 74);
}
#config-general table td {
    border: 1px solid #D2D2D2;
    padding: 10px 1px 10px 26px;
    text-align: left;
}
#config-general table td.title {
    color: #FFF;
	padding: 10px 0px 10px 20px;
    font-size: 18px;
	text-align: left;
    background-color: #999999;
}
#config-general span.sub-title {
    color: rgb(73, 166, 232);
    font-size: 16px;
    padding-right: 30px;
}
#config-general .inout-bound .dropdown-menu {
    width: 192px;
    margin: 0px 0px 0px -1px;
    padding-top: 0px;
}
#config-general .inout-bound li {
    cursor: pointer;
    text-align: center;
}
#config-general .inout-bound li.selected {
    color: #FFF;
    background-color: #48A948;
}

#config-general .inbound {
    float: left;
    width: 95px;
    list-style: none;
    padding-left: 0px;
    border-right: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
}
#config-general .inbound li.inbound-title {
    text-align: center;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
}
#config-general .outbound {
    float: right;
    width: 95px;
    list-style: none;
    padding-left: 0px;
    border-bottom: 1px solid #D2D2D2;
}
#config-general .outbound li.outbound-title {
    text-align: center;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
}

#config-general .application {
    width: 310px;
}
#config-general .favorite-application tr:last-child  td:first-child {
    padding-right: 26px;
}
#config-general .favorite-application tr:last-child  td:last-child{
    background-color: #F1F1F1;
}
#config-general .favorite-list-wrapper {
	overflow: auto;
	max-height: 180px;
}
#config-general .favorite-list {
	list-style:none;
	padding-left: 10px;
	padding-right: 10px;
}
#config-general .favorite-list li{
	display: block;
	padding: 4px 1px 0px 2px;
	text-align: left;
	margin-top: 2px;
	background-color: #FFF;
}
#config-general .favorite-list button{
	margin-right: 2px;
}
#config-general .general-warning {
	color: #C2C2C2;
	font-size: 14px;
    text-align: left;
    padding-bottom: 4px;
}
.blink-blink {
    background-color: rgba( 255, 0, 0, 0.4 ) !important;
    /*
    animation: back-blink 1s;
    animation-iteration-count: 2;
    */
}
/*
@keyframes back-blink {
    0% {background-color: rgba( 255, 0, 0, 0.2 )}
    50% {background-color: rgba( 255, 0, 0, 0.5 ) }
    100% {background-color: rgba( 255, 0, 0, 0.2 ) }
}
*/

