.distributed-call-flow-directive {
    width: 100%;
    height: 100%;
    font-size: 11px;
}
.distributed-call-flow-directive .slick-cell {
    font-family: consolas;
    border-bottom: 0;
}
.distributed-call-flow-directive div {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.distributed-call-flow-directive .popover {
    /*max-width: inherit;*/
    max-width: 500px;
}
.distributed-call-flow-directive .has-exception {
    color:rgb(214, 39, 39);
}
.distributed-call-flow-directive .not-method {
    color:rgb(79, 79, 107);
}
.distributed-call-flow-directive .right-align {
    text-align: right;
}
.slick-header-columns {
    background: url("../images/header-columns-bg.gif") repeat-x center bottom;
    border-bottom: 1px solid silver;
}

.slick-header-column {
    background: url("../images/header-columns-bg.gif") repeat-x center bottom;
    border-right: 1px solid silver;
}

.slick-header-column:hover, .slick-header-column-active {
    background: white url("../images/header-columns-over-bg.gif") repeat-x center bottom;
}

.slick-headerrow {
    background: #fafafa;
}

.slick-headerrow-column {
    background: #fafafa;
    border-bottom: 0;
    height: 100%;
}

.slick-row.ui-state-active {
    background: #F5F7D7;
}

.slick-row:hover {
    background-color: blue;
}

.slick-row.active {
    background: #DFE8F6;
}
.slick-row.entry-point {
    background: #DFF0D8;
    color: #1469EB;
}
.slick-row.error-point {
    background: #f2dede;
    color: #1469EB;
}


.slick-cell {
    padding: 0 4px;
    height: 25px !important;
    line-height: 25px !important;
}

.slick-group {
    border-bottom: 2px solid silver;
}

.slick-group-toggle {
    width: 9px;
    height: 9px;
    margin-right: 5px;
}

.slick-group-toggle.expanded {
    background: url("../images/collapse.gif") no-repeat center center;
}

.slick-group-toggle.collapsed {
    background: url("../images/expand.gif") no-repeat center center;
}

.slick-group-totals {
    color: gray;
    background: white;
}

.slick-cell.selected {
    background-color: beige;
}

.slick-cell.active {

}

.slick-sortable-placeholder {
    background: silver !important;
}

.slick-row.odd {
    /*background: #fafafa;*/
}

.slick-row.ui-state-active {
    background: #F5F7D7;
}

.slick-row.loading {
    opacity: 0.5;
    filter: alpha(opacity = 50);
}

.slick-cell.invalid {
    border-color: red;
    -moz-animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    -moz-animation-name: slickgrid-invalid-hilite;
    -webkit-animation-name: slickgrid-invalid-hilite;
}

@-moz-keyframes slickgrid-invalid-hilite {
    from { box-shadow: 0 0 6px red; }
    to { box-shadow: none; }
}

@-webkit-keyframes slickgrid-invalid-hilite {
    from { box-shadow: 0 0 6px red; }
    to { box-shadow: none; }
}

.distributed-call-flow-directive .toggle {
    height: 9px;
    width: 9px;
    display: inline-block;
}

.distributed-call-flow-directive .toggle.expand {
    background: url("../images/expand.gif") no-repeat center center;
}

.distributed-call-flow-directive .toggle.collapse {
    background: url("../images/collapse.gif") no-repeat center center;
}

/* Individual cell styles */
.slick-cell.task-name {
    font-weight: bold;
    text-align: right;
}

.slick-cell.task-percent {
    text-align: right;
}

.slick-cell.cell-move-handle {
    font-weight: bold;
    text-align: right;
    border-right: solid gray;

    background: #efefef;
    cursor: move;
}

.cell-move-handle:hover {
    background: #b6b9bd;
}

.slick-row.selected .cell-move-handle {
    background: #D5DC8D;
}

.slick-row .cell-actions {
    text-align: left;
}

.slick-row.complete {
    background-color: #DFD;
    color: #555;
}

.percent-complete-bar {
    display: inline-block;
    height: 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}