.inspector-container {
    margin-left: 12px;
    margin-right: 22px;
}
.sidebar-spy {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0 12px 0 0;
    width: 238px;
    height: 100%;
    border: 0;
    border-right: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.inspector-container table tr:nth-child(odd) {
    background-color: #F3F3F3;
}
.inspector-container table tr:nth-child(even) {
    background-color: #EDEDED;
}
.inspector-container table {
    border: 1px solid #ECECEC;
}
.inspector-container table td {
    border-top: none !important;
}
.inspector-container h4 {
    color: #55B951 !important;
    font-size: 12px !important;
    margin: 2px !important;
}
.inspector-container .chart-collection {
    border: 1px solid #ECECEC;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.statistic .inspector-container .chart-collection {
    border: 1px solid #FFF;
}
.statistic hr {
    border-top: 1px solid #FFF;
}

.main-spy {
    margin-left: 238px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.inspector-datepicker {
    width: 190px !important;
}
.agent-list-directive {
    width: 100%;
    height: 100%;
    position: relative;
}
.agent-list-directive .scroll-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
.agent-list-directive .scroll-inner-wrapper{
    width: 238px;
    height: 100%;
    overflow: auto;
    position: absolute;
    border-bottom:74px solid transparent;
}
.agent-list-directive .application {
    color: #428bca;
    cursor: pointer;
    padding: 7px 4px 5px 10px;
    font-size: 12px;
    border-bottom: 1px solid #EDEDED;
}
.agent-list-directive .application > span {
    float: right;
    height: 29px;
    margin-top: -7px;
    padding-top: 9px;
    margin-right: -4px;
    border-radius: 0px;
}
.agent-list-directive .application > div {
    overflow : hidden;
    white-space : nowrap;
    text-overflow : ellipsis;
}
.agent-list-directive .application > div > span:first-child {
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    padding: 1px 3px;
    margin-right: 4px;
    border-radius: 50%;
    font-family: arial;
    background-color: #4E4E4E;
}
.agent-list-directive .application.active {
    color: #FFF;
    background-color: #0088CC;
}
.agent-list-directive .application.active > div > span:first-child {
    color: #4E4E4E;
    background-color: #FFF;
}
.agent-list-directive .application.active:hover {
    color: #FFF;
    background-color: #0088CC;
}
.agent-list-directive .application:hover {
    background-color: #eeeeee;
}
.agent-list-directive .application img {
    padding-right: 4px;
}
.agent-list-directive .searchbox {
    height: 38px;
    border-bottom: 1px solid #EDEDED;
    background-color: #F5F5F5;
}
.agent-list-directive .searchbox input {
    width: 200px;
    margin: 5px 0px 0px 8px;
}
.agent-list-directive .searchbox span {
    float: right;
    cursor:pointer;
    font-size: 14px;
    padding-top: 9px;
    padding-right: 6px;
}

.agent-list-directive .nav li > a:hover,
.agent-list-directive .nav li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

.agent-list-directive .nav-list {
    padding: 0;
}
.agent-list-directive .nav-list .nav-header {
    padding-left: 10px;
    padding-right: 10px;
}

.agent-list-directive .nav-list li > a,
.agent-list-directive .nav-list .nav-header {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 0px;
}

.agent-list-directive .nav-list li > a {
    padding: 3px 15px;
}

.agent-list-directive .nav-list .active > a,
.agent-list-directive .nav-list .active > a:hover,
.agent-list-directive .nav-list .active > a:focus {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
}

#serverMetaDataDiv .modal-body table > tbody > tr > td > div.row {
	margin-left: 0px;
	margin-right: 0px;
}

#serverMetaDataDiv .modal-body div.row > div.service-list,
#serverMetaDataDiv .modal-body div.row > div.service-libs {
	overflow-x: auto;
	overflow-y: auto;
	height: 240px;
}

#serverMetaDataDiv .modal-body div.row > div.service-list {
    padding-left: 0px;	
    padding-right: 0px;  
}

#serverMetaDataDiv .modal-body div.row > div.service-libs {
    border: 1px solid #ddd;
}

#serverMetaDataDiv .modal-body .list-group > a {
    padding: 3px 3px;
    word-wrap: break-word;
}

#serverMetaDataDiv .modal-body .list-group > a.disabled {
    color: #999999;
}

#serverMetaDataDiv .modal-body .list-group > a.disabled:hover,
#serverMetaDataDiv .modal-body .list-group > a.disabled:focus {
	color: #999999;
	text-decoration: none;
	background-color: transparent;
	cursor: not-allowed;
}

#serverMetaDataDiv .modal-body .list-group > .list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
#serverMetaDataDiv .modal-body .list-group > .list-group-item:last-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.inspector-container .slider-command {
    height: 38px;
    padding: 4px 0px 4px 12px;
    text-align: right;
    margin-left:-12px;
    margin-right:-22px;
    margin-bottom: 20px;
    background-color: #F5F5F5;
}
.inspector-container .slider-command > div {
    float: right;
}
.inspector-container .slider-command .current-point {
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    display: inline-block;
    box-shadow: 0px 0px 4px 2px #FF0;
    border-radius: 5px;
    margin-bottom: -1px;
    background-color: #FF0;
}
.inspector-container .slider > span {
    float: left;
    font-size: 12px;
    line-height: 2;
    margin-bottom:-26px;
}
.timeSlider .hide {
    display: none;
}
.timeSlider .background {
    fill: #EEE;
}
.timeSlider .selection-zone {
    fill: rgba(255, 255, 255, 0.5);
}
.timeSlider .x-axis {
    font-size: 12px;
    text-anchor: middle;
}
.timeSlider .x-axis line {
    stroke: #FFF;
    stroke-width: 0.5;
    stroke-linecap: square;
}
.timeSlider .left-handler rect, .timeSlider .right-handler rect {
    fill: #FFF;
}
.timeSlider .left-handler line, .timeSlider .right-handler line {
    stroke: #000;
    stroke-width: 2;
}
.timeSlider .guide line {
    stroke: #F00;
    stroke-width: .5;
    stroke-linecap: square;
    stroke-dasharray: 2, 2;
}
.timeSlider .guide circle {
    stroke: #F00;
    stroke-width: 2;
}
.timeSlider .selection-point line {
    stroke: #FF0;
    stroke-width: 1;
}
.timeSlider .selection-point circle {
    fill: #FF0;
    stroke: #000;
    stroke-width: 2;
}
.timeSlider .events line {
    stroke: #000;
    stroke-width: 1;
}
.timeSlider image {
    cursor: pointer;
}
.timeSlider .event {
    cursor: pointer;
}
.timeSlider .loading {
    fill: rgba(170, 170, 170, 0.1);
}
.timeSlider .loading rect {
    stroke-width: 2px;
}
.timeSlider .time-left-signboard text, .timeSlider .time-right-signboard text {
    fill: #000;
    font-size: 13px;
}
.timeSlider .time-series-signboard text {
    fill: #BBB;
}

#data-source-chart .not-found {
    margin-left: 10px;
}
#data-source-chart .type-selector {
    float: right;
    width: 100px;
    color: #000;
    border: 1px solid #DDD;
    cursor: pointer;
    padding: 4px;
    text-align: center;
    margin-top: -4px;
    margin-right: 10px;
}
#data-source-chart .type-select-layer {
    right: 39px;
    width:400px;
    height: 200px;
    border: 2px solid #444;
    display: none;
    z-index: 1000;
    padding: 10px;
    position: absolute;
    margin-top: 7px;
    background-color: #FFF;
}
#data-source-chart .type-select-layer > div {
    color: #000;
    padding-left: 6px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
}
#data-source-chart .type-select-layer > div button {
    width: 80px;
}
#data-source-chart .type-select-layer > div.wrapper {
    height: 153px;
    position: relative;
    overflow-y: auto;
}
#data-source-chart .type-select-layer ul {
    padding-top: 10px;
    padding-left: 0px;
}
#data-source-chart .type-select-layer li {
    display: inline-block;
    list-style: none;
    padding: 4px 5px 4px 3px;
}
#data-source-chart .type-select-layer label {
    margin-left: 6px;
}
#data-source-chart .panel-body {
    padding: 8px 15px;
}
#data-source-chart table {
    margin-bottom: 0px;
}
#data-source-chart td {
    padding: 2px 4px;
    font-size: 12px;
    text-align: center;

}
#data-source-chart tr:nth-child(2n) td {
    background-color: #FFF;
}