.inspector-container {
    width:95%;
    position:relative;
}
.sidebar-spy {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0 12px 0 0;
    width: 238px;
    height: 100%;
    border: 0;
    border-right: 1px solid #ddd;
    overflow: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.main-spy {
    margin-left: 250px;
    height: 100%;
    overflow: auto;
}
.inspector-datepicker {
    width: 190px !important;
}

.agent-list-directive .searchbox {
    width: 100%;
}

.agent-list-directive .nav li > a:hover,
.agent-list-directive .nav li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

.agent-list-directive .nav-list {
    padding: 0;
}
.agent-list-directive .nav-list .nav-header {
    padding-left: 10px;
    padding-right: 10px;
}

.agent-list-directive .nav-list li > a,
.agent-list-directive .nav-list .nav-header {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overow: ellipsis;
}

.agent-list-directive .nav-list li > a {
    padding: 3px 15px;
}

.agent-list-directive .nav-list .active > a,
.agent-list-directive .nav-list .active > a:hover,
.agent-list-directive .nav-list .active > a:focus {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
}

#serverMetaDataDiv .modal-body table > tbody > tr > td > div.row {
	margin-left: 0px;
	margin-right: 0px;
}

#serverMetaDataDiv .modal-body div.row > div.service-list,
#serverMetaDataDiv .modal-body div.row > div.service-libs {
	overflow-x: auto;
	overflow-y: auto;
	height: 240px;
}

#serverMetaDataDiv .modal-body div.row > div.service-list {
    padding-left: 0px;	
    padding-right: 0px;  
}

#serverMetaDataDiv .modal-body div.row > div.service-libs {
    border: 1px solid #ddd;
}

#serverMetaDataDiv .modal-body .list-group > a {
    padding: 3px 3px;
    word-wrap: break-word;
}

#serverMetaDataDiv .modal-body .list-group > a.disabled {
    color: #999999;
}

#serverMetaDataDiv .modal-body .list-group > a.disabled:hover,
#serverMetaDataDiv .modal-body .list-group > a.disabled:focus {
	color: #999999;
	text-decoration: none;
	background-color: transparent;
	cursor: not-allowed;
}

#serverMetaDataDiv .modal-body .list-group > .list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
#serverMetaDataDiv .modal-body .list-group > .list-group-item:last-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.timeSlider .hide {
    display: none;
}
.timeSlider .background {
    fill: #EEE;
}
.timeSlider .selection-zone {
    fill: #FFF;
}
.timeSlider .x-axis {
    font-size: 12px;
    text-anchor: middle;
}
.timeSlider .x-axis line {
    stroke: #000;
    stroke-width: .5;
    stroke-linecap: square;
    stroke-dasharray: 1, 1;
}
.timeSlider .left-handler rect, .timeSlider .right-handler rect {
    fill: #FFF;
}
.timeSlider .left-handler line, .timeSlider .right-handler line {
    stroke: #000;
    stroke-width: 2;
}
.timeSlider .guide line {
    stroke: #F00;
    stroke-width: .5;
    stroke-linecap: square;
    stroke-dasharray: 2, 2;
}
.timeSlider .guide circle {
    stroke: #F00;
    stroke-width: 2;
}
.timeSlider .selection-point line {
    stroke: #F5A623;
    stroke-width: 1;
}
.timeSlider .selection-point circle {
    fill: yellow;
    stroke: #F5A623;
}
.timeSlider .events line {
    stroke: #000;
    stroke-width: 1;
}
.timeSlider image {
    cursor: pointer;
}
.timeSlider .event {
    cursor: pointer;
}
.timeSlider .loading {
    fill: rgba(170, 170, 170, 0.1);
}
.timeSlider .loading rect {
    stroke-width: 2px;
}
.timeSlider .time-left-signboard text, .timeSlider .time-right-signboard text {
    fill: #4100DE;
    font-weight: bold;
}
.timeSlider .time-series-signboard text {
    fill: #BBB;
}