.linkInfoDetails {
    /*padding: 5px 15px 30px;*/
}
.linkInfoDetails .infoBarChart svg g.nv-group rect,
.linkInfoDetails .infoBarChart svg g.nv-group text {
    cursor: pointer;
}
.linkInfoDetails .panel {
    border: 1px solid #BDC3C7;
}
.linkInfoDetails .panel-default>.panel-heading {
    background-color: #E5F0FC;
    border-bottom: 1px solid #BDC3C7;
}
.linkInfoDetails .server-list,
.linkInfoDetails .server-list ul {
    list-style: none;
}
.linkInfoDetails .server-list li {
    margin-bottom: 5px;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 12px;
}
.linkInfoDetails .search-n-order {
    padding: 8px 0px 2px 0px;
}