@font-face{font-family:ng;src:url(../fonts/nanumgothic.eot);src:local('※'),url(../fonts/nanumgothic.woff) format('woff')}
@font-face{font-family:nm;src:url(../fonts/nanummyeongjo.eot);src:local('※'),url(../fonts/nanummyeongjo.woff) format('woff')}
/*@font-face{font-family:tjp;src:url(../fonts/trajanpro.eot);src:local('※'),url(../fonts/trajanpro.woff) format('woff')}*/
/*@font-face{font-family:avn55;src:url(../fonts/avenir55.eot);src:local('※'),url(../fonts/avenir55.woff) format('woff')}*/
/*@font-face{font-family:avn85;src:url(../fonts/avenir85.eot);src:local('※'),url(../fonts/avenir85.woff) format('woff')}*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body,input,textarea,select,button,table{font-family:Lato,'나눔고딕',NanumGothic,ng,'돋움',dotum,AppleGothic,sans-serif}
canvas {outline:none}

/* if avn55, should be */
.glyphicon {
    top: 2px;
}
.glyphicon-question-sign {
    color: gray;
}

#wrapper {
    padding: 40px 0 0 0; 
    position:absolute; 
    top:0; 
    bottom:0; 
    left:0; 
    right:0;
    min-width: 1050px;
}
#wrapper.no-navbar {
    padding-top: 0;
}

.no-navbar .main-navbar {
    display: none;
}


.mt8 {
  margin-top: 8px;
}

.main-navbar .btn-group > .btn > input[type="radio"] {
  display: none;
}

.main-container {
  width: 100%;  
  height: 100%;
  position: relative;
}

.main {
  margin-right: 422px;
  height: 100%;
}
.main-container.no-data .main {
    margin-right:0;
}
.main.fullsize {
  margin-right: 12px;
}

/* sidebar */
.sidebar {
    top: 0;
    right: 0;
    width: 422px;
    height: 100%;
    z-index: 100;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    border-left: 1px solid #DDD;
    padding-left: 12px;
    padding-right: 10px;
    background-color: #FFF;
}
.sidebar.smallsize {
  width: 0;
}


.main-container.no-data .sidebar {
    display:none;
}


/* info-details */
/*
.info-details {
    position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}
.info-details.has-scatter {
    top: 370px;
    border-top: 1px solid #ddd;
}
.info-details.has-filter {
    top: 175px;
}
.info-details.has-scatter.has-filter {
    top: 455px;
}
*/
.info-details.has-scatter {
    border-top: 1px solid #ddd;
}


.wait {
    cursor: wait !important;
    pointer-events: auto !important;
}

.tooltip-inner {
    word-break:break-all;
}

/* dropdown-submenu, bootstrap 3.0 doesn't support submenu */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.modal-backdrop.am-fade {
    opacity: .5;
    transition: opacity .15s linear;
    &.ng-enter {
        opacity: 0;
        &.ng-enter-active {
            opacity: .5;
        }
    }
    &.ng-leave {
        opacity: .5;
        &.ng-leave-active {
            opacity: 0;
        }
    }
}

.modal.center .modal-dialog {
    position: fixed;
    top: 40%;
    left: 50%;
    /*margin-top: -320px; *//* height: 640px */
    /*margin-left: -450px; *//* width : 900px */
    /* amchart can't calculate with these */
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.login-modal.center .modal-dialog {
    max-width: 550px;
}
.login-modal .modal-footer {
    margin-top: 0;
}

.introjs-tooltip {
    max-width: 500px;
}

.introjs-tooltip ul {
	padding-left: 20px;
}

#copyright {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 140px;
    z-index: 9999999;
    display: block;
    font-family: "Helvetica, Arial, sans-serif";
}

#copyright p {
	color: #FFFFFF;
	text-align: right;
    padding: 3px;
    font-size: 12px;
}
#copyright a {
	color: #FFFFFF;
}

.pinpoint-tooltip {
	width: 400px;
	font-size:12px;
}
.pinpoint-tooltip dl {
	margin-bottom:10px;
}
.pinpoint-tooltip dt { 
	color: yellow;
	font-size: 16px;
    margin: 12px 0px 2px 0px
}
.pinpoint-tooltip hr {
	margin-top:10px;
	margin-bottom:10px;
}
.pinpoint-tooltip table {
	width:100%;
	padding-bottom: 6px;
	line-height:16px;
}
.pinpoint-tooltip tr {
	padding-bottom: 2px;
}
.pinpoint-tooltip tr td {
	padding-top: 2px;
	padding-bottom: 2px;
}

.pinpoint-tooltip tr td:first-child {
	width: 70px;
	vertical-align:middle;
	text-align: center;
	color: #79E479;
	font-weight:bold;
}
.pinpoint-tooltip p {
    padding-top: 10px;
	padding-bottom:0px;
}
.pinpoint-tooltip ul {
	padding-left: 4px;
}
.pinpoint-tooltip li {
	list-style: none;
	padding-top: 2px;
	padding-bottom: 2px;
	background: url("../images/circle.png") no-repeat left center;
	padding-left: 20px;
}

#threadDump {
    display: none;
    z-index: 999999;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}
#threadDump i {
    color: #F00;
    display: none;
}
#threadDump .panel {
    border-color: transparent;
    margin-bottom: 0px;
}
#threadDump .panel-heading {
    color: #498ED2;
    cursor: move;
    padding: 24px 30px 24px 30px;
    font-size: 20px;
    font-weight: 100;
    font-family: sans-serif;
    border-bottom: 1px solid #EAEDF4;
}
#threadDump .panel-heading button {
    float: right;
    padding: 0px 3px;
    font-size: 32px;
    margin-top: -6px;
    font-weight: 100;
    font-family: sans-serif;
    background-color: #FFF;
}
#threadDump .panel-body {
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
}
#threadDump .thread-list {
    margin: 0px 30px 29px 30px;
    overflow-x: hidden;
    overflow-y: auto;
}
#threadDump .detail-message {
    padding: 30px;
    border-top: 1px solid #E7E8ED;
    background-color: #F7F8FC;
}
#threadDump textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #D0D7E1;
}
#threadDump .thread-header {
    margin: 29px 30px 0px 30px;
}
#threadDump .thread-header table {
    margin-bottom: 0px;
    border-top: 1px solid #E7E8ED;
    border-bottom: 1px solid #E7E8ED;
}
#threadDump .thread-header tr {
    background-color: #F7F8FC;
}
#threadDump .thread-header th {
    padding: 8px 2px 8px 2px;
    border: 0px solid #E7E8ED;
}

#threadDump .thread-header tr th:nth-child(1) {
    width: 3%;
}
#threadDump .thread-header tr th:nth-child(2) {
    width: 5%;
    cursor: pointer;
}
#threadDump .thread-header tr th:nth-child(3) {
    width: 15%;
    cursor: pointer;
}
#threadDump .thread-header tr th:nth-child(4) {
    width: 12%;
    cursor: pointer;
}
#threadDump .thread-header tr th:nth-child(5) {
    width: 12%;
    cursor: pointer;
}
#threadDump .thread-header tr th:nth-child(6) {
    width: 5%;
    cursor: pointer;
}
#threadDump .thread-header tr th:nth-child(7) {
    width: 5%;
}
#threadDump .thread-header tr th:nth-child(8) {
    width: 18%;
    cursor: pointer;
}
#threadDump .thread-header tr th:nth-child(9) {
    width: 22%;
    cursor: pointer;
}
#threadDump .thread-header tr th:nth-child(10) {
    width: 3%;
}

#threadDump .thread-list tr.selected {
    background-color: #FAFAFC;
}
#threadDump .thread-list tr.selected button {
    color: #4799E2;
    background-color: #FAFAFC;
}
#threadDump .thread-list td {
    padding: 8px 2px 8px 2px;
    border-top: 0px solid #E7E8ED;
    border-bottom: 1px solid #E7E8ED;
}
#threadDump .thread-list button {
    border: 0px solid #FFF;
}
#threadDump .thread-list tr td:nth-child(1) {
    width: 3%;
    text-align: center;
}
#threadDump .thread-list tr td:nth-child(2) {
    width: 5%;
}
#threadDump .thread-list tr td:nth-child(3) {
    width: 15%;
}
#threadDump .thread-list tr td:nth-child(4) {
    width: 12%;
}
#threadDump .thread-list tr td:nth-child(5) {
    width: 12%;
}
#threadDump .thread-list tr td:nth-child(6) {
    width: 5%;
}
#threadDump .thread-list tr td:nth-child(7) {
    width: 5%;
}
#threadDump .thread-list tr td:nth-child(8) {
    width: 18%;
}
#threadDump .thread-list tr td:nth-child(9) {
    width: 22%;
}
#threadDump .thread-list tr td:nth-child(10) {
    width: 3%;
}

.grouped-application-list {
    margin-top: 6px;
    margin-bottom: 10px;
    border-radius: 0px;
}
.grouped-application-list .input-group {
    margin: 10px 0px 0px 0px;
}
.grouped-application-list .input-group input {
    border-radius: 0px;
}
.grouped-application-list .input-group span {
    border-radius: 0px;
}
.grouped-application-list div.panel-heading {
    padding: 10px 6px;
}
.grouped-application-list div.panel-body {
    height: 280px;
    padding: 6px;
    overflow-y: auto;
}
.grouped-application-list span.count {
    float: right;
    width: 100px;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.grouped-application-list ul.outer {
    padding-left: 0px;
}
.grouped-application-list ul.outer > li {
    cursor: pointer;
    padding: 1px 2px;
    list-style: none;
}
.grouped-application-list ul.inner {
    padding-left: 14px;
}
.grouped-application-list ul.inner > li {
    height: 20px;
    font-size: 11px;
    list-style: none;
}
.grouped-application-list ul.outer > li > p.name {
    width: 244px;
    margin: 0px 0px -4px 0px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.grouped-application-list ul.with-icon > li > p.name {
    width: 220px;
    margin: 0px 0px -4px 0px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.grouped-application-list ul.inner > li > p.name {
    width: 250px;
    margin: 0px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.grouped-application-list ul.outer > li > img {
    margin-top: -12x;
    margin-right: 6px;
}
.grouped-application-list ul.outer > li > button {
    padding: 1px 3px;
    font-size: 10px;
    margin-top: -2px;
}
.grouped-application-list ul.outer > li > button:nth-child(1) {
    color: #3C763D;
}
.grouped-application-list ul.outer > li > button:nth-child(2) {
    color: #A94442;
    margin-right: 2px;
}
.grouped-application-list ul.outer > li p.selected {
    color: #1babf4;
}
.grouped-application-list ul.outer > li {
    border-bottom: 1px solid #F3F3F3;
}
.grouped-application-list ul.outer > li:hover {
    background-color: #c1ecff;
}
.grouped-application-list .count {
    float: right;
}