.navbar {
    z-index: 1040;
}
.main-navbar {
    position: absolute;
    margin: -40px 0 0 0;
    height: 40px;
    min-height: 40px;
    background-color: #252a3a;
    width: 100%;
    border-radius: 0;
}
.main-navbar .navbar-brand {
    padding: 7px 15px;
}
.main-navbar .brand {
    margin-left: 0px;
}
.main-navbar .nav>li {
    margin-top: 5px;
}
.main-navbar .divider-vertical {
    height: 35px;
    min-height: 1px;
    margin: 0 3px;
    border: 0;
}
.main-navbar .navbar-form {
    margin: 0px 0px 0px 0px;
    padding: 0;
    width: auto;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.main-navbar .navbar-nav {
    float: left;
    margin: 0;
}
.main-navbar .navbar-nav>li {
    float: left;
}
.navbar-form .for-datetimepicker {
    /*width:470px;*/
}
.navbar-form .datetimepicker {
    margin: 0 0 0 1px;
}
.navbar-form .datetimepicker .checkbox input[type="checkbox"]{
    float: none;
}
.navbar-form .datetimepicker .icon-calendar {
    margin-left: 1px;
}
#ui-datepicker-div {
    top: 40px;
    left: 536px;
    width: 404px;
    border: 1px solid #DDD;
    display:none;
    padding: 4px 2px;
    z-index: 10 !important;
    position: fixed;
    font-size: 75%;
    text-align: center;
    background-color: #f2f2f2;
}
#ui-datepicker-div .guide {
    color: rgb(44, 160, 44);
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}
#from-picker, #to-picker {
    display: inline-block;
    vertical-align: top;
}
.navbar .select2-container .select2-choice {
    height: 30px;
    line-height: 30px;
}
.navbar .application {
    width:310px;
    margin:0;
    height:30px;
}
.navbar .btn-group-sm .btn {
	padding-left: 7px;
	padding-right: 7px;
}
.navbar .inout-bound .dropdown-menu {
    width: 192px;
    margin: 0px 0px 0px -1px;
    padding-top: 0px;
}
.navbar .inout-bound li {
    cursor: pointer;
    text-align: center;
}
.navbar .inout-bound li.selected {
    color: #FFF;
    background-color: #48A948;
}

.navbar .inbound {
    float: left;
    width: 95px;
    list-style: none;
    padding-left: 0px;
    border-right: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
}
.navbar .inbound li.inbound-title {
    text-align: center;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
}
.navbar .outbound {
    float: right;
    width: 95px;
    list-style: none;
    padding-left: 0px;
    border-bottom: 1px solid #D2D2D2;
}
.navbar .outbound li.outbound-title {
    text-align: center;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
}

.navbar .bidirectional {
    clear: both;
    cursor: pointer;
    padding: 4px 2px 2px 2px;
    text-align: center;
    border-bottom: 1px solid #D2D2D2;
}
.navbar .bidirectional:hover {

}
