.nodeInfoDetails {
    /*padding: 5px 15px 30px;*/
    /*padding: 0;*/
}

.nodeInfoDetails .server-list,
.nodeInfoDetails .server-list ul {
    list-style: none;
}
.nodeInfoDetails .server-list li {
    margin-bottom: 5px;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 12px;
}
.nodeInfoDetails .panel {
    border: 1px solid #BDC3C7;
}
.nodeInfoDetails .panel-default>.panel-heading {
    background-color: #E5F0FC;
    border-bottom: 1px solid #BDC3C7;
}
.nodeInfoDetails .search-n-order {
    padding: 8px 0px 2px 0px;
}