/* servermap */
.servermap {
	width: 100%;
	height: 100%;
	position: relative;
	overflow:hidden;
}
.servermap .servermap-toolbar {
	position: absolute;
	border: 1px solid #e8e8e8;
	top: -1px;
	right: 22px;
	width: 660px;
	height: 54px;
	z-index: 8;
	background-color: white;
}
.servermap .servermap-toolbar .serverMapTooltip {
	cursor: pointer;
	font-size: 17px;
	z-index: 9;
	float: right;
	margin-right: 10px;
	padding-top: 15px;
}
.servermap .servermap-toolbar .search-result {
	top: 53px;
	right: -1px;
	width: 660px;
	height: 90px;
	border: 1px solid #DDDDDD;
	background-color: #F5F5F5;
	overflow-y: auto;
	display: none;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.servermap .servermap-toolbar .search-result .count {
	position: absolute;
	left: 0px;
	bottom: -1px;
	border: 1px solid #DDDDDD;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 2px 6px 2px 6px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12px;
	background-color: #f0ad4e;
}
.servermap .servermap-toolbar-handle {
	position: absolute;
	right: -1px;
	top: -1px;
	z-index: 8;
}
.servermap .servermap-status {
    position: absolute;
    top: 8px;
    right: 45px;
    z-index: 9;
    font-size: 12px;
}
.servermap .servermap-status .alert {
    margin-bottom: 5px;
    padding-right: 17px;
}
.servermap .servermap-status ul {
    margin-bottom: 0;
}
.servermap .servermap-status h5,
.servermap .servermap-status h6 {
    margin: 0;
}
.servermap .servermap-status span.label {
	display:inline-block;
	margin:3px;
	cursor:pointer;
}
.servermap .servermap-status .controls .span2:first-child {
    margin-left: 0 !important;
}
.servermap slider span.pointer:after{
    top: 5px;
    left: 5px;
}

.servermap .modal .modal-title {
    text-align: center;
    
}
.servermap .sidebar-title-directive {
    margin: 0;
}
.servermap .sidebar-title-directive h3 {
    text-align: left;
    border: 0;
    background: none;
    -webkit-box-shadow:none;
    box-shadow: none;
}
.servermap .sidebar-title-directive .tooltip {
    display: none !important;
}

.servermap slider.auto span.pointer,
.servermap slider.auto span.bar.selection {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
#servermapOverview {
	width: 160px;
	height: 160px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	background-color: rgba(44, 160, 44, 0.2);
	z-index: 2;
	border: 1px solid rgb(44, 160, 44);
}
#filterWizard .antStyleHint {
	position: absolute;
	top: 216px;
	left: 168px;
	width: 562px;
	height: 180px;
	border: 1px solid #6ACBE5;
	z-index: 10000;
	background-color: #A7E3F4;
	opacity: 0.92;
	border-radius: 10px;
	padding: 10px 0px 10px 20px;
	font-size: 16px;
	box-shadow: 2px 2px 4px #59A5B9;
	letter-spacing: 2px;
}
#filterWizard .antStyleHint td:first-child{
	width: 86px;
	text-align: center;
	font-weight: bold;
	padding-right:10px;
}
#filterWizard .antStyleHint td p{
	margin: 0px;
}

.realtime {
	height: 180px;
	border: 1px solid #398439;
	bottom: 0px;
	z-index: 10;
	position: absolute;
	background-color: #F0F3F4;
}
.realtime .handle {
	position: absolute;
	z-index: 9;
	top: -22px;
	right: -2px;
}
.realtime .handle .btn {
	border-radius: 3px 3px 0px 0px;
}
.realtime .chart-title {
	color: #000;
	width: 100%;
	padding: 2px 0px 2px 6px;
	position: absolute;
	background-color: #5cb85c;
}
.realtime .chart-close {
	float: right;
	cursor: pointer;
	margin-right: 6px;
}
.realtime .chart-expand {
	float: right;
	cursor: pointer;
	margin-right: 6px;
}
.realtime .agent-sum-chart {
	top: 28px;
	left: 0px;
	width: 280px;
	cursor: crosshair;
	position: relative;
	text-align: center;
	background-color: #FFF;
	border: 1px solid #000;
}
.realtime .agent-sum-chart div {
	font-weight: bold;
	margin-bottom: 4px;
}
.realtime .agent-chart-list {
	top: -119px;
	height: 148px;
	padding: 0px 4px 2px 4px;
	position: relative;
	overflow-y: auto;
	margin-left: 280px;
	margin-right: 6px;
}
div.agent-chart-list .paging {
    color: #FFF;
    height: 28px;
    margin: 1px 0px 4px 4px;
    padding: 4px 4px;
    background-color: #6F6F6F;
    font-family: sans-serif;
}
div.agent-chart-list .paging span.page {
    float: right;
    color: #FFF;
    margin: 2px;
    cursor: pointer;
    padding: 1px 4px 0px 4px;
    font-size: 12px;
    text-decoration: underline;
}
.realtime .agent-chart {
	float: left;
    position:relative;
    cursor: pointer;
	width: 122px;
	height: 72px;
	margin: 0px 2px 2px 4px;
	border: 1px solid #DDD;
	background-color: #FFF;
}
.realtime .agent-chart > div {
	color: #000;
	padding: 1px 12px 1px 1px;
	overflow: hidden;
	font-size: 10px;
	word-wrap: normal;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: rgba(205, 211, 33, 0.5);
}
.realtime .agent-chart > span {
    /*
    top: -2px;
    right: -3px;
    width: 0px;
    height: 0px;
    position: absolute;
    transform: rotate(45deg);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
    */
    font-size: 8px;
    top: 3px;
    right: 0px;
    position: absolute;
    transform: scale(0.8);
}
.realtime .agent-sum-chart svg {
	font: 10px sans-serif;
    display: block;
}
.realtime .agent-chart-list svg {
	font: 8px sans-serif;
	display: block;
}
.realtime .agent-sum-chart .axis path, .agent-chart-list .axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.realtime .axis line {
	stroke: #000;
	stroke-opaticy: 0.1;
}
.realtime .agent-sum-chart .guideLine, .agent-chart-list .guideLine  {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.realtime .agent-sum-chart .x.axis area, .agent-chart-list .x.axis area {
    shape-rendering: auto;
}
.realtime .agent-chart-list .x.axis path {
	stroke: #AAA;
}

.realtime .agent-sum-chart .area, .agent-chart-list .area {
    stroke: none;
    stroke-width: 1.5px;
}
.realtime .agent-chart-list text {
	font-size: 8px;
}
.realtime .connection-message {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	background-color: rgba(200, 200, 200, 0.9);
}
.realtime .connection-message h4 {
	color: red;
	padding-top: 40px;
	font-weight: bold;
}
.realtime .request-label text {
	font-size: 11px;
}
.realtime .request-count text {
	font-size: 14px;
	font-weight: bold;
}
.realtime .chart-tooltip text { 
	font-size: 12px;
}
.realtime .error {
	font-weight: bold;
	text-anchor: middle;
}
.realtime .error tspan:nth-child(1){
	y: 0px;
	x: 50%;
}
.realtime .error tspan:nth-child(2){
	x: 50%;
	dy: 14px;
}
.realtime text.date {
	fill: #000;
	font-size: 14px;
	text-anchor: middle;
}
.realtime .grid {
	stroke: rgba(200, 200, 200, 0.4);
	shape-rendering: crispEdges;
}