/* servermap */
.servermap {
	width: 100%;
	height: 100%;
	position: relative;
}
.servermap .servermap-toolbar {
	position: absolute;
	border: 1px solid #e8e8e8;
	top: -1px;
	right: 22px;
	width: 680px;
	height: 54px;
	z-index: 8;
	background-color: white;
}
.servermap .servermap-toolbar .serverMapTooltip {
	cursor: pointer;
	font-size: 17px;
	z-index: 9;
	float: right;
	margin-right: 10px;
	padding-top: 15px;
}
.servermap .servermap-toolbar .search-result {
	top: 53px;
	right: -1px;
	width: 680px;
	height: 90px;
	border: 1px solid #DDDDDD;
	background-color: #F5F5F5;
	overflow-y: auto;
	display: none;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.servermap .servermap-toolbar .search-result .count {
	position: absolute;
	left: 0px;
	bottom: -1px;
	border: 1px solid #DDDDDD;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 2px 6px 2px 6px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 12px;
	background-color: #f0ad4e;
}
.servermap .servermap-toolbar-handle {
	position: absolute;
	right: -1px;
	top: -1px;
	z-index: 8;
}
.servermap .servermap-status {
    position: absolute;
    top: 8px;
    right: 45px;
    z-index: 9;
    font-size: 12px;
}
.servermap .servermap-status .alert {
    margin-bottom: 5px;
    padding-right: 17px;
}
.servermap .servermap-status ul {
    margin-bottom: 0;
}
.servermap .servermap-status h5,
.servermap .servermap-status h6 {
    margin: 0;
}
.servermap .servermap-status span.label {
	display:inline-block;
	margin:3px;
	cursor:pointer;
}
.servermap .servermap-status .controls .span2:first-child {
    margin-left: 0 !important;
}
.servermap slider span.pointer:after{
    top: 5px;
    left: 5px;
}

.servermap .modal .modal-title {
    text-align: center;
    
}
.servermap .modal .form-group label {
}
.servermap .sidebar-title-directive {
    margin: 0;
}
.servermap .sidebar-title-directive h3 {
    text-align: left;
    border: 0;
    background: none;
    -webkit-box-shadow:none;
    box-shadow: none;
}
.servermap .sidebar-title-directive .tooltip {
    display: none !important;
}

.servermap slider.auto span.pointer,
.servermap slider.auto span.bar.selection {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
#servermapOverview {
	width: 15%;
	height: 15%;
	position: absolute;
	right: 16px;
	bottom: 16px;
	background-color: rgba(44, 160, 44, 0.2);
	z-index: 2;
	border: 1px solid rgb(44, 160, 44);
}
#filterWizard .antStyleHint {
	position: absolute;
	top: 216px;
	left: 168px;
	width: 562px;
	height: 180px;
	border: 1px solid #6ACBE5;
	z-index: 10000;
	background-color: #A7E3F4;
	opacity: 0.92;
	border-radius: 10px;
	padding: 10px 0px 10px 20px;
	font-size: 16px;
	box-shadow: 2px 2px 4px #59A5B9;
	letter-spacing: 2px;
}
#filterWizard .antStyleHint td:first-child{
	width: 86px;
	text-align: center;
	font-weight: bold;
	padding-right:10px;
}
#filterWizard .antStyleHint td p{
	margin: 0px;
}