.timeslider .timeslider_wrapper {
    position:absolute;
    top:-2px;
    left:200px;
    right:200px;
}
.timeslider .jslider .jslider-value {
    top: 12px;
    z-index: 1;
}
.timeslider .jslider .jslider-value {
    visibility: hidden !important;
}
.timeslider .jslider:hover .jslider-value-from {
    visibility: visible !important;
}
.timeslider .jslider .jslider-pointer {
    cursor: auto;
}
.timeslider_more {
    position: absolute;
    top:4px;
    right: 10px;
}

.timeslider .jslider .jslider-transition {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.timeslider .timeslider_more .active {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
}

@-webkit-keyframes tada {
    0% {-webkit-transform: scale(1);}
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
    100% {-webkit-transform: scale(1) rotate(0);}
}
@keyframes tada {
    0% {transform: scale(1);}
    10%, 20% {transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
    100% {transform: scale(1) rotate(0);}
}
.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}