.transaction-table-directive {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 11px;
}

.transaction-table-directive_wrapper {
    overflow: auto;
    height: 100%;
}

.transaction-table-directive_header {
    /*background-color: #dff0d8;*/
    background: #fafafa url(../images/fhbg.gif) repeat-x bottom;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid darkgray;
}

.transaction-table-directive_table th {
    padding: 0 5px !important;
    border-bottom: none !important;
}

.transaction-table-directive_table .th-inner {
    position: absolute;
    top: 0;
    line-height: 30px;
    border-left: 1px solid darkgray;
    padding-left: 5px;
    margin-left: -5px;
    /*width: 100%;*/
}

.transaction-table-directive_table th:first-child .th-inner {
    border-left: none;
}

.transaction-table-directive_table th,
.transaction-table-directive_table td {
    min-width: 45px;
    cursor: pointer;
}

.transaction-table-directive_table td {
    font-family: consolas;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
}

.transaction-table-directive_table td {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    word-break: break-all;
    cursor: pointer;
    vertical-align: middle;
}
.transaction-table-directive_table thead th:nth-child(1) {
    width: 5%;
}
.transaction-table-directive_table thead th:nth-child(2) {
    width: 15%;
}
.transaction-table-directive_table thead th:nth-child(3) {
    width: 25%;
}
.transaction-table-directive_table thead th:nth-child(4) {
    width: 5%;
}
.transaction-table-directive_table thead th:nth-child(5) {
    width: 5%;
}
.transaction-table-directive_table thead th:nth-child(6) {
    width: 10%;
}
.transaction-table-directive_table thead th:nth-child(7) {
    width: 10%;
}
.transaction-table-directive_table thead th:nth-child(8) {
    width: 25%;
}