<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2019 NAVER Corp.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <!-- %L(line number) option is extremely slow. -->
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p] %t (%-35.35c{1.}:%-3L) %m%n"/>
        </layout>
    </appender>

    <appender name="stat-appender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${catalina.home}/logs/stat.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p](%-35.35c{1.}) %m%n"/>
        </layout>
    </appender>

    <logger name="com.navercorp.pinpoint" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.navercorp.pinpoint.collector.dao" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>


    <logger name="org.apache.zookeeper" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.apache.hadoop.hbase" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="io.grpc" additivity="false">
        <level value="FINE"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="io.netty" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.navercorp.pinpoint.collector.StateReport" additivity="false">
        <!-- disable : WARN -->
        <level value="INFO"/>
        <appender-ref ref="stat-appender"/>
        <!--<appender-ref ref="console"/>-->
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </root>
</log4j:configuration>