.agent-chart-group {
    border: none;
    font-size: 11px;
    padding: 0;
}
.agent-chart-group .tabs {
    padding: 0 0 0 10px;
    background: none;
    border: none;
    border-bottom: 1px solid #aaaaaa;
    border-radius: 0;
}