.callStacks th {
    text-align:center;
}
.callStacks td {
    font-family:consolas;
}
.callStacks .error {
    background-color:#f2dede;
}
.callStacks .info {
    background-color:#dff0d8;
}
.callStacks .method {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.callStacks .arguments {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.callStacks .exectime {
    text-align: center;
}
.callStacks .exectime.info {
}
.callStacks .time {
    text-align: right;
}
.callStacks .gap {
    text-align: right;
}
.callStacks .gap.info {
}
.callStacks .service {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.callStacks .agent {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.callStacks .bar {
    vertical-align: middle;
}
.callStacks .agent-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
}

.flexigrid div.bDiv td {
    position: relative;
}
.callStacks .agent-divider-normal {
    border-top: 2px dotted rgb(44, 160, 44);
}
.callStacks .agent-divider-warn {
    border-top: 2px dotted rgb(214, 39, 40);
}
.flexigrid {
    width: 100%;
    height: 100%;
    position: relative;
}
.flexigrid .bDiv {
    position: absolute !important;
    top: 25px;
    bottom: 0;
    width: 100%;
    overflow: auto;
}