.callStacks th {
    text-align:center;
}
.callStacks td {
    font-family:consolas;
}
.callStacks .error {
    background-color:#f2dede;
}
.callStacks .info {
    background-color:#dff0d8;
}
.callStacks .method {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.callStacks .arguments {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.callStacks .exectime {
    text-align: center;
}
.callStacks .exectime.info {
}
.callStacks .time {
    text-align: right;
}
.callStacks .gap {
    text-align: right;
}
.callStacks .gap.info {
}
.callStacks .service {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.callStacks .agent {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.callStacks .bar {
    vertical-align: middle;
}