.linkInfoDetails {
    line-height: 25px;
    margin-bottom: 5px;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 12px;
    padding: 5px 15px 30px;
}
.linkInfoDetails .infoBarChart svg g.nv-group rect,
.linkInfoDetails .infoBarChart svg g.nv-group text {
    cursor: pointer;
}