.linkInfoDetails dt {
    font-size: 13px;
}
.linkInfoDetails dd {
    font-size: 12px;
}

.linkInfoDetails {
    line-height: 25px;
    margin-bottom: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.linkInfoDetails .info {
    position: fixed;
    width: 380px;
}

.linkInfoDetails .alert {
    line-height: 25px;
}

.linkInfoDetails .contents {
    padding-top: 48px;
}