@font-face{font-family:ng;src:url(../fonts/nanumgothic.eot);src:local('※'),url(../fonts/nanumgothic.woff) format('woff')}
@font-face{font-family:nm;src:url(../fonts/nanummyeongjo.eot);src:local('※'),url(../fonts/nanummyeongjo.woff) format('woff')}
@font-face{font-family:tjp;src:url(../fonts/trajanpro.eot);src:local('※'),url(../fonts/trajanpro.woff) format('woff')}
@font-face{font-family:avn55;src:url(../fonts/avenir55.eot);src:local('※'),url(../fonts/avenir55.woff) format('woff')}
@font-face{font-family:avn85;src:url(../fonts/avenir85.eot);src:local('※'),url(../fonts/avenir85.woff) format('woff')}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body,input,textarea,select,button,table{font-family:'나눔고딕',NanumGothic,ng,'돋움',dotum,AppleGothic,avn55,sans-serif}
canvas {outline:none}

#wrapper {
    padding: 40px 0 0 0; 
    position:absolute; 
    top:0; 
    bottom:0; 
    left:0; 
    right:0;
}
#wrapper.no-navbar {
    padding-top: 0;
}
.no-navbar .main-navbar {
    display: none;
}

.mt8 {
  margin-top: 8px;
}

.main-navbar .btn-group > .btn > input[type="radio"] {
  display: none;
}

.main-container {
  width: 100%;  
  height: 100%;
  position: relative;
}

.main {
  margin-right: 422px;
  height: 100%;
}
.main.fullsize {
  margin-right: 12px;
}

/* sidebar */
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 12px;
  padding-right: 10px;
  width: 399px;
  height: 100%;
  border-left: 1px solid #ddd;
}
.sidebar.smallsize {
  width: 0;
}

.onoff-ico {
  display: inline-block;
  width: 12px;
  height: 54px;
  background-repeat: no-repeat;
  background-image: url('../images/onoff.png');
  vertical-align: middle;
}


/* divider */
.divider-open {
  background-position: 0 0;  
}
.onoff-ico.divider-open:hover,
.onoff-ico.divider-open:focus {
  background-position: 0 -56px;
}

.divider-closed {
  background-position: -12px 0;  
}
.onoff-ico.divider-closed:hover,
.onoff-ico.divider-closed:focus {
  background-position: -12px -56px;
}

/* info-details */
.info-details {
    position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}
.info-details.has-scatter {
    top: 330px;
}


/* servermap */
.servermap-status {
    position: absolute;
    top: 8px;
    left: 11px;
    z-index: 9;
    font-size: 12px;
}
.servermap-status .alert {
    margin-bottom: 5px;
    padding-right: 17px;
}
.servermap-status ul {
    margin-bottom: 0;
}
.servermap-status h5,
.servermap-status h6 {
    margin: 0;
}
.servermap-status .controls .span2:first-child {
    margin-left: 0 !important;
}

.wait {
    cursor: wait !important;
}