.nodeInfoDetails {
}

.nodeInfoDetails .server-list,
.nodeInfoDetails .server-list ul {
    list-style: none;
}
.nodeInfoDetails .server-list li {
    line-height: 25px;
    margin-bottom: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.nodeInfoDetails .info {
    position: fixed;
    width: 380px;
    padding: 10px;
    background: #fff;
}

.nodeInfoDetails .alert {
    line-height: 25px;
    margin-bottom: 0;
}

.nodeInfoDetails .contents {
    padding: 65px 15px 30px;
}