.nodeInfoDetails .server-list,
.nodeInfoDetails .server-list ul {
    list-style: none;
}
.nodeInfoDetails .server-list li {
    line-height: 30px;
}

.nodeInfoDetails [class^="icon-"],
.nodeInfoDetails [class*=" icon-"] {
    margin-top: 0;
}