.nodeInfoDetails {
    padding: 5px 15px 30px;
}

.nodeInfoDetails .server-list,
.nodeInfoDetails .server-list ul {
    list-style: none;
}
.nodeInfoDetails .server-list li {
    line-height: 25px;
    margin-bottom: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.nodeInfoDetails .panel {
    border: 1px solid #BDC3C7;
}
.nodeInfoDetails .panel-default>.panel-heading {
    background-color: #E5F0FC;
    border-bottom: 1px solid #BDC3C7;
}