.timeslider .timeslider_wrapper {
    position:absolute;
    top:-4px;
    left:350px;
    right:20px;
}
.timeslider .jslider .jslider-value {
    top: 12px;
    z-index: 1;
}
.timeslider .jslider .jslider-value {
    visibility: hidden !important;
}
.timeslider .jslider:hover .jslider-value-from {
    visibility: visible !important;
}
.timeslider .jslider .jslider-pointer {
    cursor: auto;
}
.timeslider_more {
    position: absolute;
    top:4px;
    left: 200px;
}

.timeslider .jslider .jslider-transition {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}