spring:
  profiles:
    active: release

server:
  port: 8081


management:
  otlp:
    metrics:
      export:
        enabled: false
  health:
    defaults:
      enabled: false
    diskspace:
      enabled: true
  endpoint:
    health:
      show-details: always
      enabled: true
    beans:
      enabled: true
    conditions:
      enabled: true
    configprops:
      enabled: true
      show-values: always
    env:
      enabled: true
      show-values: always
    logfile:
      enabled: true
    loggers:
      enabled: true
    mappings:
      enabled: true
    info:
      enabled: true
    threaddump:
      enabled: true
    heapdump:
      enabled: true
    metrics:
      enabled: true
    httptrace:
      enabled: false
    prometheus:
      enabled: false
    shutdown:
      enabled: false
  endpoints:
    web:
      exposure:
        include: health,beans,conditions,configprops,env,logfile,loggers,mappings,info,threaddump,heapdump,metrics,pause
      base-path: /monitor
      path-mapping:
        health: l7check

pinpoint:
  modules:
    collector:
      grpc:
        ssl:
          enabled: false
    realtime:
      enabled: false