<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2018 NAVER Corp.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:annotation-config/>

    <context:component-scan
            base-package="com.navercorp.pinpoint.collector.dao.hbase,
                        com.navercorp.pinpoint.collector.handler,
                        com.navercorp.pinpoint.collector.receiver.grpc,
                        com.navercorp.pinpoint.collector.receiver.thrift.tcp,
                        com.navercorp.pinpoint.collector.manage,
                        com.navercorp.pinpoint.collector.mapper,
                        com.navercorp.pinpoint.collector.util,
                        com.navercorp.pinpoint.collector.config,
                        com.navercorp.pinpoint.collector.service,
                        com.navercorp.pinpoint.common.server.bo.codec,
                        com.navercorp.pinpoint.common.server.util,
                        com.navercorp.pinpoint.common.server.bo" />

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:hbase.properties</value>
                <value>classpath:pinpoint-collector.properties</value>
            </list>
        </property>

    </bean>

    <util:properties id="pinpoint_collector_properties" location="classpath:pinpoint-collector.properties" />

    <bean id="collectorConfiguration" class="com.navercorp.pinpoint.collector.config.CollectorConfiguration">
        <property name="properties" ref="pinpoint_collector_properties"/>
    </bean>

    <bean id="flinkConfiguration" class="com.navercorp.pinpoint.collector.config.FlinkConfiguration">
        <property name="properties" ref="pinpoint_collector_properties"/>
    </bean>

    <bean id="deprecatedConfig" class="com.navercorp.pinpoint.collector.config.DeprecatedConfiguration">
        <constructor-arg ref="pinpoint_collector_properties"/>
    </bean>

    <bean id="baseDataReceiverConfig" class="com.navercorp.pinpoint.collector.config.AgentBaseDataReceiverConfiguration">
        <constructor-arg ref="pinpoint_collector_properties"/>
        <constructor-arg ref="deprecatedConfig"/>
    </bean>

    <bean id="statReceiverConfig" class="com.navercorp.pinpoint.collector.config.StatReceiverConfiguration">
        <constructor-arg ref="pinpoint_collector_properties"/>
        <constructor-arg ref="deprecatedConfig"/>
    </bean>

    <bean id="spanReceiverConfig" class="com.navercorp.pinpoint.collector.config.SpanReceiverConfiguration">
        <constructor-arg ref="pinpoint_collector_properties"/>
        <constructor-arg ref="deprecatedConfig"/>
    </bean>

    <import resource="classpath:applicationContext-hbase.xml"/>
    <import resource="classpath:applicationContext-collector-namespace.xml"/>

    <util:list id="cachedStatisticsDaoList" value-type="com.navercorp.pinpoint.collector.dao.CachedStatisticsDao">
        <beans:ref bean="hbaseMapStatisticsCallerDao"/>
        <beans:ref bean="hbaseMapStatisticsCalleeDao"/>
        <beans:ref bean="hbaseMapResponseTimeDao"/>
    </util:list>
    <bean id="statisticsScheduler" class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
        <property name="poolSize" value="#{cachedStatisticsDaoList.size()}"/>
        <property name="threadNamePrefix" value="Pinpoint-AutoFlusher-"/>
        <property name="daemon" value="true"/>
        <property name="waitForTasksToCompleteOnShutdown" value="true"/>
        <property name="awaitTerminationSeconds" value="10"/>
    </bean>
    <task:scheduled-tasks scheduler="statisticsScheduler">
        <task:scheduled ref="hbaseMapStatisticsCallerDao" method="flushAll" fixed-rate="1000"/>
        <task:scheduled ref="hbaseMapStatisticsCalleeDao" method="flushAll" fixed-rate="1000"/>
        <task:scheduled ref="hbaseMapResponseTimeDao" method="flushAll" fixed-rate="1000"/>
    </task:scheduled-tasks>


    <bean id="metricRegistry" class="com.codahale.metrics.MetricRegistry">
    </bean>

    <bean id="collectorMetric" class="com.navercorp.pinpoint.collector.monitor.CollectorMetric">
    </bean>

    <!-- Manager-related Beans -->
    <bean id="jmxCollectorManager" class="com.navercorp.pinpoint.collector.manage.jmx.JMXCollectorManager">
    </bean>

    <bean id="jmxCollectorManagerList" class="com.navercorp.pinpoint.collector.manage.jmx.JMXCollectorManagerList">
    </bean>

    <bean id="handlerManager" class="com.navercorp.pinpoint.collector.manage.HandlerManager">
    </bean>

    <bean id="clusterManager" class="com.navercorp.pinpoint.collector.manage.ClusterManager">
        <constructor-arg ref="collectorConfiguration"/>
        <constructor-arg ref="targetClusterPointRepository"/>
    </bean>

    <bean id="hBaseManager" class="com.navercorp.pinpoint.collector.manage.HBaseManager">
    </bean>

    <bean id="channelPropertiesFactory" class="com.navercorp.pinpoint.rpc.server.ChannelPropertiesFactory">
        <constructor-arg value="${collector.receiver.channel.properties.key}"/>
    </bean>
    <!-- DispatchHandler-related Beans -->
    <!-- Thrift -->
    <bean id="tcpDispatchHandler" class="com.navercorp.pinpoint.collector.receiver.TcpDispatchHandler">
        <constructor-arg ref="thriftAgentInfoHandler"/>
        <constructor-arg ref="thriftSqlMetaDataHandler"/>
        <constructor-arg ref="thriftApiMetaDataHandler"/>
        <constructor-arg ref="thriftStringMetaDataHandler"/>
    </bean>

    <bean id="tcpDispatchHandlerFactoryBean" class="com.navercorp.pinpoint.collector.receiver.thrift.DispatchHandlerFactoryBean">
        <constructor-arg ref="tcpDispatchHandler"/>
        <constructor-arg ref="handlerManager"/>
    </bean>

    <bean id="statDispatchHandler" class="com.navercorp.pinpoint.collector.receiver.StatDispatchHandler">
        <constructor-arg ref="thriftAgentStatHandlerV2"/>
        <constructor-arg ref="thriftAgentEventHandler"/>
    </bean>

    <bean id="statDispatchHandlerFactoryBean" class="com.navercorp.pinpoint.collector.receiver.thrift.DispatchHandlerFactoryBean">
        <constructor-arg ref="statDispatchHandler"/>
        <constructor-arg ref="handlerManager"/>
    </bean>

    <bean id="spanDispatchHandler" class="com.navercorp.pinpoint.collector.receiver.SpanDispatchHandler">
        <constructor-arg ref="thriftSpanHandler"/>
        <constructor-arg ref="thriftSpanChunkHandler"/>
    </bean>
    <bean id="spanDispatchHandlerFactoryBean" class="com.navercorp.pinpoint.collector.receiver.thrift.DispatchHandlerFactoryBean">
        <constructor-arg ref="spanDispatchHandler"/>
        <constructor-arg ref="handlerManager"/>
    </bean>

    <!-- Serializer Factory Beans -->
    <bean id="commandHeaderTBaseSerializerFactory" class="com.navercorp.pinpoint.thrift.io.CommandHeaderTBaseSerializerFactory" factory-method="getDefaultInstance">
    </bean>
    <bean id="commandHeaderTBaseDeserializerFactory" class="com.navercorp.pinpoint.thrift.io.CommandHeaderTBaseDeserializerFactory" factory-method="getDefaultInstance">
    </bean>

    <!-- Agent Event/Lifecycle related Beans -->
    <task:annotation-driven />

    <bean id="agentEventWorker" class="com.navercorp.pinpoint.common.server.util.PinpointThreadPoolExecutorFactoryBean" >
        <property name="corePoolSize" value="#{collectorConfiguration.agentEventWorkerThreadSize}"/>
        <property name="maxPoolSize" value="#{collectorConfiguration.agentEventWorkerThreadSize}"/>
        <property name="queueCapacity" value="#{collectorConfiguration.agentEventWorkerQueueSize}"/>
        <property name="threadNamePrefix" value="Pinpoint-AgentEvent-Worker-"/>
        <property name="daemon" value="true"/>
        <property name="waitForTasksToCompleteOnShutdown" value="true"/>
        <property name="awaitTerminationSeconds" value="10"/>
        <property name="preStartAllCoreThreads" value="true"/>
    </bean>

    <bean id="agentEventMessageSerializerV1" class="com.navercorp.pinpoint.common.server.util.AgentEventMessageSerializerV1"/>

    <bean id="agentLifeCycleChangeEventHandler" class="com.navercorp.pinpoint.collector.receiver.AgentLifeCycleChangeEventHandler"/>

    <!-- Route Filters -->
    <bean id="loggingRouteFilter" class="com.navercorp.pinpoint.collector.cluster.route.filter.LoggingFilter"/>
    <bean id="agentEventHandlingFilter" class="com.navercorp.pinpoint.collector.cluster.route.filter.AgentEventHandlingFilter"/>

    <!-- Filter Chains -->
    <bean id="requestFilterChain" class="com.navercorp.pinpoint.collector.cluster.route.DefaultRouteFilterChain">
        <constructor-arg>
            <list value-type="com.navercorp.pinpoint.collector.cluster.route.filter.RouteFilter">
                <ref bean="loggingRouteFilter"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="responseFilterChain" class="com.navercorp.pinpoint.collector.cluster.route.DefaultRouteFilterChain">
        <constructor-arg>
            <list value-type="com.navercorp.pinpoint.collector.cluster.route.filter.RouteFilter">
                <ref bean="loggingRouteFilter"/>
                <ref bean="agentEventHandlingFilter"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="streamCreateFilterChain" class="com.navercorp.pinpoint.collector.cluster.route.DefaultRouteFilterChain">
        <constructor-arg>
            <list value-type="com.navercorp.pinpoint.collector.cluster.route.filter.RouteFilter">
                <ref bean="loggingRouteFilter"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="streamResponseFilterChain" class="com.navercorp.pinpoint.collector.cluster.route.DefaultRouteFilterChain">
        <constructor-arg>
            <list value-type="com.navercorp.pinpoint.collector.cluster.route.filter.RouteFilter">
                <ref bean="loggingRouteFilter"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="streamCloseFilterChain" class="com.navercorp.pinpoint.collector.cluster.route.DefaultRouteFilterChain">
        <constructor-arg>
            <list value-type="com.navercorp.pinpoint.collector.cluster.route.filter.RouteFilter"/>
        </constructor-arg>
    </bean>

    <!-- Cluster-related Beans -->
    <bean id="targetClusterPointRepository" class="com.navercorp.pinpoint.collector.cluster.ClusterPointRepository"/>

    <bean id="defaultRouteHandler" class="com.navercorp.pinpoint.collector.cluster.route.DefaultRouteHandler">
        <constructor-arg index="0" type="com.navercorp.pinpoint.collector.cluster.ClusterPointLocator" ref="targetClusterPointRepository"/>
        <constructor-arg index="1" type="com.navercorp.pinpoint.collector.cluster.route.RouteFilterChain" ref="requestFilterChain"/>
        <constructor-arg index="2" type="com.navercorp.pinpoint.collector.cluster.route.RouteFilterChain" ref="responseFilterChain"/>
    </bean>

    <bean id="streamRouteHandler" class="com.navercorp.pinpoint.collector.cluster.route.StreamRouteHandler">
        <constructor-arg index="0" type="com.navercorp.pinpoint.collector.cluster.ClusterPointLocator" ref="targetClusterPointRepository"/>
        <constructor-arg index="1" type="com.navercorp.pinpoint.collector.cluster.route.RouteFilterChain" ref="streamCreateFilterChain"/>
        <constructor-arg index="2" type="com.navercorp.pinpoint.collector.cluster.route.RouteFilterChain" ref="streamResponseFilterChain"/>
        <constructor-arg index="3" type="com.navercorp.pinpoint.collector.cluster.route.RouteFilterChain" ref="streamCloseFilterChain"/>
    </bean>

    <bean id="clusterPointRouter" class="com.navercorp.pinpoint.collector.cluster.ClusterPointRouter">
        <constructor-arg ref="targetClusterPointRepository"/>
        <constructor-arg ref="defaultRouteHandler"/>
        <constructor-arg ref="streamRouteHandler"/>
    </bean>

    <bean id="clusterService" class="com.navercorp.pinpoint.collector.cluster.zookeeper.ZookeeperClusterService">
        <constructor-arg ref="collectorConfiguration"/>
        <constructor-arg ref="clusterPointRouter"/>
    </bean>

    <util:list id="channelStateChangeEventHandlers" value-type="com.navercorp.pinpoint.rpc.server.handler.ServerStateChangeEventHandler">
        <ref bean="agentLifeCycleChangeEventHandler"/>
    </util:list>

    <bean id="addressFilter" class="com.navercorp.pinpoint.common.server.util.IgnoreAddressFilter">
        <constructor-arg value="#{collectorConfiguration.l4IpList}"/>
    </bean>

    <bean id="channelFilter" class="com.navercorp.pinpoint.collector.receiver.thrift.AddressFilterAdaptor">
        <constructor-arg ref="addressFilter"/>
    </bean>

    <bean id="baseAcceptorOptionBuilder" class="com.navercorp.pinpoint.rpc.server.ServerOption.Builder">
        <property name="requestTimeoutMillis" value="#{pinpoint_collector_properties['collector.receiver.base.request.timeout'] ?: 3000}"/>
        <property name="serverCloseWaitTimeoutMillis"  value="#{pinpoint_collector_properties['collector.receiver.base.closewait.timeout'] ?: 3000}"/>
        <property name="healthCheckIntervalTimeMillis"  value="#{pinpoint_collector_properties['collector.receiver.base.ping.interval'] ?: 300000}"/>
        <property name="healthCheckPacketWaitTimeMillis"  value="#{pinpoint_collector_properties['collector.receiver.base.pingwait.timeout'] ?: 1800000}"/>
    </bean>
    <bean id="baseAcceptorOption" class="com.navercorp.pinpoint.rpc.server.ServerOption" factory-bean="baseAcceptorOptionBuilder" factory-method="build"/>
    <bean id="acceptor" class="com.navercorp.pinpoint.rpc.server.PinpointServerAcceptor">
        <constructor-arg ref="baseAcceptorOption"/>
        <constructor-arg ref="channelFilter"/>
    </bean>

    <bean id="discardPolicy" class="java.util.concurrent.ThreadPoolExecutor.DiscardPolicy"/>
    <bean id="abstractReceiverExecutorFactoryBean" class="com.navercorp.pinpoint.collector.receiver.thrift.ExecutorFactoryBean" abstract="true">
        <property name="rejectedExecutionHandler" ref="discardPolicy"/>
        <property name="daemon" value="true"/>
        <property name="waitForTasksToCompleteOnShutdown" value="true"/>
        <property name="awaitTerminationSeconds" value="10"/>
        <property name="preStartAllCoreThreads" value="true"/>
        <property name="logRate" value="100"/>
    </bean>

    <bean id="baseDataReceiverWorker" class="com.navercorp.pinpoint.collector.receiver.thrift.ExecutorFactoryBean" parent="abstractReceiverExecutorFactoryBean">
        <property name="corePoolSize" value="#{baseDataReceiverConfig.workerThreadSize}"/>
        <property name="maxPoolSize" value="#{baseDataReceiverConfig.workerThreadSize}"/>
        <property name="queueCapacity" value="#{baseDataReceiverConfig.workerQueueSize}"/>
        <property name="threadNamePrefix" value="Pinpoint-AgentBaseDataReceiger-Worker"/>
        <property name="registry" value="#{baseDataReceiverConfig.workerMonitorEnable ? metricRegistry : null}"/>
    </bean>

    <bean id="tcpReceiver" class="com.navercorp.pinpoint.collector.receiver.thrift.tcp.AgentBaseDataReceiver" >
        <constructor-arg ref="baseDataReceiverConfig"/>
        <constructor-arg ref="baseDataReceiverWorker"/>
        <constructor-arg ref="acceptor"/>
        <constructor-arg ref="tcpDispatchHandlerFactoryBean"/>
        <constructor-arg ref="clusterService"/>
    </bean>

    <bean id="tBaseFilterChain" class="com.navercorp.pinpoint.collector.receiver.thrift.udp.TBaseFilterChain">
        <constructor-arg>
            <list>
                <ref bean="networkAvailabilityCheckPacketFilter"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="networkAvailabilityCheckPacketFilter" class="com.navercorp.pinpoint.collector.receiver.thrift.udp.NetworkAvailabilityCheckPacketFilter"/>

    <bean id="agentEventAsyncTask" class="com.navercorp.pinpoint.collector.service.async.AgentEventAsyncTaskService"/>
    <bean id="agentLifeCycleAsyncTask" class="com.navercorp.pinpoint.collector.service.async.AgentLifeCycleAsyncTaskService"/>

    <!-- span receiver configuration start -->
    <bean id="spanReceiverExecutor" class="com.navercorp.pinpoint.collector.receiver.thrift.ExecutorFactoryBean" parent="abstractReceiverExecutorFactoryBean">
        <property name="corePoolSize" value="#{spanReceiverConfig.workerThreadSize}"/>
        <property name="maxPoolSize" value="#{spanReceiverConfig.workerThreadSize}"/>
        <property name="queueCapacity" value="#{spanReceiverConfig.workerQueueSize}"/>
        <property name="threadNamePrefix" value="Pinpoint-Span-Worker-"/>
        <property name="registry" value="#{spanReceiverConfig.workerMonitorEnable ? metricRegistry : null}"/>
    </bean>
    <bean id="spanUdpReceiver" class="com.navercorp.pinpoint.collector.receiver.thrift.UDPReceiverBean">
        <property name="bindIp" value="#{spanReceiverConfig.udpBindIp}"/>
        <property name="bindPort" value="#{spanReceiverConfig.udpBindPort}"/>
        <property name="addressFilter" ref="addressFilter"/>
        <property name="dispatchHandler" ref="spanDispatchHandlerFactoryBean"/>
        <property name="udpBufferSize" value="#{spanReceiverConfig.udpReceiveBufferSize}"/>
        <!-- TCP & UDP share threadpool for span -->
        <property name="executor" ref="spanReceiverExecutor"/>
        <property name="datagramPoolSize" value="#{ spanReceiverConfig.workerQueueSize + spanReceiverConfig.workerThreadSize }"/>
        <property name="enable" value="#{spanReceiverConfig.isUdpEnable()}"/>
    </bean>

    <bean id="spanAcceptorOptionBuilder" class="com.navercorp.pinpoint.rpc.server.ServerOption.Builder">
        <property name="requestTimeoutMillis" value="#{pinpoint_collector_properties['collector.receiver.span.tcp.request.timeout'] ?: 3000}"/>
        <property name="serverCloseWaitTimeoutMillis"  value="#{pinpoint_collector_properties['collector.receiver.span.tcp.closewait.timeout'] ?: 3000}"/>
        <property name="healthCheckIntervalTimeMillis"  value="#{pinpoint_collector_properties['collector.receiver.span.tcp.ping.interval'] ?: 300000}"/>
        <property name="healthCheckPacketWaitTimeMillis"  value="#{pinpoint_collector_properties['collector.receiver.span.tcp.pingwait.timeout'] ?: 1800000}"/>
    </bean>
    <bean id="spanAcceptorOption" class="com.navercorp.pinpoint.rpc.server.ServerOption" factory-bean="spanAcceptorOptionBuilder" factory-method="build"/>
    <bean id="spanAcceptorProvider" class="com.navercorp.pinpoint.collector.receiver.thrift.PinpointServerAcceptorProvider">
        <property name="serverOption"  ref="spanAcceptorOption"/>
        <property name="channelFilter" ref="channelFilter"/>
    </bean>

    <bean id="spanTcpReceiver" class="com.navercorp.pinpoint.collector.receiver.thrift.TCPReceiverBean">
        <property name="bindIp" value="#{spanReceiverConfig.tcpBindIp}"/>
        <property name="bindPort" value="#{spanReceiverConfig.tcpBindPort}"/>
        <property name="acceptorProvider" ref="spanAcceptorProvider"/>
        <property name="dispatchHandler" ref="spanDispatchHandlerFactoryBean"/>
        <!-- TCP & UDP share threadpool for span -->
        <property name="executor" ref="spanReceiverExecutor"/>
        <property name="enable" value="#{spanReceiverConfig.isTcpEnable()}"/>
    </bean>
    <!-- span receiver configuration end -->

    <!-- stat receiver configuration -->
    <bean id="statReceiverExecutor" class="com.navercorp.pinpoint.collector.receiver.thrift.ExecutorFactoryBean" parent="abstractReceiverExecutorFactoryBean">
        <property name="corePoolSize" value="#{statReceiverConfig.workerThreadSize}"/>
        <property name="maxPoolSize" value="#{statReceiverConfig.workerThreadSize}"/>
        <property name="queueCapacity" value="#{statReceiverConfig.workerQueueSize}"/>
        <property name="threadNamePrefix" value="Pinpoint-Stat-Worker-"/>
        <property name="registry" value="#{statReceiverConfig.workerMonitorEnable ? metricRegistry : null}"/>
    </bean>
    <bean id="statUdpReceiver" class="com.navercorp.pinpoint.collector.receiver.thrift.UDPReceiverBean">
        <property name="bindIp" value="#{statReceiverConfig.udpBindIp}"/>
        <property name="bindPort" value="#{statReceiverConfig.udpBindPort}"/>
        <property name="addressFilter" ref="addressFilter"/>
        <property name="dispatchHandler" ref="statDispatchHandlerFactoryBean"/>
        <property name="udpBufferSize" value="#{statReceiverConfig.udpReceiveBufferSize}"/>
        <!-- TCP & UDP share threadpool for stat -->
        <property name="executor" ref="statReceiverExecutor"/>
        <property name="datagramPoolSize" value="#{ statReceiverConfig.workerQueueSize + statReceiverConfig.workerThreadSize }"/>
        <property name="enable" value="#{statReceiverConfig.isUdpEnable()}"/>
    </bean>

    <bean id="statAcceptorOptionBuilder" class="com.navercorp.pinpoint.rpc.server.ServerOption.Builder">
        <property name="requestTimeoutMillis" value="#{pinpoint_collector_properties['collector.receiver.stat.tcp.request.timeout'] ?: 3000}"/>
        <property name="serverCloseWaitTimeoutMillis"  value="#{pinpoint_collector_properties['collector.receiver.stat.tcp.closewait.timeout'] ?: 3000}"/>
        <property name="healthCheckIntervalTimeMillis"  value="#{pinpoint_collector_properties['collector.receiver.stat.tcp.ping.interval'] ?: 300000}"/>
        <property name="healthCheckPacketWaitTimeMillis"  value="#{pinpoint_collector_properties['collector.receiver.stat.tcp.pingwait.timeout'] ?: 1800000}"/>
    </bean>
    <bean id="statAcceptorOption" class="com.navercorp.pinpoint.rpc.server.ServerOption" factory-bean="statAcceptorOptionBuilder" factory-method="build"/>
    <bean id="statAcceptorProvider" class="com.navercorp.pinpoint.collector.receiver.thrift.PinpointServerAcceptorProvider">
        <property name="serverOption"  ref="statAcceptorOption"/>
        <property name="channelFilter" ref="channelFilter"/>
    </bean>

    <bean id="statTcpReceiver" class="com.navercorp.pinpoint.collector.receiver.thrift.TCPReceiverBean">
        <property name="bindIp" value="#{statReceiverConfig.tcpBindIp}"/>
        <property name="bindPort" value="#{statReceiverConfig.tcpBindPort}"/>
        <property name="acceptorProvider" ref="statAcceptorProvider"/>
        <property name="dispatchHandler" ref="statDispatchHandlerFactoryBean"/>
        <!-- TCP & UDP share threadpool for stat -->
        <property name="executor" ref="statReceiverExecutor"/>
        <property name="enable" value="#{statReceiverConfig.isTcpEnable()}"/>
    </bean>

    <!-- gRPC -->
    <bean id="grpcTcpDispatchHandler" class="com.navercorp.pinpoint.collector.receiver.TcpDispatchHandler">
        <constructor-arg ref="grpcAgentInfoHandler"/>
        <constructor-arg ref="grpcSqlMetaDataHandler"/>
        <constructor-arg ref="grpcApiMetaDataHandler"/>
        <constructor-arg ref="grpcStringMetaDataHandler"/>
    </bean>

    <bean id="grpcDispatchHandlerFactoryBean" class="com.navercorp.pinpoint.collector.receiver.thrift.DispatchHandlerFactoryBean">
        <constructor-arg ref="grpcTcpDispatchHandler"/>
        <constructor-arg ref="handlerManager"/>
    </bean>

    <bean id="grpcSpanDispatchHandler" class="com.navercorp.pinpoint.collector.receiver.SpanDispatchHandler">
        <constructor-arg ref="grpcSpanHandler"/>
        <constructor-arg ref="grpcSpanChunkHandler"/>
    </bean>
    <bean id="grpcSpanDispatchHandlerFactoryBean" class="com.navercorp.pinpoint.collector.receiver.thrift.DispatchHandlerFactoryBean">
        <constructor-arg ref="grpcSpanDispatchHandler"/>
        <constructor-arg ref="handlerManager"/>
    </bean>

    <bean id="grpcStatDispatchHandler" class="com.navercorp.pinpoint.collector.receiver.StatDispatchHandler">
        <constructor-arg ref="grpcAgentStatHandlerV2"/>
        <constructor-arg ref="grpcAgentEventHandler"/>
    </bean>
    <bean id="grpcStatDispatchHandlerFactoryBean" class="com.navercorp.pinpoint.collector.receiver.thrift.DispatchHandlerFactoryBean">
        <constructor-arg ref="grpcStatDispatchHandler"/>
        <constructor-arg ref="handlerManager"/>
    </bean>

    <bean id="grpcAgentWorkerExecutor" class="com.navercorp.pinpoint.collector.receiver.thrift.ExecutorFactoryBean" parent="abstractReceiverExecutorFactoryBean">
        <property name="corePoolSize" value="#{baseDataReceiverConfig.grpcWorkerExecutorThreadSize}"/>
        <property name="maxPoolSize" value="#{baseDataReceiverConfig.grpcWorkerExecutorThreadSize}"/>
        <property name="queueCapacity" value="#{baseDataReceiverConfig.grpcWorkerExecutorQueueSize}"/>
        <property name="threadNamePrefix" value="Pinpoint-GrpcAgent-Worker-"/>
        <property name="registry" value="#{baseDataReceiverConfig.grpcWorkerExecutorMonitorEnable ? metricRegistry : null}"/>
    </bean>

    <bean id="grpcLifecycleScheduler" class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
        <property name="poolSize" value="1"/>
        <property name="threadNamePrefix" value="Pinpoint-GrpcLifecycleFlusher-"/>
        <property name="daemon" value="true"/>
        <property name="waitForTasksToCompleteOnShutdown" value="true"/>
        <property name="awaitTerminationSeconds" value="10"/>
    </bean>
    <task:scheduled-tasks scheduler="grpcLifecycleScheduler">
        <task:scheduled ref="keepAliveService" method="updateState" fixed-rate="#{ 60 * 1000 * 5 }"/>
    </task:scheduled-tasks>
    <bean id="pingSessionRegistry" class="com.navercorp.pinpoint.grpc.server.lifecycle.DefaultPingSessionRegistry"/>
    <bean id="lifecycleListener" class="com.navercorp.pinpoint.collector.receiver.grpc.service.AgentLifecycleListener">
        <constructor-arg index="0" ref="keepAliveService"/>
    </bean>
    <bean id="shutdownEventListener" class="com.navercorp.pinpoint.collector.receiver.grpc.ShutdownEventListener"></bean>
    <bean id="keepAliveService" class="com.navercorp.pinpoint.collector.receiver.grpc.service.KeepAliveService">
        <constructor-arg index="0" ref="agentEventAsyncTask"/>
        <constructor-arg index="1" ref="agentLifeCycleAsyncTask"/>
        <constructor-arg index="2" ref="pingSessionRegistry"/>
    </bean>

    <bean id="pingEventHandler" class="com.navercorp.pinpoint.grpc.server.lifecycle.DefaultPingEventHandler">
        <constructor-arg index="0" ref="pingSessionRegistry"/>
        <constructor-arg index="1" ref="lifecycleListener"/>
    </bean>

    <bean id="agentService" class="com.navercorp.pinpoint.collector.receiver.grpc.service.AgentService">
        <constructor-arg index="0" ref="grpcDispatchHandlerFactoryBean"/>
        <constructor-arg index="1" ref="pingEventHandler"/>
        <constructor-arg index="2" ref="grpcAgentWorkerExecutor"/>
    </bean>

    <bean id="metadataService" class="com.navercorp.pinpoint.collector.receiver.grpc.service.MetadataService">
        <constructor-arg index="0" ref="grpcDispatchHandlerFactoryBean"/>
        <constructor-arg index="1" ref="grpcAgentWorkerExecutor"/>
    </bean>

    <bean id="commandService" class="com.navercorp.pinpoint.collector.receiver.grpc.service.command.GrpcCommandService">
        <constructor-arg index="0" ref="clusterService"/>
    </bean>

    <util:list id="agentServiceList">
        <ref bean="agentService"/>
        <ref bean="metadataService"/>
        <ref bean="commandService"/>
    </util:list>

    <bean id="grpcAgentServerExecutor" class="com.navercorp.pinpoint.collector.receiver.thrift.ExecutorFactoryBean" parent="abstractReceiverExecutorFactoryBean">
        <property name="corePoolSize" value="#{baseDataReceiverConfig.grpcServerExecutorThreadSize}"/>
        <property name="maxPoolSize" value="#{baseDataReceiverConfig.grpcServerExecutorThreadSize}"/>
        <property name="queueCapacity" value="#{baseDataReceiverConfig.grpcServerExecutorQueueSize}"/>
        <property name="threadNamePrefix" value="Pinpoint-GrpcAgent-Server-"/>
        <property name="registry" value="#{baseDataReceiverConfig.grpcServerExecutorMonitorEnable ? metricRegistry : null}"/>
    </bean>

    <bean id="grpcAgentReceiver" class="com.navercorp.pinpoint.collector.receiver.grpc.GrpcReceiver">
        <property name="bindIp" value="#{baseDataReceiverConfig.grpcBindIp}"/>
        <property name="bindPort" value="#{baseDataReceiverConfig.grpcBindPort}"/>
        <property name="executor" ref="grpcAgentServerExecutor"/>
        <property name="addressFilter" ref="addressFilter"/>
        <property name="bindableServiceList" ref="agentServiceList"/>
        <property name="enable" value="#{baseDataReceiverConfig.isGrpcEnable()}"/>
        <property name="serverOption" value="#{baseDataReceiverConfig.getGrpcServerOption()}"/>
    </bean>

    <bean id="grpcSpanWorkerExecutor" class="com.navercorp.pinpoint.collector.receiver.thrift.ExecutorFactoryBean" parent="abstractReceiverExecutorFactoryBean">
        <property name="corePoolSize" value="#{spanReceiverConfig.grpcWorkerExecutorThreadSize}"/>
        <property name="maxPoolSize" value="#{spanReceiverConfig.grpcWorkerExecutorThreadSize}"/>
        <property name="queueCapacity" value="#{spanReceiverConfig.grpcWorkerExecutorQueueSize}"/>
        <property name="threadNamePrefix" value="Pinpoint-GrpcSpan-Worker-"/>
        <property name="registry" value="#{spanReceiverConfig.grpcWorkerExecutorMonitorEnable ? metricRegistry : null}"/>
    </bean>

    <bean id="spanService" class="com.navercorp.pinpoint.collector.receiver.grpc.service.SpanService">
        <constructor-arg index="0" ref="grpcSpanDispatchHandlerFactoryBean"/>
        <constructor-arg index="1" ref="grpcSpanWorkerExecutor"/>
    </bean>

    <util:list id="spanServiceList" value-type="io.grpc.BindableService">
        <ref bean="spanService"/>
    </util:list>

    <bean id="grpcSpanServerExecutor" class="com.navercorp.pinpoint.collector.receiver.thrift.ExecutorFactoryBean" parent="abstractReceiverExecutorFactoryBean">
        <property name="corePoolSize" value="#{spanReceiverConfig.grpcServerExecutorThreadSize}"/>
        <property name="maxPoolSize" value="#{spanReceiverConfig.grpcServerExecutorThreadSize}"/>
        <property name="queueCapacity" value="#{spanReceiverConfig.grpcServerExecutorQueueSize}"/>
        <property name="threadNamePrefix" value="Pinpoint-GrpcSpan-Server-"/>
        <property name="registry" value="#{spanReceiverConfig.grpcServerExecutorMonitorEnable ? metricRegistry : null}"/>
    </bean>

    <bean id="grpcSpanReceiver" class="com.navercorp.pinpoint.collector.receiver.grpc.GrpcReceiver">
        <property name="bindIp" value="#{spanReceiverConfig.grpcBindIp}"/>
        <property name="bindPort" value="#{spanReceiverConfig.grpcBindPort}"/>
        <property name="addressFilter" ref="addressFilter"/>
        <property name="bindableServiceList" ref="spanServiceList"/>
        <property name="executor" ref="grpcSpanServerExecutor"/>
        <property name="enable" value="#{spanReceiverConfig.isGrpcEnable()}"/>
        <property name="serverOption" value="#{spanReceiverConfig.getGrpcServerOption()}"/>
    </bean>

    <bean id="grpcStatWorkerExecutor" class="com.navercorp.pinpoint.collector.receiver.thrift.ExecutorFactoryBean" parent="abstractReceiverExecutorFactoryBean">
        <property name="corePoolSize" value="#{statReceiverConfig.grpcWorkerExecutorThreadSize}"/>
        <property name="maxPoolSize" value="#{statReceiverConfig.grpcWorkerExecutorThreadSize}"/>
        <property name="queueCapacity" value="#{statReceiverConfig.grpcWorkerExecutorQueueSize}"/>
        <property name="threadNamePrefix" value="Pinpoint-GrpcStat-Worker-"/>
        <property name="registry" value="#{statReceiverConfig.grpcWorkerExecutorMonitorEnable ? metricRegistry : null}"/>
    </bean>

    <bean id="statService" class="com.navercorp.pinpoint.collector.receiver.grpc.service.StatService">
        <constructor-arg index="0" ref="grpcStatDispatchHandlerFactoryBean"/>
        <constructor-arg index="1" ref="grpcStatWorkerExecutor"/>
    </bean>
    <util:list id="statServiceList" value-type="io.grpc.BindableService">
        <ref bean="statService"/>
    </util:list>

    <bean id="grpcStatServerExecutor" class="com.navercorp.pinpoint.collector.receiver.thrift.ExecutorFactoryBean" parent="abstractReceiverExecutorFactoryBean">
        <property name="corePoolSize" value="#{statReceiverConfig.grpcServerExecutorThreadSize}"/>
        <property name="maxPoolSize" value="#{statReceiverConfig.grpcServerExecutorThreadSize}"/>
        <property name="queueCapacity" value="#{statReceiverConfig.grpcServerExecutorQueueSize}"/>
        <property name="threadNamePrefix" value="Pinpoint-GrpcStat-Server-"/>
        <property name="registry" value="#{statReceiverConfig.grpcServerExecutorMonitorEnable ? metricRegistry : null}"/>
    </bean>

    <bean id="grpcStatReceiver" class="com.navercorp.pinpoint.collector.receiver.grpc.GrpcReceiver">
        <property name="bindIp" value="#{statReceiverConfig.grpcBindIp}"/>
        <property name="bindPort" value="#{statReceiverConfig.grpcBindPort}"/>
        <property name="addressFilter" ref="addressFilter"/>
        <property name="bindableServiceList" ref="statServiceList"/>
        <property name="executor" ref="grpcStatServerExecutor"/>
        <property name="enable" value="#{statReceiverConfig.isGrpcEnable()}"/>
        <property name="serverOption" value="#{statReceiverConfig.getGrpcServerOption()}"/>
    </bean>

    <!-- end receiver configuration -->

    <bean id="jsonObjectMapper" class="com.fasterxml.jackson.databind.ObjectMapper">
    </bean>

    <bean id="callerMerge" class="com.navercorp.pinpoint.collector.dao.hbase.statistics.RowKeyMerge">
        <constructor-arg index="0">
            <util:constant static-field="com.navercorp.pinpoint.common.hbase.HbaseColumnFamily.MAP_STATISTICS_CALLER_VER2_COUNTER"/>
        </constructor-arg>
    </bean>

    <bean id="callerBulkIncrementer" class="com.navercorp.pinpoint.collector.dao.hbase.statistics.BulkIncrementer">
        <constructor-arg ref="callerMerge"/>
    </bean>

    <bean id="calleeMerge" class="com.navercorp.pinpoint.collector.dao.hbase.statistics.RowKeyMerge">
        <constructor-arg index="0">
            <util:constant static-field="com.navercorp.pinpoint.common.hbase.HbaseColumnFamily.MAP_STATISTICS_CALLEE_VER2_COUNTER"/>
        </constructor-arg>
    </bean>

    <bean id="calleeBulkIncrementer" class="com.navercorp.pinpoint.collector.dao.hbase.statistics.BulkIncrementer">
        <constructor-arg ref="calleeMerge"/>
    </bean>

    <bean id="selfMerge" class="com.navercorp.pinpoint.collector.dao.hbase.statistics.RowKeyMerge">
        <constructor-arg index="0">
            <util:constant static-field="com.navercorp.pinpoint.common.hbase.HbaseColumnFamily.MAP_STATISTICS_SELF_VER2_COUNTER"/>
        </constructor-arg>
    </bean>

    <bean id="selfBulkIncrementer" class="com.navercorp.pinpoint.collector.dao.hbase.statistics.BulkIncrementer">
        <constructor-arg ref="selfMerge"/>
    </bean>

    <bean id="timeSlot" class="com.navercorp.pinpoint.common.util.DefaultTimeSlot">
    </bean>

    <bean id="slf4jCommonLoggerFactory" class="com.navercorp.pinpoint.common.server.util.Slf4jCommonLoggerFactory">
    </bean>

    <bean id="typeLoaderService" class="com.navercorp.pinpoint.common.server.util.ServerTraceMetadataLoaderService">
        <constructor-arg index="0" ref="slf4jCommonLoggerFactory"/>
    </bean>

    <bean id="serviceTypeRegistryService" class="com.navercorp.pinpoint.loader.service.DefaultServiceTypeRegistryService">
        <constructor-arg ref="typeLoaderService"/>
    </bean>

    <bean id="sequenceSpanEventFilter" class="com.navercorp.pinpoint.common.server.bo.filter.SequenceSpanEventFilter">
        <constructor-arg index="0" value="${collector.spanEvent.sequence.limit:10000}"/>
    </bean>

    <bean id ="sendAgentStatService" class="com.navercorp.pinpoint.collector.service.SendAgentStatService">
        <constructor-arg index="0" ref="flinkConfiguration"/>
    </bean>

    <bean id="tcpDataSenderRepository" class="com.navercorp.pinpoint.collector.cluster.flink.TcpDataSenderRepository">
        <constructor-arg index="0" ref="sendAgentStatService"/>
    </bean>

    <bean id="flinkTBaseLocator" class="com.navercorp.pinpoint.thrift.io.FlinkTBaseLocator">
        <constructor-arg index="0">
            <util:constant static-field="com.navercorp.pinpoint.io.header.v2.HeaderV2.VERSION"/>
        </constructor-arg>
    </bean>
    <bean id="flinkHeaderTBaseSerializerFactory" class="com.navercorp.pinpoint.thrift.io.FlinkHeaderTBaseSerializerFactory">
        <constructor-arg index="0" value="#{flinkTBaseLocator.typeLocator}"/>
    </bean>
    <bean id="flinkRequestFactory" class="com.navercorp.pinpoint.collector.sender.FlinkRequestFactory"/>
    <bean id="flinkClusterConnectionManager" class="com.navercorp.pinpoint.collector.cluster.flink.FlinkClusterConnectionManager">
        <constructor-arg index="0" ref="tcpDataSenderRepository"/>
        <constructor-arg index="1" ref="flinkHeaderTBaseSerializerFactory"/>
        <constructor-arg index="2" ref="flinkRequestFactory"/>
    </bean>

    <bean id="flinkClusterService" class="com.navercorp.pinpoint.collector.cluster.flink.FlinkClusterService">
        <constructor-arg index="0" ref="flinkConfiguration"/>
        <constructor-arg index="1" ref="flinkClusterConnectionManager"/>
        <constructor-arg index="2" value="/pinpoint-cluster/flink"/>
    </bean>
</beans>