spring:
  profiles:
    active: release

server:
  port: 8081
  tomcat:
    mbeanregistry:
      enabled: true

management:
  metrics:
    binders:
      tomcat:
        enabled: true
  otlp:
    metrics:
      export:
        enabled: false
  health:
    defaults:
      enabled: false
    diskspace:
      enabled: true
  endpoint:
    health:
      show-details: always
      access: read_only
    beans:
      access: read_only
    conditions:
      access: read_only
    configprops:
      show-values: always
      access: read_only
    env:
      show-values: always
      access: read_only
    logfile:
      access: read_only
    loggers:
      access: unrestricted
    mappings:
      access: read_only
    info:
      access: read_only
    threaddump:
      access: read_only
    heapdump:
      access: read_only
    metrics:
      access: read_only
    httptrace:
      access: none
    prometheus:
      access: none
    shutdown:
      access: none
  endpoints:
    web:
      exposure:
        include: health,beans,conditions,configprops,env,logfile,loggers,mappings,info,threaddump,heapdump,metrics,pause
      base-path: /monitor
      path-mapping:
        health: l7check

pinpoint:
  modules:
    collector:
      grpc:
        ssl:
          enabled: false
    realtime:
      enabled: false
    uid:
      # v2: lagacy table, v3: new table, dual : DualWrite for Data Migration
      version: v3
