<div class="some-list" style="width:300px;">
	<div class="some-list-header" style="background-color:#9A9A9A;color:#FFF;">
		<span class="title">Group Member <span class="total"></span></span>
		<span class="glyphicon glyphicon-sort right" style="cursor:pointer;opacity:{{canSort()}}" ng-click="onSortGroupMember()"></span>
	</div>
	<div class="some-list-content" style="color:#9A9A9A;">
		<div class="wrapper"><ul>
			<li ng-repeat="groupMember in groupMemberList" id="{{prefix + groupMember.memberId}}">
				<span class="contents">({{groupMember.department}}){{groupMember.name}}</span>
				<div style="float:right" class="_normal">
					<span class="glyphicon glyphicon-remove remove" aria-hidden="true" ng-click="onRemoveGroupMember($event)"></span>
				</div>
				<div style="float:right" class="_remove hide-me">
					<span class="glyphicon glyphicon-remove remove remove-confirm" aria-hidden="true" ng-click="onApplyRemoveGroupMember($event)"></span>
					<span class="glyphicon glyphicon-arrow-left remove-cancel" aria-hidden="true" ng-click="onCancelRemoveGroupMember()"></span>
				</div>
			</li>
		</ul></div>
	</div>
	<div class="some-guide">
		Select a 'User Group'<br>to enable here
	</div>
	<div class="some-loading hide-me">
		<div class="timer-loader"></div>
	</div>
	<div class="some-alert hide-me">
		<span class="message"></span>
		<span class="close-alert" style="color:#FFF;" ng-click="onCloseAlert()">X</span>
	</div>
</div>