<div class="some-list" style="width:300px">
	<div class="some-list-header">
		<span class="title">User Group <span class="total"></span></span>
		<span class="right" style="text-decoration: underline;cursor:pointer" ng-click="onAddUserGroup()">+ Add</span>
	</div>
	<div class="some-list-search">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Enter at least 3 letters to search" ng-keydown="onSearchKeydown($event)"/>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="onSearch()">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button>
			</span>
		</div>
	</div>
	<div class="some-list-content">
		<div class="wrapper"><ul>
			<li class="new-group hide-me">
				<span class="contents"></span>
				<input type="text" placeholder="New Group" style="height:22px" ng-keydown="onAddUserGroupKeydown($event)"/>
				<span class="glyphicon glyphicon-remove remove" aria-hidden="true" ng-click="onCancelAddUserGroup()"></span>
				<span class="glyphicon glyphicon-ok edit" aria-hidden="true" ng-click="onApplyAddUserGroup()"></span>
			</li>
			<li ng-repeat="userGroup in userGroupList" id="{{prefix + userGroup.number}}">
				<span class="contents">{{userGroup.id}}</span>
				<input type="text" style="height:22px" ng-keydown="onUpdateUserGroupKeydown($event)"/>
				<div style="float:right" class="_normal">
					<span class="glyphicon glyphicon-remove remove" aria-hidden="true" ng-click="onRemoveUserGroup($event)"></span>
				</div>
				<div style="float:right" class="_remove hide-me">
					<span class="glyphicon glyphicon-remove remove remove-confirm" aria-hidden="true" ng-click="onApplyRemoveUserGroup($event)"></span>
					<span class="glyphicon glyphicon-arrow-left remove-cancel" aria-hidden="true" ng-click="onCancelRemoveUserGroup()"></span>
				</div>
				<div style="float:right" class="_edit hide-me">
					<span class="glyphicon glyphicon-remove remove" aria-hidden="true" ng-click="onCancelUpdateUserGroup()"></span>
					<span class="glyphicon glyphicon-ok edit-confirm" aria-hidden="true" ng-click="onApplyUpdateUserGroup()"></span>
				</div>
			</li>
		</ul></div>
	</div>
	<div class="some-loading">
		<div class="timer-loader"></div>
	</div>
	<div class="some-alert hide-me">
		<span class="message"></span>
		<span class="close-alert" style="color:#FFF;" ng-click="onCloseAlert()">X</span>
	</div>
</div>