:host {
    display: block;
    width: 170px;
    height: 32px;
    position: relative;
}

.l-search-input {
    width: 100%;
    height: 100%;
    border: 1px solid #d7dde4;
    padding: 0 28px 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
}

.l-search-input:focus {
    border-color: var(--primary-color);
    /* box-shadow: 0 0 10px -3px #4b99e3; */
    box-shadow: 0 0px 1px 1px var(--primary-color);
    outline: none;
}

.l-search-button {
    position:absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    color:#a8acb5;
    font-size:18px;
}

