.container {
    display: flex;
}

.l-transaction-content {
    height:100%;
}
.l-main-container {
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
}

.l-main-section {
    position: relative;
    height: 100%;
}
.l-main-section .l-main-contents {
    height: 100%;
    position: relative;
    overflow: auto;
}
.l-main-section .l-main-contents.l-main-contents-transaction {
    overflow: hidden;
}
.l-main-contents .l-content-item {
    margin:10px;
}
.l-main-contents .l-content-item.l-margin-none {
    margin:0;
}
.l-main-contents .l-content-item.l-border-none {
    border:none;
}