<pp-notice-container></pp-notice-container>
<header class="flex-container flex-row">
    <pp-header-logo></pp-header-logo>
    <div class="l-widget-group">
        <pp-application-list-for-header-container></pp-application-list-for-header-container>
        <pp-period-selector-container></pp-period-selector-container>
    </div>
    <button class="fas fa-question-circle" (click)="onShowHelp($event)"></button>
    <pp-configuration-icon-container></pp-configuration-icon-container>
</header>
<div class="l-main-container">
    <section *ngIf="(endTime$ | async) as endTime" class="l-sidemenu-wrap font-opensans">
        <div class="l-sidemenu-left">
            <pp-application-inspector-title-container></pp-application-inspector-title-container>
            <pp-server-and-agent-list-container></pp-server-and-agent-list-container>            
            <pp-agent-search-input-container></pp-agent-search-input-container>
        </div>
    </section>
    <section class="l-main-section">
        <router-outlet></router-outlet>
    </section>
</div>
