:host {
    display: block;
}

.l-desc-text-wrapper {
    margin-bottom: 20px;
}

.l-desc-text {
    color: #999;
    font-size: 14px;
}

.l-popup-table {
    border: 1px solid #e5e8f0;
    width: 100%;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.l-popup-table thead {
    border-bottom: 1px solid #e5e8f0;
}

.l-popup-table th {
    font-size: 13px;
    font-weight: 600;
    color: #333;
    background-color: #f6f8fb;
    padding: 8px 20px;
}

.l-popup-table td {
    font-size: 13px;
    font-weight: 400;
    color: #999;
    padding: 8px 20px;
    border-left: 1px solid #e5e8f0;
}

.l-favorite-application-table {
    margin-top: 17px;
    table-layout: fixed;
}

.l-favorite-application-table td {
    padding: 0;
    vertical-align: baseline;
}

.l-color-blue {
    color: #4b99e3;
}

.l-text-bold {
    font-weight: 600;
}

.l-servermap-span {
    color: #666;
}
.l-servermap-span .fas {
    color:#d0d0d0;
}


.fa-sign-in-alt, .fa-sign-out-alt {
    color: #33b692;
}

.l-timezone-dateformat-table {
    margin-top: 17px;
}

.l-timezone-dateformat-table th {
    border-left: 1px solid #e5e8f0;
}
