.l-search-group {
    background: #fff;
    height: 32px;
    width: 183px;
    color:#b3b3b4;
    position:relative;
    margin-right: 10px;
}
.l-search-group input {
    width: 100%;
    height: 100%;
    border: 1px solid #d7dde4;
    padding: 0 10px 0 10px;
}
.l-search-group input:focus {
    border-color:#469ae4;
    box-shadow: 0 0 10px -3px #4b99e3;
    outline: none;
}
.l-search-group button {
    position:absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.fas {
    color:#a8acb5;
    font-size:18px;
}
.l-search-div {
    position: absolute;
    top: 35px;
    right: 0px;
    width: 231px;
    height: 472px;
}
.l-search-div > div {
    background-color: #3e506b;
    border-bottom: 1px solid #D0D7DF;
    padding: 4px 0px 4px 10px;
    color: #FFF;
}
.l-search-div > div button {
    position: absolute;
    top: 13px;
    color: white;
}
.l-search-div ul {
    top: 26px;
    height: 446px;
    padding: 15px 10px;
}
.l-search-div li {
    cursor: pointer;
    padding: 0px 1px;
}
.l-search-div li:hover, .l-search-div li.selected {
    color: #FFF;
    background-color: #469AE4;
}
.l-search-list {
    padding:15px;
    background:#f8fafc;
    position:absolute;
    width:231px;
    top: 35px;
    right: 0;
    overflow-y: auto;
    height: 472px;
}
.l-search-list li {
    color:#8a939e;
    font-size:12px;
    margin:8px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.l-search-list li:first-child {
    margin:0;
}
