:host {
    display: block;
    width: 100%;
    height: 100%;
}

.l-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    background-color: var(--background-primary);
}

.l-content-section {
    height: 100%;
    position: relative;
}

.l-middle-tool-box {
}

.l-component-wrapper {
    width: 100%;
    height: calc(100% - 84px);
    position: relative;
}

.l-middle-tool-box {
    display: flex;
    flex-flow: row wrap;
    height: 54px;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    position:relative;
    background-color: var(--background-default);
    border-bottom: 1px solid var(--border-primary);
}

.l-middle-tool-box, .l-middle-tool-box-tip {
    color: var(--icon-default);
    font-size: 18px
}
