.l-logo {
    width: 165px;
    height: 100%;
    box-shadow: 1px 0 0 #55a2e6;
    background: #408dd4;
    border-right: 1px solid #3881c4;
}
.l-logo-link {
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
