<section class="l-sidemenu-wrap font-opensans" [style.visibility]="sidebarVisibility">
    <div class="l-sidemenu">
        <div class="l-title-group">
            <pp-side-bar-title-container></pp-side-bar-title-container>
        </div>
        <div class="l-contents-group">
            <pp-filter-information-container></pp-filter-information-container>
            <pp-server-status-container></pp-server-status-container>
            <div class="l-chart-group-list">
                <pp-scatter-chart-for-filtered-map-side-bar-container></pp-scatter-chart-for-filtered-map-side-bar-container>
                <pp-target-list-container></pp-target-list-container>
                <hr *ngIf="showDivider"/>
                <div [hidden]="isTargetMerged$ | async">
                    <pp-response-summary-chart-container [sourceType]="'FILTERED'"></pp-response-summary-chart-container>
                    <hr/>
                    <pp-load-chart-container [sourceType]="'FILTERED'"></pp-load-chart-container>
                </div>
            </div>
        </div>
    </div>
    <pp-info-per-server-for-filtered-map-container></pp-info-per-server-for-filtered-map-container>
</section>
<pp-film-for-disable *ngIf="useDisable" [zIndex]="100" [marginWidth]="0"></pp-film-for-disable>
<pp-loading [showLoading]="showLoading" [zIndex]="101"></pp-loading>
