<ul class="l-servers-list">
    <li *ngFor="let serverName of getServerKeys(); let outerIndex = index">
        <div class="l-server-name" [attr.title]="serverName">{{ serverName }}</div>
        <ul>
            <li *ngFor="let agentId of getAgentKeys(serverName); let innerIndex = index">
                <div>
                    <span class="l-icon-alert" *ngIf="hasError(agentId)"><img [src]="getAlertImgPath()" alt=""></span>
                    <button class="l-text-box fas fa-chart-line" (click)="onOpenInspector(agentId)" *ngIf="isWas"></button>
                </div>
                <label for="step3-category-{{outerIndex}}-{{innerIndex}}" title="{{ getAgentName(serverName, agentId) || 'N/A' }}">
                    <input type="radio" id="step3-category-{{outerIndex}}-{{innerIndex}}" name="main-server-list-selected-agent" (click)="onSelectAgent(agentId)" [checked]="isSelectedAgent(agentId)">
                    {{ agentId }} ({{ getAgentName(serverName, agentId) || "N/A" }})
                </label>
            </li>
        </ul>
    </li>
</ul>
