:host {
    display: block;
}
.l-servers-list {
    padding: 0 13px 0 25px;
}
.l-server-name {
    display: block;
    overflow : hidden;
    white-space : nowrap;
    text-overflow : ellipsis;
}
.l-servers-list li {
    font-size: 13px;
    color:#333;
    font-weight: 600;
}
.l-servers-list li {
    margin: 15px 0 0 0;
}
.l-servers-list li.first-child {
    margin:0;
}
.l-servers-list li.first-child:before {
    font-family: FontAwesome;
    content: '\f0ae';
    font-size: 14px;
    margin: 0 8px 0 0;
    color: #999;
    font-weight: normal;
}
.l-servers-list li .l-category {
    margin: 10px 0 0 27px;
}
.l-servers-list li .l-category span {
    display: inline-block;
    padding: 2px 5px;
    font-size: 10px;
    color: #fff;
    font-weight: 600;
}
.l-servers-list li ul {
    margin: 13px 0 0 20px;
}
.l-servers-list li ul li {
    font-size: 12px;
    color: #666;
    font-weight: 400;
    height: 20px;
    margin: 5px 0px;
    color: #999;
}
.l-servers-list li ul li input {
    margin: 0 5px;
}
.l-servers-list li ul li div {
    float: right;
}
.l-servers-list li ul li label {
    display: block;
    overflow : hidden;
    white-space : nowrap;
    text-overflow : ellipsis;
}
.l-servers-list li ul li:hover {
    background:#f1f3f7;
}
.l-text-box {
    padding: 3px 5px;
    font-size: 10px;
    color: #FFF;
    margin-left: 13px;
    background-color: var(--primary-color);
}
.l-icon-alert {
    height: 1em;
}
.l-servers-list ul li {
    height: 30px;
}
.l-servers-list ul span {
    cursor: pointer;
}
i.fas {
    margin-right: 4px;
}
