<div class="l-desc-text-wrapper"><p class="l-desc-text nanumgothic">{{desc$ | async}}</p></div>
<div class="l-check-wrapper">
    <pp-application-name-duplication-check-container></pp-application-name-duplication-check-container>
    <pp-agent-id-duplication-check-container></pp-agent-id-duplication-check-container>
</div>
<ng-container *ngIf="(installationInfo$ | async) as installationInfo">
    <pp-configuration-popup-installation-download-link [downloadLink]="installationInfo.downloadUrl"></pp-configuration-popup-installation-download-link>
    <pp-configuration-popup-installation-jvm-argument-info
        [installationArgument]="installationInfo.installationArgument"
        [jvmArgument]="jvmArgument$ | async">
    </pp-configuration-popup-installation-jvm-argument-info>
</ng-container>
