:host {
    display: block;
    width: 100%;
    padding: 8px 0;
}

.l-list-item {
    display: block;
    width: 100%;
}

.l-separator {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 10px;
    margin-bottom: 10px;
}

.l-link {
    display: inline-block;
    width: 100%;
    padding: 12px 25px;
}

.l-link:hover {
    cursor: pointer;
    background-color: #eee;
}
