<ul class="l-list">
    <li class="l-list-item"><a (click)="onMenuClick('general')" class="l-link">General</a></li>
    <li class="l-list-item"><a (click)="onMenuClick('userGroup')" class="l-link">User Group</a></li>
    <li class="l-list-item"><a (click)="onMenuClick('alarm')" class="l-link">Alarm</a></li>
    <li class="l-list-item"><a (click)="onMenuClick('installation')" class="l-link">Installation</a></li>
    <li class="l-list-item l-separator"></li>
    <li class="l-list-item"><a (click)="onMenuClick('help')" class="l-link">Help</a></li>
    <li class="l-list-item"><a (click)="onOpenLink()" class="l-link">Github</a></li>
</ul>
