<ul class="l-list l-depth-0">
    <li class="l-list-item">
        <a class="l-link l-link-with-arrow" [class.active]="isActive(linkSetting)" (click)="toggleSettingMenu()" #linkSetting>
            <span class="l-link-text">Setting</span><i class="fas fa-angle-right" [@rightDown]="getSettingCollapsedState()"></i>
        </a>
        <ul class="l-list l-depth-1" [@collapseSpread]="getSettingCollapsedState()">
            <li class="l-list-item"><a (click)="onMenuClick('general')" class="l-link">General</a></li>
            <li class="l-list-item"><a (click)="onMenuClick('favorite')" class="l-link">Favorite List</a></li>
        </ul>    
    </li>
    <li class="l-list-item l-separator"></li>
    <li class="l-list-item"><a (click)="onMenuClick('userGroup')" class="l-link">User Group</a></li>
    <li class="l-list-item"><a (click)="onMenuClick('alarm')" class="l-link">Alarm</a></li>
    <li class="l-list-item"><a (click)="onMenuClick('installation')" class="l-link">Installation</a></li>
    <li class="l-list-item l-separator"></li>
    <li class="l-list-item"><a (click)="onMenuClick('help')" class="l-link">Help</a></li>
    <li class="l-list-item"><a (click)="onOpenLink()" class="l-link">Github</a></li>
    <li class="l-list-item"><a (click)="onOpenV1()" class="l-link">Go to Pinpoint V1</a></li>
</ul>
