<div class="l-webhook-list-wrapper">
  <div class="l-webhook-title">
    <span>Webhook List</span>
    <div>
      <button 
        class="btn btn-sm btn-blue"
        [hidden]="!allowedUserEdit" 
        [disabled]="!isApplicationSelected()"  
        (click)="onShowPopup()"
      >
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <pp-webhook-list 
    [webhookList]="webhookList"
    (outAdd)="onAddWebhook($event)"
    (outEdit)="onEditWebhook($event)"
    (outRemove)="onRemoveWebhook($event)">
  </pp-webhook-list>
  <ng-container *ngIf="showPopup">
    <pp-webhook-list-create-and-update
      (outClose)="onClosePopup()"
    >
    </pp-webhook-list-create-and-update>
    <!-- <pp-pinpoint-user-create-and-update
        [i18nLabel]="i18nLabel"
        [i18nGuide]="i18nGuide"
        [minLength]="minLength"
        [userInfo]="userInfo"
        [allowedUserEdit]="allowedUserEdit"
        (outUpdatePinpointUser)="onUpdatePinpointUser($event)"
        (outCreatePinpointUser)="onCreatePinpointUser($event)"
        (outClose)="onCloseCreateUserPopup()">
    </pp-pinpoint-user-create-and-update> -->
  </ng-container> 
</div>