:host {
    display: block;
    width: 183px;
    height: 32px;
    position: relative;
}

.l-search-input {
    width: 100%;
    height: 100%;
    border: 1px solid var(--form-input-border);
    padding: 0 28px 0 10px;
    background-color: var(--background-primary);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.l-search-input:focus {
    border-color: var(--primary);
    box-shadow: 0 0px 1px 1px var(--primary);
    outline: none;
}

.l-search-button {
    position:absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    color:var(--icon-default);
    font-size:18px;
}

.l-search-list {
    padding: 5px 0;
    background: var(--background-default);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    position: absolute;
    top: 35px;
    right: 0px;
    width: 231px;
}

.l-list-title {
    font-weight: 600;
    padding: 5px 0px 5px 10px;
    color: var(--text-primary-lightest);
}

.l-close-button {
    position: absolute;
    top: 14px;
    right: 10px;
    color: var(--text-secondary);
    font-size: 16px;
    transform: translateY(-50%);
}

.l-list-contents {
    width: 100%;
    color: var(--text-secondary);
    padding: 7px 7px 7px 10px;
    font-size:12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.l-list-contents-wrapper {
    width: 100%;
    max-height: 470px;
    overflow-y: auto;
}

.l-empty-contents {
    width: 100%;
    color: var(--text-secondary);
    padding: 7px 7px 7px 10px;
    font-size:12px;
}

.l-list-contents:hover {
    cursor: pointer;
    background-color: var(--background-hover-default);
    color: var(--primary) !important;
}

.l-list-contents.selected {
    color: var(--primary) !important;
}