#
# Pinpoint agent configuration
#

###########################################################
# Collector server                                        # 
###########################################################
profiler.collector.ip=127.0.0.1

# placeHolder support "${key}"
profiler.collector.span.ip=${profiler.collector.ip}
profiler.collector.span.port=9996

# placeHolder support "${key}"
profiler.collector.stat.ip=${profiler.collector.ip}
profiler.collector.stat.port=9995

# placeHolder support "${key}"
profiler.collector.tcp.ip=${profiler.collector.ip}
profiler.collector.tcp.port=9994

###########################################################
# gRPC Configuration                                      #
###########################################################
profiler.transport.grpc.collector.ip=127.0.0.1

# placeHolder support "${key}"
# Agent
profiler.transport.grpc.agent.collector.ip=${profiler.transport.grpc.collector.ip}
profiler.transport.grpc.agent.collector.port=1
profiler.transport.grpc.agent.sender.channel.executor.queue.size=1
profiler.transport.grpc.agent.sender.request.timeout.millis=1
profiler.transport.grpc.agent.sender.keepalive.time.millis=1
profiler.transport.grpc.agent.sender.keepalive.timeout.millis=1
profiler.transport.grpc.agent.sender.connect.timeout.millis=1
profiler.transport.grpc.agent.sender.headers.size.max=1M
profiler.transport.grpc.agent.sender.message.inbound.size.max=1M
profiler.transport.grpc.agent.sender.flow-control.window.size=1M
profiler.transport.grpc.agent.sender.write.buffer.highwatermark=1M
profiler.transport.grpc.agent.sender.write.buffer.lowwatermark=1M

# Stat
profiler.transport.grpc.stat.collector.ip=${profiler.transport.grpc.collector.ip}
profiler.transport.grpc.stat.collector.port=2
profiler.transport.grpc.stat.sender.executor.queue.size=2
profiler.transport.grpc.stat.sender.channel.executor.queue.size=2
profiler.transport.grpc.stat.sender.request.timeout.millis=2
profiler.transport.grpc.stat.sender.keepalive.time.millis=2
profiler.transport.grpc.stat.sender.keepalive.timeout.millis=2
profiler.transport.grpc.stat.sender.connect.timeout.millis=2
profiler.transport.grpc.stat.sender.headers.size.max=2M
profiler.transport.grpc.stat.sender.message.inbound.size.max=2M
profiler.transport.grpc.stat.sender.flow-control.window.size=2M
profiler.transport.grpc.stat.sender.write.buffer.highwatermark=2M
profiler.transport.grpc.stat.sender.write.buffer.lowwatermark=2M

# Span
profiler.transport.grpc.span.collector.ip=${profiler.transport.grpc.collector.ip}
profiler.transport.grpc.span.collector.port=3
profiler.transport.grpc.span.sender.executor.queue.size=3
profiler.transport.grpc.span.sender.channel.executor.queue.size=3
profiler.transport.grpc.span.sender.request.timeout.millis=3
profiler.transport.grpc.span.sender.keepalive.time.millis=3
profiler.transport.grpc.span.sender.keepalive.timeout.millis=3
profiler.transport.grpc.span.sender.connect.timeout.millis=3
profiler.transport.grpc.span.sender.headers.size.max=3M
profiler.transport.grpc.span.sender.message.inbound.size.max=3M
profiler.transport.grpc.span.sender.flow-control.window.size=3M
profiler.transport.grpc.span.sender.write.buffer.highwatermark=3M
profiler.transport.grpc.span.sender.write.buffer.lowwatermark=3M


###########################################################
# Profiler Global Configuration                           # 
###########################################################
profiler.enable=true

profiler.jvm.collect.interval=1000

profiler.sampling.enable=true
profiler.sampling.rate=1

profiler.io.buffering.enable=true
profiler.io.buffering.buffersize=20



profiler.spandatasender.write.queue.size=5120
#profiler.spandatasender.socket.sendbuffersize=1048576
#profiler.spandatasender.socket.timeout=3000
profiler.spandatasender.chunk.size=16384
# Should keep in mind
# 1. Loadbancing : TCP transport load balancing is per connection.(UDP transport loadbalancing is per packet)
# 2. In unexpected situations, UDP has its own protection feature (like packet loss etc.), but tcp does not have such a feature. (We will add protection later)
profiler.spandatasender.transport.type=UDP

profiler.statdatasender.write.queue.size=5120
#profiler.statdatasender.socket.sendbuffersize=1048576
#profiler.statdatasender.socket.timeout=3000
profiler.statdatasender.chunk.size=16384
# Should keep in mind
# 1. Loadbancing : TCP transport load balancing is per connection.(UDP transport loadbalancing is per packet)
# 2. In unexpected situations, UDP has its own protection feature (like packet loss etc.), but tcp does not have such a feature. (We will add protection later)
profiler.statdatasender.transport.type=UDP

profiler.agentInfo.send.retry.interval=300000

#  Allows TCP data command
profiler.tcpdatasender.command.accept.enable=true
profiler.tcpdatasender.command.activethread.enable=true
profiler.tcpdatasender.command.activethread.count.enable=true
profiler.tcpdatasender.command.activethread.threaddump.enable=true
profiler.tcpdatasender.command.activethread.threadlightdump.enable=true

###########################################################
# application type                                        # 
###########################################################
#profiler.applicationservertype=TOMCAT
#profiler.applicationservertype=BLOC

# Needs to be a comma separated list of plugin's groupId:artifactId
# Ex: com.navercorp.pinpoint:pinpoint-tomcat-plugin, com.navercorp.pinpoint:pinpoint-jboss-plugin
profiler.plugin.load.order=
profiler.plugin.disable=

###########################################################
# user defined classes                                    # 
###########################################################
profiler.include=com.navercorp.pinpoint.testweb.controller.*,com.navercorp.pinpoint.testweb.MyClass

###########################################################
# TOMCAT                                                  #
###########################################################
profiler.tomcat.enable=true
# Classes for detecting application server type. Comma separated list of fully qualified class names. Wildcard not supported.
profiler.tomcat.bootstrap.main=org.apache.catalina.startup.Bootstrap
# Hide pinpoint headers.
profiler.tomcat.hidepinpointheader=true
# URLs to exclude from tracing
profiler.tomcat.excludeurl=/aa/test.html, /bb/exclude.html
profiler.tomcat.tracerequestparam=true

# original IP address header
# https://en.wikipedia.org/wiki/X-Forwarded-For
#profiler.tomcat.realipheader=X-Forwarded-For
# nginx real ip header
#profiler.tomcat.realipheader=X-Real-IP
# optional parameter, If the header value is ${profiler.tomcat.realipemptyvalue}, Ignore header value.
#profiler.tomcat.realipemptyvalue=unknown


###########################################################
# JETTY                                                   #
###########################################################
profiler.jetty.enable=true
# Classes for detecting application server type. Comma separated list of fully qualified class names. Wildcard not supported.
profiler.jetty.bootstrap.main=org.eclipse.jetty.start.Main
# URLs to exclude from tracing
profiler.jetty.excludeurl=


###########################################################
# DUBBO                                                   #
###########################################################
profiler.dubbo.enable=true
# Classes for detecting application server type. Comma separated list of fully qualified class names. Wildcard not supported.
profiler.dubbo.bootstrap.main=com.alibaba.dubbo.container.Main


###########################################################
# JBOSS                                                   #
###########################################################
profiler.jboss.enable=true
# Classes for detecting application server type. Comma separated list of fully qualified class names. Wildcard not supported.
profiler.jboss.bootstrap.main=org.jboss.modules.Main
# Hide pinpoint headers.
profiler.jboss.hidepinpointheader=true
# URLs to exclude from tracing
profiler.jboss.excludeurl=
# HTTP Request methods to exclude from tracing
#profiler.jboss.excludemethod=
profiler.jboss.tracerequestparam=true

# original IP address header
# https://en.wikipedia.org/wiki/X-Forwarded-For
#profiler.jboss.realipheader=X-Forwarded-For
# nginx real ip header
#profiler.jboss.realipheader=X-Real-IP
# optional parameter, If the header value is ${profiler.jboss.realipemptyvalue}, Ignore header value.
#profiler.jboss.realipemptyvalue=unknown


###########################################################
# SPRING BOOT                                             #
###########################################################
profiler.springboot.enable=true
# Classes for detecting application server type. Comma separated list of fully qualified class names. Wildcard not supported.
profiler.springboot.bootstrap.main=org.springframework.boot.loader.JarLauncher, org.springframework.boot.loader.WarLauncher, org.springframework.boot.loader.PropertiesLauncher

###########################################################
# JDBC                                                    # 
###########################################################
profiler.jdbc=true
profiler.jdbc.sqlcachesize=1024
profiler.jdbc.maxsqlbindvaluesize=1024

#
# MYSQL
#
profiler.jdbc.mysql=true
profiler.jdbc.mysql.setautocommit=true
profiler.jdbc.mysql.commit=true
profiler.jdbc.mysql.rollback=true

#
# MSSQL Jtds
#
profiler.jdbc.jtds=true
profiler.jdbc.jtds.setautocommit=true
profiler.jdbc.jtds.commit=true
profiler.jdbc.jtds.rollback=true

#
# Oracle
#
profiler.jdbc.oracle=true
profiler.jdbc.oracle.setautocommit=true
profiler.jdbc.oracle.commit=true
profiler.jdbc.oracle.rollback=true

#
# CUBRID
#
profiler.jdbc.cubrid=true
profiler.jdbc.cubrid.setautocommit=true
profiler.jdbc.cubrid.commit=true
profiler.jdbc.cubrid.rollback=true

#
# INFORMIX
#
profiler.jdbc.informix=true
profiler.jdbc.informix.setautocommit=true
profiler.jdbc.informix.commit=true
profiler.jdbc.informix.rollback=true

#
# DBCP
#
profiler.jdbc.dbcp=true
profiler.jdbc.dbcp.connectionclose=true

#
# DBCP2
#
profiler.jdbc.dbcp2=true
profiler.jdbc.dbcp2.connectionclose=true

#
# HIKARICP
#
profiler.jdbc.hikaricp=true
profiler.jdbc.hikaricp.connectionclose=true

###########################################################
# Apache HTTP Client  4.x                                 #
###########################################################
profiler.apache.httpclient4=true

profiler.apache.httpclient4.cookie=true
profiler.apache.httpclient4.cookie.dumptype=ALWAYS
profiler.apache.httpclient4.cookie.sampling.rate=1

profiler.apache.httpclient4.entity=true
profiler.apache.httpclient4.entity.dumptype=ALWAYS
profiler.apache.httpclient4.entity.sampling.rate=1

# Can profile status code value
profiler.apache.httpclient4.entity.statuscode=true

# Not supported yet  
#profiler.apache.nio.httpclient4=true


###########################################################
# JDK HTTPURLConnection                                   #
###########################################################
profiler.jdk.httpurlconnection=true


###########################################################
# Ning Async HTTP Client                                  # 
###########################################################
profiler.ning.asynchttpclient=true
profiler.ning.asynchttpclient.cookie=true
profiler.ning.asynchttpclient.cookie.dumptype=ALWAYS
profiler.ning.asynchttpclient.cookie.dumpsize=1024
profiler.ning.asynchttpclient.cookie.sampling.rate=1
profiler.ning.asynchttpclient.entity=true
profiler.ning.asynchttpclient.entity.dumptype=ALWAYS
profiler.ning.asynchttpclient.entity.dumpsize=1024
profiler.ning.asynchttpclient.entity.sampling.rate=1
profiler.ning.asynchttpclient.param=true
profiler.ning.asynchttpclient.param.dumptype=ALWAYS
profiler.ning.asynchttpclient.param.dumpsize=1024
profiler.ning.asynchttpclient.param.sampling.rate=1


###########################################################
# Arcus                                                   # 
###########################################################
profiler.arcus=true
profiler.arcus.keytrace=true


###########################################################
# Memcached                                               # 
###########################################################
profiler.memcached=true
profiler.memcached.keytrace=true


###########################################################
# Thrift                                                  # 
###########################################################
profiler.thrift.client=true
profiler.thrift.processor=true
profiler.thrift.service.args=true
profiler.thrift.service.result=true


###########################################################
# ibatis                                                  # 
###########################################################
profiler.orm.ibatis=true


###########################################################
# mybatis                                                 # 
###########################################################
profiler.orm.mybatis=true

###########################################################
# redis                                                   # 
###########################################################
profiler.redis=true
profiler.redis.pipeline=true

###########################################################
# nBase-ARC                                               # 
###########################################################
profiler.nbase_arc=true
profiler.nbase_arc.pipeline=true

###########################################################
# spring-beans 
###########################################################
profiler.spring.beans=false
profiler.spring.beans.name.pattern=
profiler.spring.beans.class.pattern=
profiler.spring.beans.annotation=org.springframework.stereotype.Controller,org.springframework.stereotype.Service,org.springframework.stereotype.Repository

###########################################################
# log4j
###########################################################
profiler.log4j.logging.transactioninfo=false

###########################################################
# logback
###########################################################
profiler.logback.logging.transactioninfo=false

###########################################################
# RestTemplate
###########################################################
profiler.resttemplate=false

###########################################################
# Netty
###########################################################
# recommend netty plugin disable, when using VERTX.
profiler.netty=false
profiler.netty.http=false