<div class="l-main-contents-top font-opensans">
    <div class="l-fixed-period-mover-wrapper">
        <pp-fixed-period-mover-container></pp-fixed-period-mover-container>
    </div>
    <div class="l-search-result-viewer-wrapper">
        <pp-server-map-search-result-viewer-container></pp-server-map-search-result-viewer-container>
    </div>
    <button class="fas fa-question-circle" (click)="onShowHelp($event)"></button>
</div>
<pp-server-map-for-filtered-map-container></pp-server-map-for-filtered-map-container>
