<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:batch="http://www.springframework.org/schema/batch"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="com.navercorp.pinpoint.web.batch.job" />
                                         
    <job id="agentCountJob" xmlns="http://www.springframework.org/schema/batch" >
        <step id="agentCountStep">
            <tasklet>
                <chunk reader="agentCountReader" processor="agentCountProcessor" writer="agentCountWriter" commit-interval="1" retry-limit="2">
                    <retryable-exception-classes>
                        <batch:include class="org.springframework.batch.core.JobExecutionException" />
                    </retryable-exception-classes>
                </chunk>
            </tasklet>
        </step>
    </job>

    <bean id="alarmPartitioner" class="com.navercorp.pinpoint.web.alarm.AlarmPartitioner"/>
    <bean id="agentCountReader" class="com.navercorp.pinpoint.web.batch.job.AgentCountReader" scope="step"/>
    <bean id="agentCountProcessor" class="com.navercorp.pinpoint.web.batch.job.AgentCountProcessor" scope="step"/>
    <bean id="agentCountWriter" class="com.navercorp.pinpoint.web.batch.job.AgentCountWriter" scope="step"/>
    
</beans>