<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:batch="http://www.springframework.org/schema/batch"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="com.navercorp.pinpoint.web.batch.job" />
                                         
    <batch:job id="agentCountJob">
        <batch:step id="agentCountPartitionStep">
            <batch:partition step="agentCountStep" partitioner="agentCountPartitioner">
                <batch:handler task-executor="agentCountPoolTaskExecutorForPartition" />
            </batch:partition>
        </batch:step>
        <batch:listeners>
            <batch:listener ref="jobFailListener"/>
        </batch:listeners>
    </batch:job>

    <batch:step id="agentCountStep">
        <batch:tasklet>
            <batch:chunk reader="agentCountReader" processor="agentCountProcessor" writer="agentCountWriter" commit-interval="1" retry-limit="2">
                <batch:retryable-exception-classes>
                    <batch:include class="org.springframework.batch.core.JobExecutionException" />
                </batch:retryable-exception-classes>
            </batch:chunk>
        </batch:tasklet>
    </batch:step>

    <bean id="agentCountPartitioner" class="com.navercorp.pinpoint.web.batch.job.AgentCountPartitioner"/>
    <bean id="agentCountReader" class="com.navercorp.pinpoint.web.batch.job.AgentCountReader" scope="step"/>
    <bean id="agentCountProcessor" class="com.navercorp.pinpoint.web.batch.job.AgentCountProcessor" scope="step"/>
    <bean id="agentCountWriter" class="com.navercorp.pinpoint.web.batch.job.AgentCountWriter" scope="step"/>

    <task:executor id="agentCountPoolTaskExecutorForPartition" pool-size="1" />
</beans>