<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        batch was run in the background of pinpoint-web server until v2.2.0 From v2.2.1 it will be dealt with in pinpoint-batch server.
        Since the batch logic(code) in pinpoint-web will be deprecated in the future, we advice you to transfer the execution of batch to pinpoint-batch server.
    -->
    <bean id="batchConfiguration" class="com.navercorp.pinpoint.web.batch.BatchConfiguration"/>

    <task:scheduled-tasks scheduler="scheduler">
        <task:scheduled ref="batchJobLauncher" method="alarmJob" cron="0 0/3 * * * *"/>
        <task:scheduled ref="batchJobLauncher" method="agentCountJob" cron="0 0 2 * * *"/>
        <task:scheduled ref="batchJobLauncher" method="flinkCheckJob" cron="0 0/10 * * * *"/>
        <task:scheduled ref="batchJobLauncher" method="cleanupInactiveAgentsJob"
                        cron="#{batchConfiguration['cleanupInactiveAgentsCron']}"/>
    </task:scheduled-tasks>

    <task:scheduler id="scheduler" pool-size="4"/>

    <import resource="classpath:batch/applicationContext-batch.xml"/>
    <import resource="classpath:batch/applicationContext-batch-sender.xml"/>
    <import resource="classpath:batch/applicationContext-alarmJob.xml"/>
    <import resource="classpath:batch/applicationContext-agentCountJob.xml"/>
    <import resource="classpath:batch/applicationContext-flinkCheckJob.xml"/>
    <import resource="classpath:batch/applicationContext-cleanupInactiveAgentsJob.xml"/>

</beans>