<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 	<task:scheduled-tasks scheduler="scheduler">
    	<task:scheduled ref="batchJobLauncher" method="alarmJob" cron="0 0/3 * * * *" />
        <task:scheduled ref="batchJobLauncher" method="agentCountJob" cron="0 0 2 * * *" />
		<task:scheduled ref="batchJobLauncher" method="flinkCheckJob" cron="0 0/10 * * * *" />
	</task:scheduled-tasks>
	
	<task:scheduler id="scheduler" pool-size="1"/>
    
    <import resource="classpath:batch/applicationContext-batch.xml" />
    <import resource="classpath:batch/applicationContext-batch-sender.xml" />
    <import resource="classpath:batch/applicationContext-alarmJob.xml" />
    <import resource="classpath:batch/applicationContext-agentCountJob.xml" />
	<import resource="classpath:batch/applicationContext-flinkCheckJob.xml" />


</beans>