<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <job id="flinkCheckJob" xmlns="http://www.springframework.org/schema/batch" >
        <step id="step1" xmlns="http://www.springframework.org/schema/batch" >
            <tasklet ref="healthCheckTasklet"/>
        </step>
        <listeners>
            <listener ref="jobFailListener"/>
        </listeners>
    </job>

    <bean id="healthCheckTasklet" class="com.navercorp.pinpoint.web.batch.flink.HealthCheckTasklet"/>
</beans>