<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:batch="http://www.springframework.org/schema/batch"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="com.navercorp.pinpoint.web.alarm" />
                                         
    <job id="alarmJob" xmlns="http://www.springframework.org/schema/batch" >
        <step id="alarmPartitionStep">
            <partition step="alarmStep" partitioner="alarmPartitioner">
                <handler task-executor="poolTaskExecutorForPartition" />
            </partition>
        </step>
        <listeners>
        	<listener ref="jobFailListener"/>
        </listeners>
    </job>

    <step id="alarmStep" xmlns="http://www.springframework.org/schema/batch">
        <tasklet>
            <chunk reader="reader" processor="processor" writer="writer" commit-interval="1"/>
        </tasklet>
    </step>
    
    <bean id="alarmPartitioner" class="com.navercorp.pinpoint.web.alarm.AlarmPartitioner"/>
    <bean id="reader" class="com.navercorp.pinpoint.web.alarm.AlarmReader" scope="step"/>
    <bean id="processor" class="com.navercorp.pinpoint.web.alarm.AlarmProcessor" scope="step"/>
    <bean id="writer" class="com.navercorp.pinpoint.web.alarm.AlarmWriter" scope="step"/>
    
    <task:executor id="poolTaskExecutorForPartition" pool-size="1" />
</beans>