<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.navercorp.pinpoint.web.dao.hbase,
                                            com.navercorp.pinpoint.web.service,
                                            com.navercorp.pinpoint.web.mapper,
                                            com.navercorp.pinpoint.common.server.bo,
                                            com.navercorp.pinpoint.common.server.dao.hbase.mapper">
        <context:exclude-filter type="assignable" expression="com.navercorp.pinpoint.web.service.CacheServiceImpl"/>
        <context:exclude-filter type="assignable" expression="com.navercorp.pinpoint.web.service.AgentServiceImpl"/>
    </context:component-scan>

    <bean id="agentEventMessageDeserializerV1" class="com.navercorp.pinpoint.common.server.util.AgentEventMessageDeserializerV1"/>

    <bean id="scatterChartProperties" class="com.navercorp.pinpoint.web.config.ScatterChartProperties"/>

</beans>