<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="batchProperties" class="com.navercorp.pinpoint.batch.common.BatchProperties"/>

    <task:scheduled-tasks scheduler="scheduler">
        <task:scheduled ref="batchJobLauncher" method="alarmJob" cron="#{batchProperties['alarmJobCron']}"/>
        <task:scheduled ref="batchJobLauncher" method="agentCountJob" cron="#{batchProperties['agentCountJobCron']}"/>
        <task:scheduled ref="batchJobLauncher" method="flinkCheckJob" cron="#{batchProperties['flinkCheckJobCron']}"/>
        <task:scheduled ref="batchJobLauncher" method="cleanupInactiveAgentsJob" cron="#{batchProperties['cleanupInactiveAgentsJobCron']}"/>
        <task:scheduled ref="batchJobLauncher" method="cleanupInactiveApplicationsJob" cron="#{batchProperties['cleanupInactiveApplicationsJobCron']}"/>
        <task:scheduled ref="batchJobLauncher" method="uriStatAlarmJob" cron="#{batchProperties['uriStatAlarmJobCron']}"/>
    </task:scheduled-tasks>

    <task:scheduler id="scheduler" pool-size="4"/>

</beans>