<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xsi:schemaLocation="http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="batchJobLauncher" class="com.navercorp.pinpoint.batch.common.BatchJobLauncher"/>

    <bean id="jobLauncher"
          class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <property name="jobRepository" ref="jobRepository"/>
    </bean>

    <batch:job-repository id="jobRepository" data-source="metaDataDataSource"
                          transaction-manager="metaDataTransactionManager"/>

    <bean id="jobRegistry" class="org.springframework.batch.core.configuration.support.MapJobRegistry"/>

    <bean id="jobRegistryBeanPostProcessor"
          class="org.springframework.batch.core.configuration.support.JobRegistryBeanPostProcessor">
        <property name="jobRegistry" ref="jobRegistry"/>
    </bean>

    <bean id="jobFailListener" class="com.navercorp.pinpoint.batch.common.JobFailListener"/>

    <bean id="alarmMessageSender" class="com.navercorp.pinpoint.batch.alarm.DefaultAlarmMessageSender"/>


    <bean id="configProperties" class="com.navercorp.pinpoint.web.config.ConfigProperties"/>

    <bean id="userGroupDao" class="com.navercorp.pinpoint.web.dao.mysql.MysqlUserGroupDao"/>
    <bean id="userDao" class="com.navercorp.pinpoint.web.dao.mysql.MysqlUserDao"/>

</beans>