:host {
    width: 100%;
}

.l-wrapper {
    width: 100%;
    display:flex;
    flex-wrap: nowrap;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}
.l-wrapper select {
    width: 152px;
    border: 1px solid #d7dde4;
    height: 32px;
    padding: 0 9px;
    font-size: 13px;
    border-radius: 2px;
    color: #666;
    appearance: none;
    -webkit-appearance:none;
    background:url(../../../../assets/img/select-down-arrow.png) no-repeat right 10px center;
}
.l-wrapper-grid {
    display: grid;
    grid-template-columns: 50% 20px 50%;
    grid-template-rows: auto;
}

.l-wrapper .l-title, .l-wrapper-grid .l-title {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 600;
    padding: 0px;
}
.l-wrapper .l-title img, .l-wrapper-grid .l-title img {
    float: left;
}
.l-wrapper .l-title span, .l-wrapper-grid .l-title span {
    margin-left: 6px;
}
