span.bar
span.bar.selection
span.pointer
span.pointer
span.bubble.selection
span.bubble.limit(ng-bind-html-unsafe="translate({value: floor})")
span.bubble.limit(ng-bind-html-unsafe="translate({value: ceiling})")
span.bubble
span.bubble
span.bubble
