:host {
    display: block;
    width: 100%;
    padding: 8px 0;
}

.l-list-item {
    display: block;
    width: 100%;
}

.l-separator {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 10px;
    margin-bottom: 10px;
}

.l-depth-0 .l-link {
    display: inline-block;
    width: 100%;
    padding: 12px 12px 12px 25px;
    font-weight: 600;
    color: rgba(0,0,0,.85);
}

.l-link:hover {
    cursor: pointer;
    background-color: #eee;
    color: var(--primary-color) !important;
}

.l-link-with-arrow {
    display: flex !important;
    align-items: center;
}

.l-link-text {
    flex: 1;
}

.l-depth-1 .l-link {
    margin-left: 15px;
    font-size: 90%;
    color: rgba(0,0,0,.65);
    max-width: calc(100% - 15px);
}
