<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <!-- %L(line number) option is extremely slow. -->
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p](%-35.35c{1.}:%-3L) %m%n"/>
        </layout>
    </appender>

    <logger name="com.navercorp.pinpoint" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.navercorp.pinpoint.web.filter" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.navercorp.pinpoint.web.controller" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.navercorp.pinpoint.web.applicationmap" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.navercorp.pinpoint.web.calltree.server" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.navercorp.pinpoint.web.mapper" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.navercorp.pinpoint.web.service" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.navercorp.pinpoint.web.dao" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.navercorp.pinpoint.web.mapper.ApiMetaDataMapper" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.ibatis" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>


    <logger name="org.apache.zookeeper" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.apache.zookeeper.ZooKeeper" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>
    <logger name="org.apache.zookeeper.ClientCnxn" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.apache.hadoop.hbase" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </root>
</log4j:configuration>