:host {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.l-title-section {
    text-align: right;
    position: relative;
}

.l-zoom-guide {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    font-size: 14px;
    font-style: italic;
}

.l-req-time {
    margin-right: 10px;
}

.l-contents-section {
    position: relative;
    height: 100%;
}

.l-chart-section {
    height: 500px;
    margin-bottom: 40px;
}

.l-guide-section {
    width: 100%;
    height: 100%;
    display: flex;
    font-weight: 600;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.l-guide-message {
    margin-bottom: 20px;
}

.l-button {
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.l-load-btn {
    width: 200px;
    height: 45px;
}

.l-list-section {
    height: calc(100% - 570px);
}