<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{MM-dd HH:mm:ss} [%-5p](%-35c{1.}:%L) %m%n"/>
            <!-- %L 옵션은 라인넘버가 출력되나 속도저하가 심하다. -->

            <!-- 아래가 운영용에 접합한 옵션이다.-->
            <!--<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p](%-35c{1.}) %m%n" />-->
        </layout>
    </appender>

    <appender name="stat-appender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${catalina.home}/logs/stat.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p](%-35c{1.}) %m%n"/>
        </layout>
    </appender>


    <appender name="nelo" class="com.nhncorp.nelo2.log4j.NeloAppender">
        <param name="Threshold" value="WARN"/>
        <param name="projectName" value="PINPOINT"/>
        <param name="collectorUrl" value="nelo2-col.nhncorp.com"/>
        <param name="port" value="10006"/>
        <param name="encoding" value="utf-8"/>
        <param name="timeout" value="1200"/>
        <param name="enable" value="true"/>
        <param name="logType" value="local"/>
        <param name="logSource" value="collector"/>
        <param name="errorCodeTYpe" value="default"/>
        <param name="debug" value="false"/>
    </appender>

    <appender name="nelo-async" class="com.nhncorp.nelo2.log4j.Nelo2AsyncAppender">
        <param name="Threshold" value="WARN"/>
        <param name="blocking" value="false"/>
        <param name="locationInfo" value="false"/>
        <param name="bufferSize" value="1024"/>
        <appender-ref ref="nelo"/>
    </appender>


    <logger name="com.nhn.pinpoint" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.nhn.pinpoint.collector.dao" additivity="false">
        <level value="TRACE"/>
        <appender-ref ref="console"/>
    </logger>


    <logger name="org.apache.zookeeper" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.apache.hadoop.hbase" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

    <!--
        state 모니터링용 로거. 만약 개발시 로그 출력으로 불편하다면 log level을 WARN이상으로 할것
    -->
    <logger name="com.nhn.pinpoint.collector.StateReport" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="stat-appender"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="console"/>
        <!--<appender-ref ref="nelo-async"/>-->
    </root>
</log4j:configuration>