.__scatter_chart__legend_container {
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
  justify-content: space-around;
}
.__scatter_chart__legend {
  display: flex;
  gap: 4px;
}
.__scatter_chart__legend label {
  font-size: 0.85rem;
}
.__scatter_chart__legend_count {
  font-size: 1rem;
  margin-left: 4px;
}
.__scatter_chart__legend_mark {
  height: 1rem;
  width: 1rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
}