:host {
    display: block;
}

.l-desc-text-wrapper {
    margin-bottom: 20px;
}

.l-desc-text {
    color: #999;
    font-size: 14px;
}

.l-checkbox-input {
    cursor: pointer;
}

.l-item-label {
    margin-left: 4px;
    cursor: pointer;
}

.l-checkbox-wrapper {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background: white;
    font-size: 13px;
}
