<table class="l-source-info-table">
    <thead>
        <tr>
            <th colspan="2">Data Source Info</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Active Avg</th>
            <td>{{infoTableObj.activeAvg}}</td>
        </tr>
        <tr>
            <th>Active Max</th>
            <td>{{infoTableObj.activeMax}}</td>
        </tr>
        <tr>
            <th>Total Max</th>
            <td>{{infoTableObj.totalMax}}</td>
        </tr>
        <tr>
            <th>ID</th>
            <td>{{infoTableObj.id}}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{infoTableObj.serviceType}}</td>
        </tr>
        <tr>
            <th>Database Name</th>
            <td>{{infoTableObj.databaseName}}</td>
        </tr>
        <tr>
            <th>Jdbc URL</th>
            <td>{{infoTableObj.jdbcUrl}}</td>
        </tr>
    </tbody>
</table>
