:host {
    display: block;
    position: relative;
}
.l-title-group {
    height: 34px;
    font-size: 13px;
    font-weight: 600;
    padding: 0 20px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f6f8fb;
}
.l-title-group .fas {
    margin-left: 7px;
    font-size: 18px;
    color: #a8acb5;
    cursor: pointer;
}
.l-icon-wrapper {
    display: flex;
    align-items: center;
}
.l-chart-area-wrapper {
    position: relative;
    width: 100%;
}
