<article class="l-content-item">
    <div class="l-title-group">
        <h4 class="l-title-text">Data Source</h4>
        <ng-container *ngIf="chartConfig">
            <pp-agent-data-source-chart-select-source
                [isDataEmpty]="chartConfig.isDataEmpty"
                [sourceDataArr]="sourceDataArr"
                (outCheckedIdChange)="onCheckedIdChange($event)">
            </pp-agent-data-source-chart-select-source>
        </ng-container>
        <button class="fas fa-question-circle" (click)="onShowHelp($event)"></button>
    </div>
    <pp-inspector-chart
        [chartConfig]="chartConfig"
        [i18nText]="i18nText$ | async"
        [errObj]="errObj"
        [hoveredInfo]="hoveredInfo$ | async"
        (outRetryGetChartData)="onRetryGetChartData()">
    </pp-inspector-chart>
    <ng-container *ngIf="chartConfig">
        <pp-agent-data-source-chart-infotable
            [isDataEmpty]="chartConfig.isDataEmpty"
            [infoTableObj]="infoTableObj">
        </pp-agent-data-source-chart-infotable>
    </ng-container>
</article>
