.l-source-info-wrapper {
    background-color: #fff;
    font-size: 12px;
    padding: 10px;
}
.l-source-info-title {
    background-color: #f6f8fb;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}
.l-source-info-table {
    border: 1px solid #ddd;
    width: 100%;
}
.l-source-info-table th, td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
}
.l-source-info-table th {
    width: 20%;
}
