.l-source-select-text {
    cursor: pointer;
    text-align: center;
    font-weight: 400;
}
.l-source-select-text > .far {
    font-size: 15px;
    margin-left: 3px;
}
.l-source-select-modal {
    position: absolute;
    top: 34px;
    right: 0px;
    border: 1px solid black;
    width: 100%;
    z-index: 1000;
    padding: 15px;
    background-color: #fff;
    font-weight: 400;
}
.l-select-all-button {
    width: 80px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
}
.l-source-data-list {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}
.l-source-data-list-item {
    display: inline-block;
}
.l-list-item-label {
    margin-right: 20px;
}
.l-list-item-input {
    margin-right: 5px;
}
