<div class="l-source-info-wrapper" [hidden]="isDataEmpty">
    <h4 class="l-source-info-title">Data Source Info</h4>
    <table class="l-source-info-table">
        <tbody>
            <tr>
                <th>Active Avg</th>
                <td>{{infoTableObj.activeAvg}}</td>
            </tr>
            <tr>
                <th>Active Max</th>
                <td>{{infoTableObj.activeMax}}</td>
            </tr>
            <tr>
                <th>Total Max</th>
                <td>{{infoTableObj.totalMax}}</td>
            </tr>
            <tr>
                <th>ID</th>
                <td>{{infoTableObj.id}}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{infoTableObj.serviceType}}</td>
            </tr>
            <tr>
                <th>Database Name</th>
                <td>{{infoTableObj.databaseName}}</td>
            </tr>
            <tr>
                <th>Jdbc URL</th>
                <td>{{infoTableObj.jdbcUrl}}</td>
            </tr>
        </tbody>
    </table>
</div>
