<div class="l-sourcelist-wrapper" [hidden]="isDataEmpty">
    <h4 class="l-sourcelist-title">Data Source List</h4>
    <ul class="l-source-data-list">
        <li *ngFor="let sourceData of sourceDataArr; let i = index"
            class="l-source-data-list-item" [class.l-selected-item]="isItemSelected(i)"
            (click)="onClickSourceList(i)">
            <span class="fas fa-check"></span>
            <div class="l-source-data-wrapper">
                <span class="l-service-type-wrapper">{{sourceData.serviceType}}</span>
                <span class="l-jdbc-url-wrapper">{{sourceData.jdbcUrl}}</span>
            </div>
        </li>
    </ul>
</div>
