:host {
    display: block;
}
.l-title-group {
    height:34px;
    font-size:13px;
    font-weight:600;
    padding:0 20px;
    color:#333;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: #f6f8fb;
}
.l-title-group .fas {
    font-size: 18px;
    color:#a8acb5;
    cursor:pointer;
}
.l-chart-area-wrapper {
    position: relative;
    width: 100%;
}
