:host {
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.l-chart-section {
    background-color: #fff;
    padding: 15px 20px;
    position: relative;
    width: 100%;
}
.show-chart {
    visibility: visible;
    opacity: 1;
    transition: all 1s;
}
.shady-chart {
    opacity: 0.5;
    pointer-events: none;
    transition: all 0.5s;
}
.hide-chart {
    visibility: hidden;
    opacity: 0;
}
