:host {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.l-no-data-text {
    position: absolute;
    top: 42%;
    left: 37%;
    padding: 5px 10px;
    background-color: #e3e5e8;
}
