SERVER_IP=								10.64.84.188
#SERVER_IP=								10.66.18.78
#SERVER_IP=								127.0.0.1
SERVER_UDP_PORT=9995

# JDBC_PROFILE 여부
JDBC_PROFILE=true
JDBC_PROFILE_MYSQL=true;
JDBC_PROFILE_MSSQL=true;
JDBC_PROFILE_ORACLE=true;
JDBC_PROFILE_CUBRID=true;
JDBC_PROFILE_DBCP=true;


AGENT_TCP_LISTEN_PORT=					9990
SERVER_TCP_LISTEN_PORT=					9991
REQUEST_TRANSACTION_DATA_LISTEN_PORT=	9995
REQUEST_DATA_LISTEN_PORT=				9996
JVM_DATA_LISTEN_PORT=					9997
JVM_STAT_GAP=5000
SERVER_CONNECT_RETRY_GAP=1000
QUERY_COUNT_OVER_10000=false
JDBC_PROFILE=true
LOG_LEVEL=DEBUG
