<div class="authentication-rules-tr">
    <div class="col-sm-5">GUEST</div>
    <div class="col-sm-5">GUEST</div>
    <div class="col-sm-2 authentication-rules-btn-group flex-container">
        <button class="fas fa-info-circle">
            <i class="text-indent">정보</i>
        </button>
        <button class="fas fa-pencil-alt">
            <i class="text-indent">편집</i>
        </button>
        <button class="far fa-trash-alt">
            <i class="text-indent">삭제</i>
        </button>
    </div>
</div>