<table class="table popup-table authentication-rules-table mb20">
    <colgroup>
        <col width="100%">
    </colgroup>
    <thead>
        <tr>
            <th>
                <div class="flex-container">
                    Authentication
                    <button class="btn btn-sm btn-blue">+ Add</button>
                </div>
                <div class="authentication-rules-tr authentication-rules-tr-th">
                    <div class="col-sm-5">User Group</div>
                    <div class="col-sm-7">Role</div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="nopd">
                <div class="authentication-rules-tr-wrap">
                    <pp-authentication-list></pp-authentication-list>
                </div>
            </td>
        </tr>
    </tbody>
</table>