:host {
    z-index: 9;
}
.l-sidemenu2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 461px;
    border-left: 1px solid #e5e8f0;
    background: #fff;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.l-title-group2 {
    display: flex;
    flex-flow: row wrap;
    color: #666;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    background: none;
    border: none;
    height: 50px;    
}
.l-selected-agent {
    color: #666;
    font-size: 13px;
}
.l-selected-agent button {
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    display: inline-block;
    background: #4b99e3;
    margin: 0 12px 0 0;
    padding: 6px 11px;
    line-height: 1em;
    position: relative;
}
.l-selected-agent button:after {
    content:'';
    position:absolute;
    width:0;
    height:0;
    border-top:4px solid transparent;
    border-bottom:4px solid transparent;
    border-left:3px solid #4b99e3;
    right:-3px;
    top:50%;
    transform:translateY(-50%);
}
.l-contents-group {
    padding-bottom: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 51px;
}
.l-chart-group-list {
    flex: 1;
}

.l-sidemenu3 {
    top: 0px;
    left: 0px;
    width: 348px;
    background: #f8f9fb;
    border: none;
    position: absolute;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.l-title-group3 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 64px;
    padding: 0 25px;
    position: relative;
}
.l-title-group3 .fas {
    font-size: 14px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #4a8fd2;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 7px 0 0;
}
.l-title-group3 .l-title {
    font-size: 24px;
    font-weight: 600;
    color: #666;
}


.sidemenu {
    top: 0px;
    left: -461px;
}
.title-group2 {
    background-color: #f9fafc;
    border-bottom: 1px solid #eaeef4;
}
hr {
    height: 1px;
    border-top: 1px solid #EAEEF4;
}