<div class="l-sidemenu2" [@chartAnimationTrigger]="chartAnimationTrigger">
    <div class="l-title-group2">
        <div class="l-selected-agent">
            <label>Selected Agent</label>
            <span [matTooltip]="selectedAgent">{{ selectedAgent }}</span>
        </div>
    </div>
    <div class="l-contents-group">
        <div class="l-chart-group-list">
            <pp-scatter-chart-for-info-per-server-container *ngIf="selectedTarget?.isWAS"></pp-scatter-chart-for-info-per-server-container>
            <hr/>
            <pp-response-summary-chart-container [sourceType]="'INFO_PER_SERVER'"></pp-response-summary-chart-container>
            <hr/>
            <pp-load-chart-container [sourceType]="'INFO_PER_SERVER'"></pp-load-chart-container>
        </div>
    </div>
</div>
<div class="l-sidemenu3" [@listAnimationTrigger]="listAnimationTrigger">
    <div class="l-title-group3">
        <span class="fas fa-file-alt"></span>
        <span class="l-title">Servers List</span>
    </div>
    <div class="l-contents-group">
        <pp-server-list-container 
            (outSelectAgent)="onSelectAgent($event)"
            (outOpenInspector)="onOpenInspector($event)"
        ></pp-server-list-container>
    </div>
</div>
