:host {
    position: relative;
}
.l-user-group-wrapper {
    color: #333;
    border: 1px solid #e5e8f0;
    height: 100%;
    display: grid;
    position: relative;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: #FFF;
    grid-template-columns: auto;
    grid-template-rows: 48px 53px calc(100% - 101px);
}
.l-user-group-title {
    display: flex;
    padding: 0px 15px;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f8fb;
    border-bottom: 1px solid #e5e8f0;
}
.l-user-group-title button:last-child {
    margin-left: 2px;
}
.l-user-group-search {
    padding: 10px 15px;
    border-bottom: 1px solid #e5e8f0;
}
.l-user-group-list {
    overflow-y: auto;
}
.l-message {
    width: 100%;
    height: 100%;
    z-index: 15;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(226, 226, 226, 0.8);
}
.l-message span {
    color: #ff8c00;
    text-align: center;
}
.l-message button {
    top: 0px;
    right: 0px;
    position: absolute;
}
.l-search-input {
    width: 100%;
    color: #b3b3b4;
    border: 1px solid #469ae4;
    padding: 6px 11px;
    font-size: 13px;
}
.btn {
    padding: 0 9px;
    border-radius: 2px;
}
