.l-wrapper {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 15;
    display: flex;
    padding: 0px 20px;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(226, 226, 226, 0.9);
}
.l-wrapper h1 {
    margin-bottom: 6px;
}
.l-wrapper form {
    width: 100%;
}
.l-wrapper input {
    width: 100%;
    border: 1px solid #469ae4;
    padding: 6px 11px;
    font-size: 13px;
    margin-bottom: 2px;
    background-color: #FFF;
}
.l-wrapper .l-create {
    width: 100%;
    margin-top: 6px;
}
.l-wrapper .l-close {
    top: 0px;
    right: 0px;
    position: absolute;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948 !important; 
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442 !important;
}
