:host {
    display: block;
    width: 100%;
}
.l-target-container-wrapper {
    margin-bottom: 6px;
    position: relative;
    width: 100%;
    height: 290px;
    font-size: 14px;
}
.l-target-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 32px 228px 30px;
}
.l-target-container .l-search-header {
    /* autoprefixer: off */
    color: #B3B3B4;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-bottom: 1px solid #e5e8f0;
}
.l-target-container .l-search-header input {
    width: 100%;
    height: 100%;
    padding: 0px 8px;
    margin: 0px;
    /* border-top: 1px solid #D7DDE4; */
    /* border-bottom: 1px solid #e5e8f0; */
    background-color: #edf2f8;
}

.l-target-container .l-search-header input:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 1px 1px var(--primary-color);
    outline: none;
}

.l-target-container .l-search-header button {
    position: absolute;
    right: 10px;
    top: 8px;
    color: #B3B3B4;
}
.l-target-container .l-target-list {
    /* autoprefixer: off */
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    overflow-x: hidden;
    overflow-y: auto;
}

.l-target-container .l-summary {
    /* autoprefixer: off */

    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: var(--primary-color);
}
.l-target-container .l-summary > div {
    display: flex;
    color: #FFF;
    cursor: pointer;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    padding: 0px 8px 0px 8px;
}
button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
}

.l-empty-text {
    padding: 8px;
}
