spring:
  main:
    allow-bean-definition-overriding: true
  profiles:
    active: release, metric

server:
  port: 8080
  error:
    include-exception: true
    include-message: always
    include-binding-errors: always
    include-stacktrace: always
    whitelabel:
      enabled: true

pinpoint:
  modules:
    web:
      exceptiontrace:
        enabled: true
