.container {
    display: flex;
}

.l-widget-group {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    padding: 0 15px;
    height: 100%;
    align-items: center;
    position: relative;
}
.l-main-container {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}
.l-main-section {
    background: var(--background-primary);
    position: relative;
    height: calc(100% - 50px);
    width: 100%;
    overflow: hidden;
}
