#
# Pinpoint agent configuration with low overhead for real time
#

###########################################################
# Collector server                                        # 
###########################################################
profiler.collector.ip=127.0.0.1

# placeHolder support "${key}"
profiler.collector.span.ip=${profiler.collector.ip}
profiler.collector.span.port=9996

# placeHolder support "${key}"
profiler.collector.stat.ip=${profiler.collector.ip}
profiler.collector.stat.port=9995

# placeHolder support "${key}"
profiler.collector.tcp.ip=${profiler.collector.ip}
profiler.collector.tcp.port=9994

###########################################################
# Profiler Global Configuration                           # 
###########################################################
profiler.enable=true

profiler.jvm.collect.interval=1000

profiler.sampling.enable=true

# 1 out of n transactions will be sampled where n is the rate. (20: 5%)
profiler.sampling.rate=20

# Allow buffering when flushing span to IO.
profiler.io.buffering.enable=true

# How many spans to store if buffering enabled.
profiler.io.buffering.buffersize=20

profiler.spandatasender.write.queue.size=5120
#profiler.spandatasender.socket.sendbuffersize=1048576
#profiler.spandatasender.socket.timeout=3000
profiler.spandatasender.chunk.size=16384

profiler.statdatasender.write.queue.size=5120
#profiler.statdatasender.socket.sendbuffersize=1048576
#profiler.statdatasender.socket.timeout=3000
profiler.statdatasender.chunk.size=16384

profiler.agentInfo.send.retry.interval=300000

#  Allow TCP data command
profiler.tcpdatasender.command.accept.enable=true

## Call Stack
# Set max depth, if -1 is unlimited and min is 2.
profiler.callstack.max.depth=64

###########################################################
# application type                                        # 
###########################################################
#profiler.applicationservertype=TOMCAT
#profiler.applicationservertype=BLOC

###########################################################
# application type detect order                           # 
###########################################################
profiler.type.detect.order=

###########################################################
# user defined classes                                    # 
###########################################################
# Specify classes you want to profile here.
#profiler.include=

# Example: potential jetty entry points.
#profiler.user.include=org.eclipse.jetty.servlet.ServletHandler.doHandle, org.eclipse.jetty.server.Server.handle

###########################################################
# TOMCAT                                                  #
###########################################################
profiler.tomcat.hidepinpointheader=true
profiler.tomcat.excludeurl=/aa/test.html, /bb/exclude.html

###########################################################
# JDBC                                                    # 
###########################################################
profiler.jdbc=true
profiler.jdbc.sqlcachesize=1024
profiler.jdbc.maxsqlbindvaluesize=1024

#
# MYSQL
#
profiler.jdbc.mysql=true
profiler.jdbc.mysql.setautocommit=false
profiler.jdbc.mysql.commit=false
profiler.jdbc.mysql.rollback=false

#
# MSSQL Jtds
#
profiler.jdbc.jtds=true
profiler.jdbc.jtds.setautocommit=false
profiler.jdbc.jtds.commit=false
profiler.jdbc.jtds.rollback=false

#
# Oracle
#
profiler.jdbc.oracle=true
profiler.jdbc.oracle.setautocommit=false
profiler.jdbc.oracle.commit=false
profiler.jdbc.oracle.rollback=false

#
# CUBRID
#
profiler.jdbc.cubrid=true
profiler.jdbc.cubrid.setautocommit=false
profiler.jdbc.cubrid.commit=false
profiler.jdbc.cubrid.rollback=false

#
# DBCP
#
profiler.jdbc.dbcp=true
profiler.jdbc.dbcp.connectionclose=false

###########################################################
# Apache HTTP Client  3.x                                 #
###########################################################
profiler.apache.httpclient3=true
profiler.apache.httpclient3.cookie=true

# When to dump cookies. Either ALWAYS or EXCEPTION.
profiler.apache.httpclient3.cookie.dumptype=EXCEPTION

# 1 out of n cookies will be sampled where n is the rate. (10: 10%)
profiler.apache.httpclient3.cookie.sampling.rate=10

# Dump entities of POST or PUT requests. Limited to entities where HttpEtity.isRepeatable() == true.
profiler.apache.httpclient3.entity=true

profiler.apache.httpclient3.entity.dumptype=EXCEPTION
profiler.apache.httpclient3.entity.sampling.rate=10

###########################################################
# Apache HTTP Client  4.x                                 #
###########################################################
profiler.apache.httpclient4=true
profiler.apache.httpclient4.cookie=true

# When to dump cookies. Either ALWAYS or EXCEPTION.
profiler.apache.httpclient4.cookie.dumptype=EXCEPTION

# 1 out of n cookies will be sampled where n is the rate. (10: 10%)
profiler.apache.httpclient4.cookie.sampling.rate=10

# Dump entities of POST or PUT requests. Limited to entities where HttpEtity.isRepeatable() == true.
profiler.apache.httpclient4.entity=false

profiler.apache.httpclient4.entity.dumptype=EXCEPTION
profiler.apache.httpclient4.entity.sampling.rate=10

# Not supported yet
#profiler.apache.nio.httpclient4=true

###########################################################
# Ning Async HTTP Client                                  # 
###########################################################
profiler.ning.asynchttpclient=true
profiler.ning.asynchttpclient.cookie=true
# When to dump cookies. Either ALWAYS or EXCEPTION.
profiler.ning.asynchttpclient.cookie.dumptype=EXCEPTION
profiler.ning.asynchttpclient.cookie.dumpsize=1024
# 1 out of n cookies will be sampled where n is the rate. (10: 10%)
profiler.ning.asynchttpclient.cookie.sampling.rate=10
profiler.ning.asynchttpclient.entity=false
profiler.ning.asynchttpclient.entity.dumptype=EXCEPTION
profiler.ning.asynchttpclient.entity.dumpsize=1024
profiler.ning.asynchttpclient.entity.sampling.rate=10
profiler.ning.asynchttpclient.param=false
profiler.ning.asynchttpclient.param.dumptype=EXCEPTION
profiler.ning.asynchttpclient.param.dumpsize=1024
profiler.ning.asynchttpclient.param.sampling.rate=10

###########################################################
# Arcus                                                   # 
###########################################################
profiler.arcus=true
profiler.arcus.keytrace=false

###########################################################
# Memcached                                               # 
###########################################################
profiler.memcached=true
profiler.memcached.keytrace=false

###########################################################
# Thrift                                                  # 
###########################################################
profiler.thrift.client=true
profiler.thrift.processor=true
# Allow recording arguments.
profiler.thrift.service.args=false
# Allow recording result.
profiler.thrift.service.result=false

###########################################################
# ibatis                                                  # 
###########################################################
profiler.orm.ibatis=true

###########################################################
# mybatis                                                 # 
###########################################################
profiler.orm.mybatis=true

###########################################################
# spring-beans 
###########################################################
profiler.spring.beans=true
profiler.spring.beans.name.pattern=
profiler.spring.beans.class.pattern=
profiler.spring.beans.annotation=org.springframework.stereotype.Controller,org.springframework.stereotype.Service,org.springframework.stereotype.Repository

###########################################################
# log4j (guide url : https://github.com/naver/pinpoint/blob/master/doc/per-request_feature_guide.md)
###########################################################
profiler.log4j.logging.transactioninfo=false

###########################################################
# logback (guide url : https://github.com/naver/pinpoint/blob/master/doc/per-request_feature_guide.md)
###########################################################
profiler.logback.logging.transactioninfo=false

###########################################################
# google httpclient 
###########################################################
profiler.google.httpclient.enable=true
profiler.google.httpclient.async=true
profiler.google.httpclient.async.innerclassname.max=3