:host {
    position: relative;
}
.l-sidemenu-wrap {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.l-sidemenu {
    height: 100%;
    z-index: 10;
    border-left: 1px solid #e5e8f0;
    background-color: #fff;
}
.l-title-group {
    display: flex;
    flex-flow: row wrap;
    color: #666;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background: #F9FAFC;
    border-bottom: 1px solid #EAEEF4;
    height: 50px;
}
.l-contents-group {
    padding-bottom: 16px;
    overflow-y: auto;
    overflow-x: hidden;
}
.l-chart-group-list {
    flex: 1;
}
hr {
    height: 1px;
    border-top: 1px solid #EAEEF4;
}