<div class="l-desc-text-wrapper"><p class="l-desc-text nanumgothic">{{desc$ | async}}</p></div>
<div class="l-title"><span>Favorite Application List</span></div>
<div class="l-contents">
    <div class="l-content-item">
        <pp-application-list-for-configuration-container></pp-application-list-for-configuration-container>
    </div>
    <div class="l-content-item">
        <pp-favorite-application-list-for-configuration-container></pp-favorite-application-list-for-configuration-container>
    </div>
</div>