:host {
    display: block;
    width: 100%;
    height: 100%;
}
#thread-dump-table .ag-root {
    font-size: 12px;    
    font-family: 'Open Sans', sans-serif;
}
#thread-dump-table .ag-cell {
    padding: 4px;
    font-family: 'Open Sans', sans-serif;
}
#thread-dump-table .ag-column-moving .ag-cell {
    transition: left 0.2s;
}
#thread-dump-table .ag-header-cell-moving .ag-header-cell-label {
    opacity: 0;
    filter: alpha(opacity=0);
}
#thread-dump-table .ag-header-cell-moving {
    background-color: var(--table-header-moving-background);
}
#thread-dump-table .ag-header-cell-moving-clone {
    border-right: 1px solid var(--border-primary-darkest);
    border-left: 1px solid var(--border-primary-darkest);
    background-color: rgba(220,220,220,0.8);
}
#thread-dump-table .ag-header {
    background: var(--table-header-background);
    line-height: 2;
}
#thread-dump-table .ag-header-cell {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding-left: 2px;
    padding-right: 2px;
}
#thread-dump-table .ag-header-cell-resize:after {
    border-right: none;
}
#thread-dump-table .ag-header-cell-label {
    padding: 4px;
}
#thread-dump-table .ag-group-expanded span {
    margin-right: 4px;
}
#thread-dump-table .ag-row:hover {
    cursor: pointer;
    background-color: var(--background-hover-default);
}
#thread-dump-table .ag-row {
    line-height: 2;
}
#thread-dump-table .ag-body {
    background-color: var(--background-default);
}
#thread-dump-table .ag-body-viewport {
    background-color: var(--background-default);
}
#thread-dump-table .ag-menu {
    background-color: var(--background-default);
    border: 1px solid grey;
}
#thread-dump-table .fa {
    font-size: 14px;
}
#thread-dump-table .ag-row-exception {
    background-color: var(--background-row-danger);
}
#thread-dump-table .ag-row-selected {
    background-color: var(--background-hover-secondary);
}
#thread-dump-table .order-header .ag-header-cell-label,
#thread-dump-table .id-header .ag-header-cell-label {
    justify-content: center !important;
}