.authentication-rules-table th .flex-container {
    height: 47px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.authentication-rules-tr-wrap {
    height: 170px;
    overflow-y: scroll;
    position: relative;
}
.authentication-rules-tr {
    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 15px;
    position: relative;
}
.authentication-rules-tr-th {
    color: var(--text-primary-lightest);
    font-weight: 600;
    border-bottom: 1px solid var(--border-primary);
    background: var(--background-default);
    margin: 0 -21px;
}
