<?xml version="1.0" encoding="utf-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="logging_dir">${sys:pinpoint.log}/${sys:pinpoint.agentId}/</Property>

        <Property name="rolling-date-format">%d{yyyy-MM-dd}</Property>
        <Property name="backupsize">50m</Property>

        <Property name="file_message_pattern">%d{MM-dd HH:mm:ss.sss} [%15.15t] %-5level %-40.40logger{1.} -- %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="system_out">
            <PatternLayout pattern="${file_message_pattern}"/>
        </Console>

        <RollingFile name="rollingFile" filename="${logging_dir}/pinpoint.log"
                     filepattern="${logging_dir}/pinpoint-${rolling-date-format}-%i.log">
            <PatternLayout>
                <Pattern>${file_message_pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.navercorp.pinpoint" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>