<?xml version="1.0" encoding="utf-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="logging_dir">${sys:pinpoint.log}/${sys:pinpoint.agentId}/</Property>

        <Property name="rolling-date-format">%d{yyyy-MM-dd}</Property>

        <Property name="backupsize">100m</Property>
        <Property name="default-rollover-strategy-max">5</Property>
        <Property name="lastmodified">7d</Property>

        <!-- message_pattern -->
        <Property name="line_message_pattern">%d{MM-dd HH:mm:ss.sss} [%15.15t] %-5level %-40.40logger{1.}:%-3L -- %msg{nolookups}%n</Property>
        <Property name="simple_message_pattern">%d{MM-dd HH:mm:ss.sss} [%15.15t] %-5level %-40.40logger{1.} -- %msg{nolookups}%n</Property>
        <Property name="console_message_pattern">${simple_message_pattern}</Property>
        <Property name="file_message_pattern">${simple_message_pattern}</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="system_out">
            <PatternLayout>
                <Pattern>${console_message_pattern}</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="rollingFile" filename="${logging_dir}/pinpoint.log"
                     filepattern="${logging_dir}/pinpoint-${rolling-date-format}-%i.log">
            <PatternLayout>
                <Pattern>${file_message_pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="${backupsize}" />
            </Policies>
            <DefaultRolloverStrategy max="${default-rollover-strategy-max}">
                <Delete basePath="${logging_dir}/" maxDepth="1">
                    <IfFileName glob="pinpoint-*.log"/>
                    <IfLastModified age="${lastmodified}"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="statRollingFile" filename="${logging_dir}/pinpoint_stat.log"
                     filepattern="${logging_dir}/pinpoint_stat-${rolling-date-format}-%i.log">
            <PatternLayout>
                <Pattern>${file_message_pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="${backupsize}" />
            </Policies>
            <DefaultRolloverStrategy max="${default-rollover-strategy-max}">
                <Delete basePath="${logging_dir}/" maxDepth="1">
                    <IfFileName glob="pinpoint_stat-*.log"/>
                    <IfLastModified age="${lastmodified}"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.navercorp.pinpoint.metric" level="INFO" additivity="false">
            <AppenderRef ref="statRollingFile"/>
<!--            <AppenderRef ref="console"/>-->
<!--            <AppenderRef ref="rollingFile"/>-->
        </Logger>
        <Logger name="com.navercorp.pinpoint" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <Logger name="io.grpc" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>

        <Logger name="io.grpc.Context" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <Logger name="io.grpc.netty.Utils" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>


        <Root level="INFO">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>