:host {
    display: block;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

:host::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
}
