<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.navercorp.pinpoint.web.dao.UserDao">

    <insert id="insertUser" parameterType="User">
        INSERT INTO user
        VALUES (#{userId}, #{name}, #{department}, #{phoneNumber}, #{email})
    </insert>
    
    <delete id="deleteUser" parameterType="User">
        DELETE
        FROM user
        WHERE user_id = #{userId} 
    </delete>
    
    <select id="selectUserList" resultType="User">
        SELECT *
        FROM user
    </select>

    <select id="selectUserByUserId" resultType="User">
        SELECT *
        FROM user
        WHERE user_id = #{userId}
    </select>
    
    <update id="updateUser" parameterType="User">
        UPDATE user
        SET name = #{name}, department = #{department}, phoneNumber = #{phoneNumber}, email = #{email}
        WHERE user_id = #{userId}
    </update>
</mapper>
