profiler.collector.ip=collector.pinpoint.nhncorp.com
profiler.collector.udpspan.port=9996
profiler.collector.udp.port=9995
profiler.collector.tcp.port=9994

profiler.heartbeat.interval=60000

# 지정하지 않으면 자동 검출, 자동 검출을 추천함.
#profiler.applicationservertype=TOMCAT
#profiler.applicationservertype=BLOC


profiler.enable=true

profiler.jdbc=true

# mysql
profiler.jdbc.mysql=true
profiler.jdbc.mysql.setautocommit=false
profiler.jdbc.mysql.commit=false
profiler.jdbc.mysql.rollback=false

# mssql 아직 미개발
profiler.jdbc.mssql=false

# oracle
profiler.jdbc.oracle=true
profiler.jdbc.oracle.setautocommit=false
profiler.jdbc.oracle.commit=false
profiler.jdbc.oracle.rollback=false

# cubrid
profiler.jdbc.cubrid=true
profiler.jdbc.cubrid.setautocommit=false
profiler.jdbc.cubrid.commit=false
profiler.jdbc.cubrid.rollback=false

#dbcp
profiler.jdbc.dbcp=true
profiler.jdbc.dbcp.connectionclose=false


#apache httpclient4.x ----------------------------------------------------------------------------------
profiler.apache.httpclient4=true

#cookie를 덤프해주는기능.
profiler.apache.httpclient4.cookie=true
#cookie를 언제 덤프할지 결정. ALWAYS or EXCEPTION 2가지
profiler.apache.httpclient4.cookie.dumptype=ALWAYS
profiler.apache.httpclient4.cookie.sampling.rate=1

#post, put의 entity를 덤프한다. 단 HttpEtity.isRepeatable()=true 인 Entity에 한정된다.
profiler.apache.httpclient4.entity=true
#entity를 언제 덤프할지 결정. ALWAYS or EXCEPTION 2가지
profiler.apache.httpclient4.entity.dumptype=ALWAYS
profiler.apache.httpclient4.entity.sampling.rate=1


profiler.jvm.collect.interval=1000

#web view 테스트용. 나중에 필요하면 정규식형태로 바꿔도 되고 필요 없으면 삭제.
#profiler.include=com.nhn.pinpoint.testweb.controller.*,com.nhn.pinpoint.testweb.MyClass

profiler.sampling.enable=true
profiler.sampling.rate=1

#timebase 샘플링을 할지 말지 여부 결정.
profiler.sampling.elapsedtimebase.enable=true

#timebase 샘플링 시의 1개 thread에 축정할 트레이스 데이터의 갯수.
profiler.sampling.elapsedtimebase.buffersize=20

#timebase 샘플링시 discard.timelimit 의 시간보다 작을 경우 트레이스 데이터를 버릴지 말지 여부
profiler.sampling.elapsedtimebase.discard=false

#timebase 샘플링시 discard.timelimit 해당 시간보다 빨리 끝났을 경우 트레이스 데이터를 버려 버린다.
profiler.sampling.elapsedtimebase.discard.timelimit=1000