.realtime-application {
    color: #FFF;
}
.realtime-application span {
    margin-left: 10px;
}
.realtime-application span:last-child {
    margin-left: 20px;
    font-size: 12px;
}
.l-widget-group {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    padding: 0 15px;
    height: 100%;
    align-items: center;
}
.l-main-container {
    display: flex;
    flex-flow: row wrap;
    height: calc(100vh - 50px); /* 50px: header 높이 */
    overflow-y: hidden;
}
.l-main-section {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    background: #edf2f8;
    position: relative;
    height: 100%;
}
