a.button,
a.button span {
    position: relative;
    display: inline-block;
    text-decoration: none !important;
    background: url(../../images/buttonWhite.gif) no-repeat;
    cursor: pointer;
    white-space: nowrap;
    vertical-align: middle;
    *vertical-align: top;
}

a.button {
    padding: 0;
    background-position: left top;
    overflow: visible;
}

a.button span {
    left: 2px;
    padding: 6px 10px 5px 8px;
    color: #000;
    font: 12px/12px;
    font-family: Dotum;
    background-position: right top;
}

a.button, x:-moz-any-link {
    font: 0/23px;
    font-family: Dotum;
    padding: 12px 0;
    top: 1px;
}

/* Firefox 2 Fix */
a.button, x:-moz-any-link, x:default {
    padding: 0;
    top: 0;
}

/* Firefox 2 Fix */

/* Large Size */
a.button.large {
    background-position: left -30px;
}

a.button.large span {
    padding: 8px 10px 5px 8px;
    font: 12px/16px;
    font-family: Dotum;
    background-position: right -30px;
}

a.button.large, x:-moz-any-link {
    font: 0/29px;
    font-family: Dotum;
    padding: 15px 0;
}

/* Firefox 2 Fix */
a.button.large, x:-moz-any-link, x:default {
    padding: 0;
}

/* Firefox 2 Fix */

/* Strong Button */
a.button.strong *,
span.button.strong * {
    font-weight: bold !important;
}

/* White type1 */
a.button.white {
    background-image: url(../../images/btn_4_n.gif);
    color: #fff;
}

a.button.white span {
    padding: 5px 8px 4px 6px;
    background-image: url(../../images/btn_4_n.gif);
    color: #333333;
}

/* Gray type1 */
a.button.gray {
    background-image: url(../../images/btn_1_n.gif);
    color: #fff;
}

a.button.gray span {
    padding: 5px 8px 3px 6px;
    background-image: url(../../images/btn_1_n.gif);
    color: #333333;
}

/* Small Size */
a.button.small {
    background-position: left -107px;
}

a.button.small span {
    padding: 4px 6px 3px 4px;
    font: 11px/11px;
    font-family: Dotum;
    background-position: right -107px;
}

a.button.small, x:-moz-any-link {
    font: 0/18px;
    font-family: Dotum;
    padding: 9px 0;
}

/* Firefox 2 Fix */
a.button.small, x:-moz-any-link, x:default {
    padding: 0;
}

/* Firefox 2 Fix */

/* White type2 */
a.button.white2 {
    background-image: url(../../images/btn_7_n.gif);
    color: #fff;
}

a.button.white2 span {
    padding: 4px 6px 3px 4px;
    font: 11px/11px;
    font-family: Dotum;
    background-image: url(../../images/btn_7_n.gif);
    color: #333333;
}

a.button.white2, x:-moz-any-link {
    font: 0/18px;
    font-family: Dotum;
    padding: 9px 0;
}

/* Firefox 2 Fix */
a.button.white2, x:-moz-any-link, x:default {
    padding: 0;
}

/* Firefox 2 Fix */