:host {
    display: block;
    border: 1px solid #e5e8f0;
    border-left: 5px solid #4a8fd2;
    margin-bottom: 15px;
    padding: 25px 20px;
    background-color: #fff;
}

.download-link {
    font-size: 14px;
    color: #428bca;
}

h4 {
    font-weight: 600;
    margin-bottom: 10px;
}
