:host {
    display: block;
    border: 1px solid #e5e8f0;
    border-left: 5px solid #4a8fd2;
    padding: 25px 20px;
    position: relative;
    background-color: #fff;
}

h4 {
    font-weight: 600;
    margin-bottom: 10px;
}

.contents-wrapper {
    display: flex;
}

.textarea-wrapper {
    position: relative;
    width: 60%;
}

.copied-noti-text-wrapper {
    width: 40%;
    position: relative;
}

.jvm-argument-info {
    border: 1px solid #e5e8f0;
    font-size: 14px;
    width: 100%;
    height: 80px;
    padding: 10px;
    resize: none;
}

.copy-button {
    position: absolute;
    right: 5px;
    top: 5px;
}

.copy-button:focus {
    outline: 0;
}

.fa-clone {
    font-size: 20px;
    color: #ccc;
}

.fa-clone:hover {
    color: #979797;
}

.copied-noti-text {
    position: absolute;
    top: 25px;
    left: 50%;
    font-size: 15px;
}
