<!DOCTYPE html>
<html lang="en">
<head>
    <title>PINPOINT</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/common/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="/common/css/bootstrap/bootstrap-responsive.css" rel="stylesheet"/>
    <link href="/common/css/pinpoint/pinpoint.css" rel="stylesheet"/>
    <link href="/common/css/pinpoint/sorttable.css" rel="stylesheet"/>
    <link href="/common/css/pinpoint/scatter.css" rel="stylesheet"/>
    <link href="/common/css/datepicker.css" rel="stylesheet"/>
    <link href="/common/js/nvd3/nv.d3.css" rel="stylesheet"/>
    <link href="/select2/select2-customized.css" rel="stylesheet"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<!-- commons -->    
    <script type="text/javascript" src="/common/js/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/common/js/jquery/jquery-ui-1.10.2.js"></script>
    <script type="text/javascript" src="/common/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/common/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="/common/js/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="/common/js/date.js"></script>
	<script type="text/javascript" src="/common/js/pinpoint/scatter/underscore-min.js"></script>
	<script type="text/javascript" src="/common/js/pinpoint/scatter/jquery.Class.js"></script>
    <script type="text/javascript" src="/common/js/pinpoint/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="/common/js/pinpoint/pinpoint.js"></script>
    <script type="text/javascript" src="/common/js/pinpoint/navigationbar.js"></script>
    <script type="text/javascript" src="/select2/select2.js"></script>
    
    <!-- scatter chart -->
    <script type="text/javascript" src="/common/js/pinpoint/chart-scatter4.js"></script>
	<script type="text/javascript" src="/common/js/pinpoint/scatter/jquery.dragToSelect.js"></script>
	<script type="text/javascript" src="/common/js/pinpoint/scatter/jquery.BigScatterChart.js"></script>
    
	<!-- server map -->    
    <script type="text/javascript" src="/common/js/pinpoint/chart-servermap.js"></script>
    <script type="text/javascript" src="/common/js/go.js"></script>
    <script type="text/javascript" src="/common/js/pinpoint/servermap/Point2D.js"></script>
    <script type="text/javascript" src="/common/js/pinpoint/servermap/intersection.js"></script>
    <script type="text/javascript" src="/common/js/pinpoint/servermap/canvas.roundRect.js"></script>
    <script type="text/javascript" src="/common/js/pinpoint/servermap/jquery.ServerMap.js"></script>
    
    <!-- link info chart -->
    <script type="text/javascript" src="/common/js/nvd3/d3.v2.min.js"></script>
    <script type="text/javascript" src="/common/js/nvd3/nv.d3.min.js"></script>
    <script type="text/javascript" src="/common/js/pinpoint/chart-stacked.js"></script>
    
    <!-- requests list -->
    <script type="text/javascript" src="/common/js/pinpoint/chart-transactions.js"></script>
    
    <!-- help -->
    <script type="text/javascript" src="/common/js/pinpoint/help.js"></script>
    <script type="text/javascript" src="/common/js/pinpoint/message.js"></script>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="brand" src="/images/logo.png" width="116" height="18" />
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li class="">
          	<form class="navbar-form pull-left">
				<select id="application" disabled>
				<option>Loading...</option>
				</select>
				<div id="period" class="btn-group" data-toggle="buttons-radio">
					<button type="button" value="5" class="btn btn-mini" disabled>Last 5m</button>
					<button type="button" value="20" class="btn btn-mini btn-inverse active" disabled>20m</button>
					<button type="button" value="60" class="btn btn-mini" disabled>1h</button>
					<button type="button" value="180" class="btn btn-mini" disabled>3h</button>
					<button type="button" value="360" class="btn btn-mini" disabled>6h</button>
					<button type="button" value="740" class="btn btn-mini" disabled>12h</button>
					<button type="button" value="1440" class="btn btn-mini" disabled>1d</button>
					<button type="button" value="2880" class="btn btn-mini" disabled>2d</button>
					<button type="button" value="4320" class="btn btn-mini" disabled>3d</button>
				</div>
			</form>
          </li>
          <li class="divider-vertical"></li>
          <li class="">
          	<form class="navbar-form">
				<label class="checkbox">
				<input type="checkbox" id="mergeUnknown" value="useMerge" data-placement="bottom" onmouseover="$(this).tooltip('show');" title="서버 맵에서 Pinpoint agent가 설치되지 않은 노드는 하나의 노드로 병합하여 보여줍니다." checked/>
				merge unknown          	
    			</label>
			</form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container" id="warningMessage"></div>

<div class="container">
	<div id="progressbar" style="display:none;"><img src="/images/ajaxloader.gif" /></div>
</div>

<!-- BODY -->
<div class="chart-container">
    <div class="chart-left">
		<div id="servermap" class="servermap"></div>
	</div>
	<div class="chart-right">
		<div id="scatterChartContainer" style="display:none;">
			<span onclick="" style="text-decoration:underline;cursor:pointer">Show all transactions</span>
			&nbsp;&nbsp;&nbsp;
			<i class="icon-fullscreen" onclick="expandScatter($(this));" onmouseover="$(this).tooltip('show');" title="Expand to new popup window." style="cursor:pointer;"></i>
			&nbsp;&nbsp;&nbsp;
			<a href=""><i class="icon-download-alt" onmouseover="$(this).tooltip('show');" title="Download as PNG image format file." style="cursor:pointer;"></i></a>
			<div id="scatterchart"></div>
		</div>
		<hr/>
		<div id="nodeInfoDetails">
			<div class='info'></div>
		</div>
		<div id="linkInfoDetails">
			<div class='info'></div>
			<div class='linkInfoChart' style='width:100%;display:none'>
				DEMO (timeseries response histogram)
				<svg style='height:200px' />
			</div>
			<div class='linkInfoBarChart' style='width:100%;display:none'>
				Response histogram summary
				<svg style='height:150px' />
			</div>
			<div class='linkInfoSFChart' style='width:100%;display:none'>
				Timeseries failure rate
				<svg style='height:150px' />
			</div>
		</div>
	</div>
</div>
<!-- END OF BODY -->

<script type="text/javascript">
var Nav;

$(document).ready(function () {
	Nav = new _PinpointNavigationBar();
	
	$("#mergeUnknown").bind('click', toggleMerge);
	
   	$('#date').datepicker().on('changeDate', function(ev){
   		updateCharts();
	});
	
	$('#time').bind('focus', function(e){
		$(this).data("time", $(this).val());
	}).bind('blur', function(e){
		if ($(this).data("time") !== $(this).val()) {
	   		updateCharts();
		}
	});
	
	$('#until').delegate("button", "click", function(){
   		var $this = $(this);
   		
   		$this.siblings(".btn-primary").removeClass("btn-primary");
   		$this.addClass("btn-primary");
   		
   		if ($this.attr("id") === "now") {
   			$("#date").attr("disabled", "").val("");
   			$("#time").attr("disabled", "").val("");
	   		updateCharts();
   		} else {
   			setQueryDateToNow();
   			$("#date").attr("disabled", null);
   			$("#time").attr("disabled", null);
   		}
   	});
   	
   	$('#period').delegate("button", "click", function(){
   		var $this = $(this);
   		$this.siblings(".btn-inverse").removeClass("btn-inverse active");
   		$this.addClass("btn-inverse active");
   		updateCharts();
   	});
	
	// TODO 조회 버튼을 두 번 연속 눌렀을 때 앞서 수행되던 결과는 취소시켜야 함.
	// 예를 들어 1일치 조회하다가 모두 조회 되기 전에 30분 데이터 조회할 때...
    function updateCharts() {
    	if(!Nav.isSelected()) {
    		alert("\n\nSelect an application, please.\n\n");
    		return true;
    	}

    	$("#progressbar").show();
    	
    	showServerMap(Nav.getApplicationName(), Nav.getServiceType(), Nav.getQueryStartTime(), Nav.getQueryEndTime(), Nav.getQueryPeriod(), Nav.isQueryFromNow(), null, function() { $("#progressbar").hide(); });
    	showResponseScatter(Nav.getApplicationName(), Nav.getQueryStartTime(), Nav.getQueryEndTime(), Nav.getQueryPeriod(), Nav.isQueryFromNow());
    }
    
	$.getJSON("/applications.pinpoint", function(json) {
        var target = $("#application");
        
        if (json.length == 0) {
        	$("#application OPTION:first").text("Application not found.");
        	return;
        }
        
		target.empty();
		var optionsHTML = [];
		$(json).each(function(i, e) {
			optionsHTML.push('<option value="');
			optionsHTML.push(e.applicationName);
			optionsHTML.push("@");
			optionsHTML.push(e.code);
			optionsHTML.push('"');
			optionsHTML.push((json.length == 1) ? ' selected>' : '>');
			optionsHTML.push(e.applicationName);
			optionsHTML.push("@");
			optionsHTML.push(e.serviceType);
			optionsHTML.push('</option>');
		});
		target.append(optionsHTML.join(''));
		target.attr("disabled", null);
		
		var formatOptionText = function(state) {
			var chunk = state.text.split("@");
			if (chunk.length > 1) {
				return "<img class='flag' src='/images/icons/" + chunk[1] + ".png'/> " + chunk[0];
			} else {
				return state;
			}
		}
          
	    target.select2({
			placeholder: "Select an application.",
			formatResult: formatOptionText,
			formatSelection: formatOptionText
		});
		
	    // 임시.
	    $(".select2-container").css("top", "4px");
       	$("#until BUTTON").attr("disabled", null);
       	$("#period BUTTON").attr("disabled", null);
	});
	
	$("#application").bind("change", updateCharts);
});
</script>
<script id="NodeInfoBox" type="text/x-jquery-tmpl">
	<div class="LinkInfoBox">
		<img src="/images/icons/{{= category}}.png" width="20" height="10" /> {{= text}} ({{= category}})
		<br/><a href="#" onclick="alert('Sorry. Not implemented.');">Passing transactions map</a>
		<br/><a href="#" onclick="showRequests('{{= text}}', {{= query.from}}, {{= query.to}}, {{= query.period}}, {{= query.usePeriod}});">Passing transactions list</a>
		<br/><a href="#" onclick="showResponseScatter('{{= text}}', {{= query.from}}, {{= query.to}}, {{= query.period}}, {{= query.usePeriod}});">Passing transactions response scatter chart</a>
		<br/>
		{{if hosts.length > 0}}
		Hosts
		<ul>
			{{each(key, value) hosts}}
			<li>
				<span class="label label-success">OK</span>
				{{= value}}
				<a href="http://nsight.nhncorp.com/dashboard_server/{{= value.split(':')[0].replace('.nhnsystem.com','')}}" target="_blank" title="System resource monitoring site">(NSight)</a>
				{{if category == 'ARCUS' }}
				<a href="http://hubble.arcuscloud.nhncorp.com/" target="_blank" title="Arcus monitoring site">(Hubble)</a>
				{{/if}}
			</li>
			{{/each}}
		</ul>
		{{/if}}
		{{if agents.length > 0}}
		Server instances
			<ul>
				{{each(key, value) agents}}
				<li>
					<span class="label label-success">OK</span>
					{{= value.agentId}}
					<a href="#" onclick="alert('Sorry. Not implemented.');">(Kuvasz)</a>
					<a href="#" onclick="alert('Sorry. Not implemented.');">(Tools)</a>
				</li>
				{{/each}}
			</ul>
		{{/if}}
	</div>
</script>
<script id="LinkInfoBox" type="text/x-jquery-tmpl">
	<div class="LinkInfoBox">
		<img src="/images/icons/{{= sourceinfo.serviceType}}.png" width="20" height="10" /> {{= sourceinfo.applicationName}}
		<i class="icon-arrow-right"></i>
		<img src="/images/icons/{{= targetinfo.serviceType}}.png" width="20" height="10" /> {{= targetinfo.applicationName}} 
		<!--
		<br/>
		Total requests : ???<br/> 
		Failed : {{= error}}<br/>
		Response statistics
		<ul>
			{{var lastKey=''}}
			{{each(key, value) histogram}}
			<li>&lt;= {{= key}}ms : {{= value}}</li>
			{{eval lastKey=key}}
			{{/each}}
			<li>&nbsp;&nbsp;&gt; {{= lastKey}}ms : {{= slow}}</li>
		</ul>
		-->
		<br/>
		<a href="#" onclick="filterPassingTransaction('{{= sourceinfo.applicationName}}', '{{= query.serviceType}}', {{= query.from}}, {{= query.to}}, '{{= sourceinfo.serviceType}}', '{{= sourceinfo.applicationName}}', '{{= targetinfo.serviceType}}', '{{= targetinfo.applicationName}}', null);">Passing transactions map</a><br/>
		<a href="#" onclick="showRequests('{{= sourceinfo.applicationName}}', {{= query.from}}, {{= query.to}}, {{= query.period}}, {{= query.usePeriod}}, '{{= sourceinfo.serviceType}}|{{= sourceinfo.applicationName}}|{{= targetinfo.serviceType}}|{{= targetinfo.applicationName}}');">Passing transactions list</a>
	</div>
</script>
<script id="LinkContextInfoBox" type="text/x-jquery-tmpl">
	<div class="LinkInfoBox" style="position:absolute;border:1px solid #000;background:#fff;padding:5px 10px;-webkit-border-radius: 5px;z-index:3;">
		<br/>
		<br/>
		<a href="#" onclick="filterPassingTransaction('{{= sourceinfo.applicationName}}', '{{= query.serviceType}}', {{= query.from}}, {{= query.to}}, '{{= sourceinfo.serviceType}}', '{{= sourceinfo.applicationName}}', '{{= targetinfo.serviceType}}', '{{= targetinfo.applicationName}}', null);">Passing transactions map</a><br/>
		<a href="#" onclick="showRequests('{{= sourceinfo.applicationName}}', {{= query.from}}, {{= query.to}}, {{= query.period}}, {{= query.usePeriod}}, '{{= sourceinfo.serviceType}}|{{= sourceinfo.applicationName}}|{{= targetinfo.serviceType}}|{{= targetinfo.applicationName}}');">Passing transactions list</a>
		<button style="position:absolute;top:2px;right:2px;" onClick="$(this).parent().remove()">X</button>
	</div>
</script>
<script id="ApplicationContextInfoBox" type="text/x-jquery-tmpl">
	<div class="ServerBox" style="position:absolute;border:1px solid #000;background:#fff;padding:5px 10px;-webkit-border-radius: 5px;z-index:3;">
			Application
				<ul>
					<li>{{= text}}</li>
				</ul>
			Application Type
				<ul>
					<li>{{= category}}</li>
				</ul>
			{{if hosts.length > 0}}
			Hosts
				<ul>
					{{each(key, value) hosts}}
						<li>
							<span class="label label-success">OK</span>
							{{= value}}
							<a href="http://nsight.nhncorp.com/dashboard_server/{{= value.split(':')[0].replace('.nhnsystem.com','')}}" target="_blank">(NSight)</a>
						</li>
					{{/each}}
				</ul>
			{{/if}}
			{{if agents.length > 0}}
			Server instances
				<ul>
					{{each(key, value) agents}}
					<li>
						<span class="label label-success">OK</span>
						{{= value.agentId}}
						<a href="#" onclick="alert('Sorry. Not implemented.');">(Kuvasz)</a>
						<a href="#" onclick="alert('Sorry. Not implemented.');">(Tools)</a>
					</li>
					{{/each}}
				</ul>
			{{/if}}
			<hr/>

			<a href="#" onclick="alert('Sorry. Not implemented.');">Scan passing transactions</a><br/>
			<a href="#" onclick="showResponseScatter('{{= text}}', {{= query.from}}, {{= query.to}}, {{= query.period}}, {{= query.usePeriod}});">Transaction response scatter chart</a><br/>
			<a href="#" onclick="showRequests('{{= text}}', {{= query.from}}, {{= query.to}}, {{= query.period}}, {{= query.usePeriod}});">Transaction list</a>

		<button style="position:absolute;top:2px;right:34px;" onClick="man('applicationmap');"><i class="pinpoint-action-icon icon-question-sign"></i></button>
		<button style="position:absolute;top:2px;right:2px;" onClick="$(this).parent().remove()"><i class="pinpoint-action-icon icon-remove"></i></button>
	</div>
</script>
<script id="ClientContextInfoBox" type="text/x-jquery-tmpl">
	<div class="ApplicationBox" style="position:absolute;border:1px solid #000;background:#fff;padding:5px 10px;-webkit-border-radius: 5px;z-index:3;">
			Clients
			Calls
				<ul>
					<li>Sorry. Not implemented.</li>
				</ul>
			<hr/>
			<a href="#" onclick="alert('Sorry. Not implemented.');">Show transactions</a>
		<button style="position:absolute;top:2px;right:2px;" onClick="$(this).parent().remove()">X</button>
	</div>
</script>
<script id="UnknownGroupContextInfoBox" type="text/x-jquery-tmpl">
	<div class="UnknownGroupBox" style="position:absolute;border:1px solid #000;background:#fff;padding:5px 10px;-webkit-border-radius: 5px;z-index:3;">
			Application Group
				<ul>
					{{each(index, value) text.split('\n')}}
					<li>{{= value}}</li>
					{{/each}}
				</ul>
			Group Type
				<ul>
					<li>UNKNOWN</li>
				</ul>
			{{if hosts.length > 0}}
			Hosts
				<ul>
					{{each(key, value) hosts}}
						<li>
							<span class="label label-success">OK</span>
							{{= value}}
							<a href="http://nsight.nhncorp.com/dashboard_server/{{= value.split(':')[0].replace('.nhnsystem.com','')}}" target="_blank">(NSight)</a>
						</li>
					{{/each}}
				</ul>
			{{/if}}
			{{if agents.length > 0}}
			Server instances
				<ul>
					{{each(key, value) agents}}
					<li>
						<span class="label label-success">OK</span>
						{{= value.agentId}}
						<a href="#" onclick="alert('Sorry. Not implemented.');">(Kuvasz)</a>
						<a href="#" onclick="alert('Sorry. Not implemented.');">(Tools)</a>
					</li>
					{{/each}}
				</ul>
			{{/if}}
		<button style="position:absolute;top:2px;right:34px;" onClick="man('applicationmap');"><i class="pinpoint-action-icon icon-question-sign"></i></button>
		<button style="position:absolute;top:2px;right:2px;" onClick="$(this).parent().remove()"><i class="pinpoint-action-icon icon-remove"></i></button>
	</div>
</script>
</body>
</html>