<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.navercorp.pinpoint.otlp.web.dao.AppMetricDefinitionDao">

    <insert id="insertAppMetricDefinition" parameterType="AppMetricDefDto">
        INSERT INTO application_metric_definition
            (application_name, metric_definition, schema_version)
        VALUES
            (#{applicationName}, #{metricDefinition}, #{schemaVersion})
    </insert>


    <select id="selectAppMetricDefinition" parameterType="string" resultType="AppMetricDefDto">
        SELECT application_name, metric_definition, schema_version
        FROM application_metric_definition
        WHERE application_name = #{applicationName}
    </select>

    <update id="updateAppMetricDefinition" parameterType="AppMetricDefDto">
        INSERT INTO application_metric_definition (application_name, metric_definition, schema_version) VALUES (#{applicationName}, #{metricDefinition}, #{schemaVersion})
        ON DUPLICATE KEY UPDATE application_name = #{applicationName}, metric_definition = #{metricDefinition}, schema_version = #{schemaVersion}
    </update>
</mapper>