<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.navercorp.pinpoint.exceptiontrace.web.dao.PinotExceptionTraceDao">

    <sql id="exceptionTraceTable">${tableName}</sql>

    <sql id="getErrorMessage">
        CLPDECODE
        (errorMessage_logtype, errorMessage_dictionaryVars, errorMessage_encodedVars)
    </sql>

    <sql id="getGroupedFieldNameEntity">
        <choose>
            <when test="!groupByAttributes.isEmpty()">
                <foreach collection="groupByAttributes" item="attr" open="" close="" separator=", ">
                    ${attr.getRepresentativeColumn}
                </foreach>
                ,
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </sql>

    <sql id="groupByAllAttributes">
        <choose>
            <when test="!groupByAttributes.isEmpty()">
                ,
                <include refid="allGroupByAttributes"></include>
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </sql>

    <sql id="allGroupByAttributes">
        <foreach collection="groupByAttributes" item="attr" open="" close="" separator=", ">
            <foreach collection="attr.getGroupByColumns" item="column" open="" close="" separator=", ">
                ${column}
            </foreach>
        </foreach>
    </sql>

</mapper>