:host {
    display: block;
    height: 100%;
    position: relative;
}

.l-search-section {
    position: relative;
    padding: 11px;
    border-bottom: 1px solid #e5e8f0;
    color: #b3b3b4;
    height: 53px;
}

.l-search-input {
    width: 100%;
    color: #b3b3b4;
    border: 1px solid #d7dde4;
    padding: 6px 11px;
    font-size: 13px;
}

.l-search-input:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 1px 1px var(--primary-color);
    outline: none;
}

.l-app-list-section {
    height: calc(100% - 53px);
}

.l-empty-text {
    padding: 12px 15px;
    font-size: 14px;
}
