:host {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.l-application-wrapper {
    color: #333;
    border: 1px solid #e5e8f0;
    height: 100%;
    display: grid;
    position: relative;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFF;
    grid-template-columns: auto;
    grid-template-rows: 48px 53px calc(100% - 101px);
}

.l-application-title {
    display: flex;
    padding: 0px 15px;
    align-items: center;
    font-weight: 600;
    border-bottom: 1px solid #e5e8f0;
    justify-content: space-between;
    background-color: #f6f8fb;
}

.l-application-search {
    padding: 11px;
    border-bottom: 1px solid #e5e8f0;
}

.l-application-list {
    overflow-y: auto;
}

.l-search-input {
    width: 100%;
    color: #b3b3b4;
    border: 1px solid #d7dde4;
    padding: 6px 11px;
    font-size: 13px;
}

.l-search-input:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 1px 1px var(--primary-color);
    outline: none;
}

.l-empty-text {
    padding: 12px 15px;
    font-size: 14px;
}