:host {
    display: block;
}

.l-application-list {
    font-size: 13px;
}

.l-application-list > dt  {
    padding: 12px 15px;
    color: var(--text-primary);
    font-weight: bold;
    font-size: 14px;
}

.l-item {
    padding: 12px 15px 12px 20px;
    color: var(--text-primary-lightest);
    display: flex;
    align-items: center;
    cursor: pointer; 
}

.l-item.active { 
    color: var(--text-knockout) !important;
    background-color: var(--primary); 
}

.l-item.active.focus { 
    background-color: var(--primary); 
}

.l-item.focus { 
    background-color: var(--background-hover-secondary);
}

.l-icon-img {
    margin: 0 10px 0 0;
}

.l-text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
