:host {
    display: flex;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100vh;
}

.l-widget-group {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    padding: 0 15px;
    height: 100%;
    align-items: center;
}
.l-main-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    overflow-y: hidden;
}
.l-main-section {
    display: flex;
    flex: 1;
    background: var(--background-primary);
    position: relative;
    overflow: hidden;
}
.l-main-contents {
    height: 100%;
    position: relative;
    overflow: hidden;
}
button {
    outline: none;
}
