<div class="some-list" style="float:right;width:300px;">
	<div class="some-list-header header-orange">
		<span class="title">Pinpoint User<span class="total"></span></span>
		<button class="btn btn-warning right" ng-click="onCreate()" ng-show="isAllowedCreate"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
	</div>
	<div class="some-list-content move-some-where">
		<div class="wrapper">
			<ul>
				<li ng-repeat="pinpointUser in pinpointUserList" id="{{'alarmPinpointUser_' + pinpointUser.userId}}">
					<button class="btn btn-warning left move"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
					<button class="btn btn-warning left edit-user" ng-show="isAllowedCreate"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
					<span class="contents">{{"("+pinpointUser.department + ")" + pinpointUser.name}}</span>
					<span class="remove" ng-show="isAllowedCreate">x</span>
				</li>
			</ul>
			<div class="empty-list" ng-show="pinpointUserList.length == 0">Search Pinpoint User</div>
		</div>
		<div class="filter-input">
			<select>
				<option value="userName">name</option>
				<option value="department">department</option>
			</select>
			<input type="text" placeholder="Search pinpoint user" ng-keydown="onInputSearch($event)" style="width:50%"/> 
			<button class="btn btn-warning" ng-click="onSearch()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>	       				
		</div>
	</div>
	<div class="some-edit-content pinpoint hide-me" style="width:300px;">
		<div class="title-message">Create new pinpoint user</div>
		<div class="edit-wrapper">
			<div><span class="title">User ID</span><input type="text" placeholder="user id" name="userID"/></div>
			<div><span class="title">Name</span><input type="text" placeholder="name" name="name"/></div>
			<div><span class="title">Department</span><input type="text" placeholder="your department" name="department"/></div>
			<div><span class="title">Phone</span><input type="text" placeholder="only number" name="phone"/></div>
			<div><span class="title">Email</span><input type="text" placeholder="your@email.com" name="email"/></div>
			<div style="padding-top:10px;clear:both">
				<button class="btn btn-warning left" style="margin-left:4px" ng-click="onCancelEdit()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
				<button class="btn btn-warning right" style="margin-right:4px" ng-click="onApplyEdit()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
			</div>
		</div>
	</div>
	<div class="some-loading has-not-edit hide-me">
		<div class="timer-loader" style="margin-top:72%"></div>
   			<div class="some-alert hide-me">
			<span class="message"></span>
			<span class="close-alert" ng-click="onCloseAlert()">X</span>
		</div>
   	</div>
</div>