<div class="some-list" style="float:right;width:300px;box-shadow:-4px -4px 16px 0px rgba(0,0,0,0.75);">
	<div class="some-list-header header-orange">
		<button class="btn btn-warning left" ng-click="onRefresh()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
		<span class="title">Pinpoint User<span class="total"></span></span>
		<button class="btn btn-warning right" ng-click="onCreate()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
	</div>
	<div class="some-list-content move-some-where">
		<div class="wrapper"><ul>
			<li ng-repeat="pinpointUser in pinpointUserList" id="{{'alarmPinpointUser_' + pinpointUser.userId}}">
				<button class="btn btn-warning left move"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
				<button class="btn btn-warning left edit-user"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
				<span class="contents">{{"("+pinpointUser.department + ")" + pinpointUser.name}}</span>
				<span class="remove">x</span>
			</li>
		
		</ul></div>
		<div class="filter-input">
			<input type="text" placeholder="Filter user group" ng-keydown="onInputFilter($event)"/> 
			<button class="btn btn-warning disabled trash" ng-click="onFilterEmpty()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
			<button class="btn btn-warning" ng-click="onFilterGroup()" style="margin-right:2px"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>	       				
		</div>
	</div>
	<div class="some-edit-content hide-me" style="width:300px;">
		<div style="padding-top:40%">
			<div class="title-message">Create new pinpoint user</div>
			<input type="text" placeholder="User ID" name="userID"/>
			<input type="text" placeholder="Name" name="name"/>
			<input type="text" placeholder="Department" name="department"/>
			<input type="text" placeholder="Phone" name="phone"/>
			<input type="text" placeholder="Email" name="email"/>
			<div style="padding-top:1px;">
				<button class="btn btn-warning left" style="margin-left:5%" ng-click="onCancelEdit()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
				<button class="btn btn-warning right" style="margin-right:5%" ng-click="onApplyEdit()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
			</div>
		</div>
	</div>
	<div class="some-loading has-not-edit">
		<div class="timer-loader" style="margin-top:72%"></div>
   			<div class="some-alert hide-me">
			<span class="message"></span>
			<span class="close-alert" ng-click="onCloseAlert()">X</span>
		</div>
   	</div>
</div>