<div class="some-list" style="width:280px;height:459px">
	<div class="some-list-header" style="background-color:#9A9A9A;color:#FFF;">
		<span class="title">Group Member <span class="total"></span></span>
		<span class="glyphicon glyphicon-sort right" style="cursor:pointer" ng-click="onSortGroupMember()"></span>
	</div>
	<div class="some-list-content" style="color:#9A9A9A;">
		<div class="wrapper"><ul>
			<li ng-repeat="groupMember in groupMemberList" id="{{prefix + groupMember.memberId}}">
				<span class="contents">({{groupMember.department}}){{groupMember.name}}</span>
				<span class="glyphicon glyphicon-remove remove" aria-hidden="true" ng-click="onRemoveGroupMember($event)"></span>
				<span class="glyphicon glyphicon-arrow-left remove-cancel hide-me" aria-hidden="true" ng-click="onCancelRemoveGroupMember()"></span>
			</li>
		</ul></div>
	</div>
	<div class="some-loading hide-me" style="height:416px;">
		<div class="timer-loader"></div>
	</div>
	<div class="some-alert hide-me">
		<span class="message">Select a 'User Group'<br/>to enable here</span>
		<span class="close-alert" style="color:#FFF;" ng-click="onCloseAlert()">X</span>
	</div>
</div>