<div class="some-list" style="width:240px">
	<div class="some-list-header header-sky">
		<button class="btn btn-info left" ng-click="onRefresh()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
		<span class="title">Group Member<span class="total"></span></span>
		<button class="btn btn-info right" style="visibility:hidden;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
	</div>
   	<div class="some-list-content">
		<div class="wrapper"><ul>
			<li ng-repeat="groupMember in groupMemberList" id="{{prefix + groupMember.memberId}}">
				<span class="contents">({{groupMember.department}}){{groupMember.name}}</span><span class="remove">x</span>
			</li>
		</ul></div>
		<div class="filter-input">
			<input type="text" placeholder="Filter group member" ng-keydown="onInputFilter($event)"/> 
			<button class="btn btn-info disabled trash" ng-click="onFilterEmpty()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
			<button class="btn btn-info" ng-click="onFilterGroup()" style="margin-right:2px"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
		</div>
	</div>
	<div class="some-loading has-not-edit">
		<div class="timer-loader"></div>
		<div class="some-alert hide-me">
			<span class="message"></span>
			<span class="close-alert" ng-click="onCloseAlert()">X</span>
		</div>
   	</div>
</div>