<pp-server-map
    [baseApplicationKey]="baseApplicationKey"
    [mapData]="mapData"
    [funcServerMapImagePath]="funcServerMapImagePath"
    [type]="type"
    (outClickBackground)="onClickBackground($event)"
    (outDoubleClickBackground)="onDoubleClickBackground($event)"
    (outContextClickBackground)="onContextClickBackground($event)"
    (outClickGroupNode)="onClickGroupNode($event)"
    (outClickNode)="onClickNode($event)"
    (outClickLink)="onClickLink($event)"
    (outContextClickNode)="onContextClickNode($event)"
    (outContextClickLink)="onContextClickLink($event)"
    (outRenderCompleted)="onRenderCompleted($event)">
</pp-server-map>
<pp-loading [showLoading]="showLoading"></pp-loading>
