.server-map-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.show-map {
    visibility: visible;
    opacity: 1;
    transition: all 1.5s;
}

.hide-map {
    visibility: hidden;
    opacity: 0;
}

::ng-deep canvas {
    outline: none;
}
