<pp-server-map 
    [baseApplicationKey]="baseApplicationKey"
    [mapData]="mapData"
    [funcServerMapImagePath]="funcServerMapImagePath"
    [type]="type"
    (outClickBackground)="onClickBackground($event)"
    (outDoubleClickBackground)="onDoubleClickBackground($event)"
    (outContextClickBackground)="onContextClickBackground($event)"
    (outClickGroupNode)="onClickGroupNode($event)"
    (outClickNode)="onClickNode($event)"
    (outClickLink)="onClickLink($event)"
    (outContextClickNode)="onContextClickNode($event)"
    (outContextClickLink)="onContextClickLink($event)"
    (outRenderCompleted)="onRenderCompleted($event)">
</pp-server-map>
<pp-server-map-overview [showOverview]="showOverview"></pp-server-map-overview>  
<pp-film-for-disable *ngIf="useDisable" [zIndex]="9" [marginWidth]="0"></pp-film-for-disable>          
<pp-loading [showLoading]="showLoading" [zIndex]="10"></pp-loading>
<div class="l-popup-section font-opensans" *ngIf="showGuide()">
    <article>
        <div class="l-contents-group">
            <dl class="l-sql-list">
                <dt>Notice</dt>
                <dd>{{i18nText['NO_AGENTS']}}</dd>
            </dl>
        </div>
    </article>
</div>
