<dl class="l-application-list" #appList>
    <dt *ngIf="showTitle">{{title}}</dt>
    <dd *ngFor="let app of applicationList; let i = index"
        (click)="onSelectApplication(app)"
        (mouseenter)="onFocus(i + restCount)"
        [ngClass]="makeClass(i + restCount)"
        class="l-item">
        <img [src]="getIconPath(app.getServiceType())" width="23px" height="18px" alt="" class="l-icon-img"/>
        <span class="l-text-ellipsis">{{app.getApplicationName()}}</span>
    </dd>
    <dd class="l-item" *ngIf="isEmpty">{{emptyText}}</dd>
</dl>
