:host {
    position: relative;
}
.l-chart-item {
    margin: 15px 0;
    height: 285px;
    position: relative;
    border-top: none;
}
.l-chart-item.l-popup-on:before {
    display: block;
    z-index: 490;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #FFF;
    opacity: 0.8;
}
.l-popup-block-message {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1000;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.l-popup-block-message > .l-button {
    width: 80%;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    justify-content: flex-end;
    margin: 0px 10px -22px 0px;
    z-index: 1001;
}
.l-popup-block-message > .l-message {
    width: 80%;
    height: 100px;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 5px -5px rgba(148,148,148,1);
    background-color: rgba(235, 71, 71, 0.3);
}