:host {
    position: relative;
}
.l-chart-item {
    margin: 15px 0 0 0;
    height: 285px;
    position: relative;
    border-top: none;
}
.l-layer-background {
    top: 0;
    display: none;
    opacity: 0.8;
    z-index: 490;
    position: absolute;
    background: #FFF;
}
