.l-tool-box {
    font-size:14px;
    color:#b3b5b9;
    text-align:right;
    position:relative;
    padding: 0 25px 0
}
.l-tool-box button {
    margin:0 0 0 14px;
}
.l-tool-box button.l-last-child {
    font-size:18px;

}
.l-tool-box button.l-last-child:before {
    /* padding-left: 14px;
    border-left: 1px solid #e9ebec; */
}
.fas {
    font-size: 18px;
}
