:host {
    position: relative;
}
.l-chart-item {
    margin: 15px 0;
    height: 285px;
    position: relative;
    border-top: none;
}
.l-chart-item.l-popup-on:before {
    display: block;
    z-index: 490;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #FFF;
    opacity: 0.8;
}
