:host {
    display: block;
    height: 40px;
}
.l-wrapper {
    cursor: pointer;
    display: block;
    padding: 12px 6px 10px 13px;
    overflow: hidden;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.l-wrapper img {
    float: left;
    width: 22px;
    height: 18px;
    margin-right: 4px;
}
.l-wrapper.active {
    color: var(--primary);
    font-weight: 600;
}
.l-wrapper:hover {
    cursor: pointer;
    color: var(--primary);
    background-color: var(--background-hover-default);
}
