# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Maven

on:
  push:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Make executeable
      run: chmod +x ./.github/deployGitPage.sh
    - name: Moving build to artifacts directory
      run: ./.github/deployGitPage.sh
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"