name: Upload Pinpoint binaries to GitHub Release

on:
  workflow_dispatch:
    inputs:
      git-ref:
        description: 'The branch, tag or SHA to checkout'
        required: true
        default: 'v2.x.y or master'

      release-version:
        description: 'GitHub Release tag/version to attach assets to. ex: v3.0.3'
        required: true
        default: 'v2.x.y'

jobs:
  upload-binaries:
    runs-on: ubuntu-22.04

    steps:
      - name: Print inputs
        run: |
          echo "git-ref: ${{ github.event.inputs.git-ref }}"

      - name: Git checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.git-ref }}

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node-modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-modules-

      - name: Cache node install
        uses: actions/cache@v4
        with:
          path: 'node_install'
          key: ${{ runner.os }}-node_install-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-node_install-

      - name: Set up Java 8
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Set JAVA_HOME
        run: |
          echo "JAVA_8_HOME=$JAVA_HOME_8_X64" >> $GITHUB_ENV
          echo "JAVA_11_HOME=$JAVA_HOME_11_X64" >> $GITHUB_ENV
          echo "JAVA_17_HOME=$JAVA_HOME_17_X64" >> $GITHUB_ENV
          echo "JAVA_HOME=$JAVA_HOME_8_X64" >> $GITHUB_ENV

      - name: Build release artifacts (agent / batch / collector / web ...)
        run: |
          ./mvnw --batch-mode clean package --file pom.xml \
            -P '!it-module,!agent-testweb-module' \
            -DskipTests=true

      - name: Upload artifacts to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.release-version }}
          files: |
            **/pinpoint-agent-*.tar.gz
            **/pinpoint-batch-*-exec.jar
            **/pinpoint-collector-*-exec.jar
            **/pinpoint-collector-starter-*-exec.jar
            **/pinpoint-web-*-exec.jar
            **/pinpoint-web-starter-*-exec.jar
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
