#which package of runnable instance can be thread plugin trace.
profiler.thread.match.package=test.one,test.two
# Support class : Runnable,Callable,Supplier
# - Runnable : java.lang.Runnable
# - Callable : java.util.concurrent.Callable
# - Supplier : java.util.function.Supplier
profiler.thread.support-class=Runnable,Callable